
<section class="testimonial_client_area3dele section_padding_100 event">
    <div class="container">
        <div class="row content-eventf">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="singl-blog-title wow fadeInUp" data-wow-delay="0.2s">
                    <h3><?=$events->title;?></h3>
                </div>
                <div class="service_details_content">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <!--div class="single_part_content eventos"-->
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <i class="fas fa-map-marker" aria-hidden="true" style="display: inline-block!important;"></i>
                                <p style="display: inline-block!important;margin-left: 1em;"><?=$events->summary;?></p>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <i class="fa fa-check" aria-hidden="true" style="left: 15px;"></i>
                                <p style="display: inline-block;margin: 0 25px 10px;">Fecha de realización: </p>
                                <p style="display: inline-block; font-weight: bold">&nbsp;&nbsp;<?= $events->getFechafin();?></p>
                            </div>
                        <!--/div-->
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <div class="content-event"><p><?=$events->content;?></p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>