<section class="gallery_area column clearfix section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section_heading text-center">
                    <h3>Eventos de <span>AMGP Nacional</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="gallery_full_width_images_area">
        <div class="container">
            <div class="row">
                <?php foreach($events as $even):?>
                    <?php $fecha_actual = date('Y-m-d H:i:s'); if($fecha_actual>$even->date_public):?>
                        <div class="col-xs-12 col-sm-12 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="col-sm-2 fecha">
                                <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>"><p class="day"><?=$date2=date("d",strtotime($even->date_public));?></p></a>
                                <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>"><p class="month"><?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?></p></a>
                            </div>
                            <div class="col-sm-5">
                                <div class="single_gallery_item four-column wow fadeInUp" data-wow-delay="0.2s">
                                    <img class="imagenEventos" src="/api/images/eventos/800x600/<?=$even->image;?>" alt="">
                                    <div class="hover_overlay">
                                        <div class="gallery_info">
                                            <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>"><h5><?=$even->title;?></h5></a>
                                            <p><?=$even->summary;?></p>
                                        </div>
                                        <div class="links">
                                            <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 description">
                                <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>"><h3><?=$even->title;?></h3></a>
                                <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>"><p><?=$even->summary;?></p></a>
                            </div>
                        </div>
                    <?php endif;?>
                <?php endforeach;?>
            </div>
        </div>
    </div>
</section>