<section class="blog_area section_padding_100 eventos">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="section_heading text-center">
					<h3 class="titleevent">Eventos de <span>AMGP Nacional</span></h3>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-9 col-sm-9 col-lg-9">
				<?php if($estatus==1):?>

				<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
					<h4 class="text-center no-events"><?=$events;?></h4>
				</div>
				<?php else:?>
				<?php foreach($events as $even):?>

				<div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
					<?php $fecha_actual = date('Y-m-d H:i:s'); if($fecha_actual<$even->date_public):?>
						<div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.2s">
							<div class="published_date2">
								<!--p class="date"><?=$date2=date("d",strtotime($even->date_public));?></p>
								<p class="monthNews"><?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?></p-->
								<p class="date"><?=$even->getFechafin();?></p>
							</div>
							<div>
								<div class="single_latest_news_img_area">
									<img class="allnews" src="/api/images/eventos/<?=$even->image;?>" alt="">
								</div>
								<div class="single_latest_news_text_area">
									<div class="news_title text-center" >
										<a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>" target="_blank">
											<?php $title = substr($even->title, 0, 120); ?>
											<h4 style="display: inline-block;vertical-align: middle!important;"><?=$title;?></h4>
										</a>
									</div>
									<div class="author_name_comments">
										<div class="comments">
											<i class="fas fa-map-marker color3" style="display: inline-block!important;padding-bottom: 1em;"></i>
											<p class="color3" style="display: inline-block!important; max-width: 300px"><?php $summary = substr($even->summary, 0, 200); ?>
										<?=$summary."";?></p>
										</div>
										<div class="comments">
											<i class="fa fa-eye color3" aria-hidden="true"></i>
											<p class="color3"><?=$even->visits;?></p>
										</div>
									</div>
									<div class="news_content">
										
									</div>
								</div>
							</div>
						</div>
					<?php endif;?>
				</div>
				<?php endforeach;?>
				<?php endif;?>
			</div>
			<div class="col-xs-12 col-md-3 col-lg-3 col-sm-3 testimonial_client_newview">
				<div class="col-xs-12 col-md-12 col-sm-12">
					<div class="event_sidebar">
						<div class="latest_post">
							<h4 id="gradNews">Eventos más <span>leídos</span></h4>
							<?php foreach($more as $mor):?>
								<div class="single_latest_post">
									<a href="/eventos/<?=$mor->permalink;?>/<?=$mor->pid;?>"><img src="/api/images/eventos/<?=$mor->image;?>" alt=""></a>
									<a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>">
										<?php $title = substr($mor->title, 0, 100); ?>
										<h4 class="title-news"><?=$title;?></h4>
									</a>
								</div>
							<?php endforeach;?>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-12 col-sm-12">
					<div class="event_sidebar">
						<div class="latest_post">
							<h4 id="gradNews">Eventos <span>anteriores</span></h4>
							<?php foreach($old as $mor):?>
								<div class="single_latest_post">
									<a href="/eventos/<?=$mor->permalink;?>/<?=$mor->pid;?>"><img src="/api/images/eventos/<?=$mor->image;?>" alt=""></a>
									<a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>">
										<?php $title = substr($mor->title, 0, 100); ?>
										<h4 class="title-news"><?=$title;?></h4>
									</a>
								</div>
							<?php endforeach;?>
							<a href="/eventos/historico-de-eventos"><p class="more-oldnews">Ver Más</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
