<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session titlechange">
                    <i class="fa fa-lock titlechange"></i>
                    <p class="titlechange">Restaurar contraseña</p>
                </div>
                <div class="login_form changepass">

                    <div class="login_manual_form">
                        <h4>Escriba su nueva contraseña</h4>
                        <form id="updatePassword" action="" method="post">
                            <span class="hide" id="key-security" data-key="<?=$key?>"></span>
                            <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                            <div class="form-group changepass">
                                <i class="fa fa-lock changepass" aria-hidden="true"></i>
                                <input class="changepass restaurar" type="password" name="password" id="password" placeholder="Nueva contraseña">
                            </div>
                            <div class="form-group changepass">
                                <i class="fa fa-lock changepass" aria-hidden="true"></i>
                                <input class="changepass restaurar" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar nueva contraseña">
                            </div>
                            <input type="hidden" id="clid" name="clid" value="<?=$id?>">
                            <button type="submit" class="btn btn-default changepass"><i class="fa fa-save" aria-hidden="true"></i> Guardar</button>
                            <div class="form-group fade hide" id="container-messages">
                                <div class="alert alert-warning fade hide" role="alert" id="email-incorrect">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Cerrar</span></button>
                                    <strong>Email incorrecto.</strong>
                                </div>
                                <div class="alert alert-warning fade hide" role="alert" id="password-incorrect">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <strong id="psin">Contraseña incorrecta.</strong>
                                </div>
                                <div class="alert alert-warning fade hide" role="alert" id="all-incorrect">
                                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                    <strong>Email o contraseña incorrecto</strong>
                                </div>
                                <!--End Mesages-->
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade" id="changepass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog changepass">
        <div class="modal-content changepass">
            <div class="modal-header pass changepass">
                <h4 class="modal-title"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Contraseña restaurada</h4>
            </div>
            <div class="modal-body changepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <h5 class="title-updatepass">¡Su nueva contraseña ha sido guardada con éxito!.</h5>
                        <h5 class="title-updatepass">Inicie sesión para continuar.</h5>
                        <button type="button" class="btn btn-default changepass-modal" data-dismiss="modal">Aceptar</button>
                    </div>

                </div>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->