<section class="login_area">
    <div class="container">
        <div class="row">

            <h2 class="title-create">¿Qué tipo de cuenta desea crear?</h2>
            <div class="col-xs-6 col-md-6 col-lg-6 section_padding_50">
                <div class="title-session text-center createacount">
                    <p class="title-modal-createacount">Asociado</p>
                </div>
                <div class="login_form create-acount marco1">
                    <div class="login_manual_form">
                        <h5 class="title-updatepass">¿Desea asociarse a la AMGP y tener descargas gratuitas de publicaciones, acceso a conferencias, eventos socioculturales y más?</h5>
                        <h5 class="title-updatepass">Genere su:</h5>
                        <div class="createacount btn-create">
                            <!--<a class="button-acount" href="/planes-registro">Solicitud de ingreso</a>-->
                            <a href="/planes-registro"><button type="submit" class="btn btn-warning view-inicio"><i class="far fa-file-alt"></i> Solicitud de ingreso</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 section_padding_50">
                <div class="title-session text-center createacount">
                    <p class="title-modal-createacount">Usuario</p>
                </div>
                <div class="login_form create-acount marco1">
                    <div class="login_manual_form">
                        <h5 class="title-updatepass">¿Sólo desea acceder a contenido libre de la página o comprar alguna publicación?</h5>
                        <div class="createacount btn-create">
                            <a href="/registro"><button type="submit" class="btn btn-warning view-inicio-crear-cuenta"><i class="fa fa-user-plus"></i>Crear cuenta</button></a>
                            <!--<a class="button-acount" href="/planes-registro">Crear cuenta</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
