<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <title>AMGP</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet">
    <style type="text/css">
        .content{
            width: 1000px;
            margin: 0px auto;
        }
        .top{
            width: 100%;
            height: 90px;
            margin-top: 30px;
            background-image: url("fondo1.jpg");
            background-repeat: repeat;
            text-align: center;
            box-shadow: 3px 3px 10px 3px #666;
        }
        .imglogo{
            width: 150px;
            position: relative;
            top: -140px;
        }
        .title{
            width: 100%;
            margin-top: 30px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 25px;
            text-align: center;
            color: #2f5496;
        }
        .content-info{
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }
        .content-social{
            text-align: center;
            width: 100%;
            margin-top: 20px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
        }
        .text-1{
            display: inline-block;
        }
        .text-2{
            display: inline-block;
            margin-top: 40px;
            margin-bottom: 20px;
            line-height: 30px;
        }
        .text-3{
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 20px;
            line-height: 30px;
        }
        .content-info input{
            width: 30%;
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
            border-top-style: none;
            border-left-style: none;
            border-right-style: none;
        }
        .myboton{
            margin-top: 20px;
            padding: 12px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 400;
            font-size: 18px;
            background: #2f5496;
            color: white;
            border:none;
            box-shadow: 3px 3px 3px #666;
        }
        .content-social{
            width: 15%;
            display: inline-block;
        }
        .tam_icono{
            width: 25px;
            margin-top: 10px;
            display: inline-block;
        }
        .text_icono{
            font-family: 'Montserrat', sans-serif;
            font-size: 12px;
            position: relative;
            top:-6px;
            display: inline-block;
            padding-left: 5px;
        }
        .img_footer{
            display: inline-block;
            height: 60px;
        }
        .ii a[href]{
            color: white;
        }
    </style>
</head>
<body style="background-color: white ">
<table style="max-width: 900px; padding: 10px; margin:0 auto;">
    <tr>
        <td style="padding: 0; text-align: center;">
            <img style="padding: 0; display: block" class="" src="https://s33.postimg.org/evci8ms3j/Disen_o_de_correos_Encabezado.png" width="100%" height="auto">
        </td>
    </tr>
    <?php
    $token = $elements["token"];
    $id = $elements["id"];
    $olddelegation = ucwords($elements["olddelegation"]);
    $newdelegation = ucwords($elements["newdelegation"]);
    $name1    = $elements["name1"];
    ?>
    <tr style="display: inline-block; margin-top: -140px;">
        <td style="text-align: center; ">
            <div class="content-info">
                <p class="text-1">Estimad@: <?=$name1?></p><br>
                <p class="text-2">Le informamos que se está llevando acabo su proceso de cambio de delegación de:</p>
                <p class="text-3"><?=$olddelegation?> a <?=$newdelegation?></p>
                <p class="text-4">Recibira una nueva notificación cuando está concluya</p><br>
            </div>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div class="content-social"><img src="https://s33.postimg.org/j2tvey09r/icono-www.png" class="tam_icono"><span class="text_icono"><a href="http://www.amgp.org/">www.amgp.org</span></a></div>
            <div class="content-social"><img src="https://s33.postimg.org/4jmqdgetr/icono-facebook.png" class="tam_icono"><span class="text_icono"><a href="https://www.facebook.com/profile.php?id=100010109433174"> /AMGP</span></a></div>
            <div class="content-social"><img src="https://s33.postimg.org/xm10gc69b/icono-twitter.png" class="tam_icono"><span class="text_icono"><a href=""> @AMGP</span></a></div>
            <div class="content-social"><img src="https://s33.postimg.org/rxuppiesf/icono-youtube.png" class="tam_icono"><span class="text_icono"><a href=""> /AMGP</span></a></div>
            <div class="content-social"><img src="https://s33.postimg.org/sndi1rzvj/icono-instagram.png" class="tam_icono"><span class="text_icono"><a href=""> AMGP</span></a></div>
            <div class="content-social"><img src="https://s33.postimg.org/3u3y1540f/icono-linkedin.png" class="tam_icono"><span class="text_icono"><a href=""> AMGP</span></a></div>
        </td>
    </tr>
    <tr>
        <td style="height: 50px !important; padding: 0; text-align: center;">
            <img style="padding: 0; display: block" class="img_footer" src="https://s33.postimg.org/vhu2i8nrj/footer1.jpg" width="100%">
        </td>
    </tr>
</table>
</body>