<section class="login_area">
    <div class="container">
        <div class="row">
            <!--div class="col-xs-12 col-md-5 col-lg-6">
                <div class="login_thumb">
                    <img src="/front/src/img/bg-pattern/quote.jpg" alt="">
                    <div class="login_thumb_caption">
                        <h3>Bienvenido!</h3>
                    </div>
                </div>
            </div-->
            <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12 section_padding_50">
                <div class="title-session">
                    <i class="fa fa-user"></i>
                    <p>Iniciar sesión</p>
                </div>
                <div class="login_form">


                    <div class="login_manual_form">

                        <form id="session" action="" method="post">
                            <span class="hide" id="key-security" data-key="<?=$key?>"></span>
                            <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                            <div class="form-group">
                                <i class="fa fa-user"></i>
                                <input type="text" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <i class="fa fa-lock" aria-hidden="true"></i>
                                <input type="password" name="password" id="password" placeholder="Contraseña" class="pass">
                            </div>
                            <button type="submit" class="btn btn-default view-inicio">Iniciar Sesión</button>

                        </form>
                        <br>
                        <br>
                        <div class="forget_pass one view-inicio">
                            <a href="/restaurar-contrasena" class="passchange"><i class="fa fa-lock" aria-hidden="true"></i>Restaurar contraseña</a>
                        </div>
                        <!--div class="forget_pass">
                            <a href="<?=$this->url->get('registro')?>"><i class="fa fa-user-plus" aria-hidden="true"></i>Crear cuenta</a>
                        </div-->
                        <br>
                        <br>
                        <p>o</p>
                    </div>
                    <div class="sign_in_facebook">
                        <a id="login" href="#"><i class="fa fa-facebook"></i>Ingresar con Facebook</a>
                    </div>
                    <!--<a href="#" class="btn btn-primary">Iniciar sesión</a>-->
                    <!--<div class="sign_in_facebook">
                        <a href="#"><i class="fa fa-facebook"></i>Ingresar con Facebook</a>
                    </div>-->
                    <!--div class="sign_in_twitter">
                        <a href="#"><i class="fa fa-twitter"></i>Ingresar con Twitter</a>
                    </div-->
                    <p class="note-session">IMPORTANTE: Su usuario y contraseña son de caracter personal. Cualquier acceso no autorizado está sujeto a la legislación vigente de la AMGP</p>
                    <div class="button-view-session">
                        <button type="submit" class="btn btn-warning view-inicio">Solicitud de ingreso</button>
                        <button type="submit" class="btn btn-warning view-inicio-crear-cuenta"><i class="fa fa-user-plus"></i>Crear cuenta</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade modal-lg" id="myModalSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Mensaje AMGP</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                        <a href="/" class="logo">
                            <img src="/front/src/images/logos/LOGO300x300.png" alt="" class="img-responsive logomodal">
                        </a>
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                        <p id="message_modal"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->