<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session">
                    <i class="fa fa-lock"></i>
                    <p>Restaurar contraseña</p>
                </div>
                <div class="login_form updatepass">

                    <div class="login_manual_form updatepass">
                        <h5 class="title-updatepass">Se le ha enviado un correo electrónico con un vínculo para reestablecer su contraseña.</h5>
                        <h5 class="title-updatepass">Si no llega a su bandeja de entrada, por favor, revise la carpeta de spam.</h5>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>