<section class="login_area register">
    <div class="title-session iniciar-sesion create-acount">
        <i class="fa fa-user-plus"></i>
        <p>Crear cuenta de Usuario</p>
    </div>
    <div class="login_form register">
        <div class="login_manual_form view-register">
            <form id="newClientRegister" action="" method="post" class="form-register2">
                <span class="hide" id="key-security" data-key="<?=$key?>"></span>
                <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                <input class="hide" type="text" name="status" id="status" value="1">
                <div class="col-xs-12 col-md-4 col-lg-4">
                    <div class="form-group">
                        <i class="fa fa-user register2"></i>
                        <input type="text" name="name" id="name" placeholder="Nombre(s)" required class="validate_keyup">
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 lastname">
                    <div class="form-group lastname">
                        <input type="text" name="lastname" id="lastname" placeholder="Apellido Paterno" class="validate_keyup">
                    </div>
                </div>
                <div class="col-xs-12 col-md-4 col-lg-4 lastname">
                    <div class="form-group lastname">
                        <input type="text" name="secondname" id="secondname" placeholder="Apellido Materno" class="validate_keyup">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <i class="fa fa-envelope-o register"></i>
                        <input type="text" name="email" id="email" placeholder="Correo electrónico" required class="validate_keyup">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <i class="fa fa-mobile register"></i>
                        <input type="text" name="phone" id="phone" placeholder="Teléfono celular" class="validate_keyup">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <i class="fa fa-lock register" aria-hidden="true"></i>
                        <input type="password" name="password" id="password" placeholder="Contraseña" required class="validate_keyup">
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6 col-md-offset-5 col-xs-offset-5 col-lg-offset-5">
                </div>
                <div class="col-xs-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        <i class="fa fa-lock register" aria-hidden="true"></i>
                        <input class="confirmar validate_keyup" type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Contraseña" required >
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 radio-input text-center">
                    <label class="acepto"><input type="checkbox" id="acepto" name="acepto" value="SI" class="acepto validate_keyup" required> He leido y acepto el <a class="blue" href="/acerca-de-amgp-privacidad" target="_blank">aviso de privacidad</a> de AMGP<label>
                </div>
                <div class="row col-xs-12 col-md-12 col-lg-12 text-right marginf1">
                    <div class="col-xs-5 col-md-5 col-lg-5 text-right">
                    <button type="submit" class="btn btn-default register-button" disabled="disabled" id="register">Registrar</button>
                    </div>

                    <div class="col-xs-2 col-md-2 col-lg-2 text-center">
                    <p class="register-s">Ó</p>
                    </div>

                    <div class="col-xs-5 col-md-5 col-lg-5 text-left">
                    <div class="sign_in_facebook register">
                        <a id="login" href="#" class="login2" data-login="registro"><i class="fa fa-facebook"></i><span class="font-facebook">Registrarse con Facebook</span></a>
                    </div>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="col-xs-6 col-md-6 col-lg-6 text-right">
                <p class="acount-true">¿Tienes una cuenta?</p>
            </div>
            <div class="col-xs-6 col-md-6 col-lg-6 text-left">
                <div class="button-view-session">
                    <button type="submit" class="btn btn-default view-register">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <a href="#" id="iniciar-sesion" class="white">Iniciar Sesión</a>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-6">
    </div>
</section>
<div class="modal fade" id="registercomplete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><i class="fa fa-envelope-o"></i> Validar correo electrónico</h4>
            </div>
            <div class="modal-body sendchangepass">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="title-registercomplete">¡Su registro ha sido exitoso!.</p>
                        <p class="title-registercomplete">Se le ha enviado un correo electrónico a la dirección que proporcionó: <span id="email-validate"></span>, con un vínculo para validar su cuenta.</p>
                        <p class="title-registercomplete">Si no llega a su bandeja de entrada, por favor revise la carpeta de spam.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer register">
                <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
