<section class="login_area updatepass">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session">
                    <i class="fa fa-lock"></i>
                    <p class="title-modal-updatepass">Restaurar contraseña</p>
                </div>
                <div class="login_form updatepass">

                    <div class="login_manual_form updatepass">
                        <h5 class="title-updatepass">Escriba su correo electrónico registrado</h5>
                        <form id="changePassword" action="" method="post">
                            <span class="hide" id="key-security" data-key="<?=$key?>"></span>
                            <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                            <div class="form-group">
                                <i class="fa fa-envelope-o"></i>
                                <input type="text" name="email" id="email" placeholder="Correo Electrónico">
                            </div>
                            <button type="submit" class="btn btn-default pass">Enviar <i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<div class="modal fade" id="sendchangepass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">

                <!--<h4 class="modal-title"><i class="fa fa-lock"></i> Recuperar contraseña</h4>-->

                <p class="title-modal-updatepass"><i class="fa fa-lock"></i> Recuperar contraseña</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="title-updatepass">Se le ha enviado un correo electrónico con un vínculo para reestablecer su contraseña.</p>
                        <p class="title-updatepass">Si no llega a su bandeja e entrada, revise la carpeta de spam.</p>
                        <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Volver</button>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Aceptar</button>
            </div>-->
        </div>
    </div>
</div>