<style>
button.btn.btn-default.pass {
    font-size: 15px;
    color: white;
}
</style>

<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session validate">
                    <i class="fa fa-lock titlechange"></i>
                    <p class="titlechange">Correo electrónico validado</p>
                </div>
                <div class="login_form changepass marco1">
                    <p class="parrafo-validate">¡Su cuenta de usuario ha sido creada con éxito!</p>
                    <p class="parrafo-validate">Ahora puede disfrutar de descargas gratuitas, de notificaciones de eventos y noticias, así como realizar compras en el portal.</p>
                    <?php if($web):?>
                    <p class="parrafo-validate">De clic en el botón "ir al formulario" para ser redireccionad@ y continuar con su solicitud de ingreso.</p>
                    <a href="/registro/afiliarse/<?=$cuotid;?>"><button type="submit" class="btn btn-default pass">Ir al formulario</button></a>
                    <?php else :?>
                    <p class="parrafo-validate">De clic en el botón "Iniciar sesión" para poder continuar con la validación y registro".</p>
                    <button type="submit" class="btn btn-default pass" data-toggle="modal" data-target="#iniciosesionmodal">Iniciar sesión</button>
                    <?php endif;?>
                </div>
            </div>
        </div>
    </div>
</section>
<?php if($web):?>
<!-- <script type="text/javascript">
    setTimeout(function () {
        window.location.href="/registro/afiliarse/<?=$cuotid;?>";
    },10000)
</script> -->
<?php else :?>
<!-- <script type="text/javascript">
    setTimeout(function () {
        jQuery("#iniciosesionmodal").modal("show")
    },10000)
</script> -->
<?php endif;?>
