<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session validate">
                    <i class="fa fa-lock titlechange"></i>
                    <p class="titlechange">Correo electrónico validado</p>
                </div>
                <div class="login_form changepass validate marco1">
                    <p class="parrafo-validate">¡Su cuenta de usuario ha sido creada con exito!</p>
                    <p class="parrafo-validate">Ahora puede disfrutar de descargas gratuitas, de notificaciones de eventos y noticias, así como realizar compras en el portal.</p>
                    <p class="parrafo-validate">Inicie sesión para continuar.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
$(document).ready(function() {
    setTimeout(function () {
        /*window.location.href="/";*/
        window.location.replace("http://ideiberoamerica.com/");
        // $("#iniciosesionmodal").modal("show");
    },20000)
});
</script>
