<div>
    <!-- Section Title-->
    <div class="section-title-01">
        <!-- Parallax Background -->
        <div class="bg_parallax image_04_parallax" style="background: url(/front/src/img/promo/categories/BannerEstudiantes.png);"></div>
        <!-- Parallax Background -->

        <!-- Content Parallax Category-->
        <div class="opacy_bg_02">
            <div class="container">
                <h1> Categoría</h1>
                <div class="crumbs">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li>/</li>
                        <li>{{name}}</li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section Title-->

    <!--Content Central -->
    <div class="content-central">
        <!-- Shadow Semiboxed -->
        <!--div class="semiboxshadow text-center">
            <img ng-src="/front/src/img/img-theme/shp.png"  class="img-responsive" alt="">
        </div-->
        <!-- End Shadow Semiboxed -->

        <!-- End content info - page Fill with -->
        <div class="content_info">
            <div class="container">
                <div class="row">
                    <!-- Left Sidebar-->
                    <div class="col-md-3 col-sm-3">
                        <div class="container-by-widget-filter bg-dark color-white">
                            <!-- Widget Filter -->
                            <aside class="widget padding-top-mini">
                                <h3 class="title-widget">Buscar</h3>

                                <!-- FILTER widget-->
                                <div class="filter-widget">
                                    <input type="text" required="required" placeholder="¿Que estas buscando?" class="input-large" ng-model="searchText">
                                </div>
                                <!-- END FILTER widget-->
                            </aside>
                            <!-- End Widget Filter -->
                            <aside class="widget">
                                <div>
                                    <img class="img-responsive" src="/front/src/img/promo/sidebar/1.jpg" alt="">
                                </div>
                                <br>
                                <div>
                                    <img class="img-responsive" src="/front/src/img/promo/sidebar/kfc.jpg" alt="">
                                </div>
                                <br>
                                <div>
                                    <img class="img-responsive" src="/front/src/img/promo/sidebar/mc.jpg" alt="">
                                </div>
                            </aside>
                        </div>
                    </div>
                    <!-- End Left Sidebar-->

                    <div class="col-md-9 col-sm-9">
                        <!-- Title Results-->
                        <div class="title-results">
                            <h3>Lista general de {{name}}</h3>
                        </div>
                        <!-- End Title Results-->

                        <!-- sort-by-container-->
                        <div class="sort-by-container tooltip-hover">
                            <div class="row">
                                <div class="col-md-9">
                                    <strong>Ordenar por:</strong> &nbsp;<button class="btn btn-default" style="margin-top: 13px" ng-click="sortType = 'name'; sortReverse = !sortReverse">Nombre</button>
                                </div>
                                <div class="col-md-3">
                                    <ul class="style-view">
                                        <li data-toggle="tooltip" title="" data-original-title="BOX VIEW">
                                            &nbsp;
                                        </li>
                                        <li data-toggle="tooltip" title="" data-original-title="LIST VIEW" class="active">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- sort-by-container-->

                        <div class="row" ng-class="{'list-view': sort==2}">
                            <div ng-repeat="val in result | orderBy:sortType:sortReverse | filter:searchText" ng-class="{'col-sm-6 col-md-4': sort==1}" class="col-xs-12">
                                <div class="img-hover">

                                    <img src="{{val.img_principal.thumbnail}}"  alt="" class="img-responsive img_ctg">

                                    <div class="overlay"><!--a href="/front/src/img/promo/categories/umaee.png" class="fancybox"><i class="fa fa-plus-circle"></i></a--></div>
                                </div>

                                <div class="info-gallery">
                                    <h3>
                                        {{val.name}}
                                    </h3>
                                    <hr class="separator">
                                    <p>{{val.description}}</p>
                                    <ul class="starts">
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                    <div class="content-btn"><a href="{{'/'+val.category.permalink+'/'+val.permalink}}" class="btn btn-primary">Visitar</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End content info - page Fill with  -->
        </div>
    </div>
    <!-- End Content Central -->

</div>