<div ng-if="number_type==2">
    <!-- Section Title-->
    <div class="section-title-01">
        <!-- Parallax Background -->
        <div class="bg_parallax image_04_parallax" style="background: url(/front/src/img/promo/categories/BannerEstudiantes.png);"></div>
        <!-- Parallax Background -->

        <!-- Content Parallax Category-->
        <div class="opacy_bg_02">
            <div class="container">
                <h1> {{category}}</h1>
                <div class="crumbs">
                    <ul>
                        <li><a href="/">Inicio</a></li>
                        <li>/</li>
                        <li><a href="/{{category}}">{{ category | capitalize}}</a></li>
                        <li>/</li>
                        <li><a href="/{{category+'/'+subcategory}}">{{ subcategory | capitalize}}</a></li>
                        <li>/</li>
                        <li>{{name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section Title-->

    <!--Content Central -->
    <div class="content-central">
        <!-- Shadow Semiboxed -->
        <!--div class="semiboxshadow text-center">
            <img ng-src="/front/src/img/img-theme/shp.png"  class="img-responsive" alt="">
        </div-->
        <!-- End Shadow Semiboxed -->

        <!-- End content info - page Fill with -->
        <div class="content_info">
            <div class="container">
                <div class="row">
                    <!-- Left Sidebar-->
                    <div class="col-md-3 col-sm-3">
                        <div class="container-by-widget-filter bg-dark color-white">
                            <!-- Widget Filter -->
                            <aside class="widget padding-top-mini">
                                <h3 class="title-widget">Buscar</h3>

                                <!-- FILTER widget-->
                                <div class="filter-widget">
                                    <input type="text" required="required" placeholder="¿Que estas buscando?" class="input-large" ng-model="searchText">
                                </div>
                                <!-- END FILTER widget-->
                            </aside>
                            <!-- End Widget Filter -->
                            <aside class="widget">
                                <div>
                                    <img class="img-responsive" src="/front/src/img/promo/sidebar/1.jpg" alt="">
                                </div>
                                <br>
                                <div>
                                    <img class="img-responsive" src="/front/src/img/promo/sidebar/kfc.jpg" alt="">
                                </div>
                                <br>
                                <div>
                                    <img class="img-responsive" src="/front/src/img/promo/sidebar/mc.jpg" alt="">
                                </div>
                            </aside>
                        </div>
                    </div>
                    <!-- End Left Sidebar-->

                    <div class="col-md-9 col-sm-9">
                        <!-- Title Results-->
                        <div class="title-results">
                            <h3>Lista general de {{name}}</h3>
                        </div>
                        <!-- End Title Results-->

                        <!-- sort-by-container-->
                        <div class="sort-by-container tooltip-hover">
                            <div class="row">
                                <div class="col-md-9">
                                    <strong>Ordenar por:</strong> &nbsp;<button class="btn btn-default" style="margin-top: 13px" ng-click="sortType = 'name'; sortReverse = !sortReverse">Nombre</button>
                                </div>
                                <div class="col-md-3">
                                    <ul class="style-view">
                                        <li data-toggle="tooltip" title="" data-original-title="BOX VIEW">
                                            &nbsp;
                                        </li>
                                        <li data-toggle="tooltip" title="" data-original-title="LIST VIEW" class="active">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- sort-by-container-->

                        <div class="row" ng-class="{'list-view': sort==2}">
                            <div ng-repeat="val in result | orderBy:sortType:sortReverse | filter:searchText" ng-class="{'col-sm-6 col-md-4': sort==1}" class="col-xs-12">
                                <div class="img-hover">

                                    <img src="{{val.img_principal.thumbnail}}"  alt="" class="img-responsive">

                                    <div class="overlay"><!--a href="/front/src/img/promo/categories/umaee.png" class="fancybox"><i class="fa fa-plus-circle"></i></a--></div>
                                </div>

                                <div class="info-gallery">
                                    <h3>
                                        {{val.name}}
                                    </h3>
                                    <hr class="separator">
                                    <p>{{val.summary}}</p>
                                    <ul class="starts">
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                    <div class="content-btn"><a href="{{'/'+val.category.permalink+'/'+val.parent.permalink+'/'+val.subcategory.permalink+'/'+val.permalink}}" class="btn btn-primary">Visitar</a></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End content info - page Fill with  -->
        </div>
    </div>
    <!-- End Content Central -->
</div>
<div ng-if="number_type==4">
    <!-- Section Title-->
    <div class="section-title-detailed">
        <!-- Single Carousel-->
        <div id="single-carousel">
            <div class="img-hover">
                <div class="overlay"> <a href="{{result.gallery[0].images.medium}}" class="fancybox" rel="gallery"></a></div>
                <img src="{{result.gallery[0].images.original}}" alt="" class="img-responsive">
            </div>
            <!--div class="img-hover">
                <div class="overlay"> <a href="/front/src/img/promo/sections/hotel1.jpg" class="fancybox" rel="gallery"></a></div>
                <img src="/front/src/img/promo/sections/hotel1.jpg" alt="" class="img-responsive">
            </div>
            <div class="img-hover">
                <div class="overlay"> <a href="/front/src/img/promo/sections/hotel2.jpg" class="fancybox" rel="gallery"></a></div>
                <img src="/front/src/img/promo/sections/hotel2.jpg" alt="" class="img-responsive">
            </div-->
        </div>
        <!-- End Single Carousel-->

        <!-- Section Title-->
        <div class="title-detailed">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ntd-z-index">
                        <ul class="starts">
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                            <li><a href="#"><i class="fa fa-star"></i></a></li>
                        </ul>
                        <h2>{{result.name_abbreviated+" "+result.name}}
                            <span>{{direction.street+" "+direction.number_int+", "+direction.colony+", "+direction.city+", "+direction.municipio+", "+direction.estado+"."}}</span>
                        </h2>
                    </div>

                    <div class="col-md-3">

                    </div>
                </div>
            </div>
        </div>
        <!-- End Section Title-->
    </div>
    <!-- End Section Title-->

    <!--Content Central -->
    <div class="content-central ">
        <!-- Shadow Semiboxed -->
        <div class="semiboxshadow text-center section_detail">
            <img src="/front/src/img/img-theme/shp.png" class="img-responsive" alt="">
        </div>

        <!-- End content info - Grey Section-->
        <div class="content_info">
            <!-- Info Resalt-->
            <div class="content_resalt paddings-mini tabs-detailed">
                <div class="container wow fadeInUp">
                    <div class="row">
                        <div class="col-md-12">
                            <uib-tabset>
                                <uib-tab active="active" index="0">
                                    <uib-tab-heading>
                                        <i class="fa fa-check"></i>&nbsp;Promociones
                                    </uib-tab-heading>
                                    <div class="owl-carousel" carousel-g>
                                        <div class="item" ng-repeat="(key,promotion) in promotions">
                                            <a ng-click="openLightboxPromotion($index)">
                                                <img class="img-responsive lazyOwl" ng-src="{{promotion.thumbnail}}" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="1" ng-if="result.additional">
                                    <uib-tab-heading>
                                        <i class="fa fa-check"></i>&nbsp;Servicios especiales
                                    </uib-tab-heading>
                                    <div  class="owl-carousel" carousel-g>
                                        <div class="item" ng-repeat="(key,val) in additional">
                                            <a ng-click="openLightboxAdditional($index)">
                                                <img class="img-responsive lazyOwl" ng-src="{{val.thumbnail}}" alt="" />
                                            </a>
                                        </div>
                                    </div>
                                </uib-tab>
                                <uib-tab index="2">
                                    <uib-tab-heading>
                                        <i class="fa fa-home"></i>&nbsp;Descripción
                                    </uib-tab-heading>
                                    <div ng-bind-html="result.description"></div>
                                </uib-tab>
                                <uib-tab index="$index + 1">
                                    <uib-tab-heading>
                                        <i class="fa fa-check"></i>&nbsp;Acerca de
                                    </uib-tab-heading>
                                    <uib-accordion close-others="true">
                                        <uib-accordion-group is-open="status.openOne" class="accordion_body" ng-class="{'active': status.openOne}">
                                            <uib-accordion-heading>
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': status.openOne, 'glyphicon-triangle-right': !status.openOne}"></i> Misión
                                            </uib-accordion-heading>
                                            <div ng-bind-html="result.about.mision"></div>
                                        </uib-accordion-group>
                                        <uib-accordion-group is-open="status.openTwo" class="accordion_body" ng-class="{'active': status.openTwo}">
                                            <uib-accordion-heading>
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': status.openTwo, 'glyphicon-triangle-right': !status.openTwo}"></i> Visión
                                            </uib-accordion-heading>
                                            <div ng-bind-html="result.about.vision"></div>
                                        </uib-accordion-group>
                                        <uib-accordion-group is-open="status.openThree" class="accordion_body" ng-class="{'active': status.openThree}">
                                            <uib-accordion-heading>
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': status.openThree, 'glyphicon-triangle-right': !status.openThree}"></i> Servicios
                                            </uib-accordion-heading>
                                            <div ng-bind-html="result.about.services"></div>
                                        </uib-accordion-group>
                                        <uib-accordion-group is-open="status.openFour" class="accordion_body" ng-class="{'active': status.openFour}" ng-if="result.about.others">
                                            <uib-accordion-heading>
                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-triangle-bottom': status.openFour, 'glyphicon-triangle-right': !status.openFour}"></i> Otros
                                            </uib-accordion-heading>
                                            <div ng-bind-html="result.about.others"></div>
                                        </uib-accordion-group>
                                    </uib-accordion>
                                </uib-tab>
                                <uib-tab index="4" ng-if="result.video">
                                    <uib-tab-heading>
                                        <i class="fa fa-check"></i>&nbsp;Vídeo
                                    </uib-tab-heading>
                                    <div class="col-sm-6">
                                        <embed-video data-ng-href="{{result.video}}" height="350px" width="100%" controls=1><a href="{{result.video}}">Ver</a></embed-video>
                                    </div>
                                </uib-tab>
                            </uib-tabset>
                            <!-- Nav Tabs-->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Info Resalt-->
        </div>
        <div class="content-info">
            <div class="paddings-mini">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h3>Abierto los días :</h3>
                            <ul class="list-styles">
                                <li ng-repeat="day_works in result.services.day_works | explode_array" class="schedule">
                                    <i class="fa fa-check"></i>{{day_works}}
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>
                                Horario
                            </h3>
                            <ul class="list-styles">
                                <li><span class="color_b bold" ng-if="hour >= format(result.services.hour_closed)">Cerrado</span><span class="color_b bold" ng-if="(hour >= (result.services.hour_open | num)) && (hour < format(result.services.hour_closed))">Abierto</span> : <strong>{{(result.services.hour_open | num)+":00 - "+format(result.services.hour_closed)+":00"}} </strong></li>
                            </ul>
                        </div>
                        <div class="col-md-5">
                            <h3>
                                Servicios
                            </h3>
                            <ul class="list-styles">
                                <li>
                                    Acepta tarjeta : <strong ng-if="result.services.cards_credit=='YES'">SI</strong><strong ng-if="result.services.cards_credit=='NO'">NO</strong>
                                </li>
                                <li ng-if="result.services.description_cc">
                                    <p style="line-height:16px ">{{result.services.description_cc}}</p>
                                </li>
                                <li>
                                    Servicio a domicilio : <strong ng-if="result.services.home_delivery=='YES'">SI</strong><strong ng-if="result.services.home_delivery=='NO'">NO</strong>
                                </li>
                                <li ng-if="result.services.description_hd">
                                    <p style="line-height:16px ">{{result.services.description_hd}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- End content info - Grey Section-->
        <div class="content_info skin_base no-overflow">
            <map zoom="{{map.zoom}}" center="{{coordinates}}" id="map" zoom-control="true" draggable="true" options="{{map.options}}" scale-control="false" >
                <marker position="{{coordinates}}"></marker>
                <street-view-panorama container="pano"
                        click-to-go="false"
                        disable-default-u-i="false"
                        disable-double-click-zoom="false"
                        position="{{coordinates}}"
                        pov="{heading: 135, pitch: 10}"
                        scrollwheel="false"
                        enable-close-button="true"
                        visible="true">
                </street-view-panorama>
            </map>
            <div id="pano" ></div>
            <!-- End content info - page Fill with -->
            <div class="content_info">
                <div class="paddings-mini">
                    <div class="container">
                        <div class="row">
                            <!-- Sidebars -->
                            <div class="col-md-5">
                                <aside>
                                    <h3>La oficina</h3>
                                    <address>
                                        <strong>{{result.name}}</strong><br>
                                        <i class="fa fa-map-marker"></i><strong>Calle: </strong> {{direction.street+" "+direction.number_int+", "+direction.colony}}<br>
                                        <i class="fa fa-plane"></i><strong>Ciudad: </strong> {{direction.city+", "+direction.municipio+", "+direction.estado+"."}}<br>
                                        <i class="fa fa-phone"></i> <abbr title="Phone">T:</abbr> {{direction.telephone}}
                                    </address>
                                    <address>
                                        <strong>{{result.name_abbreviated}} Email</strong><br>
                                        <i class="fa fa-envelope"></i>{{direction.email | explode}}<br>
                                    </address>
                                </aside>
                            </div>
                            <!-- End Sidebars -->

                            <div class="col-md-7">
                                <h3>Buzón</h3>
                                <p class="lead">
                                    Contáctanos estamos para servirte
                                </p>
                                <form class="form-theme" name="contact" ng-submit="formContact(contact.$valid)"  novalidate>
                                    <div class="form-group" ng-class="{'has-error':contact.name.$invalid && !contact.name.$pristine}">
                                        <input type="text" placeholder="Nombre" name="name" ng-model="contactData.name" required class="form-control">
                                        <p ng-show="contact.name.$invalid && !contact.name.$pristine" class="help-block subscription-message">Su nombre es requerido</p>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':contact.email.$invalid && !contact.email.$pristine}">
                                        <input type="email" placeholder="Email" name="email" ng-model="contactData.email" required class="form-control">
                                        <p ng-show="contact.email.$invalid && !contact.email.$pristine" class="help-block subscription-message">Su cuenta de correo es requerida</p>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':contact.phone.$invalid && !contact.phone.$pristine}">
                                        <input type="number" placeholder="Teléfono" name="phone" ng-model="contactData.phone" required class="form-control">
                                        <p ng-show="contact.phone.$invalid && !contact.phone.$pristine" class="help-block subscription-message">Su teléfono es requerido</p>
                                    </div>
                                    <div class="form-group" ng-class="{'has-error':contact.message.$invalid && !contact.message.$pristine}">
                                        <textarea placeholder="Tu mensaje ..." name="message" ng-model="contactData.message" required class="form-control"></textarea>
                                        <p ng-show="contact.message.$invalid && !contact.message.$pristine" class="help-block subscription-message">Su mensaje es requerido</p>
                                    </div>
                                    <input type="submit" name="Enviar" id="submitContact" value="Enviar mensaje" class="btn btn-primary" ng-disabled="contact.$invalid" ng-click="resetForm(contact)">
                                    <div class="clearfix"></div>
                                    <div class="col-sm-12 text-center p0" collapse="sendContact">
                                        <div class="alert alert-info">
                                            <ul class="fa-ul">
                                                <li>
                                                    <i class="fa fa-spinner fa-pulse"></i><span style="font-size: 14px;"> Enviando mensaje, espere un momento.</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center p0" collapse="successContact">
                                        <div class="alert alert-success">
                                            <ul class="fa-ul">
                                                <li>
                                                    Gracias por contactarnos, en breve nos comunicaremos con usted.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center p0" collapse="warningContact">
                                        <div class="alert alert-warning">
                                            <ul class="fa-ul">
                                                <li>
                                                    Ha ocurrido un error al enviar el mensaje, pruebe nuevamente.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center p0" collapse="errorContact">
                                        <div class="alert alert-danger">
                                            <ul class="fa-ul">
                                                <li>
                                                    Ha ocurrido un error intente nuevamente o mas tarde.
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </form>
                                <div id="result"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End content info - page Fill with  -->
        </div>
        <!-- End content info - Features-->

        <!-- content info - testimonials-->
        <div class="content_info">
            <!-- Parallax Background -->
            <div class="bg_parallax image_02_parallax" style="background: url({{result.gallery[0].images.thumbnail}})"></div>
            <!-- Parallax Background -->

            <div class="opacy_bg_02">
                <!-- Testimonial Propertie-->
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="info-testimonial">
                                <ul carousel-t="">
                                    <li>
                                        <p><i class="fa fa-quote-left"></i>Muy buen servicio de atención al cliente, los recomiendo ampliamente.<i class="fa fa-quote-right"></i></p>

                                        <div class="image-testimonials">
                                            <img src="/front/src/img/testimonials/avatar.png" alt="">
                                        </div>
                                        <h4>Janeth Rodriguez</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </li>

                                    <li>
                                        <p><i class="fa fa-quote-left"></i>Grandes descuentos en becas, ahora podre terminar mis estudios.<i class="fa fa-quote-right"></i></p>

                                        <div class="image-testimonials">
                                            <img src="/front/src/img/testimonials/avatar.png" alt="">
                                        </div>
                                        <h4>Pedro Salazar</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </li>

                                    <li>
                                        <p><i class="fa fa-quote-left"></i>Las comodidades de pagos que brindan son las mejores. Gracias.<i class="fa fa-quote-right"></i></p>

                                        <div class="image-testimonials">
                                            <img src="/front/src/img/testimonials/avatar.png" alt="">
                                        </div>
                                        <h4>Federick Gordon</h4>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-half-o"></i>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="testimonial-info">
                                <h2>{{result.name}}</h2>
                                <P>{{result.summary}}</P>
                                <a ng-if="result.services.website" href="{{result.services.website}}" class="btn btn-primary">{{result.name_abbreviated}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End content info - testimonials-->
        <div class="content_info content_resalt border-bottom">
            <!-- Title -->
            <div class="container">
                <div class="row">
                    <div class="titles">
                        <h2>Nuestros <span>clientes</span></h2>
                        <i class="fa fa-plane"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <!-- End Title-->

            <!-- content-->
            <div class="container">
                <div class="row padding-bottom">
                    <div class="col-md-12">
                        <ul class="tooltip-hover" carousel-c="">
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/1.png" alt="Image"></a></li>
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/2.png" alt="Image"></a></li>
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/3.png" alt="Image"></a></li>
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/4.png" alt="Image"></a></li>
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/5.png" alt="Image"></a></li>
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/6.png" alt="Image"></a></li>
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/7.png" alt="Image"></a></li>
                            <li data-toggle="tooltip" title data-original-title="Name Sponsor"> <a href="#"><img src="/front/src/img/sponsors/8.png" alt="Image"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End content-->
        </div>
    </div>
    <!-- End Content Central -->
</div>