
<!--section class="our_advisor_area advisor section_padding_100_70">
    <div class="container">
        <div class="row">
            <?php $count=1; foreach($personal as $val):?>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s">
                        <div class="advisor_thumb">
                            <img class="perfil" src="/api/administration/partners/<?=$val->name;?>" alt="">
                        </div>
                        <div class="single_advisor_details_info">
                            <h5><?=$val->title;?></h5>
                            <?php if ($type != "FUNDADORES"):?>
                                <p><?=$val->description;?></p>
                            <?php endif;?>
                        </div>
                    </div>
                </div>
            <?php $count++;endforeach;?>
        </div>
    </div>
</section-->

<div class="advisor section_padding_100_70 perfiles testimonial_client_area3dele">
    <div class="container ">
    <div class="row">
        <div class="col-lg-12 col-md=12 col-sm-12 col-xs-12 section_heading title-asociaciones ex">
            <div class="leftTitle col-md-4">
            </div>
            <div class="col-md-4">
                <h3>Directivas<span> anteriores</span></h3>
            </div>
            <div class="rightTitle  col-md-4">
            </div>
        </div>
        <div class="col-lg-12 col-md=12 col-sm-12 col-xs-12 bhoechie-tab-container directivas">
            <div class="container">
              <ul class="nav nav-pills">
                <?php foreach ($categoriasDirectivas2 as $key => $value):?>
                    <?php if($value->getDirectiva()!=null && $value->getStatusdirectiva()!='ACTIVO'):?>  
                        <li class="<?php if($key==0){echo "active";}?>"><a data-toggle="pill" href="#<?php echo $value->getDirectiva();?>"><?php echo $value->getDirectiva();?></a></li>
                    <?php endif;?>
                <?php endforeach;?>
              </ul>
              <div class="tab-content">
                <?php foreach ($directivas as $key2 => $value2):?>
                        <div id="<?php echo $value2;?>" class="tab-pane fade <?php if($key2==0){echo "active";}?> in">
                            <?php foreach ($personal as $key => $value):?>
                                <?php if($value->getDirectiva()==$value2):?>
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="single_advisor_profile  directiva wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="advisor_thumb">
                                            <img class="perfil" src="/api/administration/partners/<?=$value->name;?>" alt="">
                                        </div>
                                        <div class="single_advisor_details_info">
                                            <h5><?=$value->title;?></h5>
                                                <p><?=$value->description;?></p>
                                                <p><?=$value->directiva;?></p>
                                        </div>
                                    </div>
                                </div>
                            <?php endif;?>
                            <?php endforeach;?>
                        </div>
                <?php endforeach;?>
                <!--div id="menu1" class="tab-pane fade">
                  <h3>Menu 1</h3>
                  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div id="menu2" class="tab-pane fade">
                  <h3>Menu 2</h3>
                  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="menu3" class="tab-pane fade">
                  <h3>Menu 3</h3>
                  <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div-->
              </div>
            </div>



            <!--div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
                <div class="list-group">
                    <?php foreach ($categoriasDirectivas2 as $key => $value):?>
                        <?php if(($value->getDirectiva()!=null && $value->getStatusdirectiva()!='ACTIVO')):?>  
                            <a class="list-group-item <?php if($key==1){echo "active";}?> text-center">
                               <?php echo $value->getDirectiva();?>
                            </a>
                        <?php endif;?>
                <?php endforeach;?>
                </div>
            </div-->
            <!--div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab">
               
                    <?php foreach ($directivas as $key2 => $value2):?>
                    <?php foreach ($personal as $key => $value):?>
                        
                        <?php if(($value->getDirectiva()==$value2 && $value->getStatusdirectiva()=='INACTIVO')):?>  
                            <div class="bhoechie-tab-content active">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="single_advisor_profile  directiva wow fadeInUp" data-wow-delay="0.2s">
                                        <div class="advisor_thumb">
                                            <img class="perfil" src="/api/administration/partners/<?=$value->name;?>" alt="">
                                        </div>
                                        <div class="single_advisor_details_info">
                                            <h5><?=$value->title;?></h5>
                                                <p><?=$value->description;?></p>
                                                <p><?=$value->directiva;?></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endif;?>
                    <?php endforeach;?>
                <?php endforeach;?>
            </div-->
        </div>
    </div>
    </div>
</div>
