
<!--section class="our_advisor_area advisor section_padding_100_70">
    <div class="container">
        <div class="row">
            <?php $count=1; foreach($personal as $val):?>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.2s">
                        <div class="advisor_thumb">
                            <img class="perfil" src="/api/administration/partners/<?=$val->name;?>" alt="">
                        </div>
                        <div class="single_advisor_details_info">
                            <h5><?=$val->title;?></h5>
                            <?php if ($type != "FUNDADORES"):?>
                                <p><?=$val->description;?></p>
                            <?php endif;?>
                        </div>
                    </div>
                </div>
            <?php $count++;endforeach;?>
        </div>
    </div>
</section-->

<div class="container advisor section_padding_100_70 perfiles testimonial_client_area3dele">
    <div class="row">
        <div class="section_heading title-asociaciones">
            <div class="leftTitle col-md-4">
            </div>
            <div class="col-md-4">
                <?php if($type=='EXPRESIDENTES'):?>
                <h3>Ex <span> Presidentes</span></h3>
                <?php else:?>
                <h3><?=$typee=$personal[0]->getType();  if($typee!='EXPRESIDENTE'){ $personal[0]->getType();}?><span> <?= $type?></span></h3>
                <?php endif;?>
            </div>
            <div class="rightTitle  col-md-4">
            </div>
        </div>
        <div class="col-lg-12 col-md=12 col-sm-12 col-xs-12 bhoechie-tab-container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab">
                <?php $count=1; foreach($personal as $val):?>
                <div class="bhoechie-tab-content active">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="single_advisor_profile president wow fadeInUp" data-wow-delay="0.2s">
                            <div class="advisor_thumb">
                                <img class="perfil" src="/api/administration/partners/<?=$val->name;?>" alt="">
                            </div>
                            <div class="single_advisor_details_info">
                                <h5><?=$val->title;?></h5>
                                <?php if ($type != "FUNDADORES"):?>
                                    <p><?=$val->description;?></p>
                                <?php endif;?>
                            </div>
                        </div>
                    </div>
                </div>
                <?php $count++;endforeach;?>
            </div>
        </div>
    </div>
</div>