<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="shortcut icon" href="/front/src/images/favicon.png">
    <?php $meta= $this->session->get("meta");?>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><?= $meta['title']?></title>
    <meta name="description" content="<?= $meta['description']?>" />
    <meta name="revisit-after" content="7 days">
    <meta name="googlebot" content="follow, index, all">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="instituto de derecho electoral en villahermosa, instituto de derecho electoral en tabasco, Derecho Electoral en Villahermosa Tabasco, derecho humano en villahermosa tabasco" />
    <meta name="author" content="www.c-developers.com" />
    <meta name="copyright" content="2016 C-Developers Todos los derechos reservados." />
    <meta name="application-name" content="IIDE" />
    <link rel="canonical" href="<?= $meta['url']?>" />
    <meta name="robots" content="follow, index">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Kumar+One" rel="stylesheet">


    <!-- Cache Control  -->
    <!--meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" /-->

    <!--Meta Facebook -->
    <meta property="og:title" content="<?=$meta['title']?>"/>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="<?=$meta['image']?>">
    <meta property="og:url" content="<?=$meta['url']?>"/>
    <meta property="og:description" content="<?=$meta['description']?>"/>
    <meta property="og:site_name" content="<?=$meta['url']?>"/>
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <!--Twitter-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="<?=$meta['title']?>" />
    <meta name="twitter:description" content="<?=$meta['description']?>" />
    <meta name="twitter:image" content="<?=$meta['image']?>" />
    <meta property="og:image:width" content="800" />
    <meta property="og:image:height" content="600" />
    <?php echo $this->assets->outputCss('IndexCss')?>

   <?php $plugins = $this->assets->collection('cssPlugins');
    if (!empty($plugins)) {echo $this->assets->outputCss('cssPlugins');}
    ?>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <?php if($this->dispatcher->getControllerName()=="ayudamutua" and $this->dispatcher->getActionName()=="index"){ ?>
        <link rel="stylesheet" href="/front/src/css/ayuda/ayuda.css">
    <?php } ?>
    <?php
      # Iniciando la variable de control que permitirá mostrar o no el modal
      $exibirModal = false;
      # Verificando si existe o no la cookie
      if(!isset($_COOKIE["mostrarModal"])){
        # Caso no exista la cookie entra aqui
        # Creamos la cookie con la duración que queramos
        //$expirar = 3600; // muestra cada 1 hora
        //$expirar = 10800; // muestra cada 3 horas
        //$expirar = 21600; //muestra cada 6 horas
        $expirar = 43200; //muestra cada 12 horas
        //$expirar = 86400;  // muestra cada 24 horas
        setcookie('mostrarModal', 'SI', (time() + $expirar)); // mostrará cada 12 horas.
        # Ahora nuestra variable de control pasará a tener el valor TRUE (Verdadero)
        $exibirModal = true;?>

      <?php }?>
    <!--[if IE]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <!--Plugin para comentarios por medio de facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.0&appId=294572587695577&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>
<header class="navbar navbar-default navbar-fixed-top navbar-inner">
    <div class="top_row row m0 header-social">
        <!--div class="container">
            <div class="row"-->
                <div class="col-sm-12 col-md-12 col-lg-12 p0 visible-xs">
                    <div class="navbar-header ">
                        <a href="/" class="logo">
                            <img src="/front/src/images/logos/LOGO300x300.png" alt="" class="img-responsive logo">
                        </a>
                    </div>
                    <div class="main_menu_area">
                        <div class="mainmenu">
                            <nav>
                                <ul id="nav">
                                    <li class="current_page_item"><a href="/">Inicio</a>
                                    </li>
                                    <li ><a href="/acerca-de-amgp">Nosotros</a>
                                    </li>
                                    <li ><a href="/delegaciones">Delegaciones</a>
                                    </li>
                                    <li ><a href="/capitulos-estudiantiles">Capítulos Estudiantiles</a>
                                    </li>
                                    <li ><a href="/noticias">Noticias</a>
                                    </li>
                                    <li ><a href="/eventos">Eventos</a>
                                    </li>
                                    <li ><a href="/proximamente-publicaciones">Publicaciones</a>
                                    </li>
                                    <!-- <li><a href="/publicaciones">Publicaciones</a>
                                    </li> -->
                                    <li ><a href="/planes-registro">Membresia</a>
                                    </li>
                                    <li ><a href="/directorio">Directorio</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-lg-2 col-xs-12 logo-spectrum hidden-xs">
                    <div class="col-sm-10 col-md-10 p0">
                    <a href="/" class="logo">
                        <img src="/front/src/images/logos/LOGO300x300.png" alt="" class="img-responsive">
                    </a>
                    </div>
                    <div class="col-sm-2 col-md-2 p0">
                    <div class="top_quote hidden-md hidden-xs hidden-sm">
                        <h1 class="amgp">AMGP</h1>
                    </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 p0 hidden-xs">
                    <div class="col-sm-12 col-md-12 col-lg-12 p0 hidden-xs">

                        <div class="col-sm-4 col-md-5 p0">
                            <div class="top_quote hidden-sm">
                                <p class="nameheader">Asociación Mexicana de Geólogos Petroleros A C</p>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-7 p0">
                            <div class="social_reg_log_area">
                                <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                    <div class="top_social_bar">
                                        
                                        <div class="col-sm-4 col-md-4 col-lg-4 col-xs-4">
                                            <p class="redes">Síguenos:</p>
                                        </div>
                                        <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                                            <a href="#"><i class="fab fa-facebook facebook coloramarillo" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fab fa-twitter-square twitter coloramarillo" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fab fa-linkedin linkedi coloramarillo" aria-hidden="true"></i></a>
                                            <a href="#"><i class="fab fa-skype skype coloramarillo" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8 col-md-8 col-lg-8 col-xs-8">
                                    <?php if($web):?>
                                    <!-- <div class="login_register">
                                        <div class="login" id="loginfacebookperfil">

                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <a href="/"><?=$web;?></a>
                                        </div>
                                    </div> -->
                                    <div class="login_register">
                                        <div class="dropdown login">
                                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="lag" type="button" class="btn btn-default dropdown-toggle boldfer">

                                            <?php if (!$userController->getPhoto()):?><i class="fa fa-user" aria-hidden="true"></i>
                                            <?php else:?>
                                            <img src="<?= $userController->getPhoto()==(null||'')?'/front/src/images/perfilprueba.jpg':'/api/administration/registro/photo/'.$userController->getPhoto()?>" class="imagelayout">
                                            <?php endif;?>


                                            <?=$web['name'];?>
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </button>
                                            <ul aria-labelledby="lag" class="dropdown-menu dmenu2 bg-white">
                                                <li>
                                                    <a href="/perfil" class="submenu3"> Mi perfil</a>
                                                </li>
                                                <li>
                                                    <a href="/carrito-compra" class="submenu3"> Carrito de compra</a>
                                                </li>
                                                <li>
                                                    <a style="cursor:pointer" id="logout1" class="submenu3">Cerrar Sesión</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a class="btn btn-success btn-rounded btn-xs" href="/carrito-compra"><span class="fa fa-shopping-cart" id="cantidadCarrito">  <?=isset($_COOKIE['carrito'])?count(json_decode($_COOKIE['carrito']),true):'0'?></span></a>
                                    <?php else :?>
                                    <div class="login_register2">
                                        <div class="login"  id="loginfacebookperfil">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                            <a href="#" id="iniciar-sesion">Iniciar Sesión</a>
                                        </div>
                                    </div>
                                    <div class="login_register3">
                                        <div class="login">
                                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                                            <a href="/crear-cuenta" target="_blank">Crear cuenta</a>
                                        </div>
                                    </div>
                                    <!--div class="login_register3" style="background-color: #0c8e3a; color: white;">
                                       <div class="login">
                                            <i class="fa fa-money" aria-hidden="true"></i>
                                            <a href="/pago-cuotas" target="_blank" style="color: white;">Pagos de cuotas <?php if($mes=date("m")<12){ echo $mes=date("Y");} else{$mes=date("Y"); echo $mes+1;}?></a>
                                       </div>
                                    </div-->
                                    <?php endif;?>
                                </div>
                                <!--div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
                                    <div class="language_area language-spectrum">
                                        <div class="dropdown">
                                            <button aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="lag" type="button" class="btn btn-default dropdown-toggle">
                                                <i class="fa fa-globe" aria-hidden="true"></i>Idioma
                                                <i class="fa fa-angle-down" aria-hidden="true"></i>
                                            </button>
                                            <ul aria-labelledby="lag" class="dropdown-menu">
                                                <li>
                                                    <a href="#"><img alt="" src="/front/src/img/core-img/lan-1.jpg">Inglés</a>
                                                </li>
                                                <li>
                                                    <a href="#"><img alt="" src="/front/src/img/core-img/lan-3.jpg">Español</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div-->
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-12 p0">
                        <div class="main_menu_area" style="margin-top: 1em !important;">
                            <div class="mainmenu">
                                <nav>
                                    <ul id="nav">
                                        <li class="<?php echo $this->router->getActionName()=='index' && $this->router->getControllerName()=='index'?"current_page_item":""?>"><a href="/">Inicio</a>
                                        </li>
                                        <li class="<?php echo (($this->router->getActionName()=='about'||$this->router->getActionName()=='socios') && $this->router->getControllerName()=='index')||(($this->router->getActionName()=='directivas'||$this->router->getActionName()=='index')&& $this->router->getControllerName()=='personal')?"current_page_item":""?>"><a href="/acerca-de-amgp">Nosotros</a>
                                        </li>
                                        <li class="<?php echo ($this->router->getActionName()=='index' || $this->router->getActionName()=='delegation' || $this->router->getActionName()=='historydirectory') && $this->router->getControllerName()=='delegation'?"current_page_item":""?>"><a href="/delegaciones">Delegaciones</a>
                                        </li>
                                        <li class="<?php echo ($this->router->getActionName()=='index') && $this->router->getControllerName()=='capitulos'?"current_page_item":""?>"><a href="/capitulos-estudiantiles">Capítulos  Estudiantiles</a>
                                        </li>
                                        <li class="<?php echo ($this->router->getActionName()=='index' || $this->router->getActionName()=='new') && $this->router->getControllerName()=='news'?"current_page_item":""?>"><a href="/noticias">Noticias</a>
                                        </li>
                                        <li class="<?php echo ($this->router->getActionName()=='event' || $this->router->getActionName()=='index' || $this->router->getActionName()=='oldevents' || $this->router->getActionName()=='history') && $this->router->getControllerName()=='events'?"current_page_item":""?>"><a href="/eventos">Eventos</a>
                                        </li>
                                        <li class="<?php echo ($this->router->getActionName()=='index' || $this->router->getActionName()=='pay' || $this->router->getActionName()=='publi') && $this->router->getControllerName()=='publicaciones'?"current_page_item":""?>"><a  href="/publicaciones">Publicaciones<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                            <ul class="sub-menu" style="width: 180px;">
                                                <?php foreach($category as $catego):?>
                                                <li class="publi"><a href="/publicaciones/<?=$catego->getCatpuid();?>"><?=$catego->getName();?></a></li>
                                                <?php endforeach;?>
                                                <li class="publi gacetas"><a href="/publicaciones/4"><span class="gacetas">GACETAS</span></a>
                                                    <ul class="sub-menu" style="top: -3px;left: -76%;">
                                                        <li class="publi"><a href="/publicaciones/gacetas/nacional">Nacional</a></li>
                                                        <li class="publi"><span class="gacetas" style="padding-left: 0 !important;"><a href="#">Delegaciones</a></span>
                                                            <ul class="sub-menu sub-sub-menu" style="top: -3px;left: -107%;">
                                                                <?php foreach($delegationgacetas as $delegace):?>
                                                                    <li class="publi"><a href="/delegaciones/<?php echo $delegace->getPermalink();?>/gacetas"><?php echo $delegace->getName();?></a></li>
                                                                <?php endforeach;?>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                         <!-- <li class="<?php echo ($this->router->getActionName()=='index' || $this->router->getActionName()=='pay' || $this->router->getActionName()=='publi') && $this->router->getControllerName()=='publicaciones'?"current_page_item":""?>"><a href="/proximamente-publicaciones">Publicaciones<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                            <ul class="sub-menu">
                                                <?php foreach($category as $catego):?>
                                                    <li class="publi"><a href="/proximamente-publicaciones"><?=$catego->getName();?></a></li>
                                                <?php endforeach;?>
                                                <li class="publi gacetas"><span class="gacetas">GACETAS</span>
                                                    <ul class="sub-menu">
                                                        <li class="publi"><a href="/proximamente-publicaciones">Nacional</a>
                                                        <li class="publi"><a href="/proximamente-publicaciones">Delegaciones</a>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li> -->
                                        <?php if($web):?>
                                          <li class="<?php echo ((($this->router->getActionName()=='plan' || $this->router->getActionName()=='planes' || $this->router->getActionName()=='afiliacion')&&$this->router->getControllerName()=='index')
                                            ||(($this->router->getActionName()=='index' || $this->router->getActionName()=='register' || $this->router->getActionName()=='createacount')&& $this->router->getControllerName()=='session')
                                            ||$this->router->getActionName()=='afiliacion'&& $this->router->getControllerName()=='registro')?"current_page_item":""?>"><a href="/planes-registro">Membresia</a>
                                          </li>
                                        <?php else:?>
                                        <li class="<?php echo ((($this->router->getActionName()=='plan' || $this->router->getActionName()=='planes' || $this->router->getActionName()=='afiliacion')&& $this->router->getControllerName()=='index')
                                            ||(($this->router->getActionName()=='index' || $this->router->getActionName()=='register' || $this->router->getActionName()=='createacount')&& $this->router->getControllerName()=='session'))?"current_page_item":""?>"><a href="/planes-registro">Membresia</a>
                                          </li>
                                        <?php endif;?>
                                        <li class="<?php echo $this->router->getActionName()=='contact' && $this->router->getControllerName()=='index'?"current_page_item":""?>"><a href="/directorio">Directorio</a>
                                        </li>
                                        
                                        <!--li><a href="/pago-cuotas">Pagos de cuotas <?php if($mes=date("m")<12){ echo $mes=date("Y");} else{$mes=date("Y"); echo $mes+1;}?></a>
                                        </li-->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                <!--/div>
            </div-->
        </div>
    </div>
</header>
<!-- <div id="closed-payment" class="<?=$this->router->getControllerName()=='pagos'?'hidden':''?>">
    <a href="/pago-cuotas" class="register_link">
        <img src="<?=$this->url->get('front/src/banner.png')?>" alt="" class="oferta img-responsive">
    </a>
    <span class="closed-payment" id="icon-closed" ></span>
</div> -->

<?= $this->getContent();?>
<footer class="footer_area">
    <div class="footer_bottom_area">
        <div class="container">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3 footer">
                    <div class="footer_bottom wow fadeInDown" data-wow-delay="0.2s">
                        <p class="footer-cdevelopers">AMGP <i class="fa fa-copyright" aria-hidden="true"></i> 2017. Todo los derechos reservados</a></p>
                        <p class="footer-cdevelopers margin-footer" style="margin-top: 1em;"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;(+52 0155) 55 6788 40</p>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 footer">
                    <div class="footer_bottom wow fadeInDown" data-wow-delay="0.2s">
                        <p class="footer-cdevelopers">Poniente 134 No. 411 Colonia San Bartolo Atepehuacan Alcaldía Gustavo A. Madero, Ciudad de México</a></p>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 footer">
                    <div class="footer_bottom wow fadeInDown" data-wow-delay="0.2s">
                        <p class="footer-cdevelopers">Realizado <i class="fab fa-html5" aria-hidden="true"></i> por <a href="http://www.c-developers.com/">C-Developers</a></p>
                        <p class="footer-cdevelopers margin-footer" style="margin-top: 1em;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;presidencia@amgp.org</p>
                    </div>
                </div>
		<div class="col-xs-2-col-sm-2 col-md-2 footer">

<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=9ynoMfiHZh0dY5ffwwPhuugSLCv3F1FplYs6w5aEGgKIakdrXHpJJfXVzsKe"></script></span>
		</div>
            </div>
        </div>
    </div>
</footer>
<div class="modal fade" id="iniciosesionmodal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog session login">
        <div class="modal-content inicio-sesion">
            <!--<div class="modal-header iniciar-sesion">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="black-bold inicio-sesion">Inicio de sesión</h3>
            </div>-->
            <div class="modal-body inicio-sesion">
                <section class="inicio-sesion">
                    <div class="title-session iniciar-sesion">
                        <i class="fa fa-user"></i>
                        <p class="title-modal-login">Iniciar sesión</p>

                    </div>
                    <div class="login_form layout">
                        <button type="button" class="close login-layout" data-dismiss="modal" aria-hidden="true">&times;</button>

                        <div class="login_manual_form">

                            <form id="session" action="" method="post">
                                <span class="hide" id="key-security" data-key="<?=$key?>"></span>
                                <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                                <div class="form-group">
                                    <i class="fa fa-user"></i>
                                    <input class="email-login" type="text" name="email" id="email" placeholder="Correo electrónico">
                                </div>
                                <div class="form-group">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                    <input type="password" name="password" id="password" placeholder="Contraseña" class="pass">
                                </div>
                                <button type="submit" class="btn btn-default view-inicio">Iniciar Sesión</button>
                                <div class="form-group fade hide" id="container-messages">
                                    <div class="alert alert-warning fade hide" role="alert" id="email-incorrect">
                                        <strong>Email no validado.</strong>
                                    </div>
                                    <div class="alert alert-warning fade hide" role="alert" id="password-incorrect">
                                        <strong id="psin">Contraseña incorrecta.</strong>
                                    </div>
                                    <div class="alert alert-warning fade hide" role="alert" id="all-incorrect">
                                        <strong>Email o contraseña incorrecto</strong>
                                    </div>
                                    <!--End Mesages-->
                                </div>

                            </form>
                            <br>
                            <br>
                            <div class="forget_pass one view-inicio">
                                <a href="/restaurar-contrasena" target="_blank" class="passchange"><i class="fa fa-lock" aria-hidden="true"></i>Restaurar contraseña</a>
                            </div>
                            <p class="login-layout">o</p>
                        </div>
                        <div class="sign_in_facebook">
                            <a id="login" href="#" class="login2" data-login="loguear"><i class="fab fa-facebook"></i>Ingresar con Facebook</a>
                        </div>
                        <p class="note-session"><span class="bold-index">IMPORTANTE</span>: Su usuario y contraseña son de caracter personal. Cualquier acceso no autorizado está sujeto a la legislación vigente de la AMGP</p>
                        <div class="button-view-session">
                            <!--<a href="/planes-registro"><button type="submit" class="btn btn-warning view-inicio session"><i class="fa fa-file-text-o"></i> Solicitud de ingreso</button></a>-->

                            <a href="/planes-registro" class="btn btn-warning view-inicio session"><i class="far fa-file-alt"></i> Solicitud de ingreso</a>
                            <a href="/crear-cuenta" class="btn view-inicio-crear-cuenta session"><i class="fa fa-user-plus"></i> Crear cuenta</a>
                            <!--<a href="/crear-cuenta"><button type="submit" class="btn btn-warning view-inicio-crear-cuenta session"><i class="fa fa-user-plus"></i>Crear cuenta</button></a>-->
                        </div>
                    </div>
                </section>

            </div>
            <!--<div class="modal-footer iniciar-sesion">
                <button type="button" class="btn btn-info download" rel="tooltip" data-color-class="danger" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Eliminar posición" data-placement="top"><a href="#" data-dismiss="modal" class="btn">Cerrar</a></button>
            </div>-->
        </div>
    </div>
</div>
<?php if (!($this->router->getActionName()=='index' && $this->router->getControllerName()=='index') && (($this->router->getActionName()=='contact' || $this->router->getActionName()=='plan' || $this->router->getActionName()=='about') && $this->router->getControllerName()=='index')):?>
<!--div class="modal fade" id="mostrarmodalSus" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog suscribete">
        <div class="modal-content suscribete">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="black-bold">SUSCRIBETE</h3>
            </div>
            <div class="modal-body">
                <div class="col-md-12 col-sm-12 col-xs-12 text-justify">
                    <p class="black-bold">Suscríbete para recibir información de eventos y noticias de AMGP.</p>
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <input class="email" type="email" name="email" id="email" placeholder="Email">
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="suscription_value_table btn btn-info download" rel="tooltip" data-color-class="danger" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Eliminar posición" data-placement="top"><a href="#" data-dismiss="modal" class="btn">Suscribirse</a></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title value_name_delete suscripcion"></h4>
            </div>
            <div class="modal-body" >
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <p class="suscripciones">
                        Gracias por suscribirse con el correo <strong class="value_name_delete"></strong> ?
                        <br> Recibira noticias, eventos y publicaciones AMGP, gracias.
                    </p>
                    <img id="value_image_delete" src="" alt="" class="img-responsive" value="">
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning btn-submit" type="button" id="confirm_delete"> Salir</button>
            </div>
        </div>
    </div>
</div-->
<?php endif; ?>



<?php echo $this->assets->outputJs("FrontEndJs");?>
<?php $dataTable = $this->assets->collection('jsDataTable');
if (!empty($dataTable)) {echo $this->assets->outputJs('jsDataTable');}
?>

<?php $jsPlugins = $this->assets->collection('jsPlugins');?>
<?php if (!empty($jsPlugins)){?>
    <?php echo $this->assets->outputJs('jsPlugins'); ?>
<?php } ?>
<script>
    $(document).ready(function() {
        $('#vertical').lightSlider({
            gallery:true,
            item:1,
            vertical:true,
            verticalHeight:410,
            vThumbWidth:250,
            thumbItem:4,
            thumbMargin:2,
            slideMargin:0,
            currentPagerPosition:'right'
        });
        $('#imageGallery').lightSlider({
            gallery:true,
            item:1,
            loop:true,
            thumbItem:9,
            slideMargin:0,
            enableDrag: false,
            currentPagerPosition:'left'
        });

    })
</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58ba250934f52909"></script>

<script>
    setTimeout(function(){
        $(".at-expanding-share-button-toggle-bg").text("Compartir");
    },1000);
</script>
<script type="text/javascript">
    $(function(){
        $('#form1').StepizeForm()
    });
</script>
<?php if ($this->router->getActionName()=='afiliacion' && $this->router->getControllerName()=='registro'):?>
<script>
        $('[data-toggle="tooltip"]').tooltip();
</script>
<?php endif;?>
<?php if ($this->router->getActionName()=='index' && $this->router->getControllerName()=='index'):?>
<script>
    $(document).ready(function() {
        var limit1 =<?=$beneficiosnumero;?>-7;
        var limit =limit1*70;
        var height_item = 0;
        $(".fa-angle-down.beneficios").on("click", function () {
            if (height_item < limit) {
                height_item = height_item + 70;  //$(".list-group-item").height();

                $(".list-group").animate({
                    "margin-top": -height_item
                }, 500, function () {
                    // Animation complete.
                });
            }
            else{}

        });

        $(".fa-angle-up.beneficios").on("click", function () {
            if (height_item > 0) {
                height_item = height_item - 70;  //$(".list-group-item").height();

                $(".list-group").animate({
                    "margin-top": -height_item
                }, 500, function () {
                    // Animation complete.
                });
            }
            else{}

        });
    });
</script>
<?php endif;?>
<?php if ($this->router->getActionName()=='index' && $this->router->getControllerName()=='session'):?>
<script>
   /* window.fbAsyncInit = function() {
        FB.init({
            appId            : '294572587695577',
            status           : true,
            autoLogAppEvents : true,
            xfbml            : true,
            version          : 'v2.10'
        });
        FB.AppEvents.logPageView();
    };*/

    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<?php endif;?>

<?php if ($this->router->getActionName()=='onlypay' && $this->router->getControllerName()=='registro'):?>
<script>
    $(document).ready(function() {
        var my_var = <?php echo json_encode($coutid); ?>;
        var buttonAnterior = '<ul><li><a href="/registro/afiliarse/'+my_var+'" role="menuitem" class="anterior">Ir a formulario</a></li></ul>';
        $('div.actions').append(buttonAnterior);
    });
</script>
<?php endif;?>
<script>
    $(document).ready(function() {
        var button = '<ul><li><a class="closedfinish" role="menuitem"  data-toggle="modal" data-target="#saveandcontinue" >Guardar y salir</a></li></ul>';
        $('div.actions').append(button);

        var buttonCancel = '<ul><li><a class="closedCancel" data-toggle="modal" data-target="#closeandcancel" role="menuitem">Cancelar</a></li></ul>';
        $('div.actions').append(buttonCancel);
    });

    $("#newClientProfile input[type=radio]").each(function(i){
        $(this).click(function () {
            if(i==1) { //3rd radiobutton
                $("#textbox1").attr("disabled", "disabled");
                $("#checkbox1").attr("disabled", "disabled");
                $("#name").attr("disabled", "disabled");
                $("#lastname").attr("disabled", "disabled");
                $("#secondname").attr("disabled", "disabled");
                $("#sex").attr("disabled", "disabled");
                $("#comid").attr("disabled", "disabled");
                $("#email").attr("disabled", "disabled");
                $("#phone").attr("disabled", "disabled");
                $("#tel").attr("disabled", "disabled");
                $("#telOficina").attr("disabled", "disabled");
                $("#birthdate").attr("disabled", "disabled");
                $("#asociadodesde").attr("disabled", "disabled");
                $("#estadoCivil").attr("disabled", "disabled");
                $("#nacionalidad").attr("disabled", "disabled");
                $("#rfc").attr("disabled", "disabled");
                $("#curp").attr("disabled", "disabled");
                $("#facebook").attr("disabled", "disabled");
                $("#twitter").attr("disabled", "disabled");
                $("#instagram").attr("disabled", "disabled")

            }
            else {
                $("#textbox1").removeAttr("disabled");
                $("#checkbox1").removeAttr("disabled");
                $("#name").removeAttr("disabled");
                $("#lastname").removeAttr("disabled");
                $("#secondname").removeAttr("disabled");
                $("#sex").removeAttr("disabled");
                $("#comid").removeAttr("disabled");
                $("#email").removeAttr("disabled");
                $("#phone").removeAttr("disabled");
                $("#tel").removeAttr("disabled");
                $("#telOficina").removeAttr("disabled");
                $("#birthdate").removeAttr("disabled");
                $("#asociadodesde").removeAttr("disabled");
                $("#estadoCivil").removeAttr("disabled");
                $("#nacionalidad").removeAttr("disabled");
                $("#rfc").removeAttr("disabled");
                $("#curp").removeAttr("disabled");
                $("#facebook").removeAttr("disabled");
                $("#twitter").removeAttr("disabled");
                $("#instagram").removeAttr("disabled");

            }
        });
    });
</script>
<script>
$(document).ready(function() {
    jQuery("#others").on("change", function(){
        if(jQuery("input[name='pay']:checked").val()=="TRANSFER"){
            jQuery('.actions > ul > li > a[href$="#finish"]').text("Datos de pago");
        }
    });
    jQuery("#paypal").on("change", function(){
        if(jQuery("input[name='pay']:checked").val()=="PAYPAL"){
            jQuery('.actions > ul > li > a[href$="#finish"]').text("Pagar");
        }
    });
    jQuery("#banco").on("change", function(){
        if(jQuery("input[name='pay']:checked").val()=="banco"){
            jQuery('.actions > ul > li > a[href$="#finish"]').text("Pagar");
        }
    });
});
</script>
<?php if($exibirModal === true) : // Si nuestra variable de control "$exibirModal" es igual a TRUE activa nuestro modal y será visible a nuestro usuario. ?>
<script>
$(document).ready(function() {
  // id de nuestro modal
  jQuery("#mostrarmodal").modal("show");
    setTimeout(function(){
        jQuery("#mostrarmodal").modal('hide');
    }, 1000000);
});
</script>

<?php else:?>
<?php endif; ?>
<script type="text/javascript" src="/front/js/sweetalert2.all.js"></script>
</body>
</html>
