<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="section_padding_60 gacetasview">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="testimonials_area">
                    <div class="section_heading interes text-center">
                        <h3>Gaceta  <span>La Nacional</span></h3>
                    </div>
                    <div class="row">
                        <?php foreach($gacetas as $val):?>
                            <!--div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 wow fadeInUp">
                                <div class="single_speciality sitios">
                                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 imagesitios">
                                        <div class="single_speciality_icon gacetas">
                                            <a class="namesitios" href="/gacetas/<?=$val->publid;?>" target="_blank"><img class="iconosSitios gacetas" src="/api/administration/publicaciones/<?=$val->portada;?>" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 titlesitios gacetas">
                                        <div class="single_speciality_text sitios gacetas">
                                            <h5><a class="namesitios" href="/gacetas/<?=$val->publid;?>" target="_blank"><?=$val->name;?></a></h5>
                                        </div>
                                    </div>

                                </div>
                            </div-->






                            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow fadeInUp">
                                <div class="single_speciality sitios">

                                   <div class="container mt-40">
                                        <div class="row mt-30">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="box16">

                                                    <img src="/api/administration/publicaciones/<?php echo $val->portada;?>">
                                                    <div class="box-content">
                                                        <h3 class="title"><?=$val->name;?></h3>
                                                        <ul class="social">
                                                            <li><a href="/gacetas/<?=$val->publid;?>"><i class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>