<style>
    .table{
        position: inherit !important;
    }
</style>
<input type="hidden" id="limiteDescargas" value="<?=$limiteDescargas?>">
 <input id="publicacionesNumero" type="hidden" value="<?=count($publi)?>" >
<section class="gallery_area column clearfix section_padding_100 publicaciones testimonial_client_area3dele">
    <div class="container">
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section_heading text-center">
                        <h3 class="titleevent">Todas las <span> Publicaciones</span></h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                    <span style="font-weight: bold;">Puedes filtrar por fecha ó por palabra</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row" style="margin-bottom:10px;background: #0f3665;color: white;padding: 1em;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h5 style="padding-bottom: 1em;">Fecha de búsqueda:</h5>
                        </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <h5 style="padding-bottom: 1em;">Desde:</h5>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <input type="number" class="form-control" name="date" min="1" max="31" placeholder="Día" value="1">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <input type="number" class="form-control" name="date" min="1" max="12" placeholder="Mes" value="1">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <input type="number" class="form-control" name="date" min="2000" max="<?=date("Y")?>" placeholder="Año" value="2000">
                        </div>
                      </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <h5 style="padding-bottom: 1em;">Hasta:</h5>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input type="number" class="form-control" name="dateFinal" min="1" max="31" placeholder="Día">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input type="number" class="form-control" name="dateFinal" min="1" max="12" placeholder="Mes">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input type="number" class="form-control" name="dateFinal" min="2000" max="<?=date("Y")?>" placeholder="Año">
                            </div>
                        </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h5 style="padding-bottom: 1em;">Categoría:</h5>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="text" class="form-control" name="categoria">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h5 style="padding-bottom: 1em;">Titulo:</h5>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="text" class="form-control" name="titulo">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h5 style="padding-bottom: 1em;">Nombre:</h5>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="text" class="form-control" name="name">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h5 style="padding-bottom: 1em;">Autor:</h5>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="text" class="form-control" name="autor">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top2">
                        <h5 style="padding-bottom: 1em;">Buscar por palabra:</h5>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                          <input type="text" class="form-control" name="palabra" placeholder="escribe una palabra...">
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><button id="bFiltrar" type="button" class="btn btn-success botonstyle">Filtrar</button> </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><button id="bFiltrar" type="button" class="btn btn-danger botonstyle">Borrar filtrado</button> </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right notacss">
                        <span style="font-weight: bold;">U</span> = Precio de usuario /
                        <span style="font-weight: bold;">AP</span> = Precio de asociado /
                        <span style="font-weight: bold;">AE</span> = Precio de asociado estudiante
                    </div>
                    <div class="divtable">
                        <table class="table table-fixed">
                            <thead class="tblock">
                              <tr class="" style="">
                                <th class="contentth tblock" style="text-align: center;">Categoría</th>
                                <th class="contentth tblock" style="text-align: center;">Título</th>
                                <th class="contentth tblock" style="text-align: center;">Autor(es)</th>
                                <th class="contentth tblock" style="text-align: center;" >Fecha</th>
                                <th class="contentth tblock" style="text-align: center;">Volumen</th>
                                <th class="contentth tblock" style="text-align: center;">Número</th>
                                <th class="contentth tblock" style="text-align: center;">Costo</th>
                                <th class="contentth tblock" style="text-align: center;">Opciones&nbsp;&nbsp;&nbsp;&nbsp; </th>
                            </tr>
                            </thead>
                            <tbody class="tbody2 tblock">
                              <?php foreach($publi AS $key => $publis):?>
                                                    <tr>
                                                        <td class="title3"><?=\Modules\Models\CdCategorypublicaciones::findFirst("catpuid=".$publis->getCatpuid())->getName()?></td>
                                                        <td class="title3 tblock"><a href="#"><?=$publis->name;?></a></td>
                                                        <td class="title3 tblock"><?=$publis->autor;?></td>
                                                        <td class="title3 tblock"><?=$arraydate[$key];?>-<?=$date2=date("Y",strtotime($publis->dateCreation));?></td>
                                                        <!--td class="hidden-xs"><?=$date2=date("Y-m",strtotime($publis->dateCreation));?></td-->
                                                        <td class="title3 tblock"><?=$publis->getVol()!=null?$publis->getVol():"-"?></td>
                                                        <td class="title3 tblock"><?=$publis->getNum()!=null?$publis->getNum():"-"?></td>
                                                        <!--td class="hidden-xs">Usu:<?=($publis->getPrice()!=null or $publis->getPrice()==0)?"$".number_format($publis->getPrice(), 2, '.', ''):"Gratis"?><br>
                                                            Aso:<?=($publis->getPriceasociados()!=null or $publis->getPriceasociados()==0)?"$".number_format($publis->getPriceasociados(), 2, '.', ''):"Gratis"?><br>
                                                            AsoEst:<?=($publis->getPriceestudiante()!=null or $publis->getPriceestudiante()==0)?"$".number_format($publis->getPriceestudiante(), 2, '.', ''):"Gratis"?></td-->
                                                        <td class="title3 tblock">U:<?=($publis->getFree()==0)?"$".number_format($publis->getPrice(), 2, '.', ''):"Gratis"?><br>
                                                            AP:<?=($publis->getFree()==0)?"$".number_format($publis->getPriceasociados(), 2, '.', ''):"Gratis"?><br>
                                                            AE:<?=($publis->getFree()==0)?"$".number_format($publis->getPriceestudiante(), 2, '.', ''):"Gratis"?></td>
                                                        <td class="title3 tblock">
                                                                <a href="/api/administration/publicaciones/portada/<?=$publis->getPortada();?>" class="btn btn-default btn-rounded btn-xs" target="_black"><span class="fa fa-eye"></span></a>
                                                                <!--a href="/pago/<?=$publis->publid;?>" class="btn btn-default btn-rounded btn-sm1"><span class="fa fa-cloud-download"></span></a-->
                                                                <button id="descarga_<?=$publis->publid?>" data-id="<?=$publis->publid;?>" data-name="<?=$publis->name;?>" type="button" class="delete_value_table btn btn-info btn-xs" rel="tooltip" data-color-class="danger" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Eliminar posición" data-placement="top" <?=$web?"onclick='downloadFile(".$publis->getPublid().")'":"onclick='openmodal()'"?>><i class="fas fa-cloud-download-alt"></i></button>
                                                                <?php
                                                                    $isRepeat = false;
                                                                   if($publis->getCatpuid()!=4){ ?>
                                                                   <?php if(isset($_COOKIE['carrito'])){ ?>
                                                                       <?php $cookie = json_decode($_COOKIE['carrito'],true);?>
                                                                       <?php for($i=0;$i<count($cookie);$i++){ ?>
                                                                            <?php if($cookie[$i]['publid']==$publis->getPublid()){?>
                                                                                <?php $isRepeat = true; ?>
                                                                              <button id="carro_<?=$publis->getPublid()?>" disabled="disabled" class="btn btn-success btn-rounded btn-xs" <?=$web?"onclick='carrito(".$publis->getPublid().")'":"onclick='openmodal()'"?>><span class="fa fa-shopping-cart"></span></button>
                                                                            <?php }?>
                                                                       <?php } ?>
                                                                          <?php if($isRepeat!=true){ ?>
                                                                                <button id="carro_<?=$publis->getPublid()?>"  class="btn btn-success btn-rounded btn-xs" <?=$web?"onclick='carrito(".$publis->getPublid().")'":"onclick='openmodal()'"?>><span class="fa fa-shopping-cart"></span></button>
                                                                          <?php } ?>
                                                                          <?php $isRepeat=false; ?>
                                                                    <?php }else{ ?>
                                                                       <button id="carro_<?=$publis->getPublid()?>" class="btn btn-success btn-rounded btn-xs" <?=$web?"onclick='carrito(".$publis->getPublid().")'":"onclick='openmodal()'"?>><span class="fa fa-shopping-cart"></span></button>
                                                                    <?php } ?>
                                                                <?php } ?>
                                                        </td>
                                                    </tr>
                                                <?php endforeach;?>
                            </tbody>
                          </table>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh-warning download">
                <button type="button" class="close publi" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Descarga de publicaciones</h4>

 <input type="number" id="descargas-usuario" class="form-control hidden" name="descargas" value="<?php echo $disponible+1;?>">
            </div>
            <div class="modal-body download">

                <?php if($stop>=0):?>
                <p>Esta será su descarga número <span class="value_name_delete"></span> del año</p>
                <?php else:?>
                <p>Ha alcanzado el limite de descargas usted podra solo descargar las gratuitas</p>
                <?php endif;?>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-warning btn-submit" type="button" id="confirm_delete"> Aceptar</button>
            </div>
        </div>
    </div>
</div>