<section class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb_section">
                    <div class="page_title">
                        <h3><?=$publi["name"]?></h3>
                    </div>
                    <div class="page_pagination">
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li>Pago</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="checkout_page section_padding_100_70">
    <div class="container">
        <form id="paypublication" action="" method="post" name="paypublication" rol="form" class="paypublication">
            <input id="publid" name="publid" type="text" class="hidden" value="<?=$publi["publid"]?>">
            <input id="price" name="price" type="text" class="hidden" value="<?=$publi["price"]?>">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="order_track">
                        <h3>Tu compra</h3>
                        <div class="order_table">
                            <table>
                                <thead>
                                <tr>
                                    <th class="p_name white">Publicación</th>
                                    <th class="p_total white">Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="cart_item">
                                    <td name="publid" class="hidden">
                                        <?=$publi["publid"]?>
                                    </td>
                                    <td name="name" class="product-name">
                                        <?=$publi["name"]?>
                                    </td>
                                    <td name="price" class="p_total">
                                        <span class="amount">$<?=$publi["price"]?></span>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="order-total">
                                    <th>Order Total</th>
                                    <td><span class="amount">$<?=$publi["price"]?></span></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="payment_method">
                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="One">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_one" aria-expanded="false" aria-controls="collapse_one">Transferencia de banco directa</a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="collapse_one" class="panel-collapse collapse" role="tabpanel" aria-labelledby="One">
                                        <div class="panel-body">
                                            <div class="radio-block">
                                                <label class="radio-inline">
                                                    <input type="radio" class="fax" value="TRANSFERENCIA" name="pay"> <strong class="trans">TRANSFERENCIA BANCARIA</strong><img src="http://umaee.edu.mx/front/inscription/bancos.png" alt="" class="img-responsive">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="Three">
                                        <h4 class="panel-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_three" aria-expanded="false" aria-controls="collapse_three">PayPal</a>
                                        </h4>
                                    </div>
                                    <div aria-expanded="false" id="collapse_three" class="panel-collapse collapse" role="tabpanel" aria-labelledby="Three">
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="radio-block">
                                                    <label class="radio-inline">
                                                        <input  type="radio" class="fax" value="PAYPAL" name="pay"> <strong>PAYPAL</strong><img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="place_order_button">
                    <button type="submit" id="sendM" data-loading-text="Por favor espera..." class="btn btn-default">Comprar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade in" id="background-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="content-fa pay">
                <h3 class="message-background" id="wm">Iniciando el pago, espere un momento por favor.....</h3>
                <h3 class="message-background hide" id="sc">AMGP te agradece tu compra, ¡Gracias por su compra!</h3>
                <h3 class="message-background hide" id="error-contact">Lo sentimos, ha ocurrido un error intente mas tarde.</h3>
                <h1><i class="fa fa-circle-o-notch fa-spin style-fa"></i></h1>
            </div>
        </div>
    </div>
</section>