<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session validate">
                    <i class="fa fa-lock titlechange"></i>
                    <p class="titlechange">Página en construcción</p>
                </div>
                <div class="login_form changepass validate">
                    <img src="/front/src/img/avisos/pagina-construccion.jpg" alt=""/>
                </div>
            </div>
        </div>
    </div>
</section>
