<style>
    .table{
        position: inherit !important;
    }
</style>
<section class="gallery_area column clearfix section_padding_100 publicaciones testimonial_client_area3dele">
    <div class="container">
        <div class="content-body">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section_heading text-center">
                        <h3 class="titleevent"><span> <?php echo $category2->getName();?></span></h3>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                    <span style="font-weight: bold;">Puedes filtrar por titulo o por autor</span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                    <span style="font-weight: bold;" id="i-descargas-disponibles"></span>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row" style="margin-bottom:10px;background: #0f3665;color: white;padding: 1em;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <h5 style="padding-bottom: 1em;">Fecha de búsqueda:</h5>
                        </div>
                      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden">
                        <h5 style="padding-bottom: 1em;">Desde:</h5>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <input type="number" class="form-control" name="date" min="1" max="31" placeholder="Día" value="1">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <input type="number" class="form-control" name="date" min="1" max="12" placeholder="Mes" value="1">
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                          <input type="number" class="form-control" name="date" min="2000" max="<?=date("Y")?>" placeholder="Año" value="2000">
                        </div>
                      </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden">
                            <h5 style="padding-bottom: 1em;">Hasta:</h5>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input type="number" class="form-control" name="dateFinal" min="1" max="31" placeholder="Día">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input type="number" class="form-control" name="dateFinal" min="1" max="12" placeholder="Mes">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input type="number" class="form-control" name="dateFinal" min="2000" max="<?=date("Y")?>" placeholder="Año">
                            </div>
                        </div>
                      
                      <div class="col-xs-12 col-sm-4">
                        <h5 style="padding-bottom: 1em;">Titulo:</h5>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="text" class="form-control" name="titulo" id="filtro-titulo">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4 hidden">
                        <h5 style="padding-bottom: 1em;">Nombre:</h5>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="text" class="form-control" name="name">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <h5 style="padding-bottom: 1em;">Autor:</h5>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                          <input type="text" class="form-control" name="autor" id="filtro-autor">
                        </div>
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 top2">
                        <h5 style="padding-bottom: 1em;" class="hidden">Buscar por palabra:</h5>
                        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 hidden">
                          <input type="text" class="form-control" name="palabra" placeholder="escribe una palabra...">
                        </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2"><button id="bFiltrar" type="button" class="btn btn-success botonstyle">Filtrar</button> </div>
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 hidden"><button id="bFiltrar" type="button" class="btn btn-danger botonstyle">Borrar filtrado</button> </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
                        <span style="font-weight: bold;">Usu</span> = Precio de usuario /
                        <span style="font-weight: bold;">Aso</span> = Precio de asociado /
                        <span style="font-weight: bold;">AsoEst</span> = Precio de asociado estudiante
                    </div>
                    <table id="generalDT" class="table table-bordered dt-responsive hidden" data-orderdt="0" data-filter="asc" cellspacing="0" width="100%">
                        <thead>
                        <tr style="">
                            <th style="text-align: center;">Categoría</th>
                            <th style="text-align: center;">Título</th>
                            <th style="text-align: center;">Autor(es)</th>
                            <th style="width: 130px; text-align: center;" >Fecha</th>
                            <th style="text-align: center;">Volumen</th>
                            <th style="text-align: center;">Número</th>
                            <th style="text-align: center;">Costo</th>
                            <th style="width: 100px !important;text-align: center;">Opciones&nbsp;&nbsp;&nbsp;&nbsp; </th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach($publi AS $key => $publis):?>
                            <tr>
                                <td class="hidden-xs"><?=\Modules\Models\CdCategorypublicaciones::findFirst("catpuid=".$publis->getCatpuid())->getName()?></td>
                                <td><a href="#"><?=$publis->name;?></a></td>
                                <td class="hidden-xs"><?=$publis->autor;?></td>
                                <td class="hidden-xs"><?=$arraydate[$key];?>-<?=$date2=date("Y",strtotime($publis->dateCreation));?></td>
                                <!--td class="hidden-xs"><?=$date2=date("Y-m",strtotime($publis->dateCreation));?></td-->
                                <td class="hidden-xs"><?=$publis->getVol()!=null?$publis->getVol():"-"?></td>
                                <td class="hidden-xs"><?=$publis->getNum()!=null?$publis->getNum():"-"?></td>
                                <!--td class="hidden-xs">Usu:<?=($publis->getPrice()!=null or $publis->getPrice()==0)?"$".number_format($publis->getPrice(), 2, '.', ''):"Gratis"?><br>
                                    Aso:<?=($publis->getPriceasociados()!=null or $publis->getPriceasociados()==0)?"$".number_format($publis->getPriceasociados(), 2, '.', ''):"Gratis"?><br>
                                    AsoEst:<?=($publis->getPriceestudiante()!=null or $publis->getPriceestudiante()==0)?"$".number_format($publis->getPriceestudiante(), 2, '.', ''):"Gratis"?></td-->
                                <td class="hidden-xs">Usu:<?=($publis->getFree()==0)?"$".number_format($publis->getPrice(), 2, '.', ''):"Gratis"?><br>
                                    Aso:<?=($publis->getFree()==0)?"$".number_format($publis->getPriceasociados(), 2, '.', ''):"Gratis"?><br>
                                    AsoEst:<?=($publis->getFree()==0)?"$".number_format($publis->getPriceestudiante(), 2, '.', ''):"Gratis"?></td>
                                <td>
                                        <a href="/api/administration/publicaciones/portada/<?=$publis->getPortada();?>" class="btn btn-default btn-rounded btn-xs" target="_black"><span class="fa fa-eye"></span></a>
                                        <!--a href="/pago/<?=$publis->publid;?>" class="btn btn-default btn-rounded btn-sm1"><span class="fa fa-cloud-download"></span></a-->
                                        <button id="descarga_<?=$publis->publid?>" data-id="<?=$publis->publid;?>" data-name="<?=$publis->name;?>" type="button" class="delete_value_table btn btn-info btn-xs" rel="tooltip" data-color-class="danger" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Eliminar posición" data-placement="top" <?=$web?"onclick='downloadFile(".$publis->getPublid().")'":"onclick='openmodal()'"?>><i class="fas fa-cloud-download-alt"></i></button>
                                        <?php
                                            $isRepeat = false;
                                           if($publis->getCatpuid()!=4){ ?>
                                           <?php if(isset($_COOKIE['carrito'])){ ?>
                                               <?php $cookie = json_decode($_COOKIE['carrito'],true);?>
                                               <?php for($i=0;$i<count($cookie);$i++){ ?>
                                                    <?php if($cookie[$i]['publid']==$publis->getPublid()){?>
                                                        <?php $isRepeat = true; ?>
                                                      <button id="carro_<?=$publis->getPublid()?>" disabled="disabled" class="btn btn-success btn-rounded btn-xs" <?=$web?"onclick='carrito(".$publis->getPublid().")'":"onclick='openmodal()'"?>><span class="fa fa-shopping-cart"></span></button>
                                                    <?php }?>
                                               <?php } ?>
                                                  <?php if($isRepeat!=true){ ?>
                                                        <button id="carro_<?=$publis->getPublid()?>"  class="btn btn-success btn-rounded btn-xs" <?=$web?"onclick='carrito(".$publis->getPublid().")'":"onclick='openmodal()'"?>><span class="fa fa-shopping-cart"></span></button>
                                                  <?php } ?>
                                                  <?php $isRepeat=false; ?>
                                            <?php }else{ ?>
                                               <button id="carro_<?=$publis->getPublid()?>" class="btn btn-success btn-rounded btn-xs" <?=$web?"onclick='carrito(".$publis->getPublid().")'":"onclick='openmodal()'"?>><span class="fa fa-shopping-cart"></span></button>
                                            <?php } ?>
                                        <?php } ?>
                                </td>
                            </tr>
                        <?php endforeach;?>
                        </tbody>
                    </table>
                </div>
                <div data-id="<?= $category_publi ?>" id="contenedor-publicaciones" style="">
              
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh-warning download">
                <button type="button" class="close publi" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title value_name_delete"></h4>
            </div>
            <div class="modal-body download">
                <p>
                    Esta seguro de descargar este documento usted tiene disponible <?=$disponible?>: <strong class="value_name_delete"></strong>?
                </p>
                <p>Presione "Si" si esta seguro.</p>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-warning btn-submit" type="button" id="confirm_delete"> Si</button>
            </div>
        </div>
    </div>
</div>