<section class="section_padding_100">
    <div class="container">
        <div class="row">

            <div class="col-xs-6 col-sm-6 col-md-6">
                <h2>Editar Datos del usuario</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                <a href="/perfil">Regresar a perfil <i class="fas fa-undo-alt" id="return-perfil"></i></a>
            </div>
            <section style="padding-top: 7%;">
            <form action="#" method="post" name="updateClient" id="updateClient">
                <span class="hide" id="key-security" data-key="<?php echo $this->security->getToken(); ?>"></span>
                <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                <input type="hidden" name="clid" id="clid" value="<?=$client->getClid();?>">

                <input type="hidden" name="stid" id="stid" value="<?= $user->getClid();?>">
                <input type="hidden" name="cuotid" id="cuotid" value="<?=$coutid?>">

                <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Datos Generales <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse in" aria-expanded="true">
                    <div class="panel-body">
                        <br>
                        <div class="form-group col-md-12">
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control change_Save2" name="name" id="name" placeholder="Nombres" required minlength="2" maxlength="50" value="<?=$user->getName()?$user->getName():""?>" data-type="1">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control change_Save2" name="lastname" id="lastname" placeholder="Apellido Paterno" required minlength="2" maxlength="50" value="<?=$user->getLastname()?$user->getLastname():""?>" data-type="1" data-workid="0">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control change_Save2" name="secondname" id="secondname" placeholder="Apellido Materno" required minlength="2" maxlength="50" value="<?=$user->getSecondname()?$user->getSecondname():""?>" data-type="1">
                            </div>
                        </div>




                        <div class="form-group col-md-6">
                                <div class="col-md-12">
                                    <select id="sex" name="sex" class="form-control change_Save2" required data-type="1">
                                        <option value="">Sexo</option>
                                        <option <?=$user->getSex()=="M"?"selected":""?> value="M">Masculino</option>
                                        <option <?=$user->getSex()=="F"?"selected":""?> value="F">Femenino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6 ">
                                <div class="col-md-12">
                                <input type="text" class="form-control" id="comid" name="comid" value="<?=$delegation->getName();?>" readonly>
                                </div>
                            </div>

                        <div class="form-group col-md-6" id="input_email">
                            <div class="col-md-12">
                                <input type="email" class="form-control emailAddress change_Save2" placeholder="Cuenta de correo" value="<?=$user->getEmail()?$user->getEmail():""?>" data-value="<?=$user->getEmail()?$user->getEmail():""?>" data-type="1" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-12">
                                <input type="text" class="form-control change_Save2"  name="phone" id="phone" placeholder="Celular" value="<?=$user->getPhone()?$user->getPhone():""?>" data-type="1" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <input type="text" class="form-control small-input change_Save2"  name="ladatel" id="ladatel" placeholder="Lada" value="<?=$user->getLadatel()?$user->getLadatel():""?>" data-type="1">
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control small-input change_Save2"  name="tel" id="tel" placeholder="Teléfono de casa" value="<?=$user->getTel()?$user->getTel():""?>" data-type="1">
                            </div>
                            <div class="col-md-3 margin3">
                                <input type="text" class="form-control small-input change_Save2"  name="ladaTelOficina" id="ladaTelOficina" placeholder="Lada" value="<?=$user->getLadaTelOficina()?$user->getLadaTelOficina():""?>" data-type="1">
                            </div>
                            <div class="col-md-6 margin3">
                                <input type="text" class="form-control small-input change_Save2"  name="telOficina" id="telOficina" placeholder="Teléfono de oficina" value="<?=$user->getTelOficina()?$user->getTelOficina():""?>" data-type="1">
                            </div>
                            <div class="col-md-3 margin3">
                                <input type="text" class="form-control small-input change_Save2"  name="extTelOficina" id="extTelOficina" placeholder="Ext." value="<?=$user->getExtTelOficina()?$user->getExtTelOficina():""?>" data-type="1">
                            </div>
                        </div>

                        <div class="form-group  col-md-6">
                            <div class="col-md-12">
                                <input type="text" class="form-control change_Save2" name="nacionalidad" id="nacionalidad" placeholder="Nacionalidad"  value="<?=$user->getNacionalidad()?$user->getNacionalidad():""?>" data-type="1" required>
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <div class="col-md-12">
                                <input type="text" class="form-control birthdate change_Save2" name="estadoCivil" id="estadoCivil" placeholder="Estado Civil"  value="<?=$user->getEstadoCivil()?$user->getEstadoCivil():""?>" data-type="1">
                            </div>
                        </div>


                        <div class="form-group  col-md-12">
                            <label class="col-md-4 col-sm-4 col-xs-12 col-lg-4 control-label text-left">Fecha Nacimiento<span>*</span></label>
                            <div class="col-md-2 col-sm-2 col-xs-12 col-lg-2">
                                <select id="daybirthdate" name="daybirthdate" class="form-control change_Save2" required data-type="1">
                                    <option value="">Día</option>
                                    <option <?=$user->getDaybirthdate()=="01"?"selected":""?> value="01">01</option>
                                    <option <?=$user->getDaybirthdate()=="02"?"selected":""?> value="02">02</option>
                                    <option <?=$user->getDaybirthdate()=="03"?"selected":""?> value="03">03</option>
                                    <option <?=$user->getDaybirthdate()=="04"?"selected":""?> value="04">04</option>
                                    <option <?=$user->getDaybirthdate()=="05"?"selected":""?> value="05">05</option>
                                    <option <?=$user->getDaybirthdate()=="06"?"selected":""?> value="06">06</option>
                                    <option <?=$user->getDaybirthdate()=="07"?"selected":""?> value="07">07</option>
                                    <option <?=$user->getDaybirthdate()=="08"?"selected":""?> value="08">08</option>
                                    <option <?=$user->getDaybirthdate()=="09"?"selected":""?> value="09">09</option>
                                    <option <?=$user->getDaybirthdate()=="10"?"selected":""?> value="10">10</option>
                                    <option <?=$user->getDaybirthdate()=="11"?"selected":""?> value="11">11</option>
                                    <option <?=$user->getDaybirthdate()=="12"?"selected":""?> value="12">12</option>
                                    <option <?=$user->getDaybirthdate()=="13"?"selected":""?> value="13">13</option>
                                    <option <?=$user->getDaybirthdate()=="14"?"selected":""?> value="14">14</option>
                                    <option <?=$user->getDaybirthdate()=="15"?"selected":""?> value="15">15</option>
                                    <option <?=$user->getDaybirthdate()=="16"?"selected":""?> value="16">16</option>
                                    <option <?=$user->getDaybirthdate()=="17"?"selected":""?> value="17">17</option>
                                    <option <?=$user->getDaybirthdate()=="18"?"selected":""?> value="18">18</option>
                                    <option <?=$user->getDaybirthdate()=="19"?"selected":""?> value="19">19</option>
                                    <option <?=$user->getDaybirthdate()=="20"?"selected":""?> value="20">20</option>
                                    <option <?=$user->getDaybirthdate()=="21"?"selected":""?> value="21">21</option>
                                    <option <?=$user->getDaybirthdate()=="22"?"selected":""?> value="22">22</option>
                                    <option <?=$user->getDaybirthdate()=="23"?"selected":""?> value="23">23</option>
                                    <option <?=$user->getDaybirthdate()=="24"?"selected":""?> value="24">24</option>
                                    <option <?=$user->getDaybirthdate()=="25"?"selected":""?> value="25">25</option>
                                    <option <?=$user->getDaybirthdate()=="26"?"selected":""?> value="26">26</option>
                                    <option <?=$user->getDaybirthdate()=="27"?"selected":""?> value="27">27</option>
                                    <option <?=$user->getDaybirthdate()=="28"?"selected":""?> value="28">28</option>
                                    <option <?=$user->getDaybirthdate()=="29"?"selected":""?> value="29">29</option>
                                    <option <?=$user->getDaybirthdate()=="30"?"selected":""?> value="30">30</option>
                                    <option <?=$user->getDaybirthdate()=="31"?"selected":""?> value="31">31</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-3">
                                <select id="mothbirthdate" name="mothbirthdate" class="form-control change_Save2" required data-type="1">
                                    <option value="">Mes</option>
                                    <option <?=$user->getMothbirthdate()=="01"?"selected":""?> value="01">Enero</option>
                                    <option <?=$user->getMothbirthdate()=="02"?"selected":""?> value="02">Febrero</option>
                                    <option <?=$user->getMothbirthdate()=="03"?"selected":""?> value="03">Marzo</option>
                                    <option <?=$user->getMothbirthdate()=="04"?"selected":""?> value="04">Abril</option>
                                    <option <?=$user->getMothbirthdate()=="05"?"selected":""?> value="05">Mayo</option>
                                    <option <?=$user->getMothbirthdate()=="06"?"selected":""?> value="06">Junio</option>
                                    <option <?=$user->getMothbirthdate()=="07"?"selected":""?> value="07">Julio</option>
                                    <option <?=$user->getMothbirthdate()=="08"?"selected":""?> value="08">Agosto</option>
                                    <option <?=$user->getMothbirthdate()=="09"?"selected":""?> value="09">Septiembre</option>
                                    <option <?=$user->getMothbirthdate()=="10"?"selected":""?> value="10">Octubre</option>
                                    <option <?=$user->getMothbirthdate()=="11"?"selected":""?> value="11">Noviembre</option>
                                    <option <?=$user->getMothbirthdate()=="12"?"selected":""?> value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 col-lg-3">
                                <select id="yearsbirthdate" name="yearsbirthdate" class="form-control change_Save2" required data-type="1">
                                    <option value="">Año</option>
                                    <?php
                                    $year = date("Y");
                                    for ($i= 1945; $i < $year-17 ; $i++) { //quitarle el +1 Aver ?
                                        $result = $user->getYearsbirthdate()=="$i"?"selected":"";
                                        echo "<option ".$result." value=".$i.">".$i."</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>


                        <div class="form-group  col-md-12">
                            <label class="col-md-6 control-label text-left">Asociado desde </label>
                            <div class="col-md-3">
                                <input type="text" readonly id="mothasociado" name="mothasociado" class="form-control change_Save2" data-type="1" value="<?=$moth;?>">
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="yearsasociado" name="yearsasociado" class="form-control change_Save2" data-type="1" value="<?=$year = date("Y");?>">
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-6">
                                <input type="text" class="form-control change_Save2" name="rfc" id="rfc"  placeholder="RFC" value="<?=$user->getRfc()?$user->getRfc():""?>" data-value="<?=$user->getRfc()?$user->getRfc():""?>" data-type="1">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control change_Save2"  name="curp" id="curp" placeholder="CURP" value="<?=$user->getCurp()?$user->getCurp():""?>" data-type="1">
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <label class="col-md-1 col-sm-1 col-xs-12 col-lg-1 control-label text-left font-rs">Facebook </label>
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <input type="text" class="form-control birthdate change_Save2" name="facebook" id="facebook" placeholder="Facebook"  value="<?=$user->getFacebook()?$user->getFacebook():""?>" data-type="1">
                            </div>
                            <label class="col-md-1 col-sm-1 col-xs-12 col-lg-1 control-label text-left font-rs">Twitter </label>
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <input type="text" class="form-control change_Save2" name="twitter" id="twitter" placeholder="Twitter"  value="<?=$user->getTwitter()?$user->getTwitter():""?>" data-type="1">
                            </div>
                            <label class="col-md-1 col-sm-1 col-xs-12 col-lg-1 control-label text-left font-rs">Instagram </label>
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <input type="text" class="form-control birthdate change_Save2" name="instagram" id="instagram" placeholder="Instagram"  value="<?=$user->getInstagram()?$user->getInstagram():""?>" data-type="1">
                            </div>
                        </div>




                    </div>
                </div>
                </div>



                <?php $id3=0; foreach($directionsall as $userDirection):?>
                <div class="direction2" id="<?=$userDirection->getDirclid()?>">
                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapsedir<?=$userDirection->getDirclid()?>">Domicilio <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </h4>
                </div>
                <div id="collapsedir<?=$userDirection->getDirclid()?>" class="panel-collapse collapse">
                    <div class="panel-body">
                    <br>
                    <input type="hidden" name="dirclid[]" value="<?=$userDirection->getDirclid()?>">
                    <?php if($statusDirection==0):?>
                    <div class="form-group">
                                                    <div class="col-md-6">
                                                        <select id="type<?=$userDirection->getDirclid()?>" name="type[]" class="form-control change_Save2" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                            <option <?=$userDirection->getType()==""?"selected":""?> value="">Seleccione el tipo de domicilio</option>
                                                            <option <?=$userDirection->getType()=="PARTICULAR"?"selected":""?> value="PARTICULAR">PARTICULAR</option>
                                                            <option <?=$userDirection->getType()=="OFICINA"?"selected":""?> value="OFICINA">OFICINA</option>
                                                            <option <?=$userDirection->getType()=="OTRO"?"selected":""?> value="OTRO">OTRO</option>
                                                        </select>
                                                    </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="calle[]" id="calle<?=$userDirection->getDirclid()?>" placeholder="Calle" value="<?=$userDirection->getCalle()?$userDirection->getCalle():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="numerointe[]" id="numerointe<?=$userDirection->getDirclid()?>" placeholder="Número interior" value="<?=$userDirection->getNumerointe()?$userDirection->getNumerointe():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="numeroexte[]" id="numeroexte<?=$userDirection->getDirclid()?>" placeholder="Número Exterior" value="<?=$userDirection->getNumeroexte()?$userDirection->getNumeroexte():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="colonia[]" id="colonia<?=$userDirection->getDirclid()?>" placeholder="Colonia" value="<?=$userDirection->getColonia()?$userDirection->getColonia():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="cp[]" id="cp<?=$userDirection->getDirclid()?>" placeholder="Código Postal" value="<?=$userDirection->getCp()?$userDirection->getCp():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="municipio[]" id="municipio<?=$userDirection->getDirclid()?>" placeholder="Municipio" value="<?=$userDirection->getMunicipio()?$userDirection->getMunicipio():""?>" data-type="3"  data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="localidad[]" id="localidad<?=$userDirection->getDirclid()?>" placeholder="Ciudad" value="<?=$userDirection->getLocalidad()?$userDirection->getLocalidad():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="estado[]" id="estado<?=$userDirection->getDirclid()?>" placeholder="Estado" value="<?=$userDirection->getEstado()?$userDirection->getEstado():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="pais[]" id="pais<?=$userDirection->getDirclid()?>" placeholder="País" value="<?=$userDirection->getPais()?$userDirection->getPais():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>

                                            </div>

                    <?php else:?>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h3>Por el momento no hay dirección</h3>
                    </div>
                    <?php endif;?>
                    </div>
                </div>
                </div>
                </div>
                <?php endforeach;?>
                <?php foreach ($workall as $key):?>
                  <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$key->getWorkclid()?>">Experiencia laboral <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      </h4>
                  </div>
                  <div id="collapse<?=$key->getWorkclid()?>" class="panel-collapse collapse">
                     <input type="hidden" name="workclid[]" value="<?=$key->getWorkclid()?>" >
                    <div class="panel-body">
                    <br>
                    <div class="form-group">
                            <div class="col-md-6">
                                <input name="empresa[]" class="form-control change_Save titulo" data-type="5" placeholder="EMPRESA" value="<?=$key->getEmpresa()?>" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control change_Save"  name="puesto[]" placeholder="PUESTO" value="<?=$key->getPuesto()?>"  required>
                            </div>
                    </div>
                  <div class="form-group">
                      <div class="col-md-6">
                          <select type="text" class="form-control change_Save"  name="actual[]"  placeholder="Trabajo" required>
                              <option value="">¿Es tu trabajo actual?</option>
                              <option <?=$key->getActual()=="SI"?'selected':''?> value="SI">Si</option>
                              <option <?=$key->getActual()=="NO"?'selected':''?> value="NO">No</option>
                          </select>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                  <br>
                  <div class="form-group has-feedback">
                                <label class="col-md-2 col-xs-12 col-lg-2 control-label">Fecha inicio </label>
                                <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2">
                                    <select name="mes[]" class="form-control keyup_Save" placeholder="Mes inicial" value="06" data-type="4" data-workid="320" style="text-transform: uppercase;" data-fv-field="mes">
                                        <option value="">Mes</option>
                                        <option <?=$key->getMes()=="01"?'selected':''?> value="01">Enero</option>
                                        <option <?=$key->getMes()=="02"?'selected':''?> value="02">Febrero</option>
                                        <option <?=$key->getMes()=="03"?'selected':''?> value="03">Marzo</option>
                                        <option <?=$key->getMes()=="04"?'selected':''?> value="04">Abril</option>
                                        <option <?=$key->getMes()=="05"?'selected':''?> value="05">Mayo</option>
                                        <option <?=$key->getMes()=="06"?'selected':''?> value="06">Junio</option>
                                        <option <?=$key->getMes()=="07"?'selected':''?> value="07">Julio</option>
                                        <option <?=$key->getMes()=="08"?'selected':''?> value="08">Agosto</option>
                                        <option <?=$key->getMes()=="09"?'selected':''?> value="09">Septiembre</option>
                                        <option <?=$key->getMes()=="10"?'selected':''?> value="10">Octubre</option>
                                        <option <?=$key->getMes()=="11"?'selected':''?> value="11">Noviembre</option>
                                        <option <?=$key->getMes()=="12"?'selected':''?> value="12">Diciembre</option>
                                    </select>
                                  </div>
                                <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2">
                                    <select id="anno320" name="anno[]" class="form-control keyup_Save" placeholder="Año inicial" value="06" data-type="4" data-workid="320" style="text-transform: uppercase;" data-fv-field="anno">
                                        <option value="">Año</option>
                                        <?php for ($i= $year; $i >= $year-55 ; $i--){?>
                                            <option <?=$key->getAnno()==$i?'selected':''?> value="<?=$i?>"><?=$i?></option>
                                        <?php } ?>
                                    </select><i class="form-control-feedback" data-fv-icon-for="anno" style="display: none;"></i>
                                </div>
                                <label class="col-md-2 col-xs-12 col-lg-2 control-label" id="label-date-end320">Fecha fin </label>
                                <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2" id="moth-date-end320">
                                    <select id="mesfinal320" name="mesfinal[]" class="form-control keyup_Save" placeholder="Mes inicial" value="" data-type="4" data-workid="320" style="text-transform: uppercase;" data-fv-field="mesfinal">
                                        <option value="">Mes</option>
                                        <option <?=$key->getMesfinal()=="01"?'selected':''?> value="01">Enero</option>
                                        <option <?=$key->getMesfinal()=="02"?'selected':''?> value="02">Febrero</option>
                                        <option <?=$key->getMesfinal()=="03"?'selected':''?> value="03">Marzo</option>
                                        <option <?=$key->getMesfinal()=="04"?'selected':''?> value="04">Abril</option>
                                        <option <?=$key->getMesfinal()=="05"?'selected':''?> value="05">Mayo</option>
                                        <option <?=$key->getMesfinal()=="06"?'selected':''?> value="06">Junio</option>
                                        <option <?=$key->getMesfinal()=="07"?'selected':''?> value="07">Julio</option>
                                        <option <?=$key->getMesfinal()=="08"?'selected':''?> value="08">Agosto</option>
                                        <option <?=$key->getMesfinal()=="09"?'selected':''?> value="09">Septiembre</option>
                                        <option <?=$key->getMesfinal()=="10"?'selected':''?> value="10">Octubre</option>
                                        <option <?=$key->getMesfinal()=="11"?'selected':''?> value="11">Noviembre</option>
                                        <option <?=$key->getMesfinal()=="12"?'selected':''?> value="12">Diciembre</option>
                                    </select>
                                  </div>
                                  <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2" id="annoselect3320">
                                      <select id="annofinal320" name="annofinal[]" class="form-control keyup_Save" placeholder="Año inicial" value="06" data-type="4" data-workid="320" style="text-transform: uppercase;" data-fv-field="annofinal">
                                            <option value="">Año</option>
                                            <?php for ($i= $year; $i >= $year-55 ; $i--){?>
                                                <option <?=$key->getAnnofinal()==$i?'selected':''?> value="<?=$i?>"><?=$i?></option>
                                            <?php } ?>
                                      </select>
                                  </div>
                            </div>
                              </div>
                    </div>
                  </div>
              <?php endforeach; ?>

                <?php $id2=0; foreach($estudiosall as $estudios):?>
                  <div class="panel panel-default">
                  <div class="panel-heading">
                      <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$estudios->getEstclid()?>">Formacion academica <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                      </h4>
                  </div>
                  <div id="collapse<?=$estudios->getEstclid()?>" class="panel-collapse collapse">
                       <input type="hidden" name="estclid[]" value="<?=$estudios->getEstclid()?>" >
                      <div class="panel-body">
                      <br>
                      <div class="form-group">
                                                  <?php if($userType == 'ESTUDIANTE'):?>
                                                      <div class="col-md-6">
                                                          <select id="titulo<?=$estudios->getEstclid()?>" name="titulo[]" class="form-control change_Save titulo" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                              <option <?=$estudios->getTitulo()==""?"selected":""?> value="">Seleccione el grado académico</option>
                                                              <option <?=$estudios->getTitulo()=="LICENCIATURA"?"selected":""?> value="LICENCIATURA">LICENCIATURA</option>
                                                              <option <?=$estudios->getTitulo()=="MAESTRÍA"?"selected":""?> value="MAESTRÍA">MAESTRÍA</option>
                                                              <option <?=$estudios->getTitulo()=="DOCTORADO"?"selected":""?> value="DOCTORADO">DOCTORADO</option>
                                                          </select>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <input type="text" class="form-control change_Save"  name="calificacion[]" id="calificacion<?=$estudios->getEstclid()?>" placeholder="Promedio General" value="<?=$estudios->getCalificacion()?$estudios->getCalificacion():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                      </div>
                                                  </div>
                                                      <div class="form-group">
                                                          <div class="col-md-6">
                                                              <input type="text" class="form-control change_Save"  name="especialidad[]" id="especialidad<?=$estudios->getEstclid()?>" placeholder="Semestre" value="<?=$estudios->getEspecialidad()?$estudios->getEspecialidad():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                          </div>
                                                  <?php else:?>
                                                      <div class="col-md-6">
                                                          <select id="titulo<?=$estudios->getEstclid()?>" name="titulo[]" class="form-control change_Save titulo" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                              <option value="">Seleccione el grado académico</option>
                                                              <option <?=$estudios->getTitulo()=="LICENCIATURA"?"selected":""?> value="LICENCIATURA">LICENCIATURA</option>
                                                              <option <?=$estudios->getTitulo()=="MAESTRÍA"?"selected":""?> value="MAESTRÍA">MAESTRÍA</option>
                                                              <option <?=$estudios->getTitulo()=="DOCTORADO"?"selected":""?> value="DOCTORADO">DOCTORADO</option>
                                                          </select>
                                                <?php endif; ?>
                                                      </div>
                                                      <div class="col-md-6">
                                                          <input type="text" class="form-control change_Save"  name="especialidad[]" id="especialidad<?=$estudios->getEstclid()?>" placeholder="Especialidadd" value="<?=$estudios->getEspecialidad()?$estudios->getEspecialidad():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                      </div>
                                              </div>
                                              <div class="form-group">
                                                  <div class="col-md-6">
                                                      <input type="text" class="form-control change_Save"  name="universidad[]" id="universidad<?=$estudios->getEstclid()?>" placeholder="Universidad" value="<?=$estudios->getUniversidad()?$estudios->getUniversidad():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                  </div>
                                                  <div class="col-md-6">
                                                      <input type="text" class="form-control change_Save"  name="carrera[]" id="carrera<?=$estudios->getEstclid()?>" placeholder="Carrera" value="<?=$estudios->getCarrera()?$estudios->getCarrera():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                  </div>
                                              </div>
                                              <?php if($userType == 'ESTUDIANTE'):?>
                                              <?php else:?>
                                                  <div class="form-group">

                                                      <label class="col-md-6 control-label">Fecha de Titulación </label>
                                                      <div class="col-md-3">

                                                          <select id="mesfinalstu<?=$estudios->getEstclid()?>" name="mesfinalstu[]" class="form-control change_Save" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                              <option value="">Mes</option>
                                                              <option <?=$estudios->getMesfinalstu()=="01"?"selected":""?> value="01">Enero</option>
                                                              <option <?=$estudios->getMesfinalstu()=="02"?"selected":""?> value="02">Febrero</option>
                                                              <option <?=$estudios->getMesfinalstu()=="03"?"selected":""?> value="03">Marzo</option>
                                                              <option <?=$estudios->getMesfinalstu()=="04"?"selected":""?> value="04">Abril</option>
                                                              <option <?=$estudios->getMesfinalstu()=="05"?"selected":""?> value="05">Mayo</option>
                                                              <option <?=$estudios->getMesfinalstu()=="06"?"selected":""?> value="06">Junio</option>
                                                              <option <?=$estudios->getMesfinalstu()=="07"?"selected":""?> value="07">Julio</option>
                                                              <option <?=$estudios->getMesfinalstu()=="08"?"selected":""?> value="08">Agosto</option>
                                                              <option <?=$estudios->getMesfinalstu()=="09"?"selected":""?> value="09">Septiembre</option>
                                                              <option <?=$estudios->getMesfinalstu()=="10"?"selected":""?> value="10">Octubre</option>
                                                              <option <?=$estudios->getMesfinalstu()=="11"?"selected":""?> value="11">Noviembre</option>
                                                              <option <?=$estudios->getMesfinalstu()=="12"?"selected":""?> value="12">Diciembre</option>
                                                          </select>
                                                          <!--<input type="text" class="form-control change_Save enddateestudio"  name="mesfinal" placeholder="Mes final" value="<?/*=$estudios->getMesfinal()?$estudios->getMesfinal():""*/?>" data-type="5" data-workid="<?/*=$estudios->getEstclid()*/?>">-->
                                                      </div>
                                                      <div class="col-md-3">
                                                          <select id="annofinalstu<?=$estudios->getEstclid()?>" name="annofinalstu[]" class="form-control change_Save" data-type="5"  data-workid="<?=$estudios->getEstclid()?>" required>
                                                              <option value="">Año</option>
                                                              <?php
                                                              $year = date("Y");
                                                              $yearSelect2 = $estudios->getAnnofinalstu();
                                                              for ($i= 1945; $i < $year+1 ; $i++) { //quitarle el +1 Aver ?
                                                                  $selected2 = $yearSelect2==$i?'selected':'';
                                                                  echo "<option ".$selected2." value=".$i.">".$i."</option>";
                                                              }
                                                              ?>
                                                          </select>
                                                      </div>
                                                  </div>
                                              <?php endif;?>
                      </div>
                  </div>
                  </div>

                <?php endforeach;?>

                <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                    <a href="/perfil">Documentos <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    </h4>
                </div>
                </div>


            <div class="clearfix"></div>

            <button class="btn btn-success" style="left: 83.5% !important; position: absolute; background-color: #51a457 !important;" type="submit">Actualizar</button>
            </div>





            </form>
            </section>
        </div>
    </div>
</section>
