<div class="container" style="padding-top: 14%;">
    <div class="text-center">
         <h1>Factura</h1>
    </div>
     <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        
                        <div class="col-md-5" style="background-color:white;">
                            <div class="form-group">
                                <label for="cliente" class="col-sm-2 control-label">Recibo</label>
                                <div class="col-sm-10">
                                    <input class="form-control" id="cliente" placeholder="cliente" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4" style="background-color:white;">
                            <div class="form-group">
                              
                                <label for="fecha" class="col-sm-5 control-label">Fecha factura</label>
                                <div class="col-sm-7">
                                    <input class="form-control" id="fecha" placeholder="fecha factura" type="date">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 target" style="background-color:white;">
                            <div class="form-group">
                                <label for="id" class="col-sm-3 control-label">Id</label>
                                <div class="col-sm-9">
                                    <input class="form-control" id="id" type="text">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 3%;">
                        <div class="col-md-6 target" style="background-color:white;">
                            <div class="form-group">
                                <label for="id" class="col-sm-3 control-label">Tipo de persona</label>
                                <div class="col-sm-9">
                                    <label><input type="radio" name="tipopersona" value="moral"> Moral</label>
                                    <input type="radio" name="tipopersona" value="fisica"> <label for="cbox2">Fisica</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 target" style="background-color:white;">
                            <div class="form-group">
                                <label for="id" class="col-sm-3 control-label">Uso de CFDI</label>
                                <div class="col-sm-9">
                                    <select style="    width: 100%;">
                                        <option>G01 Adquisición de mercancias</option>
                                        <option>G02 Devoluciones, descuentos o bonificaciones</option>
                                        <option>G03 Gastos en general</option>
                                        <option>I01 Construcciones</option>
                                        <option>I02 Mobilario y equipo de oficina por inversiones</option>
                                        <option>I03 Equipo de transporte</option>
                                        <option>I04 Equipo de computo y accesorios</option>
                                        <option>I05 Dados, troqueles, moldes, matrices y herramental</option>
                                        <option>I06 Comunicaciones telefónicas</option>
                                        <option>I07 Comunicaciones satelitales</option>
                                        <option>I08 Otra maquinaria y equipo</option>
                                        <option>D01 Honorarios médicos, dentales y gastos hospitalarios.</option>
                                        <option>D02 Gastos médicos por incapacidad o discapacidad</option>
                                        <option>D03 Gastos funerales.</option>
                                        <option>D04 Donativos.</option>
                                        <option>D05 Intereses reales efectivamente pagados por créditos hipotecarios (casa habitación).</option>
                                        <option>D06 Aportaciones voluntarias al SAR.</option>
                                        <option>D07 Primas por seguros de gastos médicos.</option>
                                        <option>D08 Gastos de transportación escolar obligatoria.</option>
                                        <option>D09 Depósitos en cuentas para el ahorro, primas que tengan como base planes de pensiones.</option>
                                        <option>D10 Pagos por servicios educativos (colegiaturas)</option>
                                        <option>P01 Por definir</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6"> 
                          <address>
                           <strong class=""><?php echo $user->getName();?>  <?php echo $user->getLastname();?> <?php echo $user->getSecondname();?></strong><br class="">
                            <?php echo $direction->getCalle(); ?> <?php echo $direction->getNumeroexte()==null?$direction->getNumerointe():$direction->getNumeroexte(); ?><br class="">
                            <?php echo $direction->getColonia();?> <?php echo $direction->getCp();?> <?php echo $direction->getLocalidad();?> <?php echo $direction->getEstado();?><br class="">
                            <?php echo $user->getRfc();?><br class="">                          
                           </address>
                        </div>
                   </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12" style="height: 400px;">
        <div class="panel panel-default">
        <div class="">
          <h3 class="panel-title" style="padding: 13px;">Detalle</h3>
          
          <table class="table table-condensed" style="height: auto;">
          <thead>
            <tr>
            <th class="">Producto</th>
            <th class="">Descripción</th>
            <th class="">cantidad</th>
            <th class="">precio</th>
            <th class="">tipo impuesto</th>
            <th class="">importe</th>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td class="">001</td>
            <td class="">Publicación 1</td>
            <td class="">1</td>
            <td class="">500.00</td>
            <td class="">Normal 16%</td>
            <td class="">$580.00</td>
            </tr>
            <tr>
            <td class="">002</td>
            <td class="">Publicación 2</td>
            <td class="">1</td>
            <td class="">600.00</td>
            <td class="">Normal 16%</td>
            <td class="">$696.00</td>
            </tr>
            <tr>
            <td class=""></td>
            <td class=""></td>
            <td class=""></td>
            <td class=""></td>
            <td class="">Total</td>
            <td class="">$1,276.00</td>
            </tr>
          </tbody>
          </table>
        </div>
         </div>
        </div>
    </div>
</div>
