
<section class="checkout_page section_padding_100_70 profile">
   <!--div class="col-xs-12 col-md-12 col-sm-12 title-section-profile margin-outb">
      <div class="container">
      </div>
   </div-->
   <div class="container">
      <div class="row mt-2">
         <div class="col-md-12 col-sm-12 mt-fer10">
            <div class="">
               <div class="col-xs-3 col-md-3r">
                  <div class="col-md-12 text-center content-img-perfil">
                     <img src="<?= $user->getPhoto()==(null||'')?'/front/src/images/perfilprueba.jpg':'/api/administration/registro/photo/'.$user->getPhoto()?>" class="perfilclass">
                  </div>
                  <div class="col-md-12 text-center mt-3 mb-3">
                     <p class="profile-rol"> <strong style="text-transform: uppercase;"><?=$user->getName()." ".$user->getLastname()." ".$user->getSecondname();?></strong> </p>
                     <?php if($user->getType()!='REGISTRO'):?>
                        <?php if($user->getValidateInscription()==2):?>
                        <span class="subtitle-user"><?= $rol!='AFILIADO'?'Asociado':''?> <?= $rol; ?></span>
                        <?php endif;?>
                     <?php else:?>
                        <?php if($user->getValidate()==2):?>
                           <span class="subtitle-user">USUARIO</span>
                        <?php endif;?>
                     <?php endif;?>
                  </div>
                  <ul class="nav nav-tabs">
                     <li class="tabs-profile active">
                        <a href="#a" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-user"></span> Mi perfil
                        </a>
                     </li>
                     <li class="tabs-profile">
                        <a href="#b" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-cloud-upload"></span> Subir trabajo
                        </a>
                     </li>
                     <li class="tabs-profile">
                        <a href="#c" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-folder-open"></span> Ver trabajos
                        </a>
                     </li>
                     <?php if($rol!='REGISTRO'):?>
                     <?php if($user->getValidateInscription()==2):?>
                     <li class="tabs-profile">
                        <a href="#d" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-globe"></span> Cambio de delegación
                        </a>
                     </li>
                     <li class="tabs-profile">
                        <a href="#e" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-credit-card"></span> Cambio de membresia
                        </a>
                     </li>
                     <?php endif; ?>
                     <?php if($pagoSolicitud):?>
                     <li class="tabs-profile">
                        <a href="#f" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-usd"></span> Recibo de pago
                        </a>
                     </li>
                     <li class="tabs-profile">
                        <a href="#h" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-ok-circle"></span> Mis Documentos
                        </a>
                     </li>
                     <?php endif; ?>
                     <?php if($statusSolicitud==0):?>
                     <?php else:?>
                     <?php if($pagoSolicitud):?>
                     <li class="tabs-profile">
                        <a href="#g" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-ok-circle"></span> Solicitud de ingreso
                        </a>
                     </li>
                     <?php endif; ?>
                     <?php endif; ?>
                     <?php endif; ?>
                     <?php $sugenrencia = $user->getSugerenciaTipoAsociado(); 
                     if($sugenrencia && $user->getValidateInscription()!=2 && $user->getValidate()!=1&&$user->getCompletedocument()!=1):?>
                     <?php if($urlpago==0):?>
                     <li class="tabs-profile">
                        <a href="/pagarinscripcion/<?=$user->getSugerenciaTipoAsociado();?>" class="tab-profile">
                           <span class="glyphicon glyphicon-folder-open"></span> Continuar pago de ingreso
                        </a>
                     </li>
                     <?php else:?>
                     <li class="tabs-profile">
                        <a href="/registro/afiliarse/<?=$user->getSugerenciaTipoAsociado();?>" class="tab-profile">
                           <span class="glyphicon glyphicon-folder-open"></span> Continuar solicitud de ingreso
                        </a>
                     </li>
                     <?php endif;?>
                     <?php endif;?>
                     <?php if($ayudamutua):?>
                     <?php if($ayudamutua->getStatus()!="FINALIZADO"):?>
                     <li class="tabs-profile">
                        <a href="/ayudamutua" class="tab-profile">
                           <span class="glyphicon glyphicon-user"></span> Ayuda Mutua
                        </a>
                     </li>
                     <?php else:?>
                     <li class="tabs-profile">
                        <a href="#i" class="tab-profile" data-toggle="tab">
                           <span class="glyphicon glyphicon-user"></span>  Ayuda Mutua
                        </a>
                     </li>
                     <?php endif;?>
                     <?php else:?>
                     <li class="tabs-profile">
                        <a href="/ayudamutua" class="tab-profile">
                           <span class="glyphicon glyphicon-user"></span> Ayuda Mutua
                        </a>
                     </li>
                     <?php endif;?>
                     <li class="tabs-profile">
                        <a href="/facturacion" class="tab-profile">
                           <span class="glyphicon glyphicon-usd"></span> Facturación
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="col-xs-9 col-md-9">
                  <div class="tab-content profile">
                     <div class="tab-pane profile active" id="a">
                        <div class="col-xs-12 col-md-12 re_customer_coupon_code">
                        <?php if($user->getType()=='ESTUDIANTE' && date("m/d")>="01/01" && date("m/d")<="02/28"):?>
                           <p class="statusClient" style="color:red;">RECUERDA ACTUALIZAR TU "COMPROBANTE DE ESTUDIOS CON PROMEDIO"</p>
                        <?php endif; ?>
                        <?php if($user->getType()!='REGISTRO'):?>
                        <?php if($user->getValidateInscription()==2):?>
                        <?php else:?>
                           <p class="statusClient">Estado actual de solicitud de ingreso: <br>
                              <span class="resaltar">
                              <?php if($user->getType()!='REGISTRO'){
                                    if($user->getvalidate()==1&&$user->getCompletedocument()==0){
                                       echo "Pendiente validación de correo electrónico, vaya a su bandeja de entrada.";
                                    }
                                    elseif($user->getvalidate()==2&&$user->getCompletedocument()==0){
                                       echo "Incompleta, vaya al menú lateral en la opción `Continuar solicitud de ingreso' ó 'Continuar pago de ingreso'.";
                                    }
                                    else echo "Su solicitud como Asociado ".$user->getTYPE()." esta siendo validada";
                                 }
                                 else{
                                    if($user->getvalidate()==1){
                                       echo "Pendiente validación de correo electrónico, vaya a su bandeja de entrada.";
                                    }
                                 }?>
                              </span>
                           </p>
                        <?php endif;?>
                        <?php else:?>
                           <?php if($user->getvalidate()==1):?>
                           <p class="statusClient">Estado actual de solicitud de ingreso: <span class="resaltar">"Pendiente validación de correo electrónico, vaya a su bandeja de entrada."</span>
                           <?php endif;?>
                        <?php endif;?>
                        </div>
                        <form action="#" method="post" id="newClientProfile" name="newClientProfile" role="form" class="form-horizontal">
                           <div class="row">
                              <div class="col-md-12 col-xs-12">
                                 <div class="order_track">
                                    <h3>Datos Generales</h3>
                                    <section class="section-data">
                                       <div class="form-group">
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-xs-12 control-label label1 text-left">Nombre: </label>
                                             <div class="col-md-12 col-xs-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?=$user->getName();?> <?=$user->getLastname();?> <?=$user->getSecondname();?>" disabled>
                                             </div>
                                          </div>
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-xs-12 control-label label1 text-left">Sexo: </label>
                                             <div class="col-md-12 col-xs-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?php if($user->getSex()=="M"):?>Masculino<?php elseif($user->getSex()=="F"):?>Femenino<?php elseif($user->getSex()==(""||NULL)):?>No seleccionado<?php endif;?>" disabled>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="form-group">
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-xs-12 control-label label1 text-left">Su delegación:</label>
                                             <div class="col-md-12 col-xs-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?=$delegationstatus==1?"":$delegation->getName()?>" disabled>
                                             </div>
                                          </div>
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-xs-12 control-label label1 text-left">Email: </label>
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?=$user->getEmail()?$user->getEmail():""?>" disabled>
                                             </div>
                                          </div>
                                       </div>
                                       <div class="form-group">
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-sm-12 col-xs-12 control-label label1 text-left">Fecha nacimiento: </label>
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?=$user->getDaybirthdate()?>-<?=$user->getMothbirthdate()?>-<?=$user->getYearsbirthdate()?>" disabled>
                                             </div>
                                          </div>
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-sm-12 col-xs-12 control-label label1 text-left">Asociado desde: </label>
                                             <div class="col-md-12 col-sm-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?=$user->getMothasociado()?>-<?=$user->getYearsasociado()?>" disabled>

                                             </div>
                                          </div>
                                       </div>
                                       <div class="form-group" id="input_email">
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-sm-2 col-xs-12 control-label label1 text-left">Teléfono: </label>
                                             <div class="col-md-12 col-sm-3 col-xs-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?=$user->getPhone();?>" disabled>
                                             </div>
                                          </div>
                                          <div class="col-md-6">
                                             <label class="col-md-12 col-xs-12 control-label label1 text-left">Fecha nacimiento: </label>
                                             <div class="col-md-12 col-sm-4 col-xs-12">
                                                <input type="" name="" class="input1" placeholder="" value="<?=$user->getDaybirthdate()?>-<?=$user->getMothbirthdate()?>-<?=$user->getYearsbirthdate()?>" disabled>
                                             </div>
                                          </div>
                                       </div>

                                       <div class="form-group">
                                          <div class="col-md-12 col-sm-12 col-xs-12">
                                             <button id="btn-submit" class="btn btn-default"><a href="/editar-datos-personales">Editar</a></button>
                                          </div>
                                       </div>
                                    </section>
                                 </div>
                              </div>
                           </div>
                        </form>
                     </div>
                     <div class="tab-pane profile" id="b">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <div class="register_form recibo-perfil">
                              <h3>Nuevo trabajo</h3>
                              <form action="#" method="post" id="newWorkProfile" name="newWorkProfile">
                                 <span class="hide" id="key-security" data-key="<?php echo $this->security->getToken(); ?>"></span>
                                 <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                                 <div class="form-group">
                                    <label class="form-label" for="name">Titulo* :</label>
                                    <span class="desc">Ej. "Investigacion de suelos"</span>
                                    <div class="controls relative">
                                       <input class="hide" id="clid" name="clid" value="<?=$clid?>" />
                                       <div class="background_load hidden">
                                          <i class="fa fa-spinner fa-spin fa-3x"></i>
                                       </div>
                                       <input id="note-title" type="text" class="form-control" placeholder="Titulo" name="name" required/>
                                       <i id="input-loader" class="fa fa-spinner fa-spin fade in hide"></i>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <span class="desc">"Se genera automáticamente"</span>
                                    <div class="controls">
                                       <input id="note-permalink" type="text" class="form-control" placeholder="Enlace o Permalink" name="permalink" required readonly/>
                                    </div>
                                 </div>
                                 <div class="form-group">
                                    <label class="form-label" for="permalink">Archivo* :</label>
                                    <span class="desc">"Archivo de la publicación"</span>
                                    <div class="controls">
                                       <div id="filePublicacionesPerfil" class="dropzone dz-default dz-message">
                                          <div class="dz-default dz-message">
                                             <h2 class="text-center">
                                                <i class="fas fa-cloud-download" style="font-size: 62px;"></i><br/>
                                                Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                <input type="hidden" name="file" id="input-image-work-profile"  value="">
                                             </h2>
                                          </div>
                                       </div>
                                    </div>
                                    <div class="clearfix"></div>
                                 </div>
                                 <input type="submit" class="btn btn-default" value="Guardar">
                              </form>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane profile" id="c">
                        <div class="col-xs-12">
                           <div class="table-style-works">
                              <h2>Mis Trabajos</h2>
                              <?php if ($status==1):?>
                                 <table class="order_history_table">
                                    <thead>
                                       <tr>
                                          <th>Número de trabajo</th>
                                          <th class="hidden-xs">Nombre</th>
                                          <th class="hidden-xs">Fecha de carga</th>
                                          <th class="hidden-xs">Observación</th>
                                          <th>Status</th>
                                          <th>Opciones</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <?php foreach ($publicaciones AS $key => $publi):?>
                                          <tr>
                                             <td><a href="#"><?=$publi["workid"];?></a></td>
                                             <td><a href="#"><?=$publi["name"];?></a></td>
                                             <td class="hidden-xs"><?=$publi["date_creation"];?></td>
                                             <td class="hidden-xs"><?=$publi["observation"];?></td>
                                             <td><?=$publi["status"];?></td>
                                             <td>
                                                <a href="<?= $this->url->get('trabajos/editar/'.$publi["workid"])?>" class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></a>
                                             </td>
                                          </tr>
                                       <?php endforeach;?>
                                    </tbody>
                                 </table>
                              <?php endif;?>
                           </div>
                        </div>
                     </div>
                     <div class="tab-pane profile" id="d">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <?php if($delegationstatus==1):?>
                              <h4>Por el momento no hay delegación</h4>
                           <?php else:?>
                              <div class="register_form recibo-perfil">
                                 <h3>Cambio de delegación</h3>
                                 <?php if($statusDelegation==1):?>
                                    <form action="#" method="post" id="updateDelegation" name="updateDelegation">
                                       <span class="hide" id="key-security" data-key="<?php echo $this->security->getToken(); ?>"></span>
                                       <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                                       <div class="form-group">
                                          <label class="form-label" for="name">Delegación a la que pertenece:</label>
                                          <div class="controls relative">
                                             <input class="hide" id="clid" name="clid" value="<?=$clid?>" />
                                             <input type="text" class="form-control" placeholder="Delegación" value="<?= $delegation->getName(); ?>" readonly/>
                                          </div>
                                       </div>
                                       <div class="form-group">
                                          <label class="form-label" for="name">Delegación a la que desea pertenecer:</label>
                                          <div class="controls relative">
                                             <select id="comid" name="comid" class="form-control" required>
                                                <option value="">Delegación</option>
                                                <?php foreach($delegationAll as $dele):?>
                                                   <option value="<?= $dele->getComid();?>"><?= $dele->name;?></option>
                                                <?php endforeach;?>
                                             </select>
                                          </div>
                                       </div>
                                       <button type="submit" id="btn-submit" class="btn btn-default">Solicitar</button>
                                    </form>
                                    <?php elseif($statusDelegation==2):?>
                                       <table class="order_history_table">
                                          <thead>
                                             <tr>
                                                <th>Número</th>
                                                <th class="hidden-xs">Fecha de solicitud</th>
                                                <th class="hidden-xs">Estatus</th>
                                                <th class="hidden-xs">Nueva Del.</th>
                                                <th>Del. Actual</th>
                                             </tr>
                                          </thead>
                                          <tbody>
                                             <?php foreach ($changeDele AS $key => $changedele):?>
                                                <tr>
                                                   <td><?=$changedele->getChcoid();?></td>
                                                   <td><?=$changedele->getDateCreation();?></td>
                                                   <td class="hidden-xs"><?=$changedele->getStatus();?></td>
                                                   <td class="hidden-xs"><?=$newDelegation->getName();?></td>
                                                   <td><?=$oldDelegation->getName();?></td>
                                                </tr>
                                             <?php endforeach;?>
                                          </tbody>
                                       </table>
                                    <?php endif?>
                              </div>
                           <?php endif;?>
                        </div>
                     </div>
                     <div class="tab-pane profile" id="e">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <div class="register_form recibo-perfil">
                              <h3>Cambio de membresia</h3>
                              <?php if($statusMembership==1):?>
                                 <form action="#" method="post" id="updateMembership" name="updateMembership">
                                    <span class="hide" id="key-security" data-key="<?php echo $this->security->getToken(); ?>"></span>
                                    <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                                    <div class="form-group">
                                       <label class="form-label" for="name">Tipo de asociado actual* :</label>
                                       <div class="controls relative">
                                          <input class="hide" id="clid" name="clid" value="<?=$clid?>" />
                                          <input class="hide" id="cuotaOld" name="cuotaOld" value="<?=$cuotaClientNow?>" />

                                          <input id="note-title" type="text" class="form-control" placeholder="Tipo de asociado" value="<?=$user->getTYPE();?>" name="old" readonly/>
                                       </div>
                                    </div>
                                    <div class="form-group">
                                       <label class="form-label" for="name">Tipo de asociado al que desea cambiar:</label>
                                       <div class="controls relative">
                                          <select id="cuotid" name="cuotid" class="form-control" required>
                                             <option value="">Tipo de asociado</option>
                                             <?php foreach($typeAsociado as $dele):?>
                                                <option value="<?= $dele->getCuotid();?>"><?= $dele->getName();?></option>
                                             <?php endforeach;?>
                                          </select>
                                       </div>
                                    </div>
                                    <button type="submit" class="btn btn-default">Solicitar</button>
                                 </form>
                              <?php elseif($statusMembership==2):?>
                                 <table class="order_history_table">
                                    <thead>
                                       <tr>
                                          <th>Número</th>
                                          <th class="hidden-xs">Fecha de solicitud</th>
                                          <th class="hidden-xs">Estatus</th>
                                          <th class="hidden-xs">Nueva Del.</th>
                                          <th>Del. Actual</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <?php foreach ($changeMember AS $key => $changemem):?>
                                          <tr>
                                             <td><?=$changemem->getChmemid();?></td>
                                             <td><?=$changemem->getDateCreation();?></td>
                                             <td class="hidden-xs"><?=$changemem->getStatus();?></td>
                                             <td class="hidden-xs"><?=$newMembership->getName();?></td>
                                             <td><?=$oldMembership->getName();?></td>
                                          </tr>
                                       <?php endforeach;?>
                                    </tbody>
                                 </table>
                              <?php endif?>
                           </div>
                        </div>
                     </div>
                     <!--?php if($user->getType()!='REGISTRO'):?-->
                     <div class="tab-pane profile" id="f">
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <div class="register_form recibo-perfil">
                              <?php if($user->getValidateInscription()==1):?>
                                 <?php if(!$cuota):?>
                                    <p>Por el momento no ha realizado ningun pago que tenga que subir recibo.</p>
                                 <?php else:?>
                                    <?php  if($cuota->getVerificando()==1||$cuota->getVerificando()==3):?>
                                    <h3>Cargar Recibo de Pago</h3>
                                    <form action="#" method="post" id="reciboPago" name="reciboPago">
                                       <input type="hidden" name="clid"  value="<?=$user->getClid();?>">
                                       <div class="form-group">
                                          <!--label class="form-label" for="permalink">Recibo* :</label>
                                          <span class="desc">"Recibo de pago"</span-->
                                          <div class="controls">
                                             <div id="fileReciboPago" class="dropzone dz-default dz-message" data-workid="<?=$user->getClid();?>">
                                                <div class="dz-default dz-message">
                                                   <h2 class="text-center">
                                                      <i class="fas fa-cloud-upload-alt" style="font-size: 62px;"></i><br/>
                                                      Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                      <input class="dz-filename" type="hidden" name="file" id="input-recibo-pago"  value="" require>
                                                   </h2>
                                                </div>
                                             </div>
                                          </div>
                                          <div class="clearfix"></div>
                                       </div>
                                       <button type="submit" id="btn-submit1111" class="btn btn-default">Cargar</button>
                                    </form>
                                    <?php endif;?>
                                 <?php endif;?>
                              <?php endif;?>
                              <br>
                              <?php if($cuotas):?>
                                 <p>Por el momento no ha realizado ningun pago que tenga que subir recibo.</p>
                                 <table class="order_history_table">
                                    <thead>
                                       <tr>
                                          <th class="hidden-xs">Fecha</th>
                                          <th class="hidden-xs">Estatus</th>
                                          <th class="hidden-xs">Metodo</th>
                                          <th>Cuota</th>
                                          <th>Monto</th>
                                          <th>Recibo</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <?php foreach ($cuotas AS $key => $cuota):?>
                                          <tr>
                                             <td><?=$cuota->getDateCreation();?></td>
                                             <td class="hidden-xs"><?=$cuota->getStatus();?></td>
                                             <td class="hidden-xs"><?=$cuota->getMethod();?></td>
                                             <td><?=$cuota->getNamecuota();?></td>
                                             <td>$<?=   number_format($cuota->getAmount(),"2",".",",")   ;?></td>
                                             <td><a href="/api/administration/registro/recibo/<?=$cuota->getVoucher();?>" target="_blank">Recibo</a></td>
                                          </tr>
                                       <?php endforeach;?>
                                    </tbody>
                                 </table>
                              <?php endif;?>
                           </div>
                        </div>
                     </div>
                     <!--?php endif;?-->
                     <?php if($statusSolicitud==0):?>
                     <?php else:?>
                     <div class="tab-pane profile" id="g">
                        <h4 class="text-center" style="padding-top: 1em;padding-bottom: 1em;">Estatus de solicitud</h4>
                        <div class="title-status-solicitud col-xs-12 col-md-12 col-lg-12">
                           <p class="nomemclatura">Nomenclatura: </p>
                           <p class="nomemclatura"><i class="fas fa-user-clock validate-wait stop" aria-hidden="true"></i> Sin asignar </p>
                           <p class="nomemclatura"><i class="fas fa-user-clock validate-wait" aria-hidden="true"></i> En espera  </p>
                           <p class="nomemclatura"><i class="fa fa-question validate-false" aria-hidden="true"></i> En observación </p>
                           <p class="nomemclatura"><i class="fa fa-times validate-falsee" aria-hidden="true"></i> Cancelada  </p>
                           <p class="nomemclatura"><i class="fa fa-check validate-truee" aria-hidden="true"></i> Verificado
                           </p>
                        </div>
                        <br>
                        <br>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <table class="order_history_table">
                              <thead>
                                 <tr>
                                    <th class="text-center">Tipo de solicitud</th>
                                    <th class="text-center no-padding">
                                       <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 border-all'>Local</div>
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 border-all'>membresía</div>
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 border-all'>tesorero</div>
                                    </th>
                                    <th class="text-center no-padding">
                                       <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 border-all'>Nacional</div>
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 border-all'>membresía</div>
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6 border-all'>tesorero</div>
                                    </th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <?php foreach($solicitud as $key => $val):?>
                                 <tr id="<?=$val->getClid();?>">
                                    <td class="alto-celda-solicitud"><?=$val->getType();?></td>
                                    <td class="text-center">
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
                                          <?php if($val->getObservadormembresia()==3):?>
                                             <i class="fa fa-check validate-true" aria-hidden="true"></i>
                                          <?php elseif($val->getObservadormembresia()==1):?>
                                             <i class="fa fa-question validate-false" aria-hidden="true"></i>
                                          <?php elseif($val->getObservadormembresia()==2):?>
                                             <i class="fa fa-question validate-false" aria-hidden="true"></i>
                                          <?php elseif($val->getObservadormembresia()==0):?>
                                             <i class="fas fa-user-clock validate-wait" aria-hidden="true"></i>
                                          <?php endif;?>
                                       </div>
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
                                          <?php if($val->getObservado()==3):?>
                                             <i class="fa fa-check validate-true" aria-hidden="true"></i>
                                          <?php elseif($val->getObservado()==1):?>
                                             <i class="fa fa-question validate-false" aria-hidden="true"></i>
                                          <?php elseif($val->getObservado()==2):?>
                                             <i class="fa fa-question validate-false" aria-hidden="true"></i>
                                          <?php elseif($val->getObservado()==0):?>
                                             <i class="fas fa-user-clock validate-wait" aria-hidden="true"></i>
                                          <?php endif;?>
                                       </div>
                                    </td>
                                    <td class="text-center">
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
                                          <?php if($val->getObservadormembresia()==5):?>
                                             <i class="fa fa-check validate-true" aria-hidden="true"></i>
                                          <?php elseif($val->getObservadormembresia()<3):?>
                                             <i class="fas fa-user-clock validate-wait stop" aria-hidden="true"></i>
                                          <?php elseif($val->getObservadormembresia()==3):?>
                                             <i class="fas fa-user-clock validate-wait" aria-hidden="true"></i>
                                          <?php endif;?>
                                       </div>
                                       <div class='col-lg-6 col-md-6 col-sm-6 col-xs-6'>
                                          <?php if($val->getObservado()==5):?>
                                             <i class="fa fa-check validate-true" aria-hidden="true"></i>
                                          <?php elseif($val->getObservado()<3):?>
                                             <i class="fas fa-user-clock validate-wait stop" aria-hidden="true"></i>
                                          <?php elseif($val->getObservado()==3):?>
                                             <i class="fas fa-user-clock validate-wait" aria-hidden="true"></i>
                                          <?php endif;?>
                                       </div>
                                    </td>
                                 </tr>
                                 <?php endforeach;?>
                              </tbody>
                           </table>
                        </div>
                        <?php if($statusObservation==1||$statusObservationStudio==1):?><br><br><br>
                        <h4 class="text-center" style="padding-top: 8em;padding-bottom: 1em;">Observaciones</h4>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <table class="order_history_table">
                              <thead>
                                 <tr>
                                    <th class="text-center">Archivo</th>
                                    <th class="text-center">Observación</th>
                                    <th class="text-center">Fecha</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <?php foreach($observaciones as $key => $val):?>
                                    <tr id="<?=$val->getObgeid();?>">
                                       <td class="alto-celda-solicitud"><?=$val->getType();?></td>
                                       <td class="text-center">
                                          <?=$val->getObservation()?>
                                       </td>
                                       <td class="text-center">
                                          <?=$val->getDateCreation()?>
                                       </td>
                                    </tr>
                                 <?php endforeach;?>
                                 <?php foreach($observacionesStudio as $key2 => $valStudio):?>
                                    <tr id="<?=$valStudio->getObstid();?>">
                                       <td class="alto-celda-solicitud"><?=$valStudio->getTitulo();?></td>
                                       <td class="text-center">
                                          <?=$valStudio->getObservation()?>
                                       </td>
                                       <td class="text-center">
                                          <?=$valStudio->getDateCreation()?>

                                       </td>
                                    </tr>
                                 <?php endforeach;?>
                              </tbody>
                           </table>
                           <button class="afiliacion">
                              <a href="/registro/observaciones">Atender observaciones</a>
                           </button>
                        </div>
                        <?php endif;?>
                     </div>
                     <?php endif;?>
                     <div class="tab-pane profile" id="h">
                        <br>
                        <br>
                        <h4 class="text-center">Estatus de solicitud</h4>
                        <br>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                           <p> Archivo cargado<i class="fa fa-check validate-true incomplete" aria-hidden="true" style="margin-left: 2em;"></i><p>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-6">
                           <p>Archivo sin cargar<i class="fa fa-times validate-false incomplete" aria-hidden="true" style="margin-left: 2em;"></i><p>
                        </div>
                        <br>
                        <br>
                        <div class="col-xs-12 col-md-12 col-lg-12">
                           <table class="order_history_table">
                              <thead>
                                 <tr>
                                    <th class="text-center">Archivo</th>
                                    <th class="text-center">Estatus</th>
                                 </tr>
                              </thead>
                              <tbody>
                                 <tr>
                                    <td class="alto-celda-solicitud">Acta de nacimiento</td>
                                    <td class="text-center">
                                       <?php if($user->getActanacimiento()==null||$user->getActanacimiento()==""):?>
                                       <i class="fa fa-times validate-false incomplete" aria-hidden="true"></i>
                                       <?php else:?>
                                          <a  href="/api/administration/registro/acta/<?=$user->getActaNacimiento()?>" target="_blank">
                                             <i class="fas fa-eye"></i>
                                          </a>
                                          <i class="fa fa-check validate-true incomplete" aria-hidden="true"></i>
                                       <?php endif;?>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td class="alto-celda-solicitud">Curriculum Viate</td>
                                    <td class="text-center">
                                       <?php if($user->getCv()==null||$user->getCv()==""):?>
                                       <i class="fa fa-times validate-false incomplete" aria-hidden="true"></i>
                                       <?php else:?>
                                          <a  href="/api/administration/registro/cv/<?=$user->getCv()?>" target="_blank">
                                             <i class="fas fa-eye"></i>
                                          </a>
                                          <i class="fa fa-check validate-true incomplete" aria-hidden="true"></i>
                                       <?php endif;?>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td>Foto</td>
                                    <td>
                                       <?php if($user->getPhoto()==null||$user->getPhoto()==""):?>
                                       <i class="fa fa-times validate-false incomplete" aria-hidden="true"></i>
                                       <?php else:?>
                                          <a  href="/api/administration/registro/photo/<?=$user->getPhoto()?>" target="_blank">
                                             <i class="fas fa-eye" style="position: relative;left: -1em;"></i>
                                          </a>
                                          <i class="fa fa-check validate-true incomplete" aria-hidden="true"></i>
                                       <?php endif;?>
                                    </td>
                                 </tr>
                                 <?php foreach($estudios as $key2 => $valStudio):?>
                                    <?php if($user->getType()=="ESTUDIANTE"):?>
                                       <tr>
                                          <td class="alto-celda-solicitud">Comprobante de estudios con promedio de <?=$valStudio->getTitulo()?></td>
                                          <td class="text-center">
                                             <?php if($valStudio->getDocument()==null||$valStudio->getDocument()==""):?>
                                             <i class="fa fa-times validate-false incomplete" aria-hidden="true"></i>
                                             <?php else:?>
                                                <a  href="/api/administration/registro/titulo/<?=$valStudio->getDocument()?>" target="_blank">
                                                   <i class="fas fa-eye"></i>
                                                </a>
                                                <i class="fa fa-check validate-true incomplete" aria-hidden="true"></i>
                                             <?php endif;?>
                                          </td>
                                       </tr>
                                    <?php else:?>
                                       <tr>
                                          <td class="alto-celda-solicitud">Titulo de <?=$valStudio->getTitulo()?></td>
                                          <td class="text-center">
                                             <?php if($valStudio->getDocument()==null||$valStudio->getDocument()==""):?>
                                                <i class="fa fa-times validate-false incomplete" aria-hidden="true"></i>
                                             <?php else:?>
                                                <a  href="/api/administration/registro/titulo/<?=$valStudio->getDocument()?>" target="_blank">
                                                   <i class="fas fa-eye"></i>
                                                </a>
                                                <i class="fa fa-check validate-true incomplete" aria-hidden="true"></i>
                                             <?php endif;?>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td class="alto-celda-solicitud">Cedula de <?=$valStudio->getTitulo()?></td>
                                          <td class="text-center">
                                             <?php if($valStudio->getCedula()==null||$valStudio->getCedula()==""):?>
                                                <i class="fa fa-times validate-false incomplete" aria-hidden="true"></i>
                                             <?php else:?>
                                                <a  href="/api/administration/registro/cedula/<?=$valStudio->getCedula()?>" target="_blank">
                                                   <i class="fas fa-eye"></i>
                                                </a>
                                                <i class="fa fa-check validate-true incomplete" aria-hidden="true"></i>
                                             <?php endif;?>
                                          </td>
                                       </tr>
                                    <?php endif;?>
                                 <?php endforeach;?>
                              </tbody>
                           </table>
                           <button class="afiliacion"><a href="/registro/documentos-incompletos">Cargar documentos</a></button>
                        </div>
                     </div>
                     <?php if($ayudamutua):?>
                     <?php if($ayudamutua->getStatus()=="FINALIZADO"):?>
                     <div class="tab-pane profile" id="i">
                        <div class="container">
                           <div class="row">
                              <h4 class="text-center" style="margin-top: 10% !important;">Felicidades cuenta con Ayuda Mutua</h4> 
                           </div>
                        </div>
                     </div>
                     <?php endif;?>
                     <?php endif;?>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="message-box-info">
   <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
         ...
      </div>
   </div>
</div>