<section class="home2 section_padding_60 about testimonial_client_area3dele">
	<div class="container about">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container about">
				<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 bhoechie-tab-menu">
					<div class="list-group">
						<?php $id=1; foreach($tabs as $bene):?>
						<a href="#" class="list-group-item <?=$id==1?'active':''?> text-center">
							<?=$bene->name;?>
						</a>
							<?php $id++; endforeach;?>
						<a href="#" class="list-group-item text-center">
							Directiva Nacional
						</a>
						<a href="#" class="list-group-item text-center">
							Primera Directiva
						</a>
					</div>
				</div>
				<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 bhoechie-tab whiteback">
					<?php $id=1; foreach($tabs as $bene):?>
						<div class="bhoechie-tab-content <?=$id==1?'active':''?> about">
							<section class="our_mission_vision_area section_padding_60 history">
								<div class="row">
									<div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
										<div class="about_us_text text-justify">
											<?=$bene->content;?>
										</div>
									</div>
								</div>
							</section>
						</div>
					<?php $id++; endforeach;?>
					<div class="bhoechie-tab-content about">
						<section class="our_mission_vision_area section_padding_60 directiva">
							<div class="section_heading title-asociaciones">
								<div class="leftTitle col-md-4">
								</div>
								<div class="col-md-4">
									<h3 class="title-directiva-nacional">Directiva <span>Nacional</span></h3>
								</div>
								<div class="rightTitle  col-md-4">
								</div>
							</div>
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="row">
											<?php $count=1; foreach($directiva as $val):?>
												<div class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
													<div class="single_advisor_profile2 directiva">
														<div class="row">
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<img class="imgDirectiva" src="/api/administration/partners/<?=$val->name;?>" alt="">
															</div>
															<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
																<div class="directivaDescription">
																	<h5><?=$val->title;?></h5>
																	<p class="descriptionDirectiva"><?=$val->description;?></p>
																</div>
															</div>
														</div>
													</div>
												</div>
												<?php $count++;endforeach;?>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12">
								<button type="submit" class="btn btn-default more"><a href="/directivas-anteriores">Directivas anteriores</a></button>
							</div>
						</section>
					</div>
					<div class="bhoechie-tab-content about">
						<section class="our_mission_vision_area section_padding_60 primera">
							<div class="section_heading title-asociaciones">
								<div class="leftTitle col-md-4">
								</div>
								<div class="col-md-4">
									<h3>Primera <span>Directiva</span></h3>
								</div>
								<div class="rightTitle  col-md-4">
								</div>
							</div>
							<div id="myCarousel" class="carousel slide" data-ride="carousel">
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<div class="row">
											<?php $count=1; foreach($primera as $val):?>
												<div class="col-xs-6 col-sm-6 col-md-4">
													<div class="single_advisor_profile2 directiva">
														<div class="row">
															<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
																<img class="imgDirectiva" src="/api/administration/partners/<?=$val->name;?>" alt="">
															</div>
															<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
																<div class="directivaDescription">
																	<h5><?=$val->title;?></h5>
																	<p class="descriptionDirectiva"><?=$val->description;?></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											<?php $count++;endforeach;?>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="testimonial_client_area3dele section_padding_60 vision">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="about_us_thumb vision">
					<img class="mision-vision" src="/api/administration/vision/<?=$about->imgvision;?>" alt="">
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="about_us_text text-justify">
					<?=$about->mission;?>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="testimonial_client_area3dele section_padding_60 mision">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="about_us_text text-justify">
					<?=$about->view;?>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="about_us_thumb mision">
					<img class="mision-vision" src="/api/administration/mision/<?=$about->imgmision;?>" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cool_facts_area home2 section_padding_60">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="cool_fact_text wow fadeInUp" data-wow-delay="0.2s">
					<i class="fa fa-institution" aria-hidden="true"></i>
					<h3><span class="counter"><?=$about->delegations;?></span></h3>
					<h5>Delegaciones</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="cool_fact_text wow fadeInUp" data-wow-delay="0.4s">
					<i class="fa fa-users" aria-hidden="true"></i>
					<h3><span class="counter"><?=$about->partners;?></span></h3>
					<h5>Asociados</h5>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4">
				<div class="cool_fact_text wow fadeInUp" data-wow-delay="0.6s">
					<i class="fa fa-book" aria-hidden="true"></i>
					<h3><span class="counter"><?=$about->publication;?></span></h3>
					<h5>Publicaciones</h5>
				</div>
			</div>
		</div>
	</div>
</section>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<section class="our_advisor_area advisor section_padding_100_70about testimonial_client_area3dele">
				<div class="container">
					<div class="row">
						<div class="section_heading title-asociaciones">
							<div class="leftTitle col-md-4">
							</div>
							<div class="col-md-4">
								<h3>EX <span>PRESIDENTES</span></h3>
							</div>
							<div class="rightTitle  col-md-4">
							</div>
						</div>
						<?php if($slider):?>
						<?php foreach($slider as $k => $vls):?>
							<?php if($k<6):?>
								<div class="col-xs-6 col-sm-6 col-md-2">
									<div class="single_advisor_profile expresidentes">
										<div class="advisor_thumb expresidentes">
											<img src="/api/administration/partners/<?=$vls->name;?>" alt="">
										</div>
										<div class="single_advisor_details_info">
											<h5><?=$vls->title;?></h5>
											<p><?=$vls->description;?></p>
										</div>
									</div>
								</div>
								<?php endif?>
							<?php endforeach?>
						<?php else:?>
							<div class="col-xs-6 col-sm-6 col-md-3">
								<h3>No hay registro por el momento</h3>
							</div>
						<?php endif;?>
						<div class="col-xs-12 more">
							<button type="submit" class="btn btn-default more2"><a href="/control/expresidentes">Ver Más</a></button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
<div id="myCarousel2" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<section class="our_advisor_area advisor section_padding_100_70about   testimonial_client_area3dele">
				<div class="container">
					<div class="row">

						<div class="section_heading title-asociaciones">
							<div class="leftTitle col-md-4">
							</div>
							<div class="col-md-4">
								<h3>SOCIOS <span> FUNDADORES</span></h3>
							</div>
							<div class="rightTitle  col-md-4">
							</div>
						</div>
						<?php if($fundadores):?>
							<?php foreach($fundadores as $key => $vl):?>
								<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInUp">
									<div class="single_speciality sitios">
										<div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 imagesitios">
											<div class="single_speciality_icon">
												<a class="namesitios" href="#" target="_blank"><img class="iconosSitios" src="/api/administration/partners/<?=$vl->name;?>" alt=""></a>
											</div>
										</div>
										<div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 titlesitios">
											<div class="single_speciality_text sitios">
												<p class="sociosname"><?=$vl->title;?></p>
											</div>
										</div>

									</div>
								</div>
							<?php endforeach?>
						<?php else:?>
							<div class="col-xs-6 col-sm-6 col-md-3">
								<h3>No hay registro por el momento</h3>
							</div>
						<?php endif;?>
						<div class="col-xs-12 more">
							<button type="submit" class="btn btn-default more2"><a href="/socios-fundadores">Ver Más</a></button>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>