<section class="section_padding_100 testimonial_client_area3dele">
    <div class="container">
        <div class="row">
            <section>
                <div class="wizard">
                    <div class="wizard-inner">
                        <div class="connecting-line"></div>
                        <ul class="nav nav-tabs" role="tablist" id="myTabs">
                            <li role="presentation" class="active">
                                <a href="#step1" data-number="0" data-toggle="tab" aria-controls="step1" role="tab" title="Datos personales">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-folder-open"></i>
                                    <br>
                                </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#step2" id="step2" data-number="1" data-toggle="tab" aria-controls="step2" role="tab" title="Datos para correspondencia">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-envelope"></i>
                                    <br>
                                </span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step3" data-number="2" data-toggle="tab" aria-controls="step3" role="tab" title="Formación academica">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-education"></i>
                                    <br>
                                </span>
                                </a>
                            </li>
                            <li role="presentation" class="disabled">
                                <a href="#step4" data-number="3" data-toggle="tab" aria-controls="step4" role="tab" title="Experiencia laboral">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-briefcase"></i>
                                    <br>
                                </span>
                                </a>
                            </li>

                            <li role="presentation" class="disabled">
                                <a href="#complete" data-number="4" data-toggle="tab" aria-controls="complete" role="tab" title="Completo">
                                <span class="round-tab">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    <br>
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                        <div class="tab-content">
                            <div class="tab-pane active" role="tabpanel" id="step1">
                                <form role="form" action="#" method="post" id="formAfiliarse" name="formAfiliarse">
                                    <input type="hidden" id="clid" name="clid" value="<?=$user->clid?>">
                                <div class="step1">
                                    <div class="step_21">
                                        <div class="row">
                                            <h4><strong>Datos personales</strong></h4>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Nombre</label>
                                                <input type="text" class="form-control" name="nombre" id="form_name" placeholder="Tu nombre *" value="<?= $user->name?>" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Apellido Paterno</label>
                                                <input type="text" class="form-control" name="apellido" id="form_lastname" placeholder="Tu Apellido Paterno *" value="<?=$user->lastname?>" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Apellido Materno</label>
                                                <input type="text" class="form-control" name="apellidomaterno" id="form_lastname2" placeholder="Tu Apellido Materno " value="<?=$user->secondname?>">
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">Sexo</label>
                                                <br>
                                                <select name="sexo" id="visa_status" class="dropselectsecafili">
                                                    <option value="">Sexo</option>
                                                    <option value="M">Masculino</option>
                                                    <option value="F">Femenino</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Delegación</label>
                                                <br>
                                                <select name="delegacion" id="delegacion" class="dropselectsecafili">
                                                    <option value="">Delegación</option>
                                                    <?php foreach($delegationAll as $dele):?>
                                                    <option value="<?= $dele->name;?>"><?= $dele->name;?></option>
                                                    <?php endforeach;?>
                                                </select>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="exampleInputEmail1">Asociado desde (año)</label>
                                                <input type="text" class="form-control" name="annoasociado" id="form_name" placeholder="Año de asociado">
                                            </div>
                                            <div class="col-md-3"  id="dateTop">
                                                <label for="exampleInputEmail1">Fecha</label>
                                                <input type="text" class="form-control" id="datepicker" name="fecha" value="Ingresa fecha">
                                            </div>
                                        </div>
                                        <div class="row">


                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" name="fecha" id="exampleInputEmail1" placeholder="Email"  value="<?=$user->email?>">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Teléfono</label>
                                                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Teléfono"  name="phone" value="<?=$user->phone?>">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li>
                                        <button type="submit" class="btn btn-primary next-step btn-submit" value="Actualizar" data-value="Actualizar" data-message="Actualizando...">Guardar y continuar</button>
                                    </li>
                                </ul>
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step2">
                                <form role="form" action="#" method="post" id="formDirectionAfiliarse" name="formDirectionAfiliarse">
                                <div class="step2">
                                    <div class="step_21">
                                        <div class="row">
                                            <h4><strong>Datos para correspondencia</strong></h4>
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">Domicilio</label>
                                                <br>
                                                <select name="visa_status" id="visa_status" class="dropselectsecafili">
                                                    <option value="">Domicilio</option>
                                                    <option value="M">Particular</option>
                                                    <option value="F">Rentado</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">RFC</label>
                                                <input type="text" class="form-control" name="rfc" id="form_lastname" placeholder="RFC *" required>
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Calle</label>
                                                <input type="text" class="form-control" name="calle" id="form_lastname2" placeholder="Calle">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">Número</label>
                                                <input type="text" class="form-control" name="numero" id="form_lastname2" placeholder="Número">
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Colonia</label>
                                                <input type="text" class="form-control" name="colonia" id="colonia" placeholder="Colonia">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">C.P.</label>
                                                <input type="text" class="form-control" name="cp" id="cp" placeholder="Codigo Postal">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="exampleInputEmail1">Municipio</label>
                                                <input type="text" class="form-control" name="municipio" id="municipio" placeholder="Municipio *" required>
                                            </div>
                                            <div class="col-md-3"  id="dateTop">
                                                <label for="exampleInputEmail1">Localidad</label>
                                                <input type="text" class="form-control" name="localidad" id="localidad" placeholder="Localidad *" required>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Estado</label>
                                                <input type="email" class="form-control" name="estado" id="exampleInputEmail1" placeholder="Estado">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Pais</label>
                                                <input type="email" class="form-control" name="pais" id="exampleInputEmail1" placeholder="País">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <h5><strong>Datos para recibo fiscal</strong></h5>
                                            <div class="col-md-4 col-xs-3">
                                                <p align="right"><stong>Usar mis datos de correspondencia</stong></p>
                                            </div>
                                            <div class="col-md-8 col-xs-9">
                                                <label class="radio-inline">
                                                    <input type="radio" name="repetir" id="inlineRadio2" value="si"> Si
                                                </label>
                                                <label class="radio-inline">
                                                    <input type="radio" name="repetir" id="inlineRadio3" value="no"> No
                                                </label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Calle</label>
                                                <input type="text" class="form-control" name="callefiscal" id="form_lastname2" placeholder="Calle">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">Número</label>
                                                <input type="text" class="form-control" name="numerofiscal" id="form_lastname2" placeholder="Número ">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Colonia</label>
                                                <input type="text" class="form-control" name="coloniafiscal" id="form_lastname2" placeholder="Colonia ">
                                            </div>
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">C.P.</label>
                                                <input type="text" class="form-control" name="cp" id="form_lastname2" placeholder="Codigo postal ">
                                            </div>
                                        </div>

                                        <div class="row">


                                            <div class="col-md-3">
                                                <label for="exampleInputEmail1">Municipio</label>
                                                <input type="text" class="form-control" name="municipiofiscal" id="form_name" placeholder="Municipio *" required>
                                            </div>
                                            <div class="col-md-3"  id="dateTop">
                                                <label for="exampleInputEmail1">Localidad</label>
                                                <input type="text" class="form-control" name="localidadfiscal" id="form_name" placeholder="Localidad *" required>
                                            </div>
                                            <div class="col-md-3">
                                                <label for="exampleInputEmail1">Estado</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" name="estadofiscal" placeholder="Estado">
                                            </div>
                                            <div class="col-md-3">
                                                <label for="exampleInputEmail1">Pais</label>
                                                <input type="email" class="form-control" name="paisfiscal" id="exampleInputEmail1" placeholder="País">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Regresar</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Salvar y continuar</button></li>
                                </ul>
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step3">
                                <form role="form" action="#" method="post" id="formAcademyAfiliarse" name="formAcademyAfiliarse">
                                <div class="step3">
                                    <div class="step_21">
                                        <div class="row">
                                            <h4><strong>Formación academica</strong></h4>
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">Titulo</label>
                                                <br>
                                                <select name="titulo" id="visa_status" class="dropselectsecafili">
                                                    <option value="LICENCIATURA">Licenciatura</option>
                                                    <option value="MAESTRÍA">Maestría</option>
                                                    <option value="DOCTORADO">Doctorado</option>
                                                </select>
                                            </div>
                                            <div class="col-md-5">
                                                <label for="exampleInputEmail1">Universidad</label>
                                                <input type="text" class="form-control" name="universidad" id="form_lastname" placeholder="Universidad *" required>
                                            </div>
                                            <div class="col-md-5">
                                                <label for="exampleInputEmail1">Carrera</label>
                                                <input type="text" class="form-control" name="carreraacademia" id="form_lastname2" placeholder="Carrera ">
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">Mes</label>
                                                <input type="text" class="form-control" name="mesacademia" id="form_lastname2" placeholder="Tu Apellido Materno ">
                                            </div>

                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Año</label>
                                                <input type="text" class="form-control" name="annoacademia" id="form_lastname2" placeholder="Tu Apellido Materno ">
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">País</label>
                                                <input type="text" class="form-control" name="paisacademia" id="form_name" placeholder="País *" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Regresar</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Salvar y continuar</button></li>
                                </ul>
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="step4">
                                <form role="form" action="#" method="post" id="formWorkAfiliarse" name="formWorkAfiliarse">
                                <div class="step4">
                                    <div class="step_21">
                                        <div class="row">
                                            <h4><strong>Experiencia laboral</strong></h4>

                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Empresa</label>
                                                <input type="text" class="form-control" name="empresa" id="form_lastname" placeholder="Empresa *" required>
                                            </div>
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Puesto</label>
                                                <input type="text" class="form-control" name="puesto" id="form_lastname2" placeholder="Puesto ">
                                            </div>
                                        </div>

                                        <div class="row">
                                            <h6><strong>Periodo laboral</strong></h6>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Mes</label>
                                                <br>
                                                <select name="mesinicial" id="visa_status" class="dropselectsecafili">
                                                    <option value="enero">Enero</option>
                                                    <option value="febrero">Febrero</option>
                                                    <option value="marzo">Marzo</option>
                                                    <option value="abril">Abril</option>
                                                    <option value="mayo">Mayo</option>
                                                    <option value="junio">Junio</option>
                                                    <option value="julio">Julio</option>
                                                    <option value="agosto">Agosto</option>
                                                    <option value="septiembre">Septiembre</option>
                                                    <option value="octubre">Octubre</option>
                                                    <option value="noviembre">Noviembre</option>
                                                    <option value="diciembre">Diciembre</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <label for="exampleInputEmail1">Año</label>
                                                <input type="text" class="form-control" name="annoinicial" id="form_lastname2" placeholder="Año inicial ">
                                            </div>
                                            <div class="col-md-4">
                                                <label for="exampleInputEmail1">Mes</label>
                                                <br>
                                                <select name="visa_status" id="visa_status" class="dropselectsecafili">
                                                    <option value="enero">Enero</option>
                                                    <option value="febrero">Febrero</option>
                                                    <option value="marzo">Marzo</option>
                                                    <option value="abril">Abril</option>
                                                    <option value="mayo">Mayo</option>
                                                    <option value="junio">Junio</option>
                                                    <option value="julio">Julio</option>
                                                    <option value="agosto">Agosto</option>
                                                    <option value="septiembre">Septiembre</option>
                                                    <option value="octubre">Octubre</option>
                                                    <option value="noviembre">Noviembre</option>
                                                    <option value="diciembre">Diciembre</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2"  id="dateTop">
                                                <label for="exampleInputEmail1">año</label>
                                                <input type="text" class="form-control" name="annofin" id="form_name" placeholder="Año final" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <ul class="list-inline pull-right">
                                    <li><button type="button" class="btn btn-default prev-step">Regresar</button></li>
                                    <li><button type="button" class="btn btn-primary next-step">Salvar y continuar</button></li>
                                </ul>
                                </form>
                            </div>
                            <div class="tab-pane" role="tabpanel" id="complete">
                                <div class="step44">
                                    <h5>Completed</h5>


                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
