<div style="height: 200px;"></div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>Carrito de compra</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<table class="table" style="position: relative!important">
            <thead>
              <tr>
                <th>Producto</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
             <?php for($i=0;$i<count($cookie);$i++){ ?>
	              <tr id="productocarrito_<?=$cookie[$i]['publid']?>">
	                <td><?=$cookie[$i]['name']?></td>
	                <td>
	                	<button onclick="eliminarProducto(<?=$cookie[$i]['publid']?>)" class="btn btn-warning">Quitar</button>
	                </td>
	              </tr>
	          <?php } ?>     
            </tbody>
          </table>
		</div>
		<div class="col-md-4 carrito_summary">
			<h2>RESUMEN</h2>
			<?php $total =0; ?>
			<?php for($i=0;$i<count($cookie);$i++){ ?>
			<div class="row margePrecios" id="preciocarrito_<?=$cookie[$i]['publid']?>">
				<div class="col-md-6 col-sm-6 col-xs-6"><?=$cookie[$i]['name']?></div>
				<div class="col-md-6 col-sm-6 col-xs-6">$<?=$cookie[$i]['price']?>.00</div>	
			</div>
			<?php $total+=$cookie[$i]['price'];?>
	        <?php } ?> 
			<div id="precio">
				<div class="col-md-6 col-sm-6 col-xs-6"><span>TOTAL</span></div>
				<div class="col-md-6 col-sm-6 col-xs-6"><span id="precioTotal">$<?=$total?>.00</span></div>
			</div>
			<button id="btnPagarCarrito">Pagar</button>
		</div>
	</div>
</div>
