<section class="section_padding_100 testimonial_client_area3dele">
    <br>
    <br>
    <br>
    <section class="testimonial_client_area3dele home2 section_padding_60 inicio ">
        <div class="container">
            <div class="row">
                <div class="section_heading text-center bene">
                    <div class="leftTitle col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    </div>
                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4">
                        <h3 class="title-beneficios">Directorio <span> AMGP</span></h3>
                    </div>
                    <div class="rightTitle  col-md-4 col-xs-4 col-sm-4 col-lg-4">
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container inicio">
                    <div class="container"><h1>Directorio de delegaciones</h1></div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 bhoechie-tab-menu">
                        <div class="list-group">
                            <?php $count = 1;foreach(array_keys($delegation) as $key => $name):?>
                                <?php if($name=='DIRECTIVA NACIONAL'):?>
                                <a href="#" class="list-group-item <?=$count==1?"active":"";?> text-center" data-image="http://amgp.org/api/administration/slider/58d0631bba65d_58cc22ff746fa_58c39b9a3c31d_slider2.jpg">
                                    <?=$name?>
                                </a>
                                <?php $count++; endif;?>
                            <?php  endforeach;?>


                            <?php foreach(array_keys($delegation) as $key => $name):?>
                                <?php if($name!='DIRECTIVA NACIONAL'):?>
                                    <a href="#" class="list-group-item <?=$count==1?"active":"";?> text-center" data-image="http://amgp.org/api/administration/slider/58d0631bba65d_58cc22ff746fa_58c39b9a3c31d_slider2.jpg">
                                        <?=$name?>
                                    </a>
                                    <?php $count++; endif;?>
                            <?php  endforeach;?>
                        </div>
                    </div>
                    <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11 bhoechie-tab">
                    <?php $count=1;foreach(array_keys($delegation) as $key => $name):?>
                        <?php if($name=='DIRECTIVA NACIONAL'):?>
                            <div class="bhoechie-tab-content <?=$count==1?"active":"";?> ">
                                <?php foreach($delegation[$name] as $k => $dele):?>
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                    <div class="single_advisor_profile2 row" style="height: auto;">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="advisor_thumb directoryDelegation">
                                                <img class="img-directory-contact" src="/api/administration/directory/<?=$dele["image"];?>" alt="">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="single_advisor_details_info directory">
                                                <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                <p class="black-bold cargo"><?=$dele["position"];?></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0;padding-left: 0;">
                                            <div class="single_advisor_details_info directory">
                                                <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <?php endforeach;?>
                            </div>
                        <?php $count++; endif;?>
                    <?php  endforeach;?>
                    <?php foreach(array_keys($delegation) as $key => $name):?>
                        <?php if($name!='DIRECTIVA NACIONAL'):?>
                            <div class="bhoechie-tab-content <?=$count==1?"active":"";?> ">
                                <?php foreach($delegation[$name] as $k => $dele):?>
                                    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                        <div class="single_advisor_profile2 row" style="height: auto;">
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <div class="advisor_thumb directoryDelegation">
                                                    <img class="img-directory-contact" src="/api/administration/directory/<?=$dele["image"];?>" alt="">
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                <div class="single_advisor_details_info directory">
                                                    <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                    <p class="black-bold cargo"><?=$dele["position"];?></p>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-right: 0;padding-left: 0;">
                                                <div class="single_advisor_details_info directory">
                                                    <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <?php endforeach;?>
                            </div>
                            <?php $count++; endif;?>
                        <?php  endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--div class="container fondo2">
        <div class="row form contactanos">
            <div class="col-md-12">
                <div class="container"><h1>Directorio de delegaciones</h1></div>
                <div id="exTab1" class="container">
                    <ul class="nav nav-pills">
                        <?php $count = 1;foreach(array_keys($delegation) as $key => $name):?>
                            <?php if($name=='DIRECTIVA NACIONAL'):?>
                                <li class="<?=$count==1?"active":"";?>"><a class="tab-directory" href="#<?= preg_replace('/\s+/', '',strtolower($name));?>" data-toggle="tab"><?=$name?></a></li>
                            <?php $count++; endif;?>
                        <?php  endforeach;?>

                        <?php foreach(array_keys($delegation) as $key => $name):?>
                            <?php if($name!='DIRECTIVA NACIONAL'):?>
                                <li class="<?=$count==1?"active":"";?>"><a class="tab-directory" href="#<?= preg_replace('/\s+/', '',strtolower($name));?>" data-toggle="tab"><?=$name?></a></li>
                            <?php $count++; endif;?>
                        <?php endforeach;?>
                    </ul>
                    <div class="tab-content clearfix">
                        <?php $count=1;foreach(array_keys($delegation) as $key => $name):?>
                            <?php if($name=='DIRECTIVA NACIONAL'):?>
                                <div class="tab-pane <?=$count==1?"active":"";?>" id="<?=preg_replace('/\s+/', '',strtolower($name))?>">
                                    <?php foreach($delegation[$name] as $k => $dele):?>
                                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                            <div class="single_advisor_profile2">
                                                <div class="advisor_thumb directoryDelegation">
                                                    <img src="/api/administration/directory/<?=$dele["image"];?>" alt="">
                                                </div>
                                                <div class="single_advisor_details_info directory">
                                                    <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                    <p class="black-bold"><?=$dele["position"];?></p>
                                                    <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endforeach;?>
                                </div>
                            <?php $count++; endif;?>
                        <?php endforeach;?>
                        <?php foreach(array_keys($delegation) as $key => $name):?>
                            <?php if($name!='DIRECTIVA NACIONAL'):?>
                                <div class="tab-pane <?=$count==1?"active":"";?>" id="<?=preg_replace('/\s+/', '',strtolower($name))?>">
                                    <?php foreach($delegation[$name] as $k => $dele):?>
                                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                            <div class="single_advisor_profile2">
                                                <div class="advisor_thumb directoryDelegation">
                                                    <img src="/api/administration/directory/<?=$dele["image"];?>" alt="">
                                                </div>
                                                <div class="single_advisor_details_info directory">
                                                    <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                    <p class="black-bold"><?=$dele["position"];?></p>
                                                    <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endforeach;?>
                                </div>
                            <?php $count++; endif;?>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div-->
</section>
<section class="cool_facts_area home2">
    <div class="container">
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-12">
                <div class="message_title">
                    <h3 class="contactanos">Escríbenos!</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xs-12 col-md-12">
                <form action="#" method="post" id="contactForm" name="contactForm">
                    <div class="contact_input_area">
                        <div id="success_fail_info"></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="form_name" placeholder="Tu nombre *" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="form_email" placeholder="Tu Correo *" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="form_subject" placeholder="Asunto *" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="phone" id="form_phone" placeholder="Tu Número *" required>
                                </div>
                            </div>

                            <!--div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select name="from_delegation" id="delegation1" class="form-control select2" required>
                                        <option value="ACTIVE" selected>Nacional</option>
                                        <option value="ACTIVE">Coatzacoalcos</option>
                                        <option value="ACTIVE">Villahermosa</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select name="form_personal" id="personal1" class="form-control select2" required>
                                        <option value="ACTIVE" selected>Presidente</option>
                                        <option value="ACTIVE">Vice Presidente</option>
                                        <option value="ACTIVE">Secretario</option>
                                    </select>
                                </div>
                            </div-->
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea name="form_message" class="form-control" id="msg" cols="10" rows="5" placeholder="Mensaje *" required></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <div id="form-success" class="alert alert-success hidden" role="alert">El mensaje se ha enviado correctamente</div>
                                    <div id="form-warning" class="alert alert-warning hidden" role="alert">Ha ocurrido un error, intente nuevamente por favor</div>
                                    <button type="submit" class="btn btn-dark btn-theme-colored btn-flat" id="sendM" data-loading-text="Por favor espera...">Enviar mensaje</button>
                                </div>
                                <!--button type="submit" class="btn btn-default">Enviar</button-->
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
