<main class="main">
 
<div class="page-title text-center">
<h2 class="title"> Careers </h2>
<p class="description light"> Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
<br> Phosfluorescently whiteboard fully tested initiatives. </p>
</div>
 
 
<div class="breadcrumbs">
<div class="container">
<span class="parent"> <i class="fa fa-home"></i> <a href="index.html"> Inicio </a> </span>
<i class="fa fa-chevron-right"></i> <span class="child"> Formatos </span>
</div>
</div>
<div class="container">

<section id="careers-open" class="careers-open-positions">
<h2 class="positions-title title-2 text-center"> OPEN POSITIONS </h2>
<div class="spacer-50"> </div>
<div class="open-positions">
<ul>
<li>
<div class="designation">
<h4 class="subtitle"><a href="careers-single.html"> Associate Admin. Customer Services </a> </h4>
<span>REMOTE</span>
</div>
<div class="location">
<p class="state">Melbourne</p>
<p class="country">Australia</p>
</div>
<a href="careers-single.html" class="btn btn-primary" role="button">VIEW AND APPLY</a>
</li>
<li>
<div class="designation">
<h4 class="subtitle"> <a href="careers-single.html"> Credit Assessment Manager </a> </h4>
<span>FULL TIME</span>
</div>
<div class="location">
<p class="state">Hamburg</p>
<p class="country">Germany</p>
</div>
<a href="careers-single.html" class="btn btn-primary" role="button">VIEW AND APPLY</a>
</li>
<li>
<div class="designation">
<h4 class="subtitle"> <a href="careers-single.html"> Legal Counsel - Patent </a> </h4>
<span>PART-TIME</span>
</div>
<div class="location">
<p class="state">Martinez</p>
<p class="country">United Sates</p>
</div>
<a href="careers-single.html" class="btn btn-primary" role="button">VIEW AND APPLY</a>
</li>
<li>
<div class="designation">
<h4 class="subtitle"> <a href="careers-single.html"> Process Engineer </a> </h4>
<span>FULL TIME</span>
</div>
<div class="location">
<p class="state">Melbourne</p>
<p class="country">Australia</p>
</div>
<a href="careers-single.html" class="btn btn-primary" role="button">VIEW AND APPLY</a>
</li>
<li>
<div class="designation">
<h4 class="subtitle"> <a href="careers-single.html"> Construction OEM Business Development Manager </a> </h4>
<span>FULL TIME</span>
</div>
<div class="location">
<p class="state">Gurgaon</p>
<p class="country">India</p>
</div>
<a href="careers-single.html" class="btn btn-primary" role="button">VIEW AND APPLY</a>
</li>
<li>
<div class="designation">
<h4 class="subtitle"> <a href="careers-single.html"> Quality Assurance Specialist </a> </h4>
<span>FULL TIME</span>
</div>
<div class="location">
<p class="state">Shanghai</p>
<p class="country">China</p>
</div>
<a href="careers-single.html" class="btn btn-primary" role="button">VIEW AND APPLY</a>
</li>
</ul>
</div>
</section>
</div>
</main>