<section class="section_padding_60 gacetasview">
    <div class="container">
        <div class="row">
            <div class="section_heading interes text-center">
                <h3>Gaceta  <span><?= $gaceta->name;?></span></h3>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8">
                <div class="testimonials_area">

                    <?= $gaceta->iframe;?>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 text-center">
                <h4 class="download-gacetas">Descargar gaceta</h4>
                <a href="/api/administration/publicaciones/<?= $gaceta->file;?>" target="_blank"><i class="fas fa-cloud-download-alt gaceta" aria-hidden="true" style="font-size: 120px;color: white;position: relative !important;left: 0;"></i></a>
            </div>
        </div>
    </div>
</section>