<main class="main">
	<div class="page-title text-center">
		<h2 class="title"> Fundadores </h2>
		<!--p class="description light"> Holisticly brand sustainable solutions rather than clicks-and-mortar applications.
		<br> Phosfluorescently whiteboard fully tested initiatives. </p-->
	</div>
	 
	<div class="breadcrumbs">
		<div class="container">
			<span class="parent"> <i class="fa fa-home"></i> <a href="/"> Inicio </a> </span>
				<i class="fa fa-chevron-right"></i>
			<span class="child"> Acerca de Fundadores </span>
		</div>
	</div>
	<div class="container">
		<div class="row about-sidebar">
			<div class="col-md-9 about-content">
				<!--section class="about-company">
					<div class="com">
					<h2 class="company-title color-title"> NUESTRA ASOCIACIÓN </h2>
					<h4 class="company-subtitle subtitle"> Nuestra asociación se fortalece con nuestros asociados. </h4>
					<p> Descripción de nuestra asociación.</p>
					<p> Segunda descripción de nuestra asociación.</p>
					</div>
				</section-->
				<section class="about-leaders">
					<div class="section-title text-center">
						<h2 class="title-services-other title-2"> Nuestro Fundadores </h2>
						<h4 class="subtitle-services-other subtitle-2">Estos son nuestros fundadores.</h4>
						<div class="spacer-50"> </div>
					</div>
					<div class="row leaders text-center">
						<div class="col-sm-4">
							<div class="img-hover-effect">
								<img src="front/src/images/gregory.jpg" alt="Gregory">
								<div class="social-links">
									<a href="#"> <i class="fa fa-facebook"></i> </a>
									<a href="#"> <i class="fa fa-twitter"></i> </a>
									<a href="#"> <i class="fa fa-linkedin"></i> </a>
								</div>
							</div>
							<h4 class="subtitle">Gregory Walker</h4>
							<p>Presidente</p>
						</div>
						<div class="col-sm-4">
							<div class="img-hover-effect">
								<img src="front/src/images/patrick.jpg" alt="Patrick">
								<div class="social-links">
									<a href="#"> <i class="fa fa-facebook"></i> </a>
									<a href="#"> <i class="fa fa-twitter"></i> </a>
									<a href="#"> <i class="fa fa-linkedin"></i> </a>
								</div>
							</div>
							<h4 class="subtitle">Patrick Morgan</h4>
							<p>Vicepresidente</p>
						</div>
						<div class="col-sm-4">
							<div class="img-hover-effect">
								<img src="front/src/images/taylor.jpg" alt="Taylor">
								<div class="social-links">
									<a href="#"> <i class="fa fa-facebook"></i> </a>
									<a href="#"> <i class="fa fa-twitter"></i> </a>
									<a href="#"> <i class="fa fa-linkedin"></i> </a>
								</div>
							</div>
							<h4 class="subtitle">Taylor White</h4>
							<p>Secretario</p>
						</div>
						<div class="clearfix spacer-50"></div>
						<div class="col-sm-4">
							<div class="img-hover-effect">
								<img src="front/src/images/david.jpg" alt="David">
								<div class="social-links">
									<a href="#"> <i class="fa fa-facebook"></i> </a>
									<a href="#"> <i class="fa fa-twitter"></i> </a>
									<a href="#"> <i class="fa fa-linkedin"></i> </a>
								</div>
							</div>
							<h4 class="subtitle">David Hanson</h4>
							<p>Prosecretario</p>
						</div>
						<div class="col-sm-4">
							<div class="img-hover-effect">
								<img src="front/src/images/kathryn.jpg" alt="Kathryn">
								<div class="social-links">
									<a href="#"> <i class="fa fa-facebook"></i> </a>
									<a href="#"> <i class="fa fa-twitter"></i> </a>
									<a href="#"> <i class="fa fa-linkedin"></i> </a>
								</div>
							</div>
							<h4 class="subtitle">Kathryn Stephens</h4>
							<p>Tesorero</p>
						</div>
						<div class="col-sm-4">
							<div class="img-hover-effect">
								<img src="front/src/images/clifton.jpg" alt="Clifton">
								<div class="social-links">
									<a href="#"> <i class="fa fa-facebook"></i> </a>
									<a href="#"> <i class="fa fa-twitter"></i> </a>
									<a href="#"> <i class="fa fa-linkedin"></i> </a>
								</div>
							</div>
							<h4 class="subtitle">Clifton Mitchell</h4>
							<p>Pretesorero</p>
						</div>
					</div>
				</section>
			</div>
			<div class="col-md-3 sidebar left">
				<div class="sidebar-blog-categories">
					<ul>
					<li> <a href="company.html"> AMGP </a> </li>
					<li> <a href="mission.html"> Visión &amp; Misión </a> </li>
					<li> <a href="innovation.html"> Delegaciones </a> </li>
					<li> <a href="/fundadores"> Fundadores </a> </li>
					<li> <a href="leaders.html"> Formatos </a> </li>
					</ul>
				</div>
				<div class="sidebar-download">
					<div class="download-file color-bg">
						<a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> Download PDF <span>1.5 MB</span>
						</a>
					</div>
				</div>
				<div class="sidebar-fact">
					<h3 class="about-quick-fact">Quick Fact</h3>
					<p>Distinctively fashion in the effect of standard products communities via seamless applications. Authoritatively recaptiualize.</p>
					<a href="#" class="btn btn-primary about-quick-fact-button" role="button">CALL TO ACTION</a>
				</div>
			</div>
		</div>
	</div>
</main>