<section class="maintenence_area">
    <div class="table">
        <div class="table_cell">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--div class="c_logo">
                            <img src="/front/src/img/core-img/logo.png" alt="">
                        </div-->
                        <div class="status_bar">
                            <!--p class="text-justify nota">La página de la AMGP está siendo remodelada para brindarle una mejor experiencia, pronto tendrá noticias de nosotros y un portal más eficiente.</p>
                            <p class="text-justify nota">Por lo pronto la solicitud de ingreso a la AMGP se realizará de la manera tradicional, mediante el formato en PDF editable adjunto a este mensaje, que deberá entregarse en formato digital o impreso a los responsables de la Mesa Directiva de la Delegación de su preferencia, acompañado de copia de su acta de nacimiento, su Cédula, título y/o kardez en caso de ser estudiante.</p-->
                            <p class="text-justify nota">Da clic en la imagen para descargar el formato de inscripción</p>

                                <a href="front/src/data/Formato AMGP1_Sol_Ingreso.pdf" target="_blank" download="FormatoIngresoAMGP">
                                <img src="/front/src/images/index/explicacion.png" alt="" class="img-responsive">
                            </a>
                        </div>
                        <!--div class="social_share_area">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>