<section class="maintenence_area">
    <div class="table">
        <div class="table_cell">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <!--div class="c_logo">
                            <img src="/front/src/img/core-img/logo.png" alt="">
                        </div-->
                        <div class="status_bar">
                            <p>La página de la AMGP está siendo remodelada para brindarle una mejor experiencia, pronto tendrá noticias de nosotros y un portal más eficiente. </p>
                            <img src="/front/src/img/core-img/en-construccion.png" alt="" class="img-responsive">
                        </div>
                        <!--div class="social_share_area">
                            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>