<div class="price_plan_area price section_padding_100_50 planes">
    <div class="container">
        <div class="section_heading text-center">
            <h3 class="titleevent">Tipos de <span>Asociados</span></h3>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <?php foreach($estudiantes as $estudiante):?>
            <div class="col-sm-4 col-md-4">
                <div class="single_price_plan">
                    <div class="title">
                        <?php $name = strtoupper($estudiante->getName())?>
                        <h3><?=$name;?></h3>
                    </div>
                    <div class="description">
                        <p class="text-justify"><?=$estudiante->getDescription();?></p>
                        <?php $today=strtotime(date("d-m-Y H:i:00")); $anno=date("Y");  $limite = strtotime("01-07-".$anno." 00:00:01");?>
                        <p class="negrit"><span>$<?=$estudiante->getInscription();?></span> Inscripción <br> 
                        <?php if($today<$limite):?>
                            <span>$<?=$estudiante->getCost();?></span> Anualidad </p>
                        <?php else:?>
                            <span>$<?=$estudiante->getCost()/2;?></span> Anualidad <span class="mitad-de-anno">*</span> </p>
                        <?php endif;?>
                    </div>
                    <div class="button">
                        <a class="btn btn-default asociaciones" href="/tipo-de-asociado/<?=$estudiante->getPermalink();?>/<?=$estudiante->getCuotid();?>" role="button">Más información</a>
                        <!-- <a class="btn btn-default asociaciones" href="/" role="button">Más información</a> -->
                    </div>
                </div>
            </div>
            <?php endforeach;?>
            <?php if($today>$limite):?>
            <p>* Al ser realizada su solicitud de ingreso en el segundo semestre del año, sólo paga el 50% de la anualidad. Al renovar su membresía en Enero del próximo año, el pago de ésta deberá ser completo.</p>
            <?php endif;?>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-4 col-md-offset-4 col-sm-offset-4">
                <div class="single_price_plan single_price_plan2">
                    <div class="title">
                        <h3>AYUDA MUTUA</h3>
                    </div>
                    <div class="description">
                        <p class="text-justify ayuda">Beneficio para cualquier tipo de asociado que cubra los requisitos</p>
                    </div>
                    <div class="button button2">
                        <a class="btn btn-default asociaciones" href="/tipo-de-asociado/<?=$ayuda->getPermalink();?>/<?=$ayuda->getCuotid();?>" role="button">Más información</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
