<div class="price_plan_area price section_padding_100_50 planes">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <h2>Gracias por registrarte visita tu correo para validar tu cuenta.</h2>
            </div>
        </div>
    </div>
</div>