<section class="testimonial_client_area home2 section_padding_60 viewsitiosinteres">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="testimonials_area">
                    <div class="section_heading interes text-center">
                        <h3>Sitios de <span>interes</span></h3>
                    </div>
                    <div class="row">
                        <?php foreach($sliderSit as $val):?>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInUp">
                                <div class="single_speciality sitios">
                                    <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 imagesitios">
                                        <div class="single_speciality_icon">
                                            <a class="namesitios" href="<?=$val->url;?>" target="_blank"><img class="iconosSitios" src="/api/administration/advertising/<?=$val->name;?>" alt=""></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 titlesitios">
                                        <div class="single_speciality_text sitios">
                                            <h5><a class="namesitios" href="<?=$val->url;?>" target="_blank"><?=$val->description;?></a></h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>