<div id="myCarousel2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <section class="our_advisor_area advisor section_padding_100_70about fundadores testimonial_client_area3dele">
                <div class="container">
                    <div class="row">

                        <div class="section_heading title-asociaciones">
                            <div class="leftTitle col-md-4">
                            </div>
                            <div class="col-md-4">
                                <h3>SOCIOS <span> FUNDADORES</span></h3>
                            </div>
                            <div class="rightTitle  col-md-4">
                            </div>
                        </div>
                        <?php if($fundadores):?>
                            <?php foreach($fundadores as $key => $vl):?>
                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 wow fadeInUp">
                                    <div class="single_speciality sitios">
                                        <div class="col-md-4 col-xs-4 col-sm-4 col-lg-4 imagesitios">
                                            <div class="single_speciality_icon">
                                                <a class="namesitios" href="#" target="_blank"><img class="iconosSitios" src="/api/administration/partners/<?=$vl->name;?>" alt=""></a>
                                            </div>
                                        </div>
                                        <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8 titlesitios">
                                            <div class="single_speciality_text sitios">
                                                <p class="sociosname"><?=$vl->title;?></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            <?php endforeach?>
                        <?php else:?>
                            <div class="col-xs-6 col-sm-6 col-md-3">
                                <h3>No hay registro por el momento</h3>
                            </div>
                        <?php endif;?>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>