<section class="section_padding_100 testimonial_client_area3dele">
    <div class="container">
        <div class="section_heading membership section-line text-left">
            <div class="title-firts col-sm-4">
                <h3 class="titlemembership">Tipos de Asociados</h3>
            </div>
            <div class="flecha-right col-sm-1"></div>
        </div>
        <div class="section_heading membership section-line text-left">
            <div class="title-second col-sm-4">
                <h3 class="titlemembership2"><span><?= $find->getName()?></span></h3>
            </div>
           <!--div class="flecha-right-firts col-sm-1"></div-->
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-10 col-xl-10 col-lg-10">
                <img class="image-membership" src="/api/administration/cuotas/<?=$description->getImage()?>" alt=""/>

                <ul class="nav nav-pills">
                    <li class="active membership"><a class="tab-requi" data-toggle="pill" href="#home">Requisitos</a></li>
                    <li class="membership"><a class="tab-requi" data-toggle="pill" href="#menu1">Beneficios</a></li>
                </ul>
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <?=$description->getRequirements()?>
                    </div>
                    <div id="menu1" class="tab-pane fade">
                        <?=$description->getBenefits()?>
                    </div>
                </div>
            </div>
            <div class="col-sm-2 col-md-2 col-xl-2 col-lg-2">
                <div class="ingreso">
                    <?php if($web):?>
                        <a class="ingreso-icon" href="/registro/afiliarse/<?=$find->getCuotid()?>" ><i class="fas fa-file-alt tipos-asociados" aria-hidden="true"></i></a>
                    <?php else :?>
                        <a class="ingreso-icon" href="/registro" ><i class="fas fa-file-alt tipos-asociados" aria-hidden="true"></i></a>
                    <?php endif;?>
                    <div class="button membership">
                        <?php if($web):?>
                             <a class="btn btn-default asociaciones" href="/manteinscripcion" role="button">Solicitud de ingreso</a>
                            <!-- <a class="btn btn-default asociaciones" href="/registro/afiliarse/<?=$find->getCuotid()?>" role="button">Solicitud de ingreso</a> -->
                        <?php else :?>
                            <a class="btn btn-default asociaciones" href="/manteinscripcion" role="button"> Solicitud de ingreso</a>
                            <!-- <a class="btn btn-default asociaciones" href="/registro/<?=$find->getCuotid()?>" role="button"> Solicitud de ingreso</a> -->
                        <?php endif;?>
                    </div>
                </div>
            <?php if($find->getCuotid()==$ayuda):?>
            <?php else:?>
                <div class="cuotas">
                    <?php $today=strtotime(date("d-m-Y H:i:00")); $anno=date("Y");  $limite = strtotime("01-07-".$anno." 00:00:01");?>
                    <p>Inscripción</p>
                        <p><span class="black">$<?=$find->getInscription();?></span></p>
                    <p>Anualidad</p>
                    <?php if($today<$limite):?>
                        <p><span class="black">$<?=$find->getCost();?></span></p>
                    <?php else:?>
                        <p><span class="black">$<?=$find->getCost()/2;?></span></p>
                    <?php endif; ?>
                </div>
            <?php endif; ?>
                <div class="tipos-asociados">
                    <p>Tipos de Asociado</p>
                    <div class="button membership all">
                        <a class="btn btn-default asociaciones <?php echo $find->getCuotid()==2?"active":""?>" href="/tipo-de-asociado/activo/2" role="button">ACTIVO</a>
                    <?php foreach($allCuota as $all):?>
                        <a class="btn btn-default asociaciones <?php echo $find->getCuotid()==$all->getCuotid()?"active":""?>" href="/tipo-de-asociado/<?= $all->getPermalink();?>/<?= $all->getCuotid();?>" role="button"><?= $all->getName();?></a>
                    <?php endforeach; ?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
