<!-- Section Title-->
<div class="section-title-01">
    <!-- Parallax Background -->
    <div class="bg_parallax image_04_parallax" style="background: url(/front/src/img/promo/categories/all_companies.jpg);"></div>
    <div class="opacy_bg_02">
        <div class="container">
            <h1> Contáctanos</h1>
            <div class="crumbs">
                <ul>
                    <li><a href="/">Inicio</a></li>
                    <li>/</li>
                    <li>Contáctanos</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Section Title-->

<!--Content Central -->
<div class="content-central">
    <!-- Google Map -->
    <!--div id="map"></div>
    <div id="pano"></div-->
    <!-- End Google Map -->

    <!-- End content info - page Fill with -->
    <div class="content_info">
        <div class="paddings-mini">
            <div class="container">
                <div class="row">
                    <!-- Sidebars -->
                    <div class="col-md-4">
                        <aside>
                            <h4>Nuestras Oficinas</h4>
                            <address>
                                <strong>Marcas de Prestigio.</strong><br>
                                <i class="fa fa-map-marker"></i><strong>Dirección: </strong> Av. Gregorio Méndez 1407.<br>
                                <i class="fa fa-plane"></i><strong>Ciudad: </strong> Villahermosa, Tabasco<br>
                                <i class="fa fa-phone"></i> <abbr title="Phone">Teléfono:</abbr> (993) 456-7890
                            </address>

                            <address>
                                <strong>Email</strong><br>
                                <i class="fa fa-envelope"></i><strong>Email:</strong><a href="mailto:#"> contacto@marcasdeprestigio.com</a><br>
                                <i class="fa fa-envelope"></i><strong>Email:</strong><a href="mailto:#"> admon@marcasdeprestigio.com</a>
                            </address>
                        </aside>

                        <hr class="tall">

                        <aside>
                            <h4></h4>
                            <ul id="flickr" class="thumbs"></ul>
                        </aside>
                    </div>
                    <!-- End Sidebars -->

                    <div class="col-md-8">
                        <h3>Formulario de Contacto:</h3>
                        <p class="lead">
                            En Marcas de Prestigio contamos con un directorio de empresas de primera calidad, y por lo tanto aquí se ofrecen las mejores promociones.
                            Si quieres unirte a este directorio de prestigio contáctanos.
                        </p>
                        <form id="form-contact" class="form-theme" name="contact" ng-submit="formContact(contact.$valid)" method="post" novalidate>
                            <div class="form-group" ng-class="{'has-error':contact.name.$invalid && !contact.name.$pristine}">
                                <input type="text" placeholder="Nombre" name="name" ng-model="contactData.name" required class="form-control">
                                <p ng-show="contact.name.$invalid && !contact.name.$pristine" class="help-block subscription-message">Su nombre es requerido</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error':contact.email.$invalid && !contact.email.$pristine}">
                                <input type="email" placeholder="Email" name="email" ng-model="contactData.email" required class="form-control">
                                <p ng-show="contact.email.$invalid && !contact.email.$pristine" class="help-block subscription-message">Su cuenta de correo es requerida</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error':contact.phone.$invalid && !contact.phone.$pristine}">
                                <input type="number" placeholder="Teléfono" name="phone" ng-model="contactData.phone" required class="form-control">
                                <p ng-show="contact.phone.$invalid && !contact.phone.$pristine" class="help-block subscription-message">Su teléfono es requerido</p>
                            </div>
                            <div class="form-group" ng-class="{'has-error':contact.message.$invalid && !contact.message.$pristine}">
                                <textarea placeholder="Tu mensaje ..." name="message" ng-model="contactData.message" required class="form-control"></textarea>
                                <p ng-show="contact.message.$invalid && !contact.message.$pristine" class="help-block subscription-message">Su mensaje es requerido</p>
                            </div>
                            <input type="submit" name="Enviar" id="submitContact" value="Enviar mensaje" class="btn btn-primary" ng-disabled="contact.$invalid" ng-click="resetForm(contact)">
                            <div class="clearfix"></div>
                            <div class="col-sm-12 text-center p0" collapse="sendContact">
                                <div class="alert alert-info">
                                    <ul class="fa-ul">
                                        <li>
                                            <i class="fa fa-spinner fa-pulse"></i><span style="font-size: 14px;"> Enviando mensaje, espere un momento.</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center p0" collapse="successContact">
                                <div class="alert alert-success">
                                    <ul class="fa-ul">
                                        <li>
                                            Gracias por contactarnos, en breve nos comunicaremos con usted.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center p0" collapse="warningContact">
                                <div class="alert alert-warning">
                                    <ul class="fa-ul">
                                        <li>
                                            Ha ocurrido un error al enviar el mensaje, pruebe nuevamente.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12 text-center p0" collapse="errorContact">
                                <div class="alert alert-danger">
                                    <ul class="fa-ul">
                                        <li>
                                            Ha ocurrido un error intente nuevamente o mas tarde.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </form>
                        <div id="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End content info - page Fill with  -->

    <!-- Twitter Section -->
    <div class="section-twitter content_resalt border-top">
        <i class="fa fa-twitter icon-big"></i>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h2>Nuestros Recientes <span class="text-resalt">twitts</span>.</h2>
                    </div>
                    <div id="twitter"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Twitter Section -->
</div>
<!-- End Content Central -->
