<div ng-animate="'box'" ng-show="toggle" class="box on">
    <section class="tp-banner-container">
        <carousel interval="myInterval">
            <slide ng-repeat="slide in sliders" class="carousel carousel-home slide" id="carousel-example-generic">
                <img ng-src="{{slide.images.original}}" alt="">
                <div class="carousel-caption">
                    <div class="tp-caption sft thirdslide start" >
                        <div class="container"></div>
                    </div>
                </div>
            </slide>
        </carousel>

        <!-- FILTER HEADER - TITLE HEADER-->
        <div class="filter-title">
            <!-- TITLE HEADER-->
            <div class="title-header">
                <h1 class="text-uppercase">Bienvenido</h1>
                <p class="lead"><!--Marcas de prestigio te brinda la facilidad de encontrartodo lo que necesitas en cualquier montento y de una forma muy fácil-->
                    <i>Todo en un solo lugar, escribe lo que necesites encontrar</i></p>
            </div>
            <!-- END TITLE HEADER-->

            <!-- FILTER HEADER-->
            <div class="filter-header">
                <form action="" method="get">
                    <div class="col-sm-12 input-search">
                        <input type="text" required="required" placeholder="Buscar" ng-model="keywords" ng-change="search();" style="width:100%;" onfocus>
                    </div>
                </form>
            </div>
            <!-- END FILTER HEADER-->
        </div>
        <!-- END FILTERHEADER - TITLE HEADER -->
    </section>
    <!-- End Slide And Filter Section-->
    <!--Content Central -->
    <section class="content-central">
        <!-- Shadow Semiboxed Layout -->
        <div class="semiboxshadow text-center">
            <img src="/front/src/img/img-theme/shp.png" class="img-responsive" alt="">
        </div>
        <!-- End Shadow Semiboxed Layout -->
        <!-- End content info - Carousel boxes Section-->
        <div class="content_info">
            <!-- carousel-boxes-2-->
            <div id="carouselP" carousel-p="carouselP">
                <!-- Item Boxed 2-->
                <div ng-repeat="val in advertising" class="boxes-2">
                    <img ng-src="{{val.images.medium}}" alt="">
                    <div class="info-boxes-2">
                        <h3>
                            <i class="fa fa-plane"></i>
                            <span class="up" ng-if="val.price">Desde: ${{val.price}}</span>
                            {{val.title}}
                                    <span class="down">
                                        {{val.subtitle}}
                                    </span>
                        </h3>
                        <a href="{{val.url}}" class="btn btn-primary">Ver promoción</a>
                    </div>
                </div>
            </div>
            <!-- End carousel-boxes-2-->
        </div>
        <div class="content_info">
            <!-- Title -->
            <div class="container">
                <div class="row">
                    <div class="titles">
                        <h2>Las <span>Mejores</span> Promociones </h2>
                        <i class="fa fa-shopping-cart"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <!-- End Title-->

            <!-- content-boxes-->
            <div class="content-boxes">
                <!-- Item-boxe-->
                <div class="item-boxed" ng-repeat="(key,company) in companies">
                    <div ng-if="key==0 || key==1 || key==4 || key==5">
                        <div class="image-boxed">
                            <span class="overlay"></span>
                            <img ng-src="{{company.promotions[0].images.medium}}"   alt="">

                            <a ng-if="company.parent==0"  href="{{'/'+company.category.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="more-boxe"><i class="fa fa-plus-circle"></i></a>

                            <a ng-if="company.parent!='0'" href="{{'/'+company.category.permalink+'/'+company.parent.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="more-boxe"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <div class="info-boxed boxed-top">
                            <h3>
                                {{company.name_abbreviated}}<br>
                                <span>{{company.name}}</span>
                            </h3>
                            <hr class="separator">
                            <p>{{company.promotions[0].description}}</p>
                            <ul class="starts">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                            </ul>
                            <div class="content-btn" ng-if="company.parent==0">
                                <a href="{{'/'+company.category.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="btn btn-primary">Ver promoción</a>
                            </div>
                            <div class="content-btn" ng-if="company.parent!='0'">
                                <a href="{{'/'+company.category.permalink+'/'+company.parent.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="btn btn-primary">Ver promoción</a>
                            </div>
                            <div class="price"><span></span><i class="fa fa-university"></i></div>
                        </div>
                    </div>
                    <div ng-if="key==2 || key==3">
                        <div class="info-boxed boxed-bottom">
                            <h3>
                                {{company.name_abbreviated}}<br>
                                <span>{{company.name}}</span>
                            </h3>
                            <hr class="separator">
                            <p>{{company.promotions[0].description}}</p>
                            <ul class="starts">
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                <li><a href="#"><i class="fa fa-star-half-empty"></i></a></li>
                            </ul>
                            <div class="content-btn" ng-if="company.parent=='0'">
                                <a href="{{'/'+company.category.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="btn btn-primary">Ver promoción</a>
                            </div>
                            <div class="content-btn" ng-if="company.parent!='0'">
                                <a href="{{'/'+company.category.permalink+'/'+company.parent.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="btn btn-primary">Ver promoción</a>
                            </div>
                            <div class="price"><span></span><i class="fa fa-university"></i></div>
                        </div>
                        <div class="image-boxed  image-bottom">
                            <span class="overlay"></span>
                            <img ng-src="{{company.promotions[0].images.thumbnail}}"   alt="">

                            <a ng-if="company.parent==0"  href="{{'/'+company.category.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="more-boxe"><i class="fa fa-plus-circle"></i></a>

                            <a ng-if="company.parent!='0'" href="{{'/'+company.category.permalink+'/'+company.parent.permalink+'/'+company.subcategory.permalink+'/'+company.permalink}}" class="more-boxe"><i class="fa fa-plus-circle"></i></a>
                        </div>
                    </div>
                </div>
                <!-- End Item-boxe-->
            </div>
            <!-- End content-boxes-->
        </div>
        <!-- End content info - Vacations Destinatios-->

        <!-- End content info - Features-->
        <div class="content_info">
            <!-- Title -->
            <div class="container">
                <div class="row">
                    <div class="titles">
                        <h2><span>¿</span>Por qué<span> unirse</span> a Marcas de Prestigio<span>?</span></h2>
                        <i class="fa fa-child"></i>
                        <hr class="tall">
                    </div>
                </div>
            </div>
            <!-- End Title-->

            <!-- content-->
            <div class="container">
                <div class="row padding-bottom">
                    <div class="col-md-4">
                        <div class="item-feature text-center">
                            <div class="head-feature">
                                <span>Un</span>
                                <br>
                                <div class="title-feature">
                                    <i class="fa fa-connectdevelop left-icon"></i>
                                    <i class="fa fa-dropbox right-icon"></i>
                                    30
                                </div><span>%</span>
                                <br>
                                <span>de conectados.</span>
                            </div>
                            <div class="info-feature">
                                <p>Mas de un 30% de usuarios conectados en Tabasco.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="item-feature text-center">
                            <div class="head-feature">
                                <span>Más de</span>
                                <br>
                                <div class="title-feature">
                                    <i class="fa fa-mobile-phone left-icon"></i>
                                    <i class="fa fa-thumbs-o-up right-icon"></i>
                                    81.5 millones
                                </div>
                                <br>
                                <span>de cibernautas.</span>
                            </div>
                            <div class="info-feature">
                                <p>Todos usando Movil e internet para Apps</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 text-center">
                        <div class="item-feature text-center">
                            <div class="head-feature">
                                <span>Paga</span>
                                <br>
                                <div class="title-feature">
                                    <i class="fa fa-check right-icon"></i>
                                    un precio
                                </div>
                                <br>
                                <span>fijo anual</span>
                            </div>
                            <div class="info-feature">
                                <p>No cobramos por click y nuestro buscador esta optimizado para encontrar su marca.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End content-->
        </div>
        <!-- End content info - Features-->

        <!-- End Promotion Boxes - Parallax Section -->
        <div class="content_info">
            <!-- Parallax Background -->
            <div class="bg_parallax image_04_parallax" style=" background: url('/front/src/img/slide/banner-1024.png');"></div>
            <!-- Parallax Background -->

            <!-- Content Parallax-->
            <div class="opacy_bg_02 padding-bottom">
                <!-- Title -->
                <div class="container">
                    <div class="row">
                        <div class="titles">
                            <h2>Que<span> obtendras</span> al contratarnos.</h2>
                            <i class="fa fa-tripadvisor"></i>
                            <hr class="tall">
                        </div>
                    </div>
                </div>
                <!-- End Title-->

                <!-- content-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <div class="promotion-box-header">
                                    <img src="/front/src/img/sponsors/BannerMailing3.png" alt="img">
                                </div>

                                <div class="promotion-box-center color-1">
                                    <div class="prince">
                                        Mailing
                                    </div>

                                    <div class="percentage">
                                        100%<span>segmentado</span>.
                                    </div>
                                </div>

                                <div class="promotion-box-info">
                                    <p>Envio de correos masivos por secciones y categorizados.</p>
                                    <a href="" class="btn btn-primary">Contáctanos</a>
                                </div>
                            </div>
                            <!-- End promotion-box-->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <!-- promotion-box-header-->
                                <div class="promotion-box-header">
                                    <img src="/front/src/img/sponsors/BannerMovil3.png" alt="img">
                                </div>
                                <!-- End promotion-box-header-->

                                <!-- promotion-box-center-->
                                <div class="promotion-box-center color-2">
                                    <div class="prince">
                                        APPS
                                    </div>

                                    <div class="percentage">
                                        <span>Android</span>&<span>iOS</span>.
                                    </div>
                                </div>
                                <!-- End promotion-box-center-->

                                <!-- promotion-box-info-->
                                <div class="promotion-box-info">
                                    <p>Llegaras a los usuarios en moviles con Apps en Android y iOS.</p>
                                    <a href="/contactanos" class="btn btn-primary">Contáctanos</a>
                                </div>
                                <!-- End promotion-box-info-->
                            </div>
                            <!-- End promotion-box-->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <div class="promotion-box-header">
                                    <img src="/front/src/img/sponsors/BannerSitioWeb3.png" alt="img">
                                </div>

                                <div class="promotion-box-center color-3">
                                    <div class="prince">
                                        Internet
                                    </div>

                                    <div class="percentage">
                                        <span>Página web</span>&<span>SEO</span>.
                                    </div>
                                </div>

                                <div class="promotion-box-info">
                                    <p>Estarás en nuestra web y en las primeras páginas de google.</p>
                                    <a href="/contactanos" class="btn btn-primary">Contáctanos</a>
                                </div>
                            </div>
                            <!-- End promotion-box-->
                        </div>

                        <div class="col-sm-6 col-md-3">
                            <!-- promotion-box-->
                            <div class="promotion-box">
                                <div class="promotion-box-header">
                                    <img src="/front/src/img/sponsors/BannerAnuncio3.png" alt="img">
                                </div>

                                <div class="promotion-box-center color-4">
                                    <div class="prince">
                                        Anuncio
                                    </div>

                                    <div class="percentage">
                                        <span>Espectaculares</span>&<span>Facebook</span>.
                                    </div>
                                </div>

                                <div class="promotion-box-info">
                                    <p>Tu marca estará es los espectaculares de toda la ciudad y en Facebook.</p>
                                    <a href="/contactanos" class="btn btn-primary">Contáctanos</a>
                                </div>
                            </div>
                            <!-- End promotion-box-->
                        </div>
                    </div>
                </div>
                <!-- End content-->
            </div>
            <!-- End Content Parallax-->
        </div>
        <!-- End Promotion Boxes - Parallax Section -->


        <!-- Twitter Section -->
        <div class="section-twitter">
            <i class="fa fa-twitter icon-big"></i>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h2>Más recientes <span class="text-resalt">twitts</span>.</h2>
                        </div>
                        <div id="twitter"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Twitter Section -->
    </section>
    <!-- End Content Central -->
</div>
<div ng-animate="'box'" class="box off" ng-hide="toggle">
    <!-- Section Title-->
    <div class="section-title-01">
        <i ng-click="toggle=!toggle" class="fa fa-chevron-circle-left fa-2x back_search">&nbsp;Regresar</i>
        <!-- Parallax Background -->
        <div class="bg_parallax image_04_parallax" style="background: url(/front/src/img/promo/categories/all_companies.jpg);"></div>
        <!-- Parallax Background -->

        <!-- Content Parallax Category-->
        <div class="opacy_bg_02">
            <div class="container">
                <div class="title-header">
                    <h1 class="text-uppercase" style="font-size: 35px">Buscar <span ng-if="keywords">'{{keywords}}'</span></h1>
                </div>
                <div class="filter-header">
                    <div class="col-sm-12 input-search">
                        <input type="text" id="search_focus" required="required" placeholder="Buscar" ng-model="keywords" ng-change="search();" style="width:100%;" onfocus autofocus>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section Title-->
    <!--Content Central -->
    <div class="content-central">
        <!-- End content info - page Fill with -->
        <div class="content_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <!-- sort-by-container-->
                        <br>
                        <div class="sort-by-container tooltip-hover">
                            <div class="row">
                                <div class="col-md-9">
                                    <strong>Ordenar por:</strong> &nbsp;<button class="btn btn-default" style="margin-top: 13px" ng-click="sortType = 'name'; sortReverse = !sortReverse">Nombre</button>
                                </div>
                                <div class="col-md-3">
                                    <ul class="style-view">
                                        <li data-toggle="tooltip" title="" data-original-title="BOX VIEW">
                                            &nbsp;
                                        </li>
                                        <li data-toggle="tooltip" title="" data-original-title="LIST VIEW" class="active">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- sort-by-container-->

                        <div class="row">
                            <div ng-repeat="val in result | orderBy:sortType:sortReverse | filter:searchText"  class="col-sm-3 col-md-3 col-xs-6">
                                <div class="img-hover">

                                    <img src="{{val.img_principal.thumbnail}}"  alt="" class="img-responsive">

                                    <div class="overlay"><!--a href="/front/src/img/promo/categories/umaee.png" class="fancybox"><i class="fa fa-plus-circle"></i></a--></div>
                                </div>

                                <div class="info-gallery">
                                    <h3>
                                        {{val.name}}
                                    </h3>
                                    <hr class="separator">
                                    <p>{{val.summary}}</p>
                                    <ul class="starts">
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                                    </ul>
                                    <div class="content-btn" ng-if="val.parent=='0'">
                                        <a href="{{'/'+val.category.permalink+'/'+val.subcategory.permalink+'/'+val.permalink}}" class="btn btn-primary">Visitar</a>
                                    </div>
                                    <div class="content-btn" ng-if="val.parent!='0'">
                                        <a href="{{'/'+val.category.permalink+'/'+val.parent.permalink+'/'+val.subcategory.permalink+'/'+val.permalink}}" class="btn btn-primary">Visitar</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End content info - page Fill with  -->
        </div>
    </div>
    <!-- End Content Central -->
</div>