h1, h2, h3, h4, h5, h6{
    margin: 0!important;
}

.bhoechie-tab-menu{
    height: 490px;}

@media only screen and (max-width: 991px) and (min-width: 768px){
.single_latest_news_img_area {
    top: 0px!important; 
}
}
@media only screen and (max-width: 1199px) and (min-width: 992px){
.single_latest_news_img_area {
    top: 0px!important;
}
}

.divtable{
    position: relative;
}
.table2{
    border-spacing: 0;
    display: flex;/*Se ajuste dinamicamente al tamano del dispositivo**/
    max-height: 40vh; /*El alto que necesitemos**/
    overflow-y: auto; /**El scroll verticalmente cuando sea necesario*/
    overflow-x: auto;/*Sin scroll horizontal*/
    table-layout: fixed;/**Forzamos a que las filas tenga el mismo ancho**/
    border:1px solid gray!important;
    height: 450vh;
}
.tbody2{
    height:400px;
    overflow-y:auto;
    width: 100%;
}


.tblock{
    display:inline-block;
    width: auto!important;
}

 .title3{
    float: left;
    height: 6em!important
 } 
 .contentth{
     float:left;
 }

.headtable{
    position: relative !important;/*el thead va ser siempre estatico**/
}
.table-fixed{
  width: 100%;
  text-align: center;
  }

th,td{
    font-weight: normal;
    margin: 0;
    max-width: 7.2vw; /**Ancho por celda*/
    min-width: 7.2vw;/**Ancho por celda*/
    word-wrap: break-word;/*Si el contenido supera el tamano, adiciona a una nueve linea**/
    font-size: 11px;
    height: 3.5vh !important;/*El mismo alto para todas las celdas**/
    padding: 1px;
    border-right: 1px solid #c4c0c9;
}
.notacss{
    margin-bottom: 1em;
    margin-top: 1em;
}
.botonstyle{
    width: 100%;
}
.top2{
    margin-top: 2em;
}
.title-status-solicitud{
    padding-top: 1em!important;
    padding-bottom: 1em!important;
    padding-left: 0 !important;
}
p.nomemclatura{
    padding-left: .8em!important;
}
.news_title{
    margin-top: .5em;
}
.input-style2{
        background-color: #a5d0f9!important;
    color: #32323b!important;
}
.latest_post .single_latest_post> p{
    color:white!important;
    padding-left: .5em;
}
.content-eventf{
    background: white;
    box-shadow: 5px 5px 5px black;
    border: 1px solid #bdbcbc;
}
.single_part_content> p{
    font-size: 1.2em;
}
.color1{
    color: #001a35!important;
    padding-left: 10px;
}
.block2{
    display: inline-block!important;
}
.color3{
    color: #555!important;
}
.sign_in_facebook> a, .sign_in_twitter> a{
        font-size: 10px !important;
    }
    .font-facebook{
        font-size: 10px !important;
    }

.subtitle-user{
    font-weight: 700 !important;
    font-size: 1.2em;
    margin-bottom: 1em;
}
.form-group.banco{
        margin-top: 1em!important;
    margin-bottom: 1em!important;
}
.map-container {

    width: 100%;
    margin: 50px 0 3000px;
    padding: 10px;
}
.form-horizontal .form-group{
    margin-right: 0!important;
    margin-left: 0px !important;
}
.otros{
    font-weight: bold;
    font-size: 1.2em;
}
.input1{
    width: 100%;
    background: #abd5f9;
    padding: 5px;
    font-weight: bold!important;
    color: #040404;
    letter-spacing: 0.02em;
    border: none;
    margin-top: .3em;
}
.section-data{
    margin-top: 1em;
}
.label1{
    font-weight: 300!important;
}
.register_form, .login_form {
    border: none;
    height: auto;
    width: 100%;
    padding: 30px;
    box-shadow: none;
    position: relative;
}
.modal-content {
    background-color: #00253c;
}
.margin-footer{
    margin-top: 1em;
}
.border-table{
    border: none!important;
}
.table.order_history_table thead, table.cart thead{
    background-color: #3a7bb9 !important;
    font-weight: bold !important;
    color: white !important;
}

.resaltar{
    background-color: #00253c;
    color: white;
    padding: .5em;
    font-size: .8em;
}
.modal-content.suscribete{
    background-image: url(../images/parallax/chiapas.jpg) !important;
}
.map-container iframe{
    width: 100%;
    display: block;
    pointer-events: none;
    position: relative; /* IE needs a position other than static */
}
.map-container iframe.clicked{
    pointer-events: auto;
}
p.email-directory {
    word-break: break-all;
    line-height: 9px;
}
label.referencia{
    font-size: 16px;
}
.form-group.botones {
    margin-right: 8.5%;
    margin-top: 4%;
}
.title-info-reference{
    background-color: #091c31;
    color: white;
    margin-bottom: 0px;
    margin-left: 20%;
    padding: 7px;
    text-align: center;
    width: 55%;
}
small.help-block{
    font-size: 11px;
}
.contact_input_area.referencia button{
    width: 18%;
    height: 45px;
    display: inline;
    float: right;
    margin-left: 15px;
}
input.form-control.referencias{
    text-transform: inherit !important;
}
.info-reference{
    border: solid 1.5px;
    margin: 0px 7%;
    width: 83%;
    padding-top: 4%;
}
/***** Separador  ******/
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 10px solid #75b1ed;
}
/***** Menu *******/
ul#nav {
    padding-left: 0px !important;
}
/******* Evento Index *********/
h3.titlevent{
    margin: -487px 28px 7px;
    color: #ebbb12;
    background-color: #32336b !important;
    z-index: 9999;
}
p.contenido{
    margin: 275px 30px 7px;
    color: white;
}
p.fecha {
    color: #ebbb12;
    margin: 18px 30px 10px;
    font-weight: bold;
}
h4.text-center.no-events {
    padding: 25%;
    color: #133968;
    font-size: 35px;
}
img.imagenEventos {
    width: 555px;
    height: 312px;
}
img.imagenprincipalevento {
    width: 1140px;
    height: 572px;
}
.col-sm-2.fecha {
    background-color: rgba(53, 111, 165, 0.8);
    height: 312px;
    left: 15px;
    padding-top: 100px;
}
.col-sm-5.description {
    background-color: rgba(235, 187, 18, 0.6);
    margin-left: -15px;
    height: 312px;
}
p.day {
    color: white;
    font-size: 55px;
    font-weight: 900;
    text-align: center;
}
p.month {
    font-size: 30px;
    padding-top: 39px;
    color: white;
    text-align: center;
}
h3.years {
    padding-left: 17px;
    color: #003a6a;
}
.single_part_content.eventos {
    padding: 10px 0px;
}
.singl-blog-title h3{
    text-align: center;
}
/******* End Evento Index *******/
/******* Noticia Index *******/
img.imagenNoticia {
    width: 555px;
    height: 312px;
}
img.imagenprincipalnoticia {
    width: 1140px;
    height: 572px;
}
/**** BotÃ³n AddThis ****/
.at-expanding-share-button.at-expanding-share-button-desktop .at-expanding-share-button-toggle-bg {
    height: 60px !important;
    line-height: 57px !important;
    width: 60px !important;
}
.at-expanding-share-button-toggle-bg {
    font-size: 11px !important;
}
.main_header_area, .footer_area {
    background-color: #002a56;
}
.footer_area2 {
    background-color: #002a56;
}
.top_header_area, .footer_bottom_area {
    background-color: #001a35;
}
.mainmenu ul#nav li a{
    color: #85c1ff;
    padding: 10px 10px;
    font-size: 10px;
}
.list-group-item.active:hover, .list-group-item.active{
    border-color: #e5b713 !important;
}
ul#nav {
    font-weight: 900 !important;
}
.list-group-item {
    background-color: #022a55;
}
a.list-group-item.text-center {
    color: white;
}
a.list-group-item:hover{
    background-color: #f5eed7;
    color: black;
}
div.bhoechie-tab-menu div.list-group>a.active {
    background-color: #ebbb12 !important;
    color: black !important;
}
.testimonial_client_area.home2:before{
    /*background-color: #85c1ff;*/
    background-color: rgba(0, 0, 0, 0.75);
}
.testimonial_client_area {
    background-image: url(../images/parallax/chiapas.jpg) !important;
}

.testimonial_client_area2 {
    background-image: url(../images/parallax/chiapas.jpg);
    background-size: cover;
    position: relative;
    z-index: 9;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 60px;
}
.testimonial_client_area2.home2:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area2.home2:after {
    background-color: rgba(0, 0, 0, 0.75);
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area2:after {
    background-color: #fff;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area2:before {
    background-color: rgba(0, 0, 0, 0.75);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}

.cool_facts_area.home2{
    background-image: url(../images/parallax/ulises.jpg);
}


.testimonial_client_area4 {
    background-image: url(../images/parallax/chapopoteras.jpg);
    background-size: cover;
    position: relative;
    z-index: 9;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 60px;
}
.testimonial_client_area4.home2:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area4.home2:after {
    background-color: rgba(0, 0, 0, 0.75);
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area4:after {
    background-color: #fff;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area4:before {
    background-color: rgba(0, 0, 0, 0.75);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}



.testimonial_client_area3 {
    /*background-image: url(../images/parallax/canon.jpg);*/
    background-size: cover;
    position: relative;
    z-index: 9;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 60px;
}
.testimonial_client_area3.home2:before {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area3.home2:after {
    background-color: rgba(255, 255, 255, 1);
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area3:after {
    background-color: #fff;
    content: "";
    height: 100%;
    right: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.testimonial_client_area3:before {
    background-color: rgba(255, 255, 255, 1);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
}
.faq_area2 {
    width: 750px;
    margin: 0 auto !important;
}
.page_title2 {
    display: inline-block;
    margin-left: 40%;
    top:0;
    z-index: 99;
    color: #e67e22;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
}
.font33{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 2px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
}
.lista li{
    list-style: circle !important;
}

ul{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 800px;
}


.jssora02l, .jssora02r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 55px;
    height: 55px;
    cursor: pointer;
    background: url('../img/a02.png') no-repeat;
    overflow: hidden;
}
.jssora02l { background-position: -3px -33px; }
.jssora02r { background-position: -63px -33px; }
.jssora02l:hover { background-position: -123px -33px; }
.jssora02r:hover { background-position: -183px -33px; }
.jssora02l.jssora02ldn { background-position: -3px -33px; }
.jssora02r.jssora02rdn { background-position: -63px -33px; }
.jssora02l.jssora02lds { background-position: -3px -33px; opacity: .3; pointer-events: none; }
.jssora02r.jssora02rds { background-position: -63px -33px; opacity: .3; pointer-events: none; }
.jssort11 .p {    position: absolute;    top: 0;    left: 0;    width: 200px;    height: 69px;    background: #181818;}.jssort11 .tp {    position: absolute;    top: 0;    left: 0;    width: 100%;    height: 100%;    border: none;}.jssort11 .i, .jssort11 .pav:hover .i {    position: absolute;    top: 3px;    left: 3px;    width: 60px;    height: 30px;    border: white 1px dashed;}* html .jssort11 .i {    width /**/: 62px;    height /**/: 32px;}.jssort11 .pav .i {    border: white 1px solid;}.jssort11 .t, .jssort11 .pav:hover .t {    position: absolute;    top: 3px;    left: 68px;    width: 129px;    height: 32px;    line-height: 32px;    text-align: center;    color: #fc9835;    font-size: 13px;    font-weight: 700;}.jssort11 .pav .t, .jssort11 .p:hover .t {    color: #fff;}.jssort11 .c, .jssort11 .pav:hover .c {    position: absolute;    top: 38px;    left: 3px;    width: 194px;    height: 32px;    line-height: 32px;    color: #fff;    font-size: 11px;    font-weight: 400;    overflow: hidden;}.jssort11 .pav .c, .jssort11 .p:hover .c {    color: #fc9835;}.jssort11 .t, .jssort11 .c {    transition: color 2s;    -moz-transition: color 2s;    -webkit-transition: color 2s;    -o-transition: color 2s;}.jssort11 .p:hover .t, .jssort11 .pav:hover .t, .jssort11 .p:hover .c, .jssort11 .pav:hover .c {    transition: none;    -moz-transition: none;    -webkit-transition: none;    -o-transition: none;}.jssort11 .p:hover, .jssort11 .pav:hover {    background: #333;}.jssort11 .pav, .jssort11 .p.pdn {    background: #462300;}



/*********************************/
/*********  bhoechie tab *********/
div.bhoechie-tab-container{
    z-index: 10;
    background-color: rgba(255,255,255,0);
    padding: 0 !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    border:1px solid rgba(255,255,255,0);
    margin-top: 20px;
    margin-left: 40px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    background-clip: padding-box;
    opacity: 0.97;
    filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
    margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
    color: #002a56;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
    border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
    border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
    background-color: #002a56;
    color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
    content: '';
    position: absolute;
    left: 100%;
    top: 50%;
    margin-top: -13px;
    border-left: 0;
    border-bottom: 13px solid transparent;
    border-top: 13px solid transparent;
    border-left: 10px solid #e5b612;
}

div.bhoechie-tab-content{
    background-color: rgba(255,255,255,0);
    /* border: 1px solid #eeeeee; */
    padding-left: 10px;
    /*padding-top: 10px;*/
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
    display: none;
}

.ui-widget-content {
    border: 1px solid #bdc3c7;
    background: #e1e1e1;
    color: #222222;
    margin-top: 4px;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width:4.0em;
    height:1.6em;
    cursor: default;
    margin: 0 -20px auto !important;
    text-align: center;
    line-height: 20px;
    color: #FFFFFF;
    font-size: 12px;
}

.ui-slider .ui-slider-handle .glyphicon {
    color: #FFFFFF;
    margin: 0 3px;
    font-size:10px;
    opacity: 0.5;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 1px solid #f9f9f9;
    background: #3498db;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
    cursor: pointer;
    outline: none;
}

.price-slider {
    margin-bottom: 1px;
}

.price-slider span {
    font-weight: 200;
    display: inline-block;
    color: #7f8c8d;
    font-size: 13px;
}
.top-buffer { margin-top:5px; margin-bottom:5px;}

.modal-dialog {
    margin-top: 50px !important;
    margin-left: 32px !important;
    margin-right: 32px !important;
    width: 90% !important;
}
.status_bar {
    margin-bottom: 0px !important;
}
.table.table-relative{
    position: relative !important;
}
#scrollUp2 {
    background-color: #EBBB12;
    border-radius: 3px;
    bottom: 20px;
    color: #fff;
    font-size: 22px;
    padding: 5px 10px;
    right: 50px;
}
#scrollUp {
    background-color: #EBBB12;
    border-radius: 3px;
    bottom: 20px;
    color: #fff;
    font-size: 22px;
    padding: 5px 10px;
    right: 50px;
}
/***************************************/
/********** Iconos VinculaciÃ³n *********/
/***************************************/
.single_speciality{
    margin-bottom: 50px !important;
}
.single_speciality_icon{
    height: 60px !important;
    width: 60px !important;
}
.single_speciality_icon i{
    font-size: 25px !important;
    line-height: 50px !important;

}
.single_speciality_text{
    margin-left: 0!important;
}
.single_speciality_text> h5{
    font-size: 10px !important;
    letter-spacing: 0px !important;
}
.partner_area .single_partner_thumb {
    height: 110px;
    background-color: rgba(255,255,255,0);
}
.logo_area {
    padding: 27px 0;
}
.is-sticky .main_header_area .logo_area {
    padding: 10px 0;
}
.mean-container a.meanmenu-reveal{
    position: absolute;
}
.mean-container a.meanmenu-reveal span{
    background: #ffffff;
}
.partner_area {
    background-color: white;
}
.partner_area .single_partner_thumb {
    height: 130px;
}
.owl-item{
    width: 200px;
    height: 150px !important;
}
footer {
    margin: 0px !important;
}
/***************************************/
/**** Fin de Iconos de VinculaciÃ³n *****/
/***************************************/


.search_button a> i {
    color: #ffffff;
}
div#sticky_menu {
    display: flex;
}
a.meanmenu-reveal.meanclose {
    color: white !important;
}
.azulpagina{
    color: #002a56 !important;
}
.amarillopagina{
    color: #ebbb12 !important;
}
.blancopagina{
    color: #ffffff !important;
}

.btn-primary {
    color: #fff;
    background-color: #f0bd00;
    border-color: #f7de7f;
}
input.btn.btn-lg.btn-primary.launch-modal {
    margin-right: 50px;
}
.owl-stage-outer {
    padding-bottom: 86px;
}

/*****  Logo Grande ******/
.logo_area img{
    max-width: 207%;
    margin-left: -84px !important;

}
.logo_area{
    padding: 0px !important;
}
.is-sticky .main_header_area .logo_area {
    padding: 0px;
}
.is-sticky .main_header_area .logo_area img {
    max-width: 153%;
}
p.text-justify.nota {
    color: #333;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
}
section.maintenence_area {
    padding: 15% 0 10% 0;
}
.page_title{
    left: 0%;
}
.fondo{
    background-color: rgba(255,255,255,0.7);
}
/*** Cuadro de directorio en contactanos  *****/
.fondo2{
    background-color: rgba(255,255,255,0);
}
.single_advisor_details_info.directory{
     border: 1px solid rgba(0,0,0,0);

}
.single_advisor_details_info.directory {
    width: 100% !important;
    /*margin-top: 6px;*/
    text-align: center;
    padding: 0px;
    /*border: 1px solid #000000;*/
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    padding-top: 15px;
   /* box-shadow: 0 0px 0px #313131, 0 1px 0 #393939, 0px 4px 6px rgba(0, 0, 0, 0.4), inset 0px 8px 4px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);*/
}
.single_advisor_profile2 {
    margin-top: 10px;
}
.black-bold {
    color: #00253c !important;
    font-weight: bold !important;
}
.explicacion{
    padding-left: 40%
}
h4.rojo{
    color: #ff0000;
}


/***** Menu *******/
body.default header .top_row {
    background: #f3f3f3;
    border-bottom: 1px solid #e5e5e5;
}
.language-spectrum {
    display: inline-block;
    padding: 1px 0px;
    /*padding: 12px 4px;*/
    float: right;
}
.header-social ul.nav-social {
    height: 45px;
    border-left: 3px solid #e5e5e5;
    margin-right: 0px;
    padding: 6px 0px 0px 4% !important;
    display: inline-block;
}
.logo-spectrum a {
    margin: 0px !important;
    padding: 0px;
}
.logo-spectrum a img {
    width: 88%;
    padding: 1px 0px;
}
.nameheader{
    font-size: 13px;
}
.main_menu_area {
    background-color: rgba(0, 42, 86, 0.6) !important;
    margin-right: 12px;
}
a img.img-responsive.slider {
    max-height: 100%;
}
.bhoechie-tab-content.active{
    padding-left: 20px;
    padding-right: 20px;
}
select#sel1 {
    border: 2px solid #ddd;
    border-radius: 6px;
    height: 60px;
    margin-bottom: 30px;
    padding: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
}
button.btn.btn-default.more {
    margin-left: 45%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: #022a55;
    color: white;
}
button.btn.btn-default.more2 {
    margin-left: 47%;
    margin-top: 9px;
    background-color: #022a55;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
button.btn.btn-default.more a {
    color: white !important;
}
button.btn.btn-default.more2 a {
    color: white !important;
}
.page_title.perfiles{
    left: 37%;
}
.single_advisor_details_info> p {
    font-size: 13px;
    font-weight: bold;
    line-height: 13px;
    color: black;
}
.descarga{
    padding-bottom: 25px;
    padding-top: 20px;
    padding-left: 16%;
}
ul#nav {
    padding-left: 31px;
}
h1.amgp{
    color: #ebbb12;
    padding-top: 51px;
    margin-left: -10px;
    font-size: 54px !important;
    font-family: 'Kumar One', cursive;
}
.top_row.row.m0.header-social {
    line-height: 35px;
}
li.current_page_item:hover {
    border-style: solid;
    border-color: rgba(235, 187, 18, 0.4);
}

.carousel-control{
    width: 10%;
}
li.current_page_item {
    border-style: solid;
    border-color: rgba(235, 187, 18, 0.4);
}
.single_partner_area {
    border-style: solid;
    border-color: #001a35;
    min-height: 230px;
}
p.nameAsociados {
    text-align: center;
    font-size: 12px;
    font-weight: 800;
}
img.imagen-asociado{
    max-width: 100%;
}
/****** Iconos Sitios de Interes   *****/
img.iconosSitios {
    border-radius: 10%;
    padding: 8px;
    /* margin: 0px; */
}
section.testimonial_client_area.home2.section_padding_60.viewsitiosinteres {
    padding-top: 150px;
}
.single_speciality_icon{
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15%;
}
.single_speciality_text {
    padding-top: 10px;
    width: 100%;
}
.top_row.row.m0.header-social{
    background: url(../images/index/header2.jpg) no-repeat scroll center top #00253c !important;
    border-bottom: 1px solid #e5e5e5;
}
.footer_area {
    background: url(../images/parallax/footer.png)  no-repeat scroll center top;
    margin-top: -39px;
    position: relative;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.footer_area2 {
    /*background: url(../images/parallax/mapa2.jpg)  no-repeat scroll center top;
    margin-top: -39px;*/
    position: relative;
    background-color: white;
}
/*li.current_page_item {
    border: 1px dashed rgb(255, 101, 80);
    border-color: #ebbb12;
}
li.current_page_item:after {
    border: 1px dashed #ebbb12;
    bottom: -2px;
    content: '';
    left: 0;
    position: absolute;
    right: -2px;
    top: 0;
    z-index: -1;
}*/
.contact_input_area {
    padding-bottom: 30px;
}
h3.contactanos {
    color: white;
}
.row.form.contactanos {
    /*background-color: rgba(0,0,0,0.3);*/
}
div#exTab1 {
    /*border-style: solid;
    border-color: #00253c;*/
    width: 100%;
}
.white{
    color: #ffffff !important;
}
.top_quote> p{
    font-size: 16px;
    font-weight: bold;
}/*
.twitter:hover{
    color: #00b6f1 !important;
}
.linkedin:hover{
    color: #007bb6 !important;
}
.skype:hover{
    color: #00aef4 !important;
}
.facebook:hover{
    color: #465994 !important;
}*/
/*** Botones de logueo ***/
.login_register {
    border-style: solid;
    border-color: #449d44;
    background-color: #449d44;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 3px;
    font-size: 13px;
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    font-family: Arial, Helvetica, sans;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}
.login_manual_form.view-register {
    min-height: 40vh;
}
p.title-registercomplete {
    text-align: center;
    padding-top: 2%;
    font-size: 16px;
}
.modal-footer.register {
    border-top: 1px solid #ffffff;
    background-color: white;
}
button.btn.btn-default.view-register {
    background-color: #479845;
    border-radius: 0px;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 40px;
    color: #f5f5f5;
}
.forget_pass> a.button-acount{
    color: white;
    background: linear-gradient(0deg, #75b1ed, #133968);
    border-radius: 50%;
    line-height: calc(60px - 12px);
    font-size: 12px;
    transition: .5s;
    padding: 10px;
}
.form-group.pay {
    padding-left: 16px;
    padding-bottom: 20px;
    /* border-bottom: 3px solid black; */
}
.form-group.pay, .form-group.banco, .form-group.transfer{
    background: #FFF !important;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
p.note-paypal {
    margin-top: 7%;
}
p.note-transfer {
    margin-top: 7%;
    color: #e4432d;
}
.download-onlypay{
    font-size: 80px;
    position: relative;
    display: inline-block;
    top: 30px!important;
    margin-bottom: 60px;
    margin-left: 20px;
}
.form-group.transfer {
    padding-left: 16px;
}
.forget_pass> a.button-acount:hover{
    color: #ebbb2f;
    font-weight: bold;
}
.forget_pass.login:hover{
    box-shadow: 0 2px 5px rgba(0,0,0,3);
}
.forget_pass.login{
    background: #2a80b9;
    text-align: center;
    margin: 0 10px;
    padding: 6px;
    box-sizing: border-box;
    text-decoration: none;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    background: linear-gradient(0deg, #143a69, #75b1ed);
    transition: .5s;
}
.login_register .login{
    padding: 0 1px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
}
.login_register .login i{
    padding-right: 5px !important;
}
.login_register2 {
    border-style: solid;
    border-color: #878045;
    background-color: #ebbb12;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 5px;
    font-size: 13px;
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0,0,0,0.4), inset 0px 2px 9px rgba(255,255,255,0.2), inset 0 -2px 9px rgba(0,0,0,0.2);
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    display: inline-block;
    font-family: Arial, Helvetica, sans;
    text-shadow: 0px -1px 0px rgba(0,0,0,0.2);
}
.login_register2 .login{
    padding: 0 1px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
}
.login_register3 {
    border-style: solid;
    border-color: #162170;
    background-color: #7eb8f3;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 5px;
    font-size: 13px;
    box-shadow: 0 5px 5px #313131, 0 9px 0 #393939, 0px 9px 10px rgba(0, 0, 0, 0.4), inset 0px 2px 9px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: inline-block;
    font-family: Arial, Helvetica, sans;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
}
.login_register3 .login{
    padding: 0 1px;
    border-left: 0px solid #fff;
    border-right: 0px solid #fff;
}
/***** Fin de botones de logueo*****/

.section_heading h3 span{
    color: #00b6f1;
}
.color_border:after{
    background-color: #00b6f1;;
}
.section_heading {
    text-align: center;
}
.row.footer {
    background-color: #03325a !important;
}
.contact_input_area .form-group textarea {
    height: 160px;
}
p.redes{
    margin: 0 0 -29px !important;
    color: white;
    padding-right: 164px;
}
.top_row.row.m0.header-social {
    line-height: 11px !important;
}
.section_padding_100 {
    padding: 150px 0;
}
img.img-responsive.inscripcion {
    padding: 0 0 0 26%;
}
#imageGallery{
    height: 500px !important;
}
.at-expanding-share-button-toggle-bg {    background-color: rgb(255, 101, 80);color:#fff;font-weight:bold;font-size:12px!important;text-align:center;}
.gm-style-iw {
    color: black;
}

/*********************************/
/******** Media Querys ***********/
/*********************************/


/*****  Smartphone   *******/
@media (max-width: 767px) {

    .mainmenu ul#nav li a{
        font-size: 8px;
        padding: 4px 4px;
    }

    .testimonial_client_area.home2:after {
        background-color: rgba(0, 0, 0, 0);
    }
    img.img-responsive.inscripcion {
        padding: 0 0 0 0 !important;
    }
    .logo_area {
        padding: 5px 0;
        width: 79%;
    }
    .partner_area .single_partner_thumb {
        height: 77px;
    }
    .mean-container .mean-nav{
        margin-top: 74px;
    }
    .status_bar> p {
        font-size: 16px;
        letter-spacing: 1px;
        padding-top: 100px;
    }
    section#myCarousel {
        padding-left: 0px !important;
        padding-right: 0px !important;
        height: 100% !important;
    }
    .at-expanding-share-button-toggle-bg {
        font-size: 8px !important;
    }
    .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 100px;
        color: #ffbd00;
    }
    img.imgVetical{
        height: 100vh;
    }
    img.img-responsive.logo {
        width: 22%;
        padding-top: 4px;
        position: absolute;
    }
    a.list-group-item.active.text-center, a.list-group-item.text-center {
        font-size: 9px;
        line-height: 12px;
        padding-left: 4px;
        font-weight: bold;
    }
    div.bhoechie-tab-container{
        margin-left: 1px;
    }
    .section_padding_60_30{
        padding-bottom: 0px;
    }
    .mean-container .mean-nav{
        background: rgba(0,0,0,0);
    }
    .top_row.row.m0.header-social{
        height: 86px !important;
    }
    header.navbar.navbar-default.navbar-fixed-top.navbar-inner{
        height: 86px !important;
    }
    a.howinscription{
        left: -12% !important;
        font-size: 26px !important;
        top: 54px !important;
        padding-left: 80px;
    }
    p.footer-cdevelopers{
        font-size: 10px;
    }
    button.btn.btn-warning.more{
        left: 18% !important;
        top: 115px !important;
    }
    img.imgsocio{
        max-width: 45%;
    }
    h3.title-beneficios{
        font-size: 10px;
    }
    .col-md-6.text-justify.modaal {
        font-size: 11px;
        line-height: 9px;
    }
    img.imgmodal {
        max-width: 76%;
        padding-left: 19% !important;
    }

    /*** Menu de movil****/
    ul#nav {
        background-color: #093059;
        height: 259px !important;
    }
    small.help-block {
        line-height: 11px;
        text-align: end;
    }
}
/*** Tablets y pantallas chica ****/
@media only screen and (max-width: 1199px) and (min-width: 991px) {
    section#myCarousel {
        height: 100% !important;
    }

    .mainmenu ul#nav li a{
        font-size: 10px;
        padding: 14px 10px;
    }
    .oferta{
        width: 100px !important;
    }
    .mainmenu {
        font-size: 0px;
    }
    .top_quote.hidden-sm {
        font-size: 13px;
    }
    .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 100px;
        color: #ffbd00;
    }
    .carousel-inner {
        height: 108%;
    }
    .col-md-4.col-xs-4.col-sm-4.col-lg-4.imagesitios {
        width: 33%;
    }
    .tamano-icon-25 {
        font-size: 21px !important;
    }
    a.register_link{
        width: 100px !important;
    }
}
@media (min-width: 1200px){
    .container.modalPresidente {
        width: 1068px;
    }
}
@media only screen and (max-width: 1430px) and (min-width: 1200px){

}
/*******  Pantallas normales  *****/
@media only screen and (max-width: 1500px) and (min-width: 1200px){
    section#myCarousel {
        height: 100% !important;
        /*padding-top: 22vh !important*/
    }
    .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 100px;
        color: #ffbd00;
    }
    .mainmenu ul#nav li a {
        padding: 10px 5px;
    }
    .advisor_thumb.directiva img {
        height: 10vw;
        text-align: center;
        width: 10vw;
        margin-left: 15%;
    }
    /*.main_menu_area{
        top: -16px;
    }*/
}
/*******  Pantallas Grandes  *****/
@media (min-width: 1500px) {
    .advisor_thumb.directiva img {
        height: 10vw;
        text-align: center;
        width: 10vw;
        margin-left: 4%;
    }
    .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 100px;
        color: #ffbd00;
    }
    .advisor_thumb.directoryDelegation, .advisor_thumb.directoryDelegation img {
        height: 15vh !important;
        width: 15vh !important;
    }
    section#myCarousel {
        height: 100% !important;
        padding-top: 0vh;
    }
    section.gallery_area.column.clearfix.section_padding_100.testimonial_client_area3dele {
        padding-top: 14vh;
    }
    .mainmenu ul#nav li a {
        padding: 10px 10px;
    }
    h1.amgp {
        padding-top: 5vh;
        font-size: 3.6vw !important;
    }
    .top_row.row.m0.header-social{
        background: url("../images/index/header3.jpg") no-repeat scroll center top #00253c !important;
    }
    .logo-spectrum a img{
        width: 76%;
    }
}
/*******  Pantallas normales  *****/
@media only screen and (max-width: 1200px) and (min-width: 990px){
    .mainmenu ul#nav li a {
        color: #85c1ff;
        padding: 10px 10px;
        font-size: 10px;
    }
    .social_reg_log_area {
        font-size: 11px;
    }
    .top_quote> p {
        font-size: 11px;
    }
    .main_menu_area, .mainmenu, nav, ul#nav, .mainmenu ul#nav li {
        height: 40px;
    }
    .mainmenu ul#nav li a {
        padding: 10px 10px;
    }
}
/*** Tablets ****/
@media only screen and (max-width: 990px) and (min-width: 768px) {
    section#myCarousel {
        height: 100% !important;
    }
    .status_bar> p{
        padding-top: 150px;
    }
    .carousel-control .icon-next, .carousel-control .icon-prev {
        font-size: 100px;
        color: #ffbd00;
    }
    .mainmenu ul#nav li a {
        font-size: 7.5px;
        padding: 5px 5px;
    }
    img.img-responsive.inscripcion {
        padding: 0 0 0 12%;
    }
    .social_reg_log_area {
        font-size: 12px;
    }
    .carousel-inner {
        height: 108%;
    }
    .col-md-8.col-xs-8.col-sm-8.col-lg-8.titlesitios {
        padding-left: 25px !important;
    }
    i.fa.afiliarse {
        height: 83% !important;
        margin-left: 0px !important;
        padding-top: 5px !important;
    }
    .tamano-icon-25 {
        font-size: 18px !important;
    }
}
@media (max-width: 768px) {
    .title-session.iniciar-sesion.create-acount{
        left: 0% !important;
        width: 70%;
        font-size: 13px;
        padding: 3px 10px;
    }
    .lastname{
        width: 104% !important;
    }
    .register_form .form-group, .login_manual_form .form-group{
        text-align: -webkit-match-parent;
    }
    .form-group> i.register2, .form-group> i.register{
        width: 30% !important;
    }
    .login_form.create-acount{
        width: 70% !important;
    }
    input#email {
        width: 100% !important;
    }
    label.acepto{
        margin-bottom: 19px;
    }
    button.btn.btn-default.register-button{
        width: 52% !important;
        margin-top: 15% !important;
        margin-left: 6% !important;
    }

    .login_manual_form> p{
        top: 70% !important;
    }
    .login_manual_form button{
        padding: 1px 18px;
    }
}
/*********************************/
/******* Fin de Media Querys *****/
/*********************************/
.footer_bottom_area{
    margin-top: 10px;
    line-height: 12px;
}
.footer_area{
    padding-top: 76px;
}
.footer_area2{
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.footer_bottom{
    padding: 25px 0;
}
a.namesitios {
    color: white;
}
.single_speciality_icon {
    position: inherit;
}
.testimonials_area{
    width: 80vw;
}
section.login-area.updatepass{
    padding-top: 30vh;
}
section.login_area.register{
    padding-top: 19vh;
}
section.login_area {
    padding: 130px 0;

    background-color: white;
    text-align: -webkit-center;
}
.mainmenu ul#nav li ul li a{
    color: #85c1ff !important;
}
.mainmenu ul li ul.sub-menu li {
    margin-bottom: 2px;
    display: block !important;
    background-color: #00284c;
    border-style: solid !important;
    border-color: #ebbb12 !important;
    color: white !important;
}


/***** Inicio Publicaciones ******/
section.order_history.section_padding_100.publi {
    padding-top: 31vh;
    padding-bottom: 61vh;
}
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}
section.gallery_area.column.clearfix.section_padding_100.publicaciones {
    background-color: white;
    padding-top: 9em;
    padding-bottom: 100px;
}
/***** fin Publicaciones ******/


@media (min-width: 1567px) {
    a img.img-responsive.slider{
        max-width: 100% !important;
    }

}
section#myCarousel {
    /*background: url(../images/parallax/footer.jpg) center;*/
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/****** Poner en vista about imagenes agregadas que no tienen
el tamaÃ±o yy adaptar el espacio faltante con un fondo de color*/
.advisor_thumb.expresidentes {
    height: 100%;
    /*background-color: #ebbb12;*/
}
.advisor_thumb.expresidentes img{
    height: 199px !important;
}
.carousel-inner .item{
    /*background-color: #ebbb12;*/
}
img.perfil {
    height: 255px;
}
.single_advisor_details_info> h5{
    font-size: 12px !important;
    letter-spacing: 0px;
}
/**********/
/*Poner imagenes de noticias al 100% del alto del contenedor*/
img.allnews{
    min-height: 280px;
}
/******/
span.title {
    font-weight: bold;
    color: black;
}
.price_plan_area .single_price_plan .description> p.text-justify{
    padding: 10px 10px;
    color: #1c63b5;
    height: 120px;
}
p.text-justify.ayuda {
    height: 185px !important;
}
.testimonials_area.map-container{
    width: 60vw;
}


/******Verificar si no mueve otra cosa*******/
.col-sm-4.col-md-6.p0 {
    right: 52px;
}
.social_reg_log_area {
    text-align: center;
}
.top_social_bar{
    
    padding-top: 10px;
    padding-right: 0px;
}
.top_social_bar> a> i{
    text-decoration:none !important;
}
/*********fin de verificaciÃ³n*******/


.advisor_thumb.directoryDelegation,.advisor_thumb.directoryDelegation img{
    height: 7vw;
    text-align: left;
    width: 7vw;
}
h4.titledelegationindex {
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #85c1ff;
    letter-spacing: 1px;
    padding: 15px;
}
div.advisor_thumb.directoryDelegation img.img-directory-delegation, img.img-directory-contact{
    height: 100px;
    text-align: center;
    width: 100px;
}
.tab-content.clearfix.viewDelegation{
    margin-left: 0%;
}
h3.titleevent, h3.titlenew {
    margin-top: 0px !important;
    font-size: 35px;
}
.section_heading{
    padding-top: 1em !important;
    padding-bottom: 0em !important;
    margin-bottom: 20px;
}
.section-line{
    display: inline!important;
}
h1.titleDirecto {
    color: black;
    text-align: center;
}
.leftTitle.col-md-4 {
    background: linear-gradient(45deg,#fff,#00253c) !important;
    height: 3vh;
    width: 33%;
}
.rightTitle.col-md-4{
    background: linear-gradient(45deg,#ebbb12,#fff) !important;
    height: 3vh;
    width: 33%;
}
h3.delegation {
    color: black;
    text-transform: capitalize;
    text-align: center;
}
.testimonial_client_area3dele {
    background-image: url(../images/parallax/estratosfondo.jpg);
    background-size: cover;
    position: relative;
    z-index: 9;
    background-attachment: fixed;
    width: 100%;
    padding-bottom: 60px;
}
.single_advisor_details_info> p{
    text-transform: inherit;
}
/*section.cool_facts_area.home2.section_padding_60 {
    top: 23vh;
}*/
/*.section_padding_100_70 {
    padding-top: 29vh;
}
.section_padding_60_30{
    padding-top: 180px;
}*/

.section_heading.title {
    padding-top: 0px;
    margin-bottom: 0px;
}
.our_advisor_area{
    background-color: #fff;
}
.section_padding_100_70about{
    padding-top: 30px;
    padding-bottom: 30px;
}
.section_padding_100_70.perfiles{
    padding-top: 170px;
}
.col-xs-12.more {
    background-color: white;
}
.section_heading h3{
    padding-bottom: 5px !important;
}
.testimonial_client_area3{
    padding-top: 1vh;
    padding-bottom: 4vh;
}
.section_padding_60.history, .section_padding_60.objetive, .section_padding_60.aportes, .section_padding_60.etica, .section_padding_60.directiva, .section_padding_60.primera{
    padding: 10px 0;
}
div.bhoechie-tab-container.about{
    margin-left: 0px !important;
}
.container.about{
    padding-left: 0px;
    padding-right: 0px;
}
.about_us_thumb.mision, .about_us_thumb.vision{

}
div.bhoechie-tab-content.about{
    background-color: rgba(255,255,255,0);
}

.testimonial_client_area3.home2.about:after, .testimonial_client_area3.home2.about:before{
    background-color: white;
}
.section_heading {
    /*text-transform: uppercase;*/

}
.testimonial_client_area3.about{
    padding-top: 20vh;
    padding-top: 11px;
}
.section_padding_100_50.asociate{
    background: url(../images/parallax/fondo.png) no-repeat scroll center;
    /*height: 570px;*/
    padding-top: 4vh;
    padding-bottom: 4vh;
}
.section_padding_60.delegation{
    padding: 168px 0;
}
.top_row.row.m0.header-social {
    border-bottom-color: #75b1ed;
    border-width: 10px;
}
.footer_about_us.wow.fadeInUp {
    padding-top: 20px;
}
.footer_contact_info.wow.fadeInUp {
    padding-top: 20px;
}
.testimonial_client_area{
    padding-bottom: 4vh;
}
section.testimonial_client_area3.home2.section_padding_60.about{
    padding-top: 13vh;
}
.single_latest_news_area{
    background-color: white;
    min-height: 375px!important;
    box-shadow: 5px 5px 5px black;
    border: 1px solid #bdbcbc;
}
.title-note{

}
.blog_area{
    background-color: rgb(255, 255, 255);
}
.news_content> p{
    padding: 10px;
    min-height: 60px!important;
}
.published_date{
        background-color: rgba(44,62,80,0.7);
    height: auto;
    text-align: center;
    top: 0px;
    width: 170px;
    left: 0px;
    color: #fff;
    z-index: 99999;
}

.published_date2{
        background-color: rgba(44,62,80,0.7);
    height: 100%;
    text-align: center;
    top: 0px;
    width: 100%;
    color: #FFF;
    font-weight: bold;
    padding-top: .5em; 
    z-index: 99999;
    position: relative;
}
.content-fec{
    width: 100%;
    background: #203b55;
}
.published_date p.date{
    font-size: 45px;
}
.price_plan_area.price.section_padding_100_50.asociarse{
    padding-top: 13%;
}
.single_latest_news_img_area{
    position: relative!important;
    height: auto!important;
    width: 100%;
}
.single_latest_news_text_area{
    padding: 0 !important;
}
.single_latest_news_text_area .news_title h4, .single_latest_news_area .author_name_comments{
}
.published_date p.date{
    font-size: 45px;
    padding-top: 13px;
}
p.monthNews {
    font-size: 40px;
    padding-top: .5em;
}
p.more-oldnews {
    margin-top: 2em;
    text-align: center;
    color: #00253c;
    font-weight: 800;
    background-color: #ebbb12;
}
/****Los cuadros de directorio******/
.single_advisor_profile2 {
    height: 170px;
    width: 103% !important;
    background-color: rgba(255,255,255,0);
}
.advisor_thumb.directoryDelegation {
    margin-left: 9%;
}
.single_advisor_details_info.directory p.black-bold.cargo {
    padding-top: 30px;
}
p.title-delegation {
    z-index: 9999;
    position: absolute;
    padding-top: 5px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
div.header-delegation i.fa.fa-arrow-circle-left {
    color: #0b3562;
    position: relative;
    top: 51px;
    left: 10%;
    font-size: 40px;
}
.divisor {
    background-image: url("../images/parallax/delegationsection.jpg");
    width: 100%;
    min-height: 100%;
    color: white;
    text-align: center;
    margin: 42px 0px;
    padding: 30px;
}
div.divisor h3 {
    margin: 0px;
}
div.divisor i.fa.fa-calendar,div.divisor i.fa.fa-file-text,div.divisor i.fa.fa-file-excel-o,div.divisor i.fa.fa-envelope-o {
    font-size: 120px;
    padding: 11px;
    color: #ecbb22;
}
.single_advisor_profile2{
    padding-top: 11px;
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    box-shadow: 0 0px 0px #313131, 0 1px 0 #393939, 0px 4px 6px rgba(0, 0, 0, 0.4), inset 0px 8px 4px rgba(255, 255, 255, 0.2), inset 0 -2px 9px rgba(0, 0, 0, 0.2);
}
img.imgDirectiva {
    border-radius: 50%;
    height: 110px !important;
    max-width: 100px!important;
    width: 100px !important;
}
.single_gallery_item:hover .title-delegation {
    display: none;
}
/***Alto de asociaciones del footer*/
img.image-asociaciones{
    height: 100%;
}
.single_speciality_text.sitios{
    margin-left: 0px !important;
}
.single_speciality.sitios {
    padding-top: 10px;
}
.testimonial_client_area3dele.inicio{
    padding: 4vh 0;
}
.section_heading.bene{
    padding-top: 0 !important;
}
.bhoechie-tab-container.inicio{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255,255,255,0);
    margin-left: 0px;
}

.advisor_thumb.directoryDelegation, .advisor_thumb.directoryDelegation img{
    border-radius: 50%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #ebbb12 !important;
    color: black !important;
}
a.tab-directory {
    background-color: #022a55;
    color: white !important;
}
a.tab-directory:hover {
    color: black;
    text-decoration: none;
    background-color: #f5f5f5;
}
.container.new {
    margin-top: 10% !important;
}
section.single-blog-post-area.section_padding_100 {
    background-color: white;
}
.singl-blog-status-bar{
    margin-bottom: 0px !important;
}
.singl-blog-title h1{
    padding: 15px 0;
    letter-spacing: 1px;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #2c3e50;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

span.view {
    position: absolute;
    left: 80%;
}

/**** Gacetas *****/

.gacetas{
    color: #85c1ff !important;
    padding-left: .7em !important;
    font-size: 10.5px !important;
    padding-top: 1em !important;
}
img.image-gacetas {
    width: 200px;
    margin: 0 15px;
}
.title-gacetas{
    text-align: center;
}

.col-md-8.col-xs-8.col-sm-8.col-lg-8.titlesitios.gacetas{
    padding-left: 28px;
}
/***** Fin Gacetas *****/
.testimonial_client_newview {
    background-image: url(../images/parallax/chiapas5.jpg);
    background-size: auto;
    position: relative;
    z-index: 9;
    background-attachment: fixed;
    padding-bottom: 20px;
}
.testimonial_client_area3dele.event{
    padding-top: 8%;
}
i.fa.fa-check {
    position: absolute;
    left: -10px;
    margin-top: 4px;
}
.service_details_content :last-child{
}
.col-md-8.col-xs-8.col-sm-8.col-lg-8.titlesitios {
    padding-left: 0px;
    padding-top: 10px;
}
.col-md-4.col-xs-4.col-sm-4.col-lg-4.imagesitios {
    width: 30%;
}


/*** Menu nuevo tanaÃ±o */
.top_row.row.m0.header-social {
    height: 112px;
}
.main_menu_area, .mainmenu, nav, ul#nav, .mainmenu ul#nav li {
    height: 40px;
}
header.navbar.navbar-default.navbar-fixed-top.navbar-inner {
    height: 113px;
}
.container.modalPresidente {
    width: 100% !important;
}
.modal-content.suscribete {
    height: 30%;
    width: 50%;
}
.modal-dialog.suscribete {
    margin: 11% 30% !important;
}
img.imgmodal{
    max-width: 74%;
}
/*i.fa.fa-credit-card.afiliarse.tamano-icon-25{
    width: 4%;
}*/
i.fa.afiliarse {
    background-color: #97c1e8;
    width: 30%;
    height: 100%;
    border-radius: 50%;
    margin-left: 8px;
    padding-top: 6px;
}
span.onlypay {
    background-color: #74b1ed;
    height: 49px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    padding-right: 10px;
    font-weight: bold;
    padding-left: 6px;
    margin-left: -1px!important;
}
i#onlypay{
    background-color: #74b1ed !important;
    margin-right: -6px;
}
i.fa.afiliarse.linea::after {
    content: '';
    display: inline-block;
    width: 13.3%;
    top: -2%;
    height: 54%;
    border-bottom: 6px solid #97c1e8;
    position: absolute;
}
.wizard> .steps .done a i.fa.afiliarse, .wizard> .steps .done a:hover i.fa.afiliarse, .wizard> .steps .done a:active i.fa.afiliarse {
    background-color: #001a35 !important;
    color: white;
}
.wizard> .steps .current a i.fa.afiliarse{
    background-color: #009ed3 !important;
}
.wizard> .steps .current a i.fa.afiliarse.linea::after{
    border-bottom: 6px solid #009ed3;
}
.wizard> .steps .done a i.fa.afiliarse.linea::after, .wizard> .steps .done a:hover i.fa.afiliarse.linea::after, .wizard> .steps .done a:active i.fa.afiliarse.linea::after{
    border-bottom: 6px solid #001a35;
}
.btn-danger.closemodal{
    background-color: #ebbb12;
    border-color: #ebbb12;
    color: #103768;
}
a.howinscription {
    color: white;
    font-size: 71px;
    font-weight: bold;
    position: absolute;
    left: 35%;
    top: 150px;
    width: 100%;
}
button.btn.btn-warning.more {
    position: absolute;
    left: 44%;
    top: 229px;
}
section.testimonial_client_area.home2.section_padding_60{
    padding: 4vh 0;
}
.section_heading.interes{
    padding-top: 0px;
}
.section_padding_60_30.asociaciones{
    padding-top: 30px;
}
.section_heading.title-asociaciones{
    padding-top: 0px;
    padding-bottom: 70px;
    padding-left: 14px;
    padding-right: 2px;
    height: 50px;
}
p.white.name {
    text-align: right;
    padding-top: 5px;
    font-size: 18px;
}
.single_advisor_profile {
    height: 410px !important;
}


/**** Flechas de otras asociaciones*****/
.owl-carousel {
    position: relative;
}
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    margin-top: -40px;
    font-size: 33px;
    color: #ebbb12;
}
.owl-prev {
    left: -45px;
    background-color: rgba(14, 50, 99, 0.8);
}
.owl-next {
    right: -45px;
    background-color: rgba(14, 50, 99, 0.8);
}
/******  alto de celdas de beneficios*****/
a.list-group-item.text-center {
    height: 70px;
}

.mainmenu ul#nav li.publi{
    height: 35px;
}

a.list-group-item.text-center {
    font-size: 11px !important;
    line-height: 13px;
    padding-top: 25px;
}

.single_advisor_profile2{
    width: 100% !important;
}

.advisor_thumb.directoryDelegation{
    margin-left: 4%;
}

/**** Iconos de publicaciones ****/
a.btn.btn-default.btn-rounded.btn-sm1{
    position: absolute;
    left: 94.9%;
}
.section_padding_60.vision{
    padding: 30px 0;
}
.section_padding_60.mision{
    padding: 30px 0;
}
/*** Vista about secciÃ³n socios fundadores *****/
.single_advisor_profile2.fundadores{
    width: 100% !important;
    height: 24vh !important;
}
img.mision-vision{
    max-width: 60%;
}
.col-xs-12.more{
    background-color: rgba(0,0,0,0);
}
/*** Vista about secciÃ³n socios expresidentes *****/
.advisor_thumb.expresidentes{
    height: 73%;
}
.single_advisor_profile.expresidentes{
    height: 300px !important;
}
/*** Vista about secciÃ³n directiva tab *****/
.single_advisor_profile2.directiva{
    width: 100% !important;
    min-height: 100%;
    height: 140px;
}
p.descriptionDirectiva{
    font-size: 12px;
    line-height: 12px;
    word-wrap: break-word;
}
.advisor_thumb.directiva{
    margin-left: 0%;
}
.advisor_thumb.directiva img {
    height: 10vw;
    text-align: center;
    width: 10vw;
    margin-left: 15px;
}
.advisor_thumb.directiva{
    border: 1px solid rgba(246, 246, 246, 0);
}

a.list-group-item.text-center.dire{
    font-size: 26px !important;
}

section.home2.section_padding_60.about.testimonial_client_area3dele{
    padding-top: 130px;
}
p.sociosname {
    color: black;
    font-size: 15px;
    font-weight: 900;
}
.col-lg-10.col-md-10.col-sm-10.col-xs-10.bhoechie-tab.whiteback {
    background-color: white;
    min-height: 420px;
}
.single_advisor_profile.president{
    height: 333px !important;
}
.single_advisor_profile.directiva{
    height: 375px !important;

}
.advisor_thumb{
    border: 1px solid rgba(246, 246, 246, 0);
}
div.bhoechie-tab-container.directivas{
    margin-left: 0px !important;
}
.section_heading.title-asociaciones.ex{
    padding-bottom: 20px !important;
}
section.about_area.home2.section_padding_100.delegation{
    padding-top: 110px;
    background: #fff
}

section.about_area.home2.eventdelegation {
    padding: 15px 0;
}
p.name-delegation{
    margin: -7px 0 10px;
}
.address-area .single_part> p, .address-area .single_part> a{
    word-break: break-all;
    margin-right: 50px;

}
span.title-big {
    font-size: 36px;
}
section.blog_area.new-delegation, section.blog_area.event-delegation {
    margin: 0 3%;
}

/***** Vista noticias ******/
h4.title-news, h4.title-events {
    position: relative;
    bottom: 0px;
    /* background: rgba(0,0,0,0.5); */
    color: white;
    height: auto;
    padding: 10px;
    text-align: justify;
    font-size: 1em;
    font-weight: 300;
}
img.allnews{
    padding-left: 0px;
}
.singl-blog-status-bar.title-news.wow.fadeInUp{
    border-left: 10px solid #0f3564;
}
.singl-blog-status-bar span{
    padding: 7px;
}
.singl-blog-details p{
    margin-top: 1em;
}
.singl-blog-details.text-justify.wow.fadeInUp.summary {
    padding-bottom: 0px;
    text-align: justify;
}
.singl-blog-status-bar.wow.fadeInUp{
    border-right: 3px solid #ebbb2f;
}
#gradNews {
    color: white;
    margin-top: 1em;
    padding: 15px 10px;
    border-bottom:  3px solid #ebbb2f;
    text-align: center;
}
.latest_post .single_latest_post> img{
    width: 100%;
    border: 5px solid white;
}
.single_latest_post{
    height: auto;
}
.latest_post .single_latest_post{
    border-bottom: 1px rgba(218, 218, 218, 0);
    padding-left: 0px;
    margin-top: 1em;
    border: 1px solid #FFF;
    box-shadow: 5px 5px 5px black;
}
/***** Vista de publicaciones ******/
thead {
    background-color: #103666;
    color: white;

}
tbody {
    background-color: transparent;
    color: black;
}
td {
    text-align: center;
}
.modal-header.mh-warning.download {
    color: white;
}
.modal-body.download {
    color: white;
}
.close:focus, .close:hover, button.close:focus, button.close:hover{
    color: white;
}
.close, button.close{
    opacity: 1 !important;
    color: white;
    background-color: red;
    padding: 0px 5px;
}
.btn-danger:hover {
    color: #FFF !important;
}
button.close.publi {
    color: white !important;
    z-index: 99999999 !important;
    opacity: 1 !important;
}
.modal-header .close{
    background-color: white;
    color: #2c842e;
}
.form-inline .form-control{
    margin-left: 10px;
}
button.delete_value_table.btn.btn-info.download {
    padding: 5px 8px;
}

/****** Suscripcion **********/
p.suscripciones, h4.modal-title.value_name_delete.suscripcion {
    color: white;
}
.positiom-3{
    margin-left: 17px!important;
}

/**** Afiliarse ******/
/*span.step_bar {
    background-color: #ffffff;
    color: #12396a;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
}
.container_form {
    padding-top: 25px;
}
span.step_bar.step_highlight{
    background-color: #11396a;
    color: #ebbb12;
    padding: 10px;
    font-size: 15px;
    font-weight: 900;
}
span.fprev.myButton, span.fnext.myButton {
    background-color: #11396a;
    color: white;
    padding: 7px;
    border-radius: 23%;
}
span.fnext.myButton{
    float: right;
}
form#form1 {
    height: 200px !important;
}
.div_round_corner{
    padding:5px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: url(img/bg_transparent.png);
}
.step_bar{
    margin-left:10px;
    display:inline-block;
    padding:5px;
    background:#00ccff;
    border-radius: 5px 5px;
    border-radius: 5px 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    cursor:pointer;
    color:#fff;
    text-shadow:0px 0px 0px;
    margin-bottom:5px;
    font-size:10pt;
}*/

.wizard {
    margin: 20px auto;
    background: #fff;
}

.wizard .nav-tabs {
    position: relative;
    margin: 40px auto;
    margin-bottom: 0;
    border-bottom-color: #e0e0e0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    border: 0;
    border-bottom-color: transparent;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5bc0de;

}
.wizard li.active span.round-tab i{
    color: #5bc0de;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5bc0de;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5bc0de;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px;
}

.wizard h3 {
    margin-top: 0;
}
.step1 .row, .step2 .row, .step3 .row, .step4 .row {
    margin-bottom:10px;
}
.step_21 {
    border :1px solid #eee;
    border-radius:5px;
    padding:10px;
}
.step33 {
    border:1px solid #ccc;
    border-radius:5px;
    padding-left:10px;
    margin-bottom:10px;
}
.dropselectsec {
    width: 68%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.dropselectsec1 {
    width: 74%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    outline: none;
    font-weight: normal;
}
.mar_ned {
    margin-bottom:10px;
}
.wdth {
    width:25%;
}
.birthdrop {
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    margin-left: 10px;
    width: 16%;
    outline: 0;
    font-weight: normal;
}


/* according menu */
#accordion-container {
    font-size:13px
}
.accordion-header {
    font-size:13px;
    background:#ebebeb;
    margin:5px 0 0;
    padding:7px 20px;
    cursor:pointer;
    color:#fff;
    font-weight:400;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px
}
.unselect_img{
    width:18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.active-header {
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    border-radius:5px 5px 0 0;
    background:#F53B27;
}
.active-header:after {
    content:"\f068";
    font-family:'FontAwesome';
    float:right;
    margin:5px;
    font-weight:400
}
.inactive-header {
    background:#333;
}
.inactive-header:after {
    content:"\f067";
    font-family:'FontAwesome';
    float:right;
    margin:4px 5px;
    font-weight:400
}
.accordion-content {
    display:none;
    padding:20px;
    background:#fff;
    border:1px solid #ccc;
    border-top:0;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-radius:0 0 5px 5px
}
.accordion-content a{
    text-decoration:none;
    color:#333;
}
.accordion-content td{
    border-bottom:1px solid #dcdcdc;
}



@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
    input#email {
        position: relative;
        width: 100%;
    }
    section.login_area{
        min-height: 134vh;
    }
}

.dropselectsecafili {
    width: 100%;
    padding: 6px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
    outline: none;
    font-weight: normal;
}
.section_padding_100.news {
    padding: 30px 0;
}

.section_padding_100_70about.fundadores {
    padding-top: 10%;
}
section.section_padding_60.gacetas {
    background-color: #24487d;
}
section.section_padding_60.gacetasview{
    padding: 10% 0;
    background-color: #24487d;
}
.content-fa.pay {
    margin: 25%;
    color: white;
    text-align: center;
}
i.fa.fa-angle-up.beneficios {
    position: absolute;
    top: -12%;
    left: 7%;
    font-size: 65px;
}
i.fa.fa-angle-down.beneficios {
    position: absolute;
    top: 97%;
    left: 7%;
    font-size: 65px;
}
.section_padding_100.newsindex, .section_padding_100.eventos{
    padding: 113px 0;
}
.content-event {
    font-size: 1.2em;
    color: black;
    padding: 10px 20px;
}
span.month {
    padding: 4px;
    font-size: 12px;
}

/**** Efecto de icono hover sitios de interes *****/
    .single_speciality_icon{
        overflow: hidden;
    }
    .single_speciality_icon img{
        transition: 2s;
    }
    .single_speciality_icon:hover img{
        transform: scale(2.5);
    }
/**** Fin efecto de icono hover sitios de interes *****/

/*** Cambio de color de background perfil de usuario ****/
    section.checkout_page.section_padding_100_70.profile{
        background-color: white;
    }
/*** Fin de cambio de color de background perfil de usuario ****/

/**** Vista de usuario logueado *****/
    .re_customer_coupon_code{
        background-color: transparent;
        color: black;
        height: auto!important;
    }
    li.tabs-profile.active a.tab-profile {
        background-color: #132171 !important;
        color: white;
    }
    li.tabs-profile.active a.tab-profile span.glyphicon {
        color: white !important;
    }
    p.profile-name {
        padding: 20px;
        font-weight: bold;
        font-size: 19px;
    }
    p.profile-rol {
        position: relative;
        /*top: 60px;*/
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1em;
        margin: 0;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    .statusClient{
      position: relative;
      top: 29px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-size: 17px;
      font-weight: 500;
      line-height: 1.8em;
      margin: 0;
        text-align: center;
    }

    .badge {
        background-color: #777;
    }
    .tabs-left {
        margin-top: 3rem;
    }
    .nav-tabs {
        float: left;
        border-bottom: 0;
        width: 100%;
    }
    .nav-tabs li {
        float: none;
        margin: 0;
    }
    .nav-tabs li a {
        margin-right: 0;
        border: 0;
        background-color: #fff;
    }
    .nav-tabs li a:hover {
        background-color: #ebbb2f;
        color: #1f2772;
    }
    .nav-tabs .glyphicon {
        color: #000;
    }
    .nav-tabs .active .glyphicon {
        color: #333;
    }
    .nav-tabs > li.active > a,
    .nav-tabs > li.active > a:hover,
    .nav-tabs > li.active > a:focus {
        border: 0;
    }
    .tab-content .tab-pane {
        display: none;
        background-color: #fff;
        overflow-y: auto;
    }
    .tab-content .active {
        display: block;
    }
    .list-group {
        width: 100%;
    }
    .list-group .list-group-item {
        height: 50px;
    }
    .list-group .list-group-item h4, .list-group .list-group-item span {
        line-height: 11px;
    }
    .tab-content.profile, .tab-pane.profile {
        height: auto !important;
    }
    a.tab-profile {
        border-radius: 0px 0px 0 0 !important;
        border-bottom: solid 0.5px grey !important;
    }
    .afiliacion-profile {
        background-color: white;
        margin-top: 2%;
        padding: 20px;
        font-size: 12px;
        text-align: center;
    }
    .negritas{
        font-weight: bold;
    }
    .negrit{
        color:black!important;
    }
    button.afiliacion {
        background-color: #ebbb2f;
        border: none;
        border-radius: 5px;
        padding: 2px 17px 2px 17px;
    }
/***** Fin de vista de usuario logueado *****/




/***** Gacetas *****/
i.fa.fa-cloud-download.gaceta {
    font-size: 120px;
    color: white;
    position: absolute;
    left: 46%;
}
h4.download-gacetas {
    text-align: center;
    color: white;
}
.single_speciality_icon.gacetas{
    height: 150px !important;
    width: 100px !important;
    background-color: rgba(37, 72, 125, 0);
}
img.iconosSitios.gacetas{
}
.single_speciality_text.sitios.gacetas{
    text-align: center;
}
/**** Fin gacetas *****/


/***** Planes********/
.price_plan_area.planes{
    padding-top: 9%;
}
div.title {
    background-color: #1c62b5;
}
.price_plan_area .single_price_plan .title h3{
    color: white;
}
.btn-default.asociaciones{
    background-color: #ebbb2f;
}
.price_plan_area .single_price_plan .button> a{
    color: black;
    margin-bottom: 50px !important;
}
.price_plan_area .single_price_plan .description> p{
    color: black;
}
.price_plan_area .single_price_plan .description> p span{
    font-weight: 900;
}
.price_plan_area .single_price_plan .title{
    padding: 11px 0;
}
.single_price_plan{
    height: 300px;
}

.single_price_plan2{
    height: 210px!important
}
.price_plan_area .single_price_plan .description{
    position: relative;
    top: 34%;
    transform: translateY(-50%);
}
.price_plan_area .single_price_plan .button {
    padding: 0px 0 10px 0 !important;
    width: 62%;
    margin: 0 auto;
}
a.btn.btn-default.asociaciones{
    text-transform: inherit;
    width: 81%;
    font-size: 11px;
}
h3.titlemembership {
    /*background-color: grey;*/
    color: white;
    padding: 10px;
    /*width: 40%;*/
}
h3.titlemembership2 span {
    background-color: #ebbb2f;
    color: white;
    padding: 7px 57px;
}
.dropzone.dropzone_file_acta, .dropzone.dropzone_file_cv, .dropzone.dropzone_file_foto, .dropzone.dropzone_file, .dropzone.dropzone_file_cedula{
    min-height: 215px;
}
h2.text-center.membresia{
    font-size: 10px;
}
.dz-default.dz-message.membresia{
    width: 159px !important;
    margin-left: -80px !important;
}
.form-control.small-input{
    padding: 6px 5px;
    font-size: 10px;
}
.steps.clearfix {
    left: 7%;
}

.margin-outb{
    padding-right: 0!important;
    padding-left: 0!important;
}
a.closedfinish {
    background-color: #2b83be;
    padding: 1px 11px;
    color: white;
    position: absolute;
    left: 60%;
    top: 2%;
}
.wizard> .actions a, .wizard> .actions a:hover, .wizard> .actions a:active {
    background: #2184be !important;
    color: #fff !important;
    -webkit-border-radius: 5px !important;
    border-radius: 5px !important;
    font-size: 15px !important;
}
.login_form.changepass{
    min-height: 273px;
}
input.changepass{
    width: 93% !important;
}
input.changepass.restaurar {
    width: 65% !important;
}
.form-group.changepass.has-feedback{
    text-align: center !important;
}
form#ayudaForm {
    border: 1.5px solid grey;
}
a#ayudaForm-t-0, a#ayudaForm-t-1, a#ayudaForm-t-2, a#ayudaForm-t-3, a#ayudaForm-t-4, a#ayudaForm-t-5 {
    text-align: center;
    padding: 20px 0;
}
.form-group> i.changepass{
    float: none;
}
i.fa.fa-lock.titlechange{
    color: #808080;
}
.col-xs-3.col-md-3.col-sm-3.cerrar-sesion {
    background-color: #84c1fc;
    height: 90px;
    margin: 0 0 0 -15px;
    padding-top: 18px;
}
section#newClient-p-5 {
    padding-top: 5%;
}
section#newClient-p-4 {
    padding: 0 4%;
}
label.col-md-2.col-xs-12.control-label.text-left {
    font-size: .8em;
}
h3.titlemembership2 {
    color: white;
    padding: 10px;
    width: 140%;
}
li.membership{
    width: 49.8%;
}
.modal-dialog.referencia {
    margin-top: 5% !important;
    margin-left: 28% !important;
    width: 50% !important;
}
.contact_input_area .form-group input.referencias{
    height: 35px;
    margin-bottom: 0px;
}
.ingreso {
    background-color: white;
    border: solid 2px #113766;
    height: 200px;
    text-align: center;
    padding-top: 13px;
    margin-bottom: 10px;
}
a.ingreso-icon {
    font-size: 67px;
}
i.tipos-asociados {
    background-color: #4d7cb1;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding-top: 15px;
    color: white;
}
div.button.membership {
    padding-top: 43px;
}


.cuotas {
    background-color: white;
    border: solid 2px #113766;
    height: 200px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}
span.black {
    font-weight: bold;
    font-size: 20px;
}

.tipos-asociados{
    background-color: white;
    border: solid 2px #113766;
    height: 100%;
    text-align: center;
    padding-top: 30px;
}
.flecha-right{
    width:0px;
    height:0px;
    border-bottom:24px solid transparent;  /* izquierda flecha */
    border-top:24px solid transparent; /* derecha flecha */
    border-left:25px solid #808080; /* base flecha y color*/
    font-size:0px;
    line-height:0px;
}
.flecha-right-firts{
    width: 0px;
    height: 0px;
    border-bottom: 24px solid transparent;
    border-top: 24px solid transparent;
    border-left: 25px solid #ebbb2f;
    font-size: 0px;
    line-height: 0px;
    left: -141px;
    top: -31px;
}
.title-second.col-sm-4::after{
    width: 0px;
    height: 0px;
    border-bottom: 24px solid transparent;
    border-top: 24px solid transparent;
    border-left: 25px solid #ebbb2f;
    font-size: 0px;
    line-height: 0px;
}
img.image-membership {
    width: 100vw;
    height: 50vh;
    border: grey 1px solid;
    padding: 2px;
    margin-bottom: 10px;
}
.section_heading.membership{
    /*margin-bottom: -88px;*/
}
.nav-pills>li.active>a.tab-requi{
    color: #2e5387 !important;
    font-weight: 900;
}
.nav-pills>li.active>a.tab-requi, div#home.active, div#menu1.active{
    background-color: #bcd5ef !important;

}
a.tab-requi {
    background-color: white;
    font-weight: 900;
}
section.section_padding_100.testimonial_client_area3dele{
    padding-top: 120px;
}
div.button.membership.all {
    padding-top: 12px;
}
a.btn.btn-default.asociaciones.active {
    background-color: #ebbb2f;
    color: #103664;
}
a.btn.btn-default.asociaciones {
    background-color: #103664;
    color: white;
    margin-bottom: 4px;
}
.nav-pills>li>a.tab-requi{
    border-radius: 0px;
}
.title-firts.col-sm-4 {
    background-color: grey;
    height: 48px;
}
.title-second.col-sm-4 {
    margin-left: -80px;
    margin-top: 2px;
    z-index: -1;
}
/****** Fin Planes ****/


/***** Inicio de sesiÃ³n ****/

input.email-login{
    width: 94% !important;
}

div#myModalSession {
    color: white;
    top: 15%;
    left: 24%;
}
img.img-responsive.logomodal {
    width: 122px;
}
p#message_modal {
    padding: 10%;
    font-size: 22px;
}
p.acount {
    padding: 49px 0px;
    text-align: justify;
}
.register_form, .login_form{
    width: 66%;
    min-height: 200px;
}
button.btn.btn-default.view-inicio{
    background-color: #00bb51;
    float: right;
    border-radius: 0px;
    font-weight: bold;
    font-size: 17px;
    padding: 5px 10px;
}
.forget_pass.one.view-inicio {
    float: right;
    padding-right: 0px;
}
.register_form .form-group> i, .login_manual_form .form-group> i{
    font-size: 25px;
    /*width: 6%;*/
    padding: 9px 9px;
}
i.fa.fa-envelope-o.register {
    padding: 9px 4px;
}
i.fa.fa-mobile.register {
    font-size: 30px;
    padding: 7px 9px;
}
.login_manual_form .form-group> input.pass{
    width: 43%;
}
input#password, select#cuota, select#delegation, select#day, select#mes, select#year, input#email, input#rfc, input#confirmPassword, input#confirmEmail, input#phone, input#lastname, input#secondname, input#name {
    border: 0.5px solid black;
}
form.form-register{
    padding-bottom: 20vh;
}
form.form-register2 {
    min-height: auto;
}
.col-xs-12.col-md-12.col-lg-12.radio-input {
    text-align: -webkit-left;
}
button.btn.btn-default.register-button {
    background-color: #2a7fb9;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0px;
    border-radius: 4px;
}
label.acepto {
    color: grey;
}
a.blue {
    color: #2a7fb9;
    text-decoration: underline;
}
.lastname {
    padding-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 33%;
}
.form-group.lastname {
    width: 106%;
}
button.btn.btn-default.changepass {
    float: right;
    font-size: 14px;
    font-weight: bold;
    background-color: #0e72e4;
}
.forget_pass> a.passchange{
    color: #4d7db2;
    text-decoration: underline;
}

.login_manual_form> p{
    font-size: 22px;
    /*top: 50%;*/
    margin-bottom: 18px;
    position: absolute;
    left: 6%;
    top: 64%;
}
.modal-body.inicio-sesion{
    padding: 0px;
}
.modal-content.inicio-sesion{
    padding: 0px;
}
.login_manual_form> p.login-layout{
top: 44%;
}
.login_manual_form.updatepass{
text-align: center;
}
h5.title-updatepass {
/* padding: 4% 0%;*/
    font-size: 16px !important;
}
button.btn.btn-default.pass {
    position: absolute;
    bottom: 9%;
    right: 12%;
    float: right;
    background-color: #296db1;
    padding: 4px 0px;
    width: 20%;
    font-size: 20px;
}
.modal-dialog.sendchangepass {
    margin-left: 25% !important;
    width: 50% !important;
}
.modal-content.sendchangepass{
    background-color: rgba(0, 37, 60, 0);
}
.modal-dialog.sendchangepass{
    margin-top: 9% !important;
}
.modal-body.sendchangepass {
    background: white;
}
.modal-content.sendchangepass{
    padding: 0px;
}
.modal-header.pass.send{
    width: 100% !important;
}
.butonfer{
    background-color: #091b31!important;
    color: white!important;
}
.white{
    color: white!important;
}
p.title-updatepass {
    text-align: center;
    padding: 2% 11%;
    font-size: 16px;
}
.modal-content.changepass{
    padding: 0px;
}
.title-session.titlechange{
    left: -12.5%;
}
button.btn.btn-default.changepass-modal{
    background-color: #0672f3;
    color: white;
    margin-right: 14%;
    float: right;
}
.modal-content.changepass{
    background-color: rgba(0, 37, 60, 0);
}
.modal-body.changepass {
    background-color: white;
    text-align: center;
    font-size: 28px;
}
.modal-dialog.changepass {
    margin-left: 23% !important;
    margin-top: 10% !important;
    width: 52% !important;
}
.modal-header.pass.changepass{
    width: 100%;
}
button.btn.btn-default.modal-sendchangepass{
    color: white;
    background-color: #3472b5;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 28px;
    border-color: #3472b5;
    float: right;
}
div.title-session i.fa.fa-user,div.title-session p{
    display: inline-block;
}
div.register_form.recibo-perfil{
    width: 100%;
}
button.btn.btn-warning.view-inicio-crear-cuenta {
    background-color: #7eb8f3;
    text-decoration: none;
    font-weight: bold;
    padding: 11px 5px;
    font-size: 15px;
    border-color: #7eb8f3;
    color: white;
    float: right;
    width: 45%;
}
button.btn.btn-warning.view-inicio-crear-cuenta i.fa.fa-user-plus{
    font-size: 13px;
    padding-right: 23px;
}
button.btn.btn-warning.view-inicio {
    color: white;
    float: left;
    width: 45%;
    font-weight: bold;
}
.button-view-session {
}
a.btn.btn-warning.view-inicio.session {
    padding: 6px 30px;
}
p.note-session{
    text-align: center;
    /*font-weight: bold;*/
    padding: 3% 4%;
    font-size: 12px;
}
p.title-modal-login, p.title-modal-updatepass, p.title-modal-createacount{
    margin: 0px;
    font-weight: bold;
    font-size: 18px;
}

.title-session {
    width: 100%;
    background-color: #143a66;
    color: white;
    font-size: 18px;
    padding: 4px 13px;
    box-shadow: 0 0 16px rgba(15, 54, 100, .5);
}
.title-session.iniciar-sesion, .title-session {
    position: relative;
    text-align: left;
}
.title-session.iniciar-sesion{
}
span.bold-index {
    font-weight: bold;
    font-size: 15px;
}
.wizard> .steps .current a, .wizard> .steps .disabled a, .wizard> .steps .current a, .wizard> .steps .done a, .wizard> .steps .done a:hover, .wizard> .steps .done a:active, li.disabled a, li.first.current a{
    background: #ffffff !important;
    color: #133967 !important;
}
.wizard> .steps .current a, li.first.current a, div.steps.clearfix ul li a{
    /*color: #ffffff !important;*/
    line-height: 16px;
    height: 89px !important;
}
div.steps.clearfix ul li a{
    font-size: 12px !important;
}
li.first.current a{
    font-size: 15px !important;
    line-height: 16px;
}
li.current a{
    font-weight: bold;
}
.modal-header.pass {
    padding: 4px 13px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #091b31;
    width: 29%;
    height: auto;
    color: white;
}
.modal-content.pass {
    top: 14px;
    left: 35%;
    background-color: rgba(0,0,0,0);
    padding-top: 0px;
}
.modal.fade.in{
    /*background-color: rgba(0,0,0,0.8);*/
}
button.btn.btn-warning.view-inicio {
    width: 60%;
    background-color: #ebbb2f;
    float: none;
}
button.btn.btn-warning.view-inicio-crear-cuenta{
    float: none;
    width: 53%;
}
.title-session.text-center.createacount {
    left: 0%;
    width: 80%;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}
form#newClientRegister{
    min-height: 30vh;
}
.login_manual_form> p.register{
    top: 67%;
}
.sign_in_facebook.register{
    margin-top: 0%;
}
input#email.validate_keyup, input#password.validate_keyup,input#confirmPassword.validate_keyup{

}
input#email{
}
h2.title-create {
    color: #143a65;
    padding-bottom: 5%;
}
.createacount.btn-create {
    position: absolute;
    bottom: 11%;
    width: 87%;
}
.login_form.changepass{
    width: 50%;
}
.modal-content.presidente {
    left: 4%;
}
section.inicio-sesion {
    height: auto!important;
    background-color: rgba(255, 255, 255, 0);
}
.login_form.create-acount {
    width: 80%;
    min-height: 220px;

}

.marco1{
    border: 2px solid #143a66 ;
}
.login_form.create-acount.register {
    width: 56%;
}
.login_form.register {
    width: 56%;
    min-height: 300px;
}
button.close.login-layout {
    color: white;
    background-color: red;
    padding: 0px 5px;
}
.title-session.iniciar-sesion.create-acount{
    width: 56%;
}
input#ladatelOficina, input#telOficina, input#extphone {
    padding: 1px;
}
.login_form.register{
    padding: 30px 30px 50px 30px;
}
.modal-body.inicio-sesion {
    text-align: -webkit-center;
}
.modal-content.inicio-sesion {
    background-color: rgba(0, 37, 60, 0);
    margin-top: 15%;
}
button.btn.btn-warning.view-inicio-crear-cuenta.session {
    float: right;
    width: 32%;
    font-size: 13px;
}
button.btn.btn-warning.view-inicio.session {
    width: 40%;
    background-color: #ebbb2f;
    float: left;
    font-size: 13px;
    padding: 11px;
}
.modal-dialog.session.login{
    width: 50% !important;
}
.modal-dialog.session {
    margin-top: 15px !important;
    width: 59% !important;
    margin-left: 20% !important;
}
.title-session.iniciar-sesion.layout{
    position: relative;
    text-align: left;
}
.form-group> i.register{
    width: 11%;
}
.form-group> i.register2{
    width: 15%;
}
.login_form.layout {
    width: 100%;
    min-height: 300px;
    padding-bottom: 8%;
    background-color: white;
}
.black-bold.inicio-sesion {
    color: #ffffff !important;
    font-weight: bold !important;
}
.modal-header.iniciar-sesion {
    padding: 3px;
}
.modal-footer.iniciar-sesion {
    padding: 6px;
}
.forget_pass.login-register{
    background: none;
}
/***** Fin de inicio de sesiÃ³n ****/

.text-left{
    text-align: left !important;
}
.padding-lados{
    padding: 40px 10% !important;
}
span.number {
    display: none;
}
a#newClient-t-0, a#newClient-t-1, a#newClient-t-2, a#newClient-t-3, a#newClient-t-4, a#newClient-t-5 {
    text-align: center;
    padding: 20px 0;
}
/** Logueo facebook **/
img.photofacebook {
    width: 22%;
    position: absolute;
    left: 1%;
    top: 13%;
}
strong.namefacebook{
    padding-left: 34px;
}


/* Clases fijas */
i.form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-ok{
    right: -14px !important;
    color: green;
}
i.form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-remove{
    color: red;
}
i.form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-ok, i.form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-remove{
    width: 7%;
    float: left;
    font-size: 14px;
    padding: 1px;
    right: -9px;
    background-color: rgba(250, 235, 215, 0);
}
/*i.form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-ok{
    height: 100%;
    background-color: #00b6ff;
}*/
/*i.form-control-feedback.fv-icon-no-label.glyphicon.glyphicon-remove {
    height: 59%;
    background-color: #e26363;
}*/
.tamano-icon-25{
    font-size: 32px;
}
form#newClient {
    border: 1.5px solid grey;
}
p.parrafo-validate {
    position: relative;
    color: black;
    font-size: 16px;
    margin-bottom: 20px;
}
.title-session.validate{
    left: -11%;
    width: 28%;
}
input#name, input#lastname, input#secondname {
    margin-bottom: 5px;
}
.margen {
    border: 1px grey solid;
    padding: 14px;
    min-height: 390px;
    text-align: center;
}
.title-document{
    color: #133763;
    font-size: 18px;
}
.title-document2{
    color: gray;
    font-size: 12px;
    display: inline-block;
    line-height: 10px;
    text-align: center;
}
label.control-label.title-document2{
    text-align: center;
}
.direction-close {
    float: right;
    font-size: 20px;
    position: relative;
    top: 0px;
    color: red;
}
.login_form.changepass.validate{
    height: auto;
}
.delete_direction, .delete_studio, .delete_work{
    color: #fff;
    background-color: #ffffff;
    border-color: #ed4630;
    position: relative;
    left: 93%;
    top: 0;
}
.delete_direction:hover{
    color: #fff !important;
}
p.p-modal-delete, h4.modal-title.value_name_delete{
    color: white;
}

li.current a i.afiliarse{
    color: white;
}
div#delete_modal {
    width: 50%;
    left: 25%;
    top: 20%;
}
.sign_in_facebook{
    background-color: #007ebc;
}
a.btn.view-inicio-crear-cuenta.session {
    background-color: #97c3e8;
    color: white;
    padding: 6px 30px;
    float: right;
}
.login_form.updatepass{
    min-height: 21vh !important;
}
.help-block{
    margin-top: -4px;
    margin-bottom: 0px;
}
.small, small{
    font-size: 71%;
}
.login_manual_form form .form-group:last-child{
    min-height: 62px;
}
p.acount-true {
    color: #027ebc;
    margin-top: .5em;
}
/******** Inicio *******/

/******** Fin de inicio *******/


i.fa.fa-check.validate-true {
    color: white;
    background-color: green;
    padding: 5px;
    position: absolute;
    margin-top: -11px;
}
i.fa.fa-times.validate-false {
    color: white;
    background: red;
    padding: 5px;
    position: absolute;
    margin-top: -11px;
}
th.text-center, th.text-center.no-padding {
    border: 1px black solid;
}
.border-all {
    border: 1px #2b2b2b solid;
    height: 32px;
}
.no-padding {
    padding: 0px !important;
}
.alto-celda-solicitud{
    height: 50px;
}
/*Pago temporal*/
select#cuota, select#delegation {
    border-radius: 6px;
    height: 60px;
    margin-bottom: 30px;
    padding: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
}
.paymentdescription {
    margin-top: 20% !important;
}
input.ayudamutua {
    margin-left: 0% !important;
}
.method-payment {
    margin-top: 3%;
    border-radius: 100px;
}
h3.text-center.title-method-payment {
    padding: 15px 0px 0px 0px;
    color: #378fce;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
}
.others-title-method-payment {
    padding: 15px 0px 40px 0px;
    color: #378fce;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: bold;
}
p.text-center.parrafo-method-payment {
    font-size: 21px;
    font-weight: bold;
}
p.text-justify.parrafo-method-payment{
    font-size: 21px;
    font-weight: bold;
}
p.text-center.others-parrafo-method-payment{
    font-weight: bold;
    font-size: 18px;
    margin-right: 4%;
}
li.others-parrafo-method-payment{
    list-style: square;
    margin-left: 3%;
    font-size: 18px;
}
p.text-justify.others-parrafo-method-payment{
    font-size: 18px;
    font-weight: 500;
    padding: 2% 0;
}
p.text-justify.others-parrafo-method-payment-end{
    font-size: 18px;
    font-weight: 500;
    padding: 4% 0;
}
img.center-img-referencia-pago-2018 {
    padding-left: 28%;
    width: 73%;
    margin-bottom: 3%;
}
img.center-img-paypal{
    padding-left: 30%;
    width: 60%
}
img.center-img-referencia-pago{
    padding-left: 30%;
    width: 60%;
    margin-bottom: 5%;
}
select#day, select#mes, select#year {
    border-radius: 6px;
    height: 60px;
    margin-bottom: 30px;
    padding: 15px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
}
span.title-left {
    float: left;
    color: black;
}
span.title-right {
    float: right;
    color: black;
    font-weight: bold;
}
span.title-center {
    float: none;
    color: white;
    text-align: center;
}
.mensualidades{
    background-color: #1f497d;
}
.table>tbody>tr>th{
    /*border-right: 1px solid #000;
    border-bottom: 1px solid #000;*/
}
.contact_input_area .form-group input.payment, select#cuota{
    margin-bottom: 0px;
}
a.register_link {
    position: fixed;
    z-index: 999999999;
    top: 30%;
    left: 0;
}
span.closed-payment{
    position: fixed;
    top: 29%;
    width: 15px;
    height: 15px;
    z-index: 99999999999;
    left: 9%;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}
span.closed-payment::after{
    content: '\f057';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    right: -30%;
    top: 0%;
    font-size: 25px;
}
/*img.oferta.img-responsive {
    max-width: 50%;
}*/
.form-group.aceptar-boton {
    text-align: center;
}
button#sendM {
    background-color: #1f497d;
    color: white;
}
.formato-pago{
    font-size: 150px;
    position: relative;
}
p.text-justify.others-parrafo-method-payment.begin{
    padding-top: 6%;
}
p.text-center.download{
    text-align: center;
    padding-top: 10%;
    font-weight: bold;
    font-size: 18px;
}
button.btn.btn-dark.btn-theme-colored.btn-flat a{
    color: white;
    width: auto!important;
}
input#anualidad:hover, input#ayudamutua:hover{
    content: "debe llenar todo los datos para seleccionar los conceptos de pago";
}
/*Fin de pago temporal*/






/* FER */
.price_plan_area .single_price_plan .description> p.text-justify {
    padding: 10px 10px;
    color: #1c63b5;
    height: 80px !important;
}

.pos3{
    margin-top: .4em !important;
}

 .price_plan_area .single_price_plan .description> p {
    color: #999;
    border-bottom: none !important;
    margin: 0;
    padding: 10px 0;
}
.price_plan_area .single_price_plan .button {
    padding: 0px 0 10px 0 !important;
    width: 62%;
    margin: 0 auto;
    margin-top: 1em !important;
}
.price_plan_area .single_price_plan .button2{
    margin-top: 0em !important;
}
 .testimonials_area {
    width: auto !important;
}
   i.fa.fa-cloud-download.gaceta {
    font-size: 120px;
    color: white;
    position: relative !important;
    left: 0;
}
    h4.download-gacetas {
    text-align: center;
    color: white;
    margin-top: 6em!important;
}

.register-s{
    font-size: 20px;
    margin-top: .5em;
    font-weight: bold;
}
.margin3{
    margin-top: 1em;
}

.marginf1{
    margin-top: 2em;
}

.contact_input_area button{
    background-color: #1f497d !important;
}

.form-control{
    font-size: 12px !important;
}
a.anterior {
    position: absolute;
    left: 3%;
    top: 0%;
}
a.closedCancel {
    position: absolute;
    left: 92%;
    top: 0px;
}
a.saveandcontinue {
    position: absolute;
    left: 75%;
    top: 0%;
}
a.finish {
    left: 79%;
    position: absolute;
    top: 0%;
}

.contact_input_area .form-group input, .contact_input_area .form-group textarea{
    width: 100%;
}
.has-feedback .form-control{
    padding-right: 0;
    padding-left: 2px;
}

input.referencia{
    margin-left: 2px !important;
    width: auto !important;
}
.form-group.banco.height-onlypay.animated.fadeInUp, .form-group.pay.height-onlypay.animated.fadeInUp, .form-group.transfer.height-onlypay.animated.fadeInUp{
    background-color: rgb(51, 122, 183)!important;
    color: white !important;
}

.title-section-profile{

    background-color: white !important;
        border-bottom-style: solid;
    border-bottom-color: coral;
    border-bottom-width: 10px;
}
.image-perfil{

}
.content-img-perfil{

}
.imagelayout {
    position: relative;
    width: 24px;
    height: 24px;
    border-radius: 25%;
}
.perfilclass{
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 130px;
    height: 130px;
    border-radius: 25%;
    border: 6px solid #337ab7;
}
.font-rs{
    font-size: 11px !important;
}

.submenu3{
    margin-bottom: 0px;
    display: block !important;
    background-color: #00284c;
    border-style: solid !important;
    border-color: #ebbb12 !important;
    color: white !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.bg-white{
    background-color: transparent!important;
    border: none !important;
}
.submenu3:hover{
    color: #EBBB12 !important;
    background-color: #00284c !important;
}
.boldfer{
    font-weight: 900!important;
}

.dmenu2{
    width: 171px !important;
    left: -6px !important;
}

.order_track{
    border: 1px solid #000000;
    padding: 18px;
}
.mt-fer10{
    margin-top: 10px;
}
span#email-validate, span#email-validate2 {
    font-weight: bold;
    color: #091c31;
    font-style: italic;
}
h4.panel-title.afiliacion a:after{
    content: "";
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    margin-left: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    float: left;
    transition: transform .25s linear;
    -webkit-transition: -webkit-transform .25s linear;
}
h4.panel-title.afiliacion a[aria-expanded="true"] {
    background-color: #eee;
  }
  h4.panel-title.afiliacion a[aria-expanded="true"]:after {
    content: "\2212";
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  h4.panel-title.afiliacion a[aria-expanded="false"]:after {
    content: "\002b";
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.btn-default22{
    background: #2184be !important;
    color: #fff !important;
    border: none !important;
}
.table-style-works{
    border: 1px solid #000;
    padding: 18px;
}
.font2{
    font-size: 11px !important;
}
button.btn.btn-default.continue-pay {
    float: right;
    background-color: #ebbb2f;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 4px;
    margin-left: 12%;
    margin-right: 12%;
}
.delete_direction, .delete_studio, .delete_work{
    left: 90%;
        margin-top: 5px;
    margin-bottom: 5px;
}
input.form-control::-webkit-input-placeholder {
  text-transform: capitalize;
}
input.form-control:-moz-placeholder {
  text-transform: capitalize;
}
input.form-control:-ms-input-placeholder {
  text-transform: capitalize;
}

/*Carrito de compra*/
.carrito_summary{
    position: relative;
    background: black;
    color:white;
    text-align: center;
    border-radius: 5px;
}
#precio{
    font-weight: bold;
    font-size:20px;
}
#btnPagarCarrito{
    background: red;
    border:none;
    border-radius: 3px;
    width: 40%;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}
.margePrecios{
    margin-top:10px !important;
}

/*fernando*/
@media only screen and (max-width: 550px) and (min-width: 320px){
    a.list-group-item.active.text-center, a.list-group-item.text-center{
        font-size: 8px!important;
    }
    i.fa.fa-angle-up.beneficios{
        left: 4%!important;
    }
    .our_mission_vision_area{
        padding: 70px 0px;
    }
    section.gallery_area.column.clearfix.section_padding_100.publicaciones{
        padding-top: 6em;
    }
    h3.titleevent, h3.titlenew{
        font-size: 25px;
    }
}
@media only screen and (max-width: 568px) and (min-width: 300px){
    .bhoechie-tab-menu{
    height: 205px;}
.about_us_text img{
    width: auto!important;
    height: auto!important;
}
i.fa.fa-angle-up.beneficios{
    top:-20%;
    left: 3%!important;
}
i.fa.fa-angle-down.beneficios{
    left: 3%;
    top: 80%;
}
}
@media only screen and (max-width: 768px) and (min-width: 400px){
.logo{
    width: 13%!important;
    padding-top: 1px!important
    padding-left: 5px!important;
}
.list-group-item{
    padding-left: 20px!important;
}

.about_us_text span{
    font-size: .7em!important;
    line-height: .8em!important;   
}
.about_us_text> p{
    line-height: 1em!important;   
}

.about_us_text span{
}
}
@media only screen and (max-width: 1620px) and (min-width: 1241px){
    th,td{
    max-width:9vw; /**Ancho por celda*/
    min-width:9vw;/**Ancho por celda*/
}
}

@media only screen and (max-width: 1240px) and (min-width: 1080px){
    th,td{
    max-width:10vw; /**Ancho por celda*/
    min-width:10vw;/**Ancho por celda*/
}
    .mainmenu ul#nav li a{
    font-size: 9px;
    padding: 10px 5px!important;
}
    h1.amgp{
        font-size: 30px!important;
    }
}
@media only screen and (max-width: 1080px) and (min-width: 700px){
    th,td{
    max-width: 9vw; /**Ancho por celda*/
    min-width: 9vw;/**Ancho por celda*/
}
.mainmenu ul#nav li a{
    font-size: 6px;
    padding: 10px 5px!important;
}
.section_heading h3{
    font-size: 15px!important;
}
}
.coloramarillo{
    color: #ebbb12!important;
}






/*********************** Diseño de gacetas nuevos *******************/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:475px;}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:#f2c500;margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:#bea041}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){.box16{margin-bottom:30px}
}
/*********************** Fin de diseño de gacetas nuevos *******************/
