.title-directiva-nacional{
    font-size: 22px;
}
.wizard> .actions a.finish{
    background-color: #51a457 !important;
    left: 83.5% !important;
    position: absolute;
}
a.closedCancel {
    position: absolute !important;
    left: 62% !important;
    top: 0px !important;
}
a.closedfinish {
    left: 71% !important;
}
small.help-block {
    line-height: 11px;
    margin-top: 3px;
}

.list-modal-incomplete{
    list-style: decimal-leading-zero;
    margin-left: 21%;
    font-weight: bold;
}
#rojo1{
    background-color: red !important;
}
i.fa.fa-check.validate-true.incomplete, i.fa.fa-times.validate-false.incomplete{
  position: relative !important;
}
.wizard> .steps{

}

.letraf{
    font-size: .8vw !important;
    line-height: 5px !important;
}

.blanc{
    color:white!important;
}

.wizard> .content{
    min-width: 30vw!important;
}
/******************************/
/**********Vista perfil********/
/******************************/
p.nomemclatura {
    float: left;
}
i.fas.fa-user-clock.validate-wait.stop {
    background: #696565;
}
i.fas.fa-user-clock.validate-wait {
    color: white;
    background: #3490d2;
    padding: 5px;
}
i.fa.fa-question.validate-false {
    color: white;
    background: orange;
    padding: 5px;
}
i.fa.fa-times.validate-falsee {
    color: white;
    background: red;
    padding: 5px;
}
i.fa.fa-check.validate-truee {
    color: white;
    background-color: green;
    padding: 5px;
    position: relative;
    left: 0;
    margin-top: 0;
}
.title-status-solicitud{
    position: relative;
    float: left;
    padding-left: 15%;
}
#return-perfil{
    font-size: 41px;
    padding-bottom: 25px;
}
span.mitad-de-anno {
    font-size: 16px;
    color: red;
}