/* =============================
:: Large Screen Desktop
============================= */

@media only screen and (min-width: 1490px) and (max-width: 1589px) {
    .slider-area .nivo-caption .layer-1 img {
        width: 27%;
        left: 13%;
        top: 36%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 44%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 27%;
        left: 61%;
        top: 36%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 13%;
    }
}

@media only screen and (min-width: 1590px) and (max-width: 1699px) {
    .slider-area .nivo-caption .layer-1 img {
        width: 27%;
        left: 15%;
        top: 36%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 44%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 27%;
        left: 60%;
        top: 36%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 15%;
    }
}

@media only screen and (min-width: 1700px) and (max-width: 1899px) {
    .slider-area .nivo-caption .layer-1 img {
        width: 23%;
        left: 18%;
        top: 36%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 44%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 23%;
        left: 58%;
        top: 36%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 19%;
    }
}

@media only screen and (min-width: 1900px) and (max-width: 2040px) {
    .slider-area .nivo-caption .layer-1 img {
        width: 23%;
        left: 20%;
        top: 36%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 44%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 23%;
        left: 58%;
        top: 36%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 21%;
    }
}

@media only screen and (min-width: 2041px) and (max-width: 2299px) {
    .slider-area .nivo-caption .layer-1 img {
        width: 22%;
        left: 22%;
        top: 36%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 47%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 20%;
        left: 58%;
        top: 36%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 23%;
    }
}

@media only screen and (min-width: 2300px) and (max-width: 2499px) {
    .slider-area .nivo-caption .layer-1 img {
        width: 17%;
        left: 25%;
        top: 36%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 43%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 17%;
        left: 57%;
        top: 36%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 27%;
    }
}

@media only screen and (min-width: 2500px) and (max-width: 2700px) {
    .slider-area .nivo-caption .layer-1 img {
        width: 16%;
        left: 27%;
        top: 36%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 45%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 16%;
        left: 57%;
        top: 36%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 28%;
    }
}


/* =============================
:: Medium Screen Desktop: 992px 
============================= */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .mainmenu ul#nav li a {
        padding: 15px 5px;
    }
    .is-sticky .main_header_area .mainmenu ul#nav li a {
        padding: 19px 10px;
    }
    .slider-area .nivo-caption .lft-pr h2 {
        font-size: 40px;
    }
    .slider-area .nivo-caption .lft-pr h3 {
        font-size: 16px;
    }
    .slider-area .nivo-caption .lft-pr a {
        padding: 5px 15px;
        font-size: 16px;
    }
    .slider-area .nivo-caption .layer-1 img {
        width: 30%;
        left: 5%;
        top: 32%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 37%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 30%;
        left: 65%;
        top: 32%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 5%;
    }
    .gallery_area .single_gallery_item.four-column .links {
        bottom: 10%;
    }
    .login_thumb_caption > h3 {
        margin-right: -25%;
        right: 50%;
        top: 35%;
    }
    .our_speciality_video {
        margin-top: 70px;
    }
    .single_service_img {
        left: 5px;
        top: 15px;
    }
    .works_area .gallery_area .single_gallery_item .links {
        bottom: 15%;
    }
    .testimonials_area,
    .our_clients_area,
    .faq_area {
        margin: 0 auto !important;
        width: 450px;
    }
    .call_to > h3 {
        display: block;
    }
    .call_to_action_button {
        margin-top: 30px;
    }
    .partner_area .single_partner_thumb {
        padding: 15px 0;
    }
    .single_latest_news_img_area {
        top: 40px;
    }
    canvas#myChart {
        margin-top: 100px;
    }
    .single_feature_area_two .single_feature {
        min-height: 235px;
    }
    .get_a_quote_area > h3 {
        padding-right: 0;
        display: block;
        line-height: 36px;
    }
    .get_a_quote_area {
        text-align: center;
    }
    .get_a_quote_area > a {
        margin-top: 15px;
    }
    .single-accordion h5 a {
        padding: 17px 45px 17px 20px;
    }
    .contact_address_area {
        padding: 30px 0;
    }
    .single_contact_address .contact_icon {
        margin-right: 10px;
    }
    .sign_in_facebook,
    .sign_in_twitter {
        padding: 8px;
    }
}


/* ======================
:: Tablet Screen:768px
====================== */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .style-list2{
        font-size: 5px;
    }

    label.col-md-2.col-xs-12.control-label.text-left{
        font-size: 10px;
    }
    .mainmenu ul#nav li a {
        padding: 10px 10px;
    }
    .is-sticky .main_header_area .mainmenu ul#nav li a {
        padding: 19px 5px;
    }
    .slider-area .nivo-caption .lft-pr h2 {
        font-size: 30px;
    }
    .slider-area .nivo-caption .lft-pr h3 {
        font-size: 14px;
    }
    .slider-area .nivo-caption .lft-pr a {
        padding: 5px 15px;
        font-size: 14px;
    }
    .slider-area .nivo-caption .layer-1 img {
        width: 30%;
        left: 5%;
        top: 35%;
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a {
        margin-left: 38%;
    }
    .slider-area .nivo-caption .layer-2 img {
        width: 30%;
        left: 65%;
        top: 35%;
        height: auto!important;
    }
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 5%;
    }
    .slider-content.d-table {
        padding-top: 20%;
    }
    .footer_about_us,
    .footer_upcoming_event {
        min-height: 200px;
    }
    .map_contact_address_area {
        margin-bottom: 50px;
    }
    .map_contact_address_area.contact-3 {
        margin-bottom: 0;
    }
    .continue_shop_button input,
    .continue_shop_button > a,
    .checkout_button > a {
        padding: 15px;
    }
    .single_service_img {
        position: relative;
        width: 100%;
        z-index: 1;
        text-align: center;
    }
    .single_service_text {
        margin-left: 0;
        padding-left: 0;
        padding-top: 15px;
        width: 100%;
    }
    .gallery_area .single_gallery_item.four-column.three .links {
        bottom: 10%;
    }
    .single_gallery_item_info {
        margin-top: 50px;
    }
    .single_latest_news_img_area {
        top: 40px;
    }
    .about_us_thumb {
        margin-top: 30px;
    }
    .cool_fact_text {
        padding: 15px 0;
    }
    .our_mission_vision_area .about_us_thumb {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .login_thumb_caption > h3 {
        margin-right: -13%;
        right: 50%;
        top: 38%;
    }
    .subscribe_bar button {
        width: 20%;
    }
    .subscribe_bar input {
        width: 40%;
    }
    canvas#myChart {
        margin-top: 50px;
    }
    .top_feature_area .single_feature {
        width: 50%;
    }
    .testimonials_area,
    .our_clients_area,
    .faq_area {
        margin: 0 auto !important;
        width: 320px;
    }
    .testimonial_text {
        padding: 50px 20px 20px;
    }
    .single_advisor_profile {
        margin-bottom: 30px;
    }
    .call_to > h3 {
        margin-bottom: 15px;
        margin-right: 0;
    }
    .partner_area .single_partner_thumb {
        padding: 15px 0;
    }
    .get_a_quote_area > h3 {
        padding-right: 0;
        display: block;
        line-height: 36px;
    }
    .get_a_quote_area {
        text-align: center;
    }
    .get_a_quote_area > a {
        margin-top: 15px;
    }
    .single_feature {
        margin-bottom: 30px;
    }
    .gallery_area .single_gallery_item {
        width: 50%;
    }
    .single_latest_news_area {
        margin-bottom: 30px;
    }
    .blog_area {
        padding-bottom: 70px;
    }
    .basic_contact_area {
        margin-bottom: 50px;
    }
    footer.footer_area .col-sm-6:nth-child(3),
    footer.footer_area .col-sm-6:nth-child(4) {
        margin-top: 50px;
    }
    .contact_address_title {
        padding-bottom: 30px;
    }
    .single_contact_address .contact_icon {
        float: none;
        height: 50px;
        margin: 0;
        width: 50px;
    }
    .single_contact_address {
        text-align: center;
    }
    .contact_address_area {
        padding: 25px 0;
    }
    .single_contact_address .contact_icon i {
        font-size: 24px;
        line-height: 50px;
    }
    .login_area .login_form {
        margin-top: 50px;
    }
    .register_form {
        margin-top: 50px;
    }
    .event_sidebar {
        margin-top: 50px;
    }
    .latest_post .single_latest_post {
        padding-bottom: 15px;
        padding-top: 15px;
    }
}


/* ====================
:: Mobile Layout:320px
==================== */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    div.bhoechie-tab-menu div.list-group{
        margin-left: 1em;
    }
    section.home2.section_padding_60.about.testimonial_client_area3dele{
        padding-top: 85px;
    }
    div.divisor i.fa.fa-calendar, div.divisor i.fa.fa-file-text, div.divisor i.fa.fa-file-excel-o, div.divisor i.fa.fa-envelope-o{
        font-size: 65px;
    }
    i.fas.fa-envelope{
        font-size: 65px!important;
    }
    .divisor {
    margin: 20px 0px;
    padding: 10px;
    }
    .section_heading h3 {
    letter-spacing: 0px;
    }
    .address-area{
        padding: 25px;
    }
    div.header-delegation i.fa.fa-arrow-circle-left{
        top:0px;
    }
    .is-sticky .main_header_area {
        display: none !important;
    }
    .slider-area .nivo-caption .layer-1 img,
    .slider-area .nivo-caption .layer-2 img {
        width: 50%;
        left: 26%;
        top: calc(100% - 220px);
        height: auto !important;
    }
    .slider-area .nivo-caption .slider-1.lft-pr h2,
    .slider-area .nivo-caption .slider-1.lft-pr h3,
    .slider-area .nivo-caption .slider-1.lft-pr a,
    .slider-area .nivo-caption .lft-pr h2,
    .slider-area .nivo-caption .lft-pr h3,
    .slider-area .nivo-caption .lft-pr a {
        margin-left: 5%;
    }
    .slider-content.d-table {
        padding-top: 0;
    }
    .map_contact_address_area {
        margin-bottom: 50px;
    }
    .map_contact_address_area.contact-3 {
        margin-bottom: 0;
    }
    .map_area {
        height: 200px;
        width: 100%;
    }
    .message_now_area.contact_three .contact_input_area button {
        margin-bottom: 50px;
    }
    .address-area .single_part:last-child {
        margin-bottom: 0;
    }
    .tool-bar p.showing_result {
        padding-top: 0;
        display: block;
        padding-bottom: 15px;
    }
    .pager .previous > a,
    .pager .next > a {
        padding: 5px 0;
        width: 120px;
        font-size: 13px;
    }
    .tool-bar select.sort-by {
        float: left !important;
        margin-bottom: 30px;
    }
    .modal_product_thumb {
        margin-bottom: 15px;
        position: relative;
        width: 90%;
        z-index: 1;
    }
    .product-details {
        margin-left: 0;
        margin-top: 30px;
    }
    .single_product_discription .share_this_product > h5 {
        display: block;
    }
    a.continue_button {
        margin-top: 15px;
    }
    .coupon {
        margin-bottom: 50px;
    }
    .coupon input {
        width: 150px;
    }
    .coupon input[type="submit"] {
        width: 110px;
        padding: 5px;
    }
    .re_customer_coupon_code input.coupon_code {
        margin-bottom: 10px;
        width: 100%;
    }
    table.item_des th {
        font-size: 12px;
    }
    .single_service_img {
        position: relative;
        width: 100%;
        z-index: 1;
        text-align: center;
    }
    .single_service_text {
        margin-left: 0;
        padding-left: 0;
        padding-top: 15px;
        width: 100%;
    }
    .service_details_content {
        margin-top: 50px;
    }
    .single_gallery_item_info {
        margin-top: 50px;
    }
    .single_latest_news_img_area {
        position: relative;
        width: 100%;
        z-index: 9;
    }
    .single_latest_news_text_area {
        padding: 15px;
    }
    .published_date {
        left: 15px;
    }
    .social-links {
        padding-left: 0;
    }
    .about_us_thumb {
        margin-top: 30px;
    }
    .our_mission_vision_area .about_us_thumb {
        margin-top: 0;
        margin-bottom: 30px;
    }
    .call_to > h3 {
        margin-bottom: 30px;
        margin-right: 0;
    }
    .faq_sidebar {
        margin-top: 50px;
    }
    .c_logo,
    .subscribe_bar {
        margin-bottom: 30px;
    }
    .subscribe_bar > p {
        font-size: 14px;
        margin-bottom: 15px;
    }
    .subscribe_bar button {
        width: 50%;
        margin-top: 15px;
        height: 40px;
    }
    .subscribe_bar input {
        width: 100%;
        height: 40px;
    }
    .cooming_soon_area .coming_soon_timer #clock > span {
        font-size: 18px;
    }
    .cooming_soon_area .coming_soon_timer #clock {
        font-size: 12px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    .social_share_area > a {
        height: 30px;
        line-height: 30px;
        width: 30px;
    }
    .status_bar > p {
        font-size: 14px;
        line-height: 21px;
    }
    .status_bar {
        margin-bottom: 30px;
    }
    .top_feature_area .single_feature {
        width: 100%;
    }
    .testimonials_area,
    .our_clients_area,
    .faq_area {
        width: 290px;
    }
    .testimonial_client_area.home2::before {
        width: 100%;
        z-index: 0;
    }
    .partner_area .single_partner_thumb {
        padding: 15px 0;
    }
    .testimonial_author_name {
        padding-left: 0;
    }
    .testimonial_author_name > h6 {
        color: #2c3e50;
    }
    .testimonial_text {
        background-color: #34495e;
        margin: 60px 0 30px;
        padding: 50px 15px 30px 15px;
        color: #fff;
    }
    .owl-dot {
        background-color: #e67e22;
    }
    .single_testimonial_area {
        margin: 50px 10px 0 10px;
    }
    .single_feature_area_two {
        margin-top: 50px;
    }
    .testimonial_client_area::after {
        height: 100%;
        width: 100%;
        z-index: -1;
    }
    .testimonial_client_area.home-2 .single_testimonial_area {
        margin: 0 10px;
    }
    .testimonial_client_area.home-2 .our_clients_area {
        padding-top: 50px;
    }
    .get_a_quote_area {
        text-align: center;
    }
    .get_a_quote_area > h3 {
        padding-right: 0;
    }
    .get_a_quote_area > a {
        margin-top: 15px;
    }
    .singl-blog-status-bar > span:nth-child(4) {
        float: none;
    }
    .event_sidebar {
        margin-top: 50px;
    }
    .gallery_area .single_gallery_item {
        width: 100%;
    }
    .single_feature {
        margin-bottom: 30px;
    }
    .single_courses {
        margin-bottom: 30px;
    }
    .cool_fact_text {
        margin-bottom: 30px;
    }
    .cool_facts_area {
        padding-bottom: 30px;
    }
    .basic_contact_area form > input#name,
    .basic_contact_area form > input#phone {
        width: 100%;
    }
    footer.footer_area .col-sm-6 {
        margin-top: 50px;
    }
    footer.footer_area .col-sm-6:last-child {
        margin-top: 0;
    }
    .single_latest_news_area {
        margin-bottom: 30px;
    }
    .blog_area {
        padding-bottom: 70px;
    }
    .basic_contact_area {
        margin-bottom: 50px;
    }
    .slider-area .nivo-caption .lft-pr h2 {
        font-size: 20px;
    }
    .slider-area .nivo-caption .lft-pr h3 {
        font-size: 14px;
    }
    .slider-area .nivo-caption .lft-pr a {
        padding: 5px 15px;
        font-size: 14px;
    }
    .important_links {
        margin-top: 70px;
        text-align: left;
    }
    .important_links .underline {
        float: left;
    }
    .important_links .underline {
        float: none;
    }
    .breadcumb_area {
        height: 200px;
    }
    .breadcumb_section {
        height: auto;
    }
    .page_title {
        display: none;
    }
    .login_thumb_caption > h3,
    .login_thumb_caption > p {
        right: 8px;
    }
    .login_thumb_caption > p {
        font-size: 12px;
    }
    .login_area .login_form {
        margin-top: 0;
    }
    .register_form,
    .login_form {
        height: auto;
        padding: 15px;
    }
    .register_form .form-group:last-child {
        margin-bottom: 0;
    }
    .sign_in_facebook,
    .sign_in_twitter {
        display: block;
        padding: 8px;
    }
    .sign_in_twitter {
        margin-left: 0;
        margin-top: 15px;
    }
    .register_form .form-group > input,
    .login_manual_form .form-group > input {
        width: 70%;
    }
    .login_thumb {
        display: none;
    }
    .register_form {
        margin-top: 0;
    }
    .forget_pass.login {
        display: none;
    }
    #scrollUp {
        display: none !important;
    }
    .newsletter_area form button {
        padding: 10px;
    }
    .newsletter_text > h4 {
        margin: 0 0 15px 0;
    }
    .price_plan_area {
        padding-bottom: 50px;
    }
    .price_plan_area .single_price_plan {
        margin-bottom: 50px;
    }
    .single_partner_thumb {
        padding: 15px 0;
    }
}


/* ==========================
:: Width Mobile Layout:480px
========================== */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .slider-area .nivo-caption .layer-1 img,
    .slider-area .nivo-caption .layer-2 img {
        width: 50%;
        left: 25%;
        top: calc(100% - 220px);
        height: auto !important;
    }
    .tool-bar p.showing_result {
        padding: 0;
        display: inline-block !important;
    }
    .tool-bar select.sort-by {
        margin-bottom: 0;
        float: right !important;
    }
    .event_single_post {
        margin-bottom: 30px;
    }
    .single_product_discription .share_this_product > h5 {
        display: inline-block;
    }
    .re_customer_coupon_code input.coupon_code {
        width: auto;
    }
    .published_date {
        left: 15px;
        top: 25px;
    }
    .testimonials_area,
    .our_clients_area,
    .faq_area {
        width: 380px;
    }
    .welcome_text h1 {
        font-size: 36px;
    }
    .learn_more_button > a {
        margin-left: 15px;
        padding: 20px;
    }
    .sign_in_facebook,
    .sign_in_twitter {
        display: inline-block;
        padding: 8px;
    }
    .register_form,
    .login_form {
        height: auto;
    }
    .sign_in_facebook,
    .sign_in_twitter {
        padding: 5px;
    }
    .sign_in_facebook > a,
    .sign_in_twitter > a {
        font-size: 12px;
        letter-spacing: 0.5px;
    }
    .page_title {
        display: inline-block;
    }
    .navbar-nav > li > a:after {
        width: 20%;
    }
}
section.about_area.home2.section_padding_60 {
    background: url(/front/src/images/view/new3.jpg) no-repeat !important;
}