<section class="title-bg course-page">
    <div class="title-overlay">
        <div class="title-inner">
            <div class="container">
                <div class="page-title">
                    <h2 class="text-white text-normal pull-right mrgt7x letter-spacing">Paypal</span></h2>
                </div>
            </div>
            <div class="breadcrumb-banner">
                <ul class="breadcrumb">
                    <li><a style="text-transform: uppercase" href="<?=$this->url->get('')?>">IR&nbsp;A&nbsp;INICIO</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session">
                    <i class="fa fa-ban"></i>
                    <p>Cancelación de pago</p>
                </div>
                <div class="login_form updatepass">
                    <div class="login_manual_form updatepass">
                        <h5 class="title-updatepass">Su pago ha sido cancelado con el metodo de PAYPAL.</h5>
                        <br>
                        <h5 class="title-updatepass">Vuelva a intentarlo.</h5>
                        <button type="submit" class="btn btn-dark btn-theme-colored btn-flat"><a href="/pago-cuotas">Aceptar</a></button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!--<script type="text/javascript">
    setTimeout(function () {
        window.location.href="/pago-cuotas";
    },9000)
</script>-->