<!--<section class="title-bg course-page">
    <div class="title-overlay">
        <div class="title-inner">
            <div class="container">
                <div class="page-title">
                    <h2 class="text-white text-normal pull-right mrgt7x letter-spacing">Paypal</span></h2>
                </div>
            </div>
            <div class="breadcrumb-banner">
                <ul class="breadcrumb">
                    <li><a style="text-transform: uppercase" href="<?/*=$this->url->get('')*/?>">IR&nbsp;A&nbsp;INICIO</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<?php /*echo $validation;*/?>
<section class="section_padding_100 testimonial_client_area3dele">
    <?php /*if($status==0):*/?>
        <div class="checkout">
            <div class="container">
                <div class="col-md-12">
                    <div class="heading-pricing text-center">
                        <h1 class="alert alert-warning" style="padding-bottom: 10px">Ha ocurrido un error al procesar su pago con el sistema</h1>
                        <p class="alert alert-success">
                            <strong>¡Hola <?/*=$client->getName()*/?>!</strong>
                            Por favor de ponerse en contacto con el administrador de la página.
                            <br> problema a afiliarse
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <?php /*else:*/?>
        <div class="checkout">
            <div class="container">
                <div class="col-md-12">
                    <div class="heading-pricing text-center">
                        <h1 class="alert alert-warning" style="padding-bottom: 10px">¡Gracias por ser parte de AMGP!</h1>
                        <br>
                        <p class="alert alert-success"><strong>
                                ¡Hola <?/*=$client->getName()*/?>!</strong> Gracias por tu pago, te haremos llegar tu ficha de pago a tu cuenta de correo.
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <?php /*endif;*/?>
</section>-->


<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                <div class="title-session">
                    <i class="fa fa-ban"></i>
                    <p>Gracias por su pago</p>
                </div>
                <div class="login_form updatepass">
                    <div class="login_manual_form updatepass">
                        <h5 class="title-updatepass">Su pago ha sido exitoso con el metodo de PAYPAL, se le ha enviado por correo un comprobante de pago y a continuación podra descargar el mismo formato para mayor comodidad.</h5>
                        <a href="/api/pagos/actualizaciones"><i class="fa fa-download" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>