<style>
input#lastname, input#secondname{
    width: 100% !important;
    margin-left: 0%;
}
input.radio-2{
    border: none!important;
    border-radius: 0!important;
    height: auto!important;
    margin: 0 10px 0 0 !important;
    padding: 0!important;
    width: auto!important;
}
.mont{
    text-align: right!important;
}
.order_history_table{
    margin-bottom: 15px;
}
table#table_cost thead tr {
    background-color: #1f497d;
}
table#table_cost thead tr th {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
tbody{
    background-color: #fff!important;
}
.table{
    position:relative!important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    border-top: 1px solid #000;
}
table.order_history_table td, table.cart td, .order_table table td{
    border: 1px solid #000;
}
</style>
<section class="blog_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <h2 class="text-center">Pago de cuotas <?php if($mes=date("m")<12){ echo $mes=date("Y");} else{$mes=date("Y"); echo $mes+1;}?></h2>
                <form action="#" method="post" id="paymentCuotaTemporalForm" name="paymentCuotaTemporalForm">
                    <input type="hidden" name="buy" id="buy" value="800">
                    <input type="hidden" name="tresmeses" id="tresmeses" value="0">
                    <div class="contact_input_area">
                        <div id="success_fail_info"></div>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4 col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <label>Nombre(s)</label>
                                        <input type="text" class="form-control payment" name="name" id="name" placeholder="Nombre(s)" required>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <label>Apellido Paterno</label>
                                        <input type="text" class="form-control payment" name="lastname" id="lastname" placeholder="Apellido paterno" required>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4 col-xs-4">
                                    <div class="form-group">
                                        <label>Apellido Materno</label>
                                        <input type="text" class="form-control payment" name="secondname" id="secondname" placeholder="Apellido materno" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Correo Electrónico</label>
                                        <input type="email" class="form-control payment" name="email" id="email" placeholder="Correo electronico *" required>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo de asociado</label>
                                        <select name="cuota" id="cuota" class="form-control select2 disable-ayuda" required>
                                            <option val="0" selected>Seleccione el tipo de asociado</option>
                                            <?php $select=0; foreach($cuotas as $cuota):?>
                                                <option data-type="<?=$cuota->getCuotid();?>" value="<?=$cuota->getCuotid();?>"><?=$cuota->getName();?></option>
                                                <?php $select++; endforeach;?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Delegación</label>
                                        <select name="delegation" id="delegation" class="form-control select2" required>
                                            <option selected>Seleccione su delegación</option>
                                            <?php $select=0; foreach($delegation as $cuota):?>
                                                <option data-type="<?=$cuota->getComid();?>" value="<?=$cuota->getComid();?>"><?=$cuota->getName();?></option>
                                                <?php $select++; endforeach;?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Celular</label>
                                        <input type="text" class="form-control payment" name="phone" id="phone" placeholder="Celular">
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <div class="col-sm-6 col-md-6 col-xs-12">
                                    <div class="form-group">
                                        <label>R.F.C.</label>
                                        <input type="text" class="form-control payment" name="rfc" id="rfc" placeholder="RFC">
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-xs-4">
                                    <div class="form-group">
                                        <label>Fecha de nacimiento</label>
                                        <select name="day" id="day" class="form-control select2" required>
                                            <option value="">Día</option>
                                            <option value="01">1</option>
                                            <option value="02">2</option>
                                            <option value="03">3</option>
                                            <option value="04">4</option>
                                            <option value="05">5</option>
                                            <option value="06">6</option>
                                            <option value="07">7</option>
                                            <option value="08">8</option>
                                            <option value="09">9</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                            <option value="13">13</option>
                                            <option value="14">14</option>
                                            <option value="15">15</option>
                                            <option value="16">16</option>
                                            <option value="17">17</option>
                                            <option value="18">18</option>
                                            <option value="19">19</option>
                                            <option value="20">20</option>
                                            <option value="21">21</option>
                                            <option value="22">22</option>
                                            <option value="23">23</option>
                                            <option value="24">24</option>
                                            <option value="25">25</option>
                                            <option value="26">26</option>
                                            <option value="27">27</option>
                                            <option value="28">28</option>
                                            <option value="29">29</option>
                                            <option value="30">30</option>
                                            <option value="31">31</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-xs-4">
                                    <div class="form-group">
                                        <label></label>
                                        <select name="mes" id="mes" class="form-control select2" required>
                                            <option value="00">Mes</option>
                                            <option value="01">Enero</option>
                                            <option value="02">Febrero</option>
                                            <option value="03">Marzo</option>
                                            <option value="04">Abril</option>
                                            <option value="05">Mayo</option>
                                            <option value="06">Junio</option>
                                            <option value="07">Julio</option>
                                            <option value="08">Agosto</option>
                                            <option value="09">Septiembre</option>
                                            <option value="10">Octubre</option>
                                            <option value="11">Noviembre</option>
                                            <option value="12">Diciembre</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-2 col-md-2 col-xs-4">
                                    <div class="form-group">
                                        <label></label>
                                        <select name="year" id="year" class="form-control select2  disable-ayuda" required>
                                            <option val="0" selected>Año</option>
                                            <?php
                                            $year = date("Y");
                                            for ($i= 1945; $i < $year ; $i++) { //quitarle el +1 Aver ?
                                                echo "<option value=".$i.">".$i."</option>";
                                            }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                            PAGO EN LÍNEA
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <div class="method-payment">
                                            <div class="">
                                                <div class="row">
                                                    <p class="text-center parrafo-method-payment">Por ahora sólo se tiene disponible el pago en línea con tarjetas mediante PayPal</p>
                                                    <div class="col-sm-12 col-md-12 col-xs-12">
                                                        <img class="center-img-paypal" src="/front/src/img/pagos/icono-paypal-tarjetas.png">
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-xs-4 col-sm-offset-2">
                                                        <div class="form-group">
                                                            <input class="hidden" id="costayuda" value="<?= $costoayuda;?>">
                                                            <label class="referencia">¿Qué deseo pagar?</label><br>

                                                            <input class="radio-2" type="checkbox" id="anualidad" name="anualidad" value="NO" disabled title="Debe llenar todo los datos para seleccionar los conceptos de pago">Anualidad <?php if($mes=date("m")<12){ echo $mes=date("Y");} else{$mes=date("Y"); echo $mes+1;}?>
                                                            <br>
                                                            <?php if($mes=date("m")>2&&$mes=date("m")<12):?>
                                                            <?php else:?>
                                                            <input class="radio-2" type="checkbox" id="ayudamutua" name="ayudamutua" value="SI" disabled title="Debe llenar todo los datos para seleccionar los conceptos de pago">Ayuda Mutua <?php if($mes=date("m")<12){ echo $mes=date("Y");} else{$mes=date("Y"); echo $mes+1;}?>
                                                            <?php endif; ?>
                                                            </div>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-xs-4 col-sm-offset-2">
                                                        <div class="form-group">
                                                            <input class="hidden" id="costayuda" value="<?= $costoayuda;?>">
                                                            <label class="referencia">Pago a 3 meses</label><br>

                                                            <input class="radio-2 payment" type="radio"  name="payment" value="SI" disabled>Si
                                                            <br>
                                                            <input class="radio-2 payment" type="radio"  name="payment" value="NO" disabled>No</div>
                                                    </div>
                                                    <div class="paymentdescription">
                                                        <div class="col-sm-10 col-md-10 col-xs-10 col-sm-offset-1">
                                                            <table class="order_history_table table table-bored"  id="table_cost">
                                                                <thead>
                                                                <tr>
                                                                    <th>Concepto</th>
                                                                    <th>Monto</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-md-12 col-sm-12">
                                                        <div class="form-group aceptar-boton">
                                                            <div id="form-success" class="alert alert-success hidden" role="alert">El mensaje se ha enviado correctamente</div>
                                                            <div id="form-warning" class="alert alert-warning hidden" role="alert">Ha ocurrido un error, intente nuevamente por favor</div>
                                                            <button type="submit" class="btn btn-dark btn-theme-colored btn-flat" id="sendM" data-loading-text="Por favor espera...">Pagar</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                            OTRAS FORMAS DE PAGO
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                    <div class="panel-body">
                                        <div class="method-payment">
                                            <div class="">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-sm-12">
                                                        <p class="text-justify others-parrafo-method-payment begin">El pago de cuotas para renovación de membresia <?php if($mes=date("m")<12){ echo $mes=date("Y");} else{$mes=date("Y"); echo $mes+1;}?> se puede realizar por:</p>
                                                        <p class="text-center others-parrafo-method-payment">
                                                        <ul>
                                                            <li class="others-parrafo-method-payment">Depósito en ventanilla</li>
                                                            <li class="others-parrafo-method-payment">Transferencia electrónica</li>
                                                        </ul>
                                                        </p>
                                                        <p class="text-justify others-parrafo-method-payment">Para estás formas de pago debe considerar la clave de la Delagación a la que pertenece, de acuerdo con la siguiente tabla:</p>
                                                        <div class="col-sm-12 col-md-12 col-xs-12">
                                                            <img class="center-img-referencia-pago" src="/front/src/img/pagos/tabla.png">
                                                        </div>
                                                        <p class="text-justify others-parrafo-method-payment">Al momento de pagar anotar en la referencia la clave de la Delegación seguido de su apellido paterno y su primer nombre.</p>
                                                        <p class="text-center others-parrafo-method-payment"> EJEMPLO: VHMS Grimaldo Juan</p>
                                                        <p class="text-center others-parrafo-method-payment">Deberá enviar sus comprobantes a los coordinadores de membresía, tesorería y ayuda mutua de su Delegación. Puede consultar los correos en la sección DIRECTORIO, de esta página.</p>
                                                        <p class="text-justify others-parrafo-method-payment">Los datos de las cuentas son:</p>
                                                        <div class="col-sm-12 col-md-12 col-xs-12">
                                                            <img class="center-img-referencia-pago-2018" src="/front/src/img/pagos/Anualidad 2018 Cuenta bancaria AMGP_P y Est.png">
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-xs-12">
                                                            <img class="center-img-referencia-pago-2018" src="/front/src/img/pagos/Ayuda Mutua 2018 Cuenta bancaria AMGP_pag web.png">
                                                        </div>
                                                        <p class="text-justify others-parrafo-method-payment-end">Para consultar los montos de ayuda mutua escriba un correo al coordinador de su Delegación</p>
                                                        <div class="row">
                                                            <div class="col-xs-6 col-md-6 col-sm-6">
                                                                <p class="text-center download">De click en la nube para descargar el formato de pago</p>
                                                            </div>
                                                            <div class="col-xs-6 col-md-6 col-sm-6">
                                                                 <a href="/front/src/data/FormasdepagocuotasAMGP.pdf" target="_blank"><i class="fas fa-cloud-download-alt formato-pago" aria-hidden="true"></i></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>