<section class="about_area home2 section_padding_100 delegation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section_heading">
                <h3 class="text-center">Delegación <span><?= $delegationAll->name;?></span></h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="welcome_area carousel slide" id="myCarousel" >
    <ol class="carousel-indicators">
        <?php $count=0; foreach($slider as $val):?>
            <li data-target="#myCarousel" data-slide-to="<?=$count;?>" class="<?=$count==0?'active':''?>"></li>
        <?php $count++;endforeach;?>
    </ol>
    <div class="carousel-inner">
        <?php $count=1; foreach($slider as $val):?>
            <div class="item <?=$count==1?'active':''?>">
                <a href="<?=$val->description;?>" target="_blank"><img class="img-responsive slider" src="/api/administration/slider/<?=$val->name;?>" alt=""/></a>

            </div>
        <?php $count++;endforeach;?>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />

<section class="blog_area event-delegation" style="overflow:scroll;height:350px">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-3 col-sm-3 col-lg-3">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>/noticias">
                    <div class="divisor">
                        <h3>Noticias</h3>
                        <p class="name-delegation"><?=$delegationAll->name;?></p>
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-3 col-lg-3">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>/eventos">
                    <div class="divisor">
                        <h3>Eventos</h3>
                        <p class="name-delegation"><?=$delegationAll->name;?></p>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-3 col-lg-3">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>/gacetas">
                    <div class="divisor">
                        <h3>Gacetas</h3>
                        <p class="name-delegation"><?=$delegationAll->name;?></p>
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 col-sm-3 col-lg-3">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>/directorio">
                    <div class="divisor">
                        <h3>Directorio</h3>
                        <p class="name-delegation"><?=$delegationAll->name;?></p>
                        <i class="fas fa-envelope" style="font-size: 120px;padding: 11px;color: #ecbb22;" aria-hidden="true"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!--section class="blog_area event-delegation" style="overflow:scroll;height:350px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section_heading">
                    <h3><span class="title-big">Eventos</span> Delegación <span><?php echo $delegationAll->name;?></span></h3>
                </div>
            </div>
            <div class="col-xs-12 col-md-9">
                <?php foreach($events as $even):?>
                    <?php $fecha_actual = date('Y-m-d H:i:s'); if($fecha_actual<$even->date_public):?>
                        <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.2s">
                            <div class="published_date">
                                <p class="date"><?=$date2=date("d",strtotime($even->date_public));?></p>
                                <p class="monthNews"><?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?></p>
                            </div>
                            <div class="single_latest_news_img_area">
                                <img class="allnews" src="/api/images/eventos/800x600/<?=$even->image;?>" alt="">
                            </div>
                            <div class="single_latest_news_text_area">
                                <div class="news_title">
                                    <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>"><h4><?=$even->title;?></h4></a>
                                </div>
                                <div class="author_name_comments">
                                    <div class="comments">
                                        <i class="fa fa-eye white" aria-hidden="true"></i>
                                        <p class="white"><?=$even->visits;?></p>
                                    </div>
                                </div>
                                <div class="news_content">
                                    <p><?=$even->summary;?></p>
                                </div>
                                <div class="published_date">
                                    <p class="date"><?=$date2=date("d",strtotime($even->date_public));?></p>
                                    <p class="monthNews"><?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?></p>
                                </div>
                            </div>
                        </div>
                    <?php endif;?>
                <?php endforeach;?>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="event_sidebar">
                        <div class="latest_post">
                            <h4>Eventos más <span>leídos</span></h4>
                            <?php foreach($more as $mor):?>
                                <div class="single_latest_post">
                                    <img src="/api/images/eventos/800x600/<?=$mor->image;?>" alt="">
                                    <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>"><h5><?=$mor->title;?></h5></a>
                                    <?php $newDate =date("d-m-Y", strtotime($mor->date_public));?>
                                    <p><?=$newDate;?></p>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="event_sidebar">
                        <div class="latest_post">
                            <h4>Eventos <span>anteriores</span></h4>
                            <?php foreach($old as $mor):?>
                                <div class="single_latest_post">
                                    <img src="/api/images/eventos/800x600/<?=$mor->image;?>" alt="">
                                    <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>"><h5><?=$mor->title;?></h5></a>
                                    <?php $newDate =date("d-m-Y", strtotime($mor->date_public));?>
                                    <p><?=$newDate;?></p>
                                </div>
                            <?php endforeach;?>
                            <a href="/eventos/historico-de-eventos"><p class="more-oldnews">Ver Más</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="blog_area new-delegation" style="overflow:scroll;height:350px">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section_heading">
                    <h3><span class="title-big">Noticias </span>Delegación <span><?=$delegationAll->name;?></span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <?php foreach($news as $even):?>
                    <?php $fecha_actual = date('Y-m-d H:i:s'); if($fecha_actual>$even->date_public):?>
                        <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.2s">
                            <div class="single_latest_news_img_area">
                                <img class="allnews" src="/api/images/eventos/800x600/<?=$even->image;?>" alt="">
                            </div>
                            <div class="single_latest_news_text_area">
                                <div class="news_title">
                                    <a href="/noticias/<?=$even->permalink;?>/<?=$even->pid;?>"><h4><?=$even->title;?></h4></a>
                                </div>
                                <div class="author_name_comments">
                                    <div class="comments">
                                        <i class="fa fa-eye white" aria-hidden="true"></i>
                                        <p><?=$even->visits;?></p>
                                    </div>
                                </div>
                                <div class="news_content">
                                    <p><?=$even->summary;?></p>
                                </div>

                                <div class="comments">
                                    <i class="fa fa-calendar white" aria-hidden="true"></i>
                                    <p><?=$date2=date("d",strtotime($even->date_public));?> <?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?></p>
                                </div>
                            </div>
                        </div>
                    <?php endif;?>
                <?php endforeach;?>
            </div>
            <div class="col-xs-12 col-md-3">
                <div class="event_sidebar">
                    <div class="latest_post">
                        <h4>Noticias más <span>leídas</span></h4>
                        <?php foreach($morenews as $mor):?>
                            <div class="single_latest_post">
                                <img src="/api/images/eventos/800x600/<?=$mor->image;?>" alt="">
                                <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>"><h5><?=$mor->title;?></h5></a>
                                <?php $newDate =date("d-m-Y", strtotime($mor->date_public));?>
                                <p><?=$newDate;?></p>
                            </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="section_padding_60 gacetas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="testimonials_area">
                    <div class="section_heading interes text-center">
                        <h3><span class="title-big">Gaceta</span> Delegación <?php echo $delegationAll->name;?></h3>
                    </div>
                    <div class="row">
                        <?php foreach($gacetas as $val):?>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 wow fadeInUp">
                                <div class="single_speciality sitios">
                                    <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 titlesitios">
                                        <div class="single_speciality_text sitios">
                                            <h5><a class="namesitios" href="/gacetas/<?=$val->publid;?>" target="_blank"><?=$val->name;?></a></h5>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="testimonial_client_area3dele">
    <div class="container fondo2">
        <div class="row form contactanos">
            <div class="col-md-12">
                <div class="section_heading">
                    <h3 class="titleDirecto"> <span class="title-big">Directorio</span> delegación <span><?=$delegationAll->name;?></span></h3>
                </div>
                <div id="exTab1" class="container">
                    <ul class="nav nav-pills">
                        <li class="active"><a class="tab-directory" href="#9a" data-toggle="tab">Bienio <?=$directory[0]["admin"];?></a></li>
                        <li><a class="tab-directory" href="/delegaciones/<?=$delegationAll->permalink;?>/historico-directorio">Historico</a></li>
                    </ul>
                    <div class="tab-content clearfix viewDelegation">
                        <div class="tab-pane active" id="9a">
                            <?php foreach($directory as $k => $dele):?>
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <div class="single_advisor_profile2">
                                        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                            <div class="advisor_thumb directoryDelegation">
                                                <img class="img-directory-delegation" src="/api/administration/directory/<?=$dele["image"];?>" alt="">
                                            </div>
                                        </div>
                                        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                                            <div class="single_advisor_details_info directory">
                                                <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                <p class="black-bold"><?=$dele["position"];?></p>
                                                <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section-->


<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="footer_area2">
    <div class="container">
        <div class="row footer">
            <div class="section_heading text-center">
                <h3><span class="title-big">OFICINA</span> Delegación <span><?= $delegationAll->name;?></span></h3>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="footer_about_us wow fadeInUp" data-wow-delay="0.2s">
                    <style type="text/css">
                        #mapa { height: 400px; margin-bottom: 10px !important;}
                    </style>
                    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&key=AIzaSyCYYyMtcLN3HroKg1NxSzZ-6bWv-xV3QoU"></script>
                    <script type="text/javascript">
                        function initialize() {
                            var marcadores = [
                                ['<a href="/delegaciones/<?= $delegationAll->permalink;?>"><?= $delegationAll->name;?></a>', <?= $delegationAll->lat;?>,<?= $delegationAll->long;?>,
                                    'title','Cd. del Carmen']
                            ];
                            var map = new google.maps.Map(document.getElementById('mapa'), {
                                zoom: 5,
                                center: new google.maps.LatLng(23.452595,-96.4994557),
                                mapTypeId: google.maps.MapTypeId.ROADMAP,
                                scrollwheel: false
                            });
                            var infowindow = new google.maps.InfoWindow();
                            var marker, i;
                            for (i = 0; i < marcadores.length; i++) {
                                marker = new google.maps.Marker({
                                    position: new google.maps.LatLng(marcadores[i][1], marcadores[i][2]),
                                    map: map
                                });
                                google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                    return function() {
                                        infowindow.setContent(marcadores[i][0]);
                                        infowindow.open(map, marker);
                                    }
                                })(marker, i));
                            }
                        }
                        google.maps.event.addDomListener(window, 'load', initialize);

                    </script>
                    <div id="mapa"></div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                <!--<div class="section_heading">
                    <h3><span><br><br></span></h3>
                </div>-->
                <div class="row">
                    <div class="address-area">
                        <?php if($direction!=null):?>
                        <div class="single_part">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <p class="white"><?=$direction->street?$direction->street:""?><?=$direction->number_ext==null?"#".$direction->number_ext:""?> <?=$direction->number_int?$direction->number_int:""?></p>
                            <p class="white"><?=$direction->colony?$direction->colony:""?><?=$direction->cp?", ".$direction->cp:""?><?=$direction->city?", ".$direction->city:""?></p>
                            <p class="white"><?=$direction->nombre_municipio?$direction->nombre_municipio:""?><?=$direction->nombre_estado?", ".$direction->nombre_estado:""?></p>
                        </div>
                        <?php else:?>
                        <div class="single_part">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                            <p class="white"></p>
                        </div>
                        <?php endif;?>
                        <?php if($social->getFacebook()!=null):?>
                        <div class="single_part">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                            <a class="white" style="padding-top: 4%;"><?=$social->getFacebook()?$social->getFacebook():""?></a>
                        </div>
                        <?php else:?>
                        <div class="single_part">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                            <a class="white"></a>
                        </div>
                        <?php endif;?>
                        <?php if($social->getTwitter()!=null):?>
                            <div class="single_part">
                                <i class="fab fa-twitter-square" aria-hidden="true"></i>
                                <a class="white" style="padding-top: 4%;"><?=$social->getTwitter()?$social->getTwitter():""?></a>
                            </div>
                        <?php else:?>
                        <div class="single_part">
                            <i class="fab fa-twitter-square" aria-hidden="true"></i>
                            <a class="white"></a>
                        </div>
                        <?php endif;?>
                        <?php if($direction!=null):?>
                            <div class="single_part">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <a class="white" href="tel:<?=$direction->telephone?$direction->telephone:""?>"><?=$direction->telephone?$direction->telephone:""?></a>
                                <a class="white" href="tel:<?=$direction->movil?$direction->movil:""?>"><?=$direction->movil?$direction->movil:""?></a>
                            </div>
                        <?php else:?>
                        <div class="single_part">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <a class="white" href="tel:"></a>
                        </div>
                        <?php endif;?>
                        <?php if($direction!=null):?>
                        <div class="single_part">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a class="white" href="<?=$direction->email;?>"><?=$direction->email?$direction->email:""?></a>
                        </div>
                        <?php else:?>
                        <div class="single_part">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <a class="white" href=""></a>
                        </div>
                        <?php endif;?>
                        <?php if(($company->day_works!=null||$company->hour_open!=null)):?>
                        <div class="single_part">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <?php $hour_open =date("H:i", strtotime($company->hour_open));?>
                            <?php $hour_closed =date("H:i", strtotime($company->hour_closed));?>
                            <p class="white"><?=$company->day_works?$company->day_works:""?></p>
                            <p class="white"><?=$company->hour_open?$hour_open:""?><?=$company->hour_closed?" - ".$hour_closed:""?></p>
                        </div>
                        <?php else:?>
                        <div class="single_part">
                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                            <p class="white"></p>
                        </div>
                        <?php endif;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<!--section class="home2 section_padding_60">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="message_title">
                    <h3>Escríbenos!</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <form action="#" method="post" id="main_contact_form">
                    <div class="contact_input_area">
                        <div id="success_fail_info"></div>
                        <div class="row">
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Tu nombre *" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Tu Correo *" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto *" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="number" class="form-control" name="number" id="number" placeholder="Tu Número *" required>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="sel1" required>
                                        <option>Delegación <?=$delegationAll->name;?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="sel1" required>
                                        <?php foreach($directory as $k => $dele):?>
                                        <option value="<?=$dele["email"];?>"><?=$dele["position"];?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Mensaje *" required></textarea>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-default">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section-->
