<section class="about_area home2 section_padding_100 delegation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 header-delegation">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                </a>
                <div class="section_heading">
                    <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                        <h3 class="text-center">Delegación <span><?= $delegationAll->name;?></span></h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="testimonial_client_area3dele">
    <div class="container fondo2">
        <div class="row form contactanos">
            <div class="col-md-12">
                <div class="section_heading">
                    <h3 class="titleDirecto"> <span class="title-big">Directorio</span></h3>
                </div>
                <div id="exTab1" class="container">
                    <ul class="nav nav-pills">
                        <li class="active"><a class="tab-directory" href="#9a" data-toggle="tab">Bienio <?=$directory[0]["admin"];?></a></li>
                        <li><a class="tab-directory" href="/delegaciones/<?=$delegationAll->permalink;?>/historico-directorio">Historico</a></li>
                    </ul>
                    <div class="tab-content clearfix viewDelegation">
                        <div class="tab-pane active" id="9a">
                            <?php if($statusDirection==1):?>
                            <?php foreach($directory as $k => $dele):?>
                                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                    <div class="single_advisor_profile2" style="height: 250px;">
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="advisor_thumb directoryDelegation">
                                                <img class="img-directory-contact" src="/api/administration/partners/<?=$dele["image"];?>" alt="">
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                            <div class="single_advisor_details_info directory">
                                                <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                <p class="black-bold cargo"><?=$dele["position"];?></p>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                            <div class="single_advisor_details_info directory">
                                                <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach;?>
                            <?php else:?>
                                <h4>Esta siendo actualizado el directorio</h4>
                            <?php endif;?>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </section>
