<section class="about_area home2 section_padding_100 delegation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 header-delegation">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                </a>
                <div class="section_heading">
                    <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                        <h3 class="text-center"> Eventos Delegación <span><?= $delegationAll->name;?></span></h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="blog_area" style="margin-top: 2em;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9 col-sm-9 col-lg-9">
                <!-- <div class="row col-md-12 col-sm-12 col-xs-12"> -->
                <?php if($status==0):?>
                    <section class="login_area">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-md-6 col-lg-6 col-sm-6 section_padding_50">
                                    <h3>Espere nuestros proximos eventos</h3>

                                </div>
                            </div>
                        </div>
                    </section>
                <?php else:?>
                <?php foreach($events as $even):?>
                    
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <?php $fecha_actual = date('Y-m-d H:i:s'); if($fecha_actual<$even->date_public):?>
                        <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.2s">
                            <div class="published_date2">
                                <!--p class="date"><?=$date2=date("d",strtotime($even->date_public));?></p>
                                <p class="monthNews"><?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?></p-->
                                <p class="date"><?=$even->getFechafin();?></p>
                            </div>
                            <div>
                                <div class="single_latest_news_img_area">
                                    <img class="allnews" src="/api/images/eventos/<?=$even->image;?>" alt="">
                                </div>
                                <div class="single_latest_news_text_area">
                                    <div class="news_title text-center" >
                                        <a href="/eventos/<?=$even->permalink;?>/<?=$even->pid;?>" target="_blank">
                                            <?php $title = substr($even->title, 0, 120); ?>
                                            <h4 style="display: inline-block;vertical-align: middle!important;"><?=$title;?></h4>
                                        </a>
                                    </div>
                                    <div class="author_name_comments">
                                        <div class="comments">
                                            <i class="fas fa-map-marker color3" style="display: inline-block!important;padding-bottom: 1em;"></i>
                                            <p class="color3" style="display: inline-block!important; max-width: 300px"><?php $summary = substr($even->summary, 0, 200); ?>
                                        <?=$summary."";?></p>
                                        </div>
                                        <div class="comments">
                                            <i class="fa fa-eye color3" aria-hidden="true"></i>
                                            <p class="color3"><?=$even->visits;?></p>
                                        </div>
                                    </div>
                                    <div class="news_content">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    <?php endif;?>
                </div>
                <?php endforeach;?>
                <?php endif;?>
            </div>





            <div class="col-xs-12 col-md-3 col-lg-3 col-sm-3 testimonial_client_newview">

                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="event_sidebar">
                        <div class="latest_post">
                            <h4 id="gradNews">Eventos más <span>leídos</span></h4>
                            <?php foreach($more as $mor):?>
                                <div class="single_latest_post">
                                    <a href=""><img src="/api/images/eventos/<?=$mor->image;?>" alt=""></a>
                                    <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>">
                                        <h4 class="title-news"><?=$mor->title;?></h4>
                                    </a>
                                    <?php $newDate =date("d-m-Y", strtotime($mor->date_public));?>
                                    <p><?=$newDate;?></p>
                                </div>
                            <?php endforeach;?>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <div class="event_sidebar">
                        <div class="latest_post">
                            <h4 id="gradNews">Eventos <span>anteriores</span></h4>
                            <?php foreach($old as $mor):?>
                                <div class="single_latest_post">
                                    <a href=""><img src="/api/images/eventos/<?=$mor->image;?>" alt=""></a>
                                    <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>">
                                        <h4 class="title-news"><?=$mor->title;?></h4>
                                    </a>
                                    <?php $newDate =date("d-m-Y", strtotime($mor->date_public));?>
                                    <p><?=$newDate;?></p>
                                </div>
                            <?php endforeach;?>
                            <a href="/eventos/historico-de-eventos"><p class="more-oldnews">Ver Más</p></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>