<section class="about_area home2 section_padding_100 delegation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 header-delegation">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                </a>
                <div class="section_heading">
                    <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                        <h3 class="text-center">Delegación <span><?= $delegationAll->name;?></span></h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="section_padding_60 gacetas">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="testimonials_area">
                    <div class="section_heading interes text-center">
                        <h3><span class="title-big">Gaceta</span></h3>
                    </div>
                    <div class="row">
                        <?php foreach($gacetas as $val):?>

                    <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3 wow fadeInUp">
                        <div class="single_speciality sitios">
                            <div class="container mt-40">
                                        <div class="row mt-30">
                                            <div class="col-md-4 col-sm-6">
                                                <div class="box16">
                                                    <img src="/api/administration/publicaciones/<?php echo $val->portada;?>">
                                                    <div class="box-content">
                                                        <h3 class="title"><?=$val->name;?></h3>
                                                        <ul class="social">
                                                            <li><a href="/gacetas/<?=$val->publid;?>"><i class="fa fa-eye"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>