<section class="section_padding_100 testimonial_client_area3dele">
    <br>
    <br>
    <br>
    <!--?php print_r($directory); exit(); ?-->
    <div class="container fondo2">
        <div class="row form contactanos">
            <div class="col-md-12">
                <?php if($status==0):?>
                    <div class="container"><h1 class="titleDirecto">Directorio delegación <?=$delegationAll->name;?></h1></div>
                    <section class="section_padding_100">
                        <div class="checkout">
                            <div class="container">
                                <div class="col-md-12">
                                    <div class="heading-pricing text-center">

                                        <p class="alert alert-success"><strong>
                                                Por el momento no esxiste directorio historico de la delegación <strong><?=$delegationAll->name;?></strong>, muchas gracias
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                <?php else:?>
                <div class="container"><h1 class="titleDirecto">Directorio delegación <?=$delegationAll->name;?></h1></div>
                <div id="exTab1" class="container">
                    <ul class="nav nav-pills">
                        <?php $count = 1; foreach(array_keys($directory) as $key => $name):?>
                                <li class="<?=$count==1?"active":"";?>"><a class="tab-directory" href="#<?= preg_replace('/\s+/', '',strtolower($name));?>" data-toggle="tab"><?=$name?></a></li>
                                <?php $count++;?>
                        <?php endforeach;?>


                    </ul>
                    <div class="tab-content clearfix">
                        <?php $count = 1; foreach(array_keys($directory) as $key => $name):?>
                                <div class="tab-pane <?=$count==1?"active":"";?>" id="<?=preg_replace('/\s+/', '',strtolower($name))?>">
                                    <?php foreach($directory[$name] as $k => $dele):?>
                                        <!--div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">
                                            <div class="single_advisor_profile2">
                                                <div class="advisor_thumb directoryDelegation">
                                                    <img src="/api/administration/directory/<?=$dele["image"];?>" alt="">
                                                </div>
                                                <div class="single_advisor_details_info directory">
                                                    <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                    <p class="black-bold"><?=$dele["position"];?></p>
                                                    <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                                </div>
                                            </div>
                                        </div-->
                                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                                            <div class="single_advisor_profile2" style="height: 250px;">
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="advisor_thumb directoryDelegation">
                                                        <img class="img-directory-contact" src="/api/administration/directory/<?=$dele["image"];?>" alt="">
                                                    </div>
                                                </div>
                                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                                    <div class="single_advisor_details_info directory">
                                                        <h5 class="black-bold"><?=$dele["name_position"];?></h5>
                                                        <p class="black-bold cargo"><?=$dele["position"];?></p>
                                                    </div>
                                                </div>
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="single_advisor_details_info directory">
                                                        <p class="email-directory black-bold"><?=$dele["email"];?></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    <?php endforeach;?>
                                </div>
                                <?php $count++;?>
                        <?php endforeach;?>
                    </div>
                </div>
                <?php endif;?>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</section>