<!--section class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="breadcumb_section">
                    <div class="page_title">
                        <h3>Delegaciones</h3>
                    </div>
                    <div class="page_pagination">
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                            <li>Delegaciones</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section-->
<section class="gallery_area column clearfix section_padding_100 testimonial_client_area3dele">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section_heading text-center">
                    <div class="leftTitle col-md-4">

                    </div>
                    <div class="col-md-4">
                        <h3 class="delegation">DELEGACIONES</h3>
                    </div>
                    <div class="rightTitle  col-md-4">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="gallery_full_width_images_area">
        <div class="container">
            <div class="row">
                <?php foreach($delegationAll as $dele):?>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="single_gallery_item four-column wow fadeInUp" data-wow-delay="0.2s">
                        <p class="title-delegation"><?=$dele->name;?></p>
                        <img src="/api/images/companies/<?=$dele->comid;?>/web/medium/<?=$dele->img_principal;?>" alt="">
                        <div class="hover_overlay">
                            <div class="gallery_info">
                                <a href="delegaciones/<?=$dele->permalink;?>"><h5><?=$dele->name;?></h5></a>
                                <p><?=$dele->name_abbreviated;?></p>
                            </div>
                            <div class="links">
                                <a href="delegaciones/<?=$dele->permalink;?>"><i class="fa fa-search" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <?php endforeach;?>
            </div>
        </div>
    </div>
</section>
