<section class="about_area home2 section_padding_100 delegation">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 header-delegation">
                <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
                </a>
                <div class="section_heading">
                    <a href="/delegaciones/<?=$delegationAll->permalink;?>">
                        <h3 class="text-center">Noticias Delegación <span><?= $delegationAll->name;?></span></h3>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>
<div class="clearfix"></div>
<hr align="left" noshade="noshade" size="2" width="100%" />
<section class="blog_area" style="margin-top: 2em;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-9">
                
                <?php foreach($news as $even):?>
                    <div class="col-md-6">
                    <?php $fecha_actual = date('Y-m-d H:i:s'); if($fecha_actual>$even->date_public):?>
                        <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.2s">
                            <div class="single_latest_news_img_area">
                                <img class="allnews" src="/api/images/eventos/<?=$even->image;?>" alt="">
                            </div>
                            <div class="single_latest_news_text_area">
                                <div class="news_title">
                                    <a href="/noticias/<?=$even->permalink;?>/<?=$even->pid;?>"><h4><?=$even->title;?></h4></a>
                                </div>
                                <div class="author_name_comments">
                                    <div class="comments">
                                        <i class="fa fa-eye color3" aria-hidden="true"></i>
                                        <p><?=$even->visits;?></p>

                                        <i class="fa fa-calendar color3" aria-hidden="true"></i>
                                    <p><?=$date2=date("d",strtotime($even->date_public));?> <?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?></p>
                                    </div>
                                </div>
                                <div class="news_content">
                                    <?php $summary = substr($even->summary, 0, 100); ?>
                                    <p><?=$summary;?></p>
                                </div>
                            </div>
                        </div>
                    <?php endif;?>
                    </div>
                <?php endforeach;?>
                
            </div>
            <div class="col-xs-12 col-md-3 testimonial_client_newview">
                <div class="event_sidebar">
                    <div class="latest_post">
                        <h4 id="gradNews">Noticias más <span>leídas</span></h4>
                        <?php foreach($morenews as $mor):?>
                            <div class="single_latest_post">
                                <a href=""><img src="/api/images/eventos/800x600/<?=$mor->image;?>" alt=""></a>
                                <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>">
                                <h4 class="title-news"><?=$mor->title;?></h4></a>
                                <p class="title-news"><?php $newDate =date("d-m-Y", strtotime($mor->date_public));?></p>
                                <p class="title-news"><?=$newDate;?></p>
                            </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>