
<section class="order_history section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h2>Mis Trabajos</h2>
                <?php if ($status==1):?>
                <table class="order_history_table">
                    <thead>
                    <tr>
                        <th class="hidden-xs">#</th>
                        <th>Número de trabajo</th>
                        <th class="hidden-xs">Nombre</th>
                        <th class="hidden-xs">Fecha de carga</th>
                        <th class="hidden-xs">Observación</th>
                        <th>Status</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach ($publicaciones AS $key => $publi):?>
                    <tr>
                        <td class="hidden-xs"><?=$key+1?></td>
                        <td><a href="#"><?=$publi["workid"];?></a></td>
                        <td><a href="#"><?=$publi["name"];?></a></td>
                        <td class="hidden-xs"><?=$publi["date_creation"];?></td>
                        <td class="hidden-xs"><?=$publi["observation"];?></td>
                        <td><?=$publi["status"];?></td>
                        <td>
                            <a href="<?= $this->url->get('trabajos/editar/'.$publi["workid"])?>" class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></a>
                        </td>
                    </tr>
                    <?php endforeach;?>
                    </tbody>
                </table>
                <?php endif;?>
            </div>
        </div>
    </div>
</section>