<section class="login_area">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12 section_padding_60">
                <div class="register_form">
                    <h3>Nuevo trabajo</h3>
                    <form action="#" method="post" id="newPubli" name="newPubli">
                        <span class="hide" id="key-security" data-key="<?php echo $this->security->getToken(); ?>"></span>
                        <span class="hide" id="value-security" data-value="<?php echo $this->security->getTokenKey(); ?>"></span>
                        <!--div class="form-group">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <input type="text" name="name" id="name" placeholder="Nombre">
                        </div-->



                        <div class="form-group">
                            <label class="form-label" for="name">Titulo* :</label>
                            <span class="desc">Ej. "Investigacion de suelos"</span>
                            <div class="controls relative">
                                <input class="hide" id="clid" name="clid" value="<?=$clid?>" />
                                <div class="background_load hidden">
                                    <i class="fa fa-spinner fa-spin fa-3x"></i>
                                </div>
                                <input id="note-title" type="text" class="form-control" placeholder="Titulo" name="name" required/>
                                <i id="input-loader" class="fa fa-spinner fa-spin fade in hide"></i>
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="desc">"Se genera automáticamente"</span>
                            <div class="controls">
                                <input id="note-permalink" type="text" class="form-control" placeholder="Enlace o Permalink" name="permalink" required readonly/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="permalink">Archivo* :</label>
                            <span class="desc">"Archivo de la publicación"</span>
                            <div class="controls">
                                <div id="filePublicaciones" class="dropzone dz-default dz-message">
                                    <div class="dz-default dz-message">
                                        <h2 class="text-center">
                                            <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                            Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                            <input type="hidden" name="file" id="input-image-principal"  value="">
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <button type="submit" class="btn btn-default">Registrar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>