<style>
    #newClient{
        padding: 20px;
    }
    .wizard> .content{
        background-color: #fff;
        min-height: 28em;
    }
    label.control-label.title-document {
        text-align: center;
    }
    .panel-default .panel-heading{
        padding: 0;
    }
    .wizard> .actions a.closedCancel{
        background-color: #ff001e !important;
    }
    .panel-default>.panel-heading.studio{
        padding: 0px;
    }
    span#email-validate, span#email-validate2 {
        font-weight: bold;
        color: #091c31;
        font-style: italic;
    }
/*****  Smartphone   *******/
@media (max-width: 767px) {
    input#lastname, input#secondname {
        width: 100% !important;
        margin-left: 0%;
        margin-top: 10%;
    }
    a.closedfinish {
        left: 28%;
        top: -200%;
    }
    a.closedCancel {
        left: 72%;
        top: 0px;
    }
    p.title-modal-login, p.title-modal-updatepass, p.title-modal-createacount {
        font-size: 12px;
        line-height: 10px;
    }
    .modal-header.pass.send {
        width: 100%;
    }
    i.fa.afiliarse{
        width: 84%;
    }
    i.fa.afiliarse.linea::after{
        width: 8.3%;
    }
    div.steps.clearfix ul li a {
        font-size: 9px !important;
        line-height: 10px;
    }
    .wizard> .steps .current a, li.first.current a, div.steps.clearfix ul li a{
        height: 84px !important;
    }
    .wizard> .steps a, .wizard> .steps a:hover, .wizard> .steps a:active{
        margin: 0 0.1em 0.1em;
    }
    a#newClient-t-1 {
        margin-left: 7px;
    }
    a#newClient-t-1 i.fa.afiliarse.linea::after{
        width: 7%;
    }
}
</style>
<section class="section_padding_100">
    <div class="container">
        <div class="row">
            <section>
                <form action="#" method="post" id="newClient" name="newClient" role="form" class="form-horizontal" >
                    <input type="hidden" name="stid" id="stid" value="<?= $user->getClid();?>">
                    <input type="hidden" name="cuotid" id="cuotid" value="<?=$coutid?>">
                    <h2><i class="fa fa-user afiliarse tamano-icon-25 linea white" aria-hidden="true"></i> <br>Información <br> General</h2>
                    <section data-step="0" class="padding-lados">
                        <div class="form-group col-md-12">
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control change_Save2" name="name" id="name" placeholder="Nombres" required minlength="2" maxlength="50" value="<?=$user->getName()?$user->getName():""?>" data-type="1">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control change_Save2" name="lastname" id="lastname" placeholder="Apellido Paterno" required minlength="2" maxlength="50" value="<?=$user->getLastname()?$user->getLastname():""?>" data-type="1" data-workid="0">
                            </div>
                            <div class="col-md-4 col-xs-12">
                                <input type="text" class="form-control change_Save2" name="secondname" id="secondname" placeholder="Apellido Materno" required minlength="2" maxlength="50" value="<?=$user->getSecondname()?$user->getSecondname():""?>" data-type="1">
                            </div>
                        </div>
                            <div class="form-group col-md-6">
                                <div class="col-md-12">
                                    <select id="sex" name="sex" class="form-control change_Save2" required data-type="1">
                                        <option value="">Sexo</option>
                                        <option <?=$user->getSex()=="M"?"selected":""?> value="M">Masculino</option>
                                        <option <?=$user->getSex()=="F"?"selected":""?> value="F">Femenino</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-md-6 ">
                                <div class="col-md-12">
                                    <select id="comid" name="comid" class="form-control change_Save2" required data-type="1">
                                        <option value="">Seleccione la delegación</option>
                                        <!--option <?=$user->getComid()==0?"selected":""?> value="0">Seleccione la delegación</option-->
                                        <option <?=$user->getComid()==$delegationNational->getComid()?"selected":""?> value="<?= $delegationNational->getComid();?>">Sin delegación</option>
                                        <?php foreach($delegationAll as $dele):?>
                                            <option <?=$user->getComid()==$dele->getComid()?"selected":""?> value="<?= $dele->getComid();?>"><?= $dele->name;?></option>
                                        <?php endforeach;?>
                                    </select>
                                </div>
                            </div>
                            
                        <div class="form-group col-md-6" id="input_email">
                            <div class="col-md-12">
                                <input type="email" class="form-control emailAddress change_Save2" placeholder="Cuenta de correo" value="<?=$user->getEmail()?$user->getEmail():""?>" data-value="<?=$user->getEmail()?$user->getEmail():""?>" data-type="1" readonly>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <div class="col-md-12">
                                <input type="text" class="form-control change_Save2"  name="phone" id="phone" placeholder="Celular" value="<?=$user->getPhone()?$user->getPhone():""?>" data-type="1" required>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                <input type="text" class="form-control small-input change_Save2"  name="ladatel" id="ladatel" placeholder="Lada" value="<?=$user->getLadatel()?$user->getLadatel():""?>" data-type="1">
                            </div>
                            <div class="col-md-9">
                                <input type="text" class="form-control small-input change_Save2"  name="tel" id="tel" placeholder="Teléfono de casa" value="<?=$user->getTel()?$user->getTel():""?>" data-type="1">
                            </div>
                            <div class="col-md-3 margin3">
                                <input type="text" class="form-control small-input change_Save2"  name="ladaTelOficina" id="ladaTelOficina" placeholder="Lada" value="<?=$user->getLadaTelOficina()?$user->getLadaTelOficina():""?>" data-type="1">
                            </div>
                            <div class="col-md-6 margin3">
                                <input type="text" class="form-control small-input change_Save2"  name="telOficina" id="telOficina" placeholder="Teléfono de oficina" value="<?=$user->getTelOficina()?$user->getTelOficina():""?>" data-type="1">
                            </div>
                            <div class="col-md-3 margin3">
                                <input type="text" class="form-control small-input change_Save2"  name="extTelOficina" id="extTelOficina" placeholder="Ext." value="<?=$user->getExtTelOficina()?$user->getExtTelOficina():""?>" data-type="1">
                            </div>
                        </div>

                        <div class="form-group  col-md-6">
                            <div class="col-md-12">
                                <input type="text" class="form-control change_Save2" name="nacionalidad" id="nacionalidad" placeholder="Nacionalidad"  value="<?=$user->getNacionalidad()?$user->getNacionalidad():""?>" data-type="1" required>
                            </div>
                        </div>
                        <div class="form-group  col-md-6">
                            <div class="col-md-12">
                                <input type="text" class="form-control birthdate change_Save2" name="estadoCivil" id="estadoCivil" placeholder="Estado Civil"  value="<?=$user->getEstadoCivil()?$user->getEstadoCivil():""?>" data-type="1">
                            </div>
                        </div>


                        <div class="form-group  col-md-12">
                            <label class="col-md-4 col-sm-4 col-xs-12 col-lg-4 control-label text-left">Fecha Nacimiento<span>*</span></label>
                            <div class="col-md-2 col-sm-2 col-xs-12 col-lg-2">
                                <select id="daybirthdate" name="daybirthdate" class="form-control change_Save2" required data-type="1">
                                    <option value="">Día</option>
                                    <option <?=$user->getDaybirthdate()=="01"?"selected":""?> value="01">01</option>
                                    <option <?=$user->getDaybirthdate()=="02"?"selected":""?> value="02">02</option>
                                    <option <?=$user->getDaybirthdate()=="03"?"selected":""?> value="03">03</option>
                                    <option <?=$user->getDaybirthdate()=="04"?"selected":""?> value="04">04</option>
                                    <option <?=$user->getDaybirthdate()=="05"?"selected":""?> value="05">05</option>
                                    <option <?=$user->getDaybirthdate()=="06"?"selected":""?> value="06">06</option>
                                    <option <?=$user->getDaybirthdate()=="07"?"selected":""?> value="07">07</option>
                                    <option <?=$user->getDaybirthdate()=="08"?"selected":""?> value="08">08</option>
                                    <option <?=$user->getDaybirthdate()=="09"?"selected":""?> value="09">09</option>
                                    <option <?=$user->getDaybirthdate()=="10"?"selected":""?> value="10">10</option>
                                    <option <?=$user->getDaybirthdate()=="11"?"selected":""?> value="11">11</option>
                                    <option <?=$user->getDaybirthdate()=="12"?"selected":""?> value="12">12</option>
                                    <option <?=$user->getDaybirthdate()=="13"?"selected":""?> value="13">13</option>
                                    <option <?=$user->getDaybirthdate()=="14"?"selected":""?> value="14">14</option>
                                    <option <?=$user->getDaybirthdate()=="15"?"selected":""?> value="15">15</option>
                                    <option <?=$user->getDaybirthdate()=="16"?"selected":""?> value="16">16</option>
                                    <option <?=$user->getDaybirthdate()=="17"?"selected":""?> value="17">17</option>
                                    <option <?=$user->getDaybirthdate()=="18"?"selected":""?> value="18">18</option>
                                    <option <?=$user->getDaybirthdate()=="19"?"selected":""?> value="19">19</option>
                                    <option <?=$user->getDaybirthdate()=="20"?"selected":""?> value="20">20</option>
                                    <option <?=$user->getDaybirthdate()=="21"?"selected":""?> value="21">21</option>
                                    <option <?=$user->getDaybirthdate()=="22"?"selected":""?> value="22">22</option>
                                    <option <?=$user->getDaybirthdate()=="23"?"selected":""?> value="23">23</option>
                                    <option <?=$user->getDaybirthdate()=="24"?"selected":""?> value="24">24</option>
                                    <option <?=$user->getDaybirthdate()=="25"?"selected":""?> value="25">25</option>
                                    <option <?=$user->getDaybirthdate()=="26"?"selected":""?> value="26">26</option>
                                    <option <?=$user->getDaybirthdate()=="27"?"selected":""?> value="27">27</option>
                                    <option <?=$user->getDaybirthdate()=="28"?"selected":""?> value="28">28</option>
                                    <option <?=$user->getDaybirthdate()=="29"?"selected":""?> value="29">29</option>
                                    <option <?=$user->getDaybirthdate()=="30"?"selected":""?> value="30">30</option>
                                    <option <?=$user->getDaybirthdate()=="31"?"selected":""?> value="31">31</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-3">
                                <select id="mothbirthdate" name="mothbirthdate" class="form-control change_Save2" required data-type="1">
                                    <option value="">Mes</option>
                                    <option <?=$user->getMothbirthdate()=="01"?"selected":""?> value="01">Enero</option>
                                    <option <?=$user->getMothbirthdate()=="02"?"selected":""?> value="02">Febrero</option>
                                    <option <?=$user->getMothbirthdate()=="03"?"selected":""?> value="03">Marzo</option>
                                    <option <?=$user->getMothbirthdate()=="04"?"selected":""?> value="04">Abril</option>
                                    <option <?=$user->getMothbirthdate()=="05"?"selected":""?> value="05">Mayo</option>
                                    <option <?=$user->getMothbirthdate()=="06"?"selected":""?> value="06">Junio</option>
                                    <option <?=$user->getMothbirthdate()=="07"?"selected":""?> value="07">Julio</option>
                                    <option <?=$user->getMothbirthdate()=="08"?"selected":""?> value="08">Agosto</option>
                                    <option <?=$user->getMothbirthdate()=="09"?"selected":""?> value="09">Septiembre</option>
                                    <option <?=$user->getMothbirthdate()=="10"?"selected":""?> value="10">Octubre</option>
                                    <option <?=$user->getMothbirthdate()=="11"?"selected":""?> value="11">Noviembre</option>
                                    <option <?=$user->getMothbirthdate()=="12"?"selected":""?> value="12">Diciembre</option>
                                </select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12 col-lg-3">
                                <select id="yearsbirthdate" name="yearsbirthdate" class="form-control change_Save2" required data-type="1">
                                    <option value="">Año</option>
                                    <?php
                                    $year = date("Y");
                                    for ($i= 1945; $i < $year-17 ; $i++) { //quitarle el +1 Aver ?
                                        $result = $user->getYearsbirthdate()=="$i"?"selected":"";
                                        echo "<option ".$result." value=".$i.">".$i."</option>";
                                    }
                                    ?>
                                </select>
                            </div>
                        </div>


                        <div class="form-group  col-md-12">
                            <label class="col-md-6 control-label text-left">Asociado desde </label>
                            <div class="col-md-3">
                                <input type="text" readonly id="mothasociado" name="mothasociado" class="form-control change_Save2" data-type="1" value="<?=$moth;?>">
                            </div>
                            <div class="col-md-3">
                                <input type="text" readonly id="yearsasociado" name="yearsasociado" class="form-control change_Save2" data-type="1" value="<?=$year = date("Y");?>">
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <div class="col-md-6">
                                <input type="text" class="form-control change_Save2" name="rfc" id="rfc"  placeholder="RFC" value="<?=$user->getRfc()?$user->getRfc():""?>" data-value="<?=$user->getRfc()?$user->getRfc():""?>" data-type="1">
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control change_Save2"  name="curp" id="curp" placeholder="CURP" value="<?=$user->getCurp()?$user->getCurp():""?>" data-type="1">
                            </div>
                        </div>
                        <div class="form-group  col-md-12">
                            <label class="col-md-1 col-sm-1 col-xs-12 col-lg-1 control-label text-left font-rs">Facebook </label>
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <input type="text" class="form-control birthdate change_Save2" name="facebook" id="facebook" placeholder="Facebook"  value="<?=$user->getFacebook()?$user->getFacebook():""?>" data-type="1">
                            </div>
                            <label class="col-md-1 col-sm-1 col-xs-12 col-lg-1 control-label text-left font-rs">Twitter </label>
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <input type="text" class="form-control change_Save2" name="twitter" id="twitter" placeholder="Twitter"  value="<?=$user->getTwitter()?$user->getTwitter():""?>" data-type="1">
                            </div>
                            <label class="col-md-1 col-sm-1 col-xs-12 col-lg-1 control-label text-left font-rs">Instagram </label>
                            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3">
                                <input type="text" class="form-control birthdate change_Save2" name="instagram" id="instagram" placeholder="Instagram"  value="<?=$user->getInstagram()?$user->getInstagram():""?>" data-type="1">
                            </div>
                        </div>
                    </section>
                    <h2><i class="fa fas fa-envelope afiliarse tamano-icon-25 linea white" aria-hidden="true"></i><br> Domicilio</h2>
                    <section data-step="1">


                        <div class="panel-group" id="accordion3">
                            <div class="directions2">

                                <?php $id3=0; foreach($directionsall as $userDirection):?>
                                <div class="direction2" id="<?=$userDirection->getDirclid()?>">

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title afiliacion">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$userDirection->getDirclid()?>" aria-expanded="<?=$id3==0?"true":"false"?>" aria-controls="collapse<?=$userDirection->getDirclid()?>">

                                            </a>
                                            </h4>
                                            <button data-id="<?=$userDirection->getDirclid()?>" type="button" class="btn btn-danger delete_direction" rel="tooltip" data-color-class="danger" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Eliminar Dirección" data-placement="top"><i class="fa fa-times-circle direction-close" aria-hidden="true"></i></button>
                                        </div>
                                        <div id="collapse<?=$userDirection->getDirclid()?>" class="panel-collapse collapse <?=$id3==0?"in":""?>" aria-expanded="<?=$id3==0?"true":"false"?>">
                                            <div class="form-group">
                                                    <div class="col-md-6">
                                                        <select id="type<?=$userDirection->getDirclid()?>" name="type" class="form-control change_Save2" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                            <option <?=$userDirection->getType()==""?"selected":""?> value="">Seleccione el tipo de domicilio</option>
                                                            <option <?=$userDirection->getType()=="PARTICULAR"?"selected":""?> value="PARTICULAR">PARTICULAR</option>
                                                            <option <?=$userDirection->getType()=="OFICINA"?"selected":""?> value="OFICINA">OFICINA</option>
                                                            <option <?=$userDirection->getType()=="OTRO"?"selected":""?> value="OTRO">OTRO</option>
                                                        </select>
                                                    </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="calle" id="calle<?=$userDirection->getDirclid()?>" placeholder="Calle" value="<?=$userDirection->getCalle()?$userDirection->getCalle():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="numerointe" id="numerointe<?=$userDirection->getDirclid()?>" placeholder="Número interior" value="<?=$userDirection->getNumerointe()?$userDirection->getNumerointe():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="numeroexte" id="numeroexte<?=$userDirection->getDirclid()?>" placeholder="Número Exterior" value="<?=$userDirection->getNumeroexte()?$userDirection->getNumeroexte():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="colonia" id="colonia<?=$userDirection->getDirclid()?>" placeholder="Colonia" value="<?=$userDirection->getColonia()?$userDirection->getColonia():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="cp" id="cp<?=$userDirection->getDirclid()?>" placeholder="Código Postal" value="<?=$userDirection->getCp()?$userDirection->getCp():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="municipio" id="municipio<?=$userDirection->getDirclid()?>" placeholder="Municipio" value="<?=$userDirection->getMunicipio()?$userDirection->getMunicipio():""?>" data-type="3"  data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="localidad" id="localidad<?=$userDirection->getDirclid()?>" placeholder="Ciudad" value="<?=$userDirection->getLocalidad()?$userDirection->getLocalidad():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="estado" id="estado<?=$userDirection->getDirclid()?>" placeholder="Estado" value="<?=$userDirection->getEstado()?$userDirection->getEstado():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save2"  name="pais" id="pais<?=$userDirection->getDirclid()?>" placeholder="País" value="<?=$userDirection->getPais()?$userDirection->getPais():""?>" data-type="3" data-workid="<?=$userDirection->getDirclid()?>">
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <?php $id3++; endforeach;?>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12 col-lg-4">
                            <button type="button" class="btn btn-success" id="adddirection">Agregar otro domicilio</button>
                        </div>
                    </section>
                    <h2><i style="margin-left: 17px !important;" class="fa fa-graduation-cap afiliarse position-3 tamano-icon-25 linea white" aria-hidden="true"></i><br><span style="margin-left: 17px!important"> Formación Académica</span></h2>
                    <section data-step="2">
                        <div class="panel-group" id="accordion2">
                            <div class="work2">
                                <?php $id2=0; foreach($estudiosall as $estudios):?>
                                <div class="workid2" id="<?=$estudios->getEstclid()?>">
                                    <div class="panel panel-default">
                                        <div class="panel-heading studio">
                                            <h4 class="panel-title afiliacion">
                                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$estudios->getEstclid()?>" aria-expanded="<?=$id2==0?"true":"false"?>" aria-controls="collapseOne">

                                                </a>
                                            </h4>
                                            <button data-id="<?=$estudios->getEstclid()?>" type="button" class="btn btn-danger delete_studio" rel="tooltip" data-color-class="danger" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Eliminar Formación Académica" data-placement="top"><i class="fa fa-times-circle direction-close" aria-hidden="true"></i></button>
                                        </div>
                                        <div id="collapse<?=$estudios->getEstclid()?>" class="panel-collapse collapse <?=$id2==0?"in":""?>"  aria-expanded="<?=$id2==0?"true":"false"?>">
                                            <br>
                                            <div class="form-group">
                                                <?php if($userType == 'ESTUDIANTE'):?>
                                                    <div class="col-md-6">
                                                        <select id="titulo<?=$estudios->getEstclid()?>" name="titulo" class="form-control change_Save titulo" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                            <option <?=$estudios->getTitulo()==""?"selected":""?> value="">Seleccione el grado académico</option>
                                                            <option <?=$estudios->getTitulo()=="LICENCIATURA"?"selected":""?> value="LICENCIATURA">LICENCIATURA</option>
                                                            <option <?=$estudios->getTitulo()=="MAESTRÍA"?"selected":""?> value="MAESTRÍA">MAESTRÍA</option>
                                                            <option <?=$estudios->getTitulo()=="DOCTORADO"?"selected":""?> value="DOCTORADO">DOCTORADO</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control change_Save"  name="calificacion" id="calificacion<?=$estudios->getEstclid()?>" placeholder="Promedio General" value="<?=$estudios->getCalificacion()?$estudios->getCalificacion():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                    </div>
                                                </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <input type="text" class="form-control change_Save"  name="especialidad" id="especialidad<?=$estudios->getEstclid()?>" placeholder="Semestre" value="<?=$estudios->getEspecialidad()?$estudios->getEspecialidad():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                        </div>
                                                <?php else:?>
                                                    <div class="col-md-6">
                                                        <?php if($id2==0):?>
                                                        <select id="titulo<?=$estudios->getEstclid()?>" name="titulo" class="form-control change_Save" data-type="5" data-workid="<?=$estudios->getEstclid()?>" <?=$id2==0?"readonly":""?>>
                                                            <option <?=$estudios->getTitulo()=="LICENCIATURA"?"selected":""?> value="LICENCIATURA">LICENCIATURA</option>
                                                        </select>
                                                        <?php else:?>
                                                        <select id="titulo<?=$estudios->getEstclid()?>" name="titulo" class="form-control change_Save titulo" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                            <option value="">Seleccione el grado académico</option>
                                                            <option <?=$estudios->getTitulo()=="LICENCIATURA"?"selected":""?> value="LICENCIATURA">LICENCIATURA</option>
                                                            <option <?=$estudios->getTitulo()=="MAESTRÍA"?"selected":""?> value="MAESTRÍA">MAESTRÍA</option>
                                                            <option <?=$estudios->getTitulo()=="DOCTORADO"?"selected":""?> value="DOCTORADO">DOCTORADO</option>
                                                        </select>
                                                        <?php endif; ?>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control change_Save"  name="especialidad" id="especialidad<?=$estudios->getEstclid()?>" placeholder="Especialidadd" value="<?=$estudios->getEspecialidad()?$estudios->getEspecialidad():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                    </div>
                                                <?php endif;?>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save"  name="universidad" id="universidad<?=$estudios->getEstclid()?>" placeholder="Universidad" value="<?=$estudios->getUniversidad()?$estudios->getUniversidad():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                </div>
                                                <div class="col-md-6">
                                                    <input type="text" class="form-control change_Save"  name="carrera" id="carrera<?=$estudios->getEstclid()?>" placeholder="Carrera" value="<?=$estudios->getCarrera()?$estudios->getCarrera():""?>" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                </div>
                                            </div>
                                            <?php if($userType == 'ESTUDIANTE'):?>
                                            <?php else:?>
                                                <div class="form-group">

                                                    <label class="col-md-6 control-label">Fecha de Titulación </label>
                                                    <div class="col-md-3">

                                                        <select id="mesfinalstu<?=$estudios->getEstclid()?>" name="mesfinalstu" class="form-control change_Save" data-type="5" data-workid="<?=$estudios->getEstclid()?>" required>
                                                            <option value="">Mes</option>
                                                            <option <?=$estudios->getMesfinalstu()=="01"?"selected":""?> value="01">Enero</option>
                                                            <option <?=$estudios->getMesfinalstu()=="02"?"selected":""?> value="02">Febrero</option>
                                                            <option <?=$estudios->getMesfinalstu()=="03"?"selected":""?> value="03">Marzo</option>
                                                            <option <?=$estudios->getMesfinalstu()=="04"?"selected":""?> value="04">Abril</option>
                                                            <option <?=$estudios->getMesfinalstu()=="05"?"selected":""?> value="05">Mayo</option>
                                                            <option <?=$estudios->getMesfinalstu()=="06"?"selected":""?> value="06">Junio</option>
                                                            <option <?=$estudios->getMesfinalstu()=="07"?"selected":""?> value="07">Julio</option>
                                                            <option <?=$estudios->getMesfinalstu()=="08"?"selected":""?> value="08">Agosto</option>
                                                            <option <?=$estudios->getMesfinalstu()=="09"?"selected":""?> value="09">Septiembre</option>
                                                            <option <?=$estudios->getMesfinalstu()=="10"?"selected":""?> value="10">Octubre</option>
                                                            <option <?=$estudios->getMesfinalstu()=="11"?"selected":""?> value="11">Noviembre</option>
                                                            <option <?=$estudios->getMesfinalstu()=="12"?"selected":""?> value="12">Diciembre</option>
                                                        </select>
                                                        <!--<input type="text" class="form-control change_Save enddateestudio"  name="mesfinal" placeholder="Mes final" value="<?/*=$estudios->getMesfinal()?$estudios->getMesfinal():""*/?>" data-type="5" data-workid="<?/*=$estudios->getEstclid()*/?>">-->
                                                    </div>
                                                    <div class="col-md-3">
                                                        <select id="annofinalstu<?=$estudios->getEstclid()?>" name="annofinalstu" class="form-control change_Save" data-type="5"  data-workid="<?=$estudios->getEstclid()?>" required>
                                                            <option value="">Año</option>
                                                            <?php
                                                            $year = date("Y");
                                                            $yearSelect2 = $estudios->getAnnofinalstu();
                                                            for ($i= 1945; $i < $year+1 ; $i++) { //quitarle el +1 Aver ?
                                                                $selected2 = $yearSelect2==$i?'selected':'';
                                                                echo "<option ".$selected2." value=".$i.">".$i."</option>";
                                                            }
                                                            ?>
                                                        </select>
                                                    </div>
                                                </div>
                                            <?php endif;?>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <?php $id2++; endforeach;?>
                            </div>
                        </div>
                        <div class="form-group">
                            <?php if($userType != 'ESTUDIANTE'):?>
                                <div class="col-md-4 col-xs-12 col-lg-4">
                                    <button type="button" class="btn btn-success" id="addestudio">Agregar otro grado académico</button>
                                </div>
                            <?php else:?>
                            <?php endif;?>
                        </div>
                    </section>
                    <h2><i style="margin-left: 34px!important;" class="fa fa-suitcase afiliarse tamano-icon-25 linea white" aria-hidden="true"></i><br> <span style="margin-left: 34px!important;">Experiencia Laboral</span></h2>
                    <section data-step="3">
                        <div class="panel-group" id="accordion">
                            <div class="work">
                                <?php $id=0; foreach($workall as $work):?>
                                    <div class="workid" id="<?=$work->getWorkclid()?>">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title afiliacion">
                                                    <a role="button"  data-toggle="collapse" data-parent="#accordion" href="#collapse<?=$work->getWorkclid()?>"   aria-expanded="<?=$id==0?"true":"false"?>" aria-controls="collapseOne">
                                                </a>
                                                </h4>
                                                <button data-id="<?=$work->getWorkclid()?>" type="button" class="btn btn-danger delete_work" rel="tooltip" data-color-class="danger" data-animate="animated fadeIn" data-toggle="tooltip" data-original-title="Eliminar Trabajo" data-placement="top"><i class="fa fa-times-circle direction-close" aria-hidden="true"></i></button>
                                            </div>
                                            <div id="collapse<?=$work->getWorkclid()?>" class="panel-collapse collapse <?=$id==0?"in":""?>" aria-expanded="<?=$id==0?"true":"false"?>">
                                                <br>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control keyup_Save"  name="empresa" id="empresa<?=$work->getWorkclid()?>" placeholder="Empresa" value="<?=$work->getEmpresa()?$work->getEmpresa():""?>" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control keyup_Save"  name="puesto" id="puesto<?=$work->getWorkclid()?>" placeholder="Puesto" value="<?=$work->getPuesto()?$work->getPuesto():""?>" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                    </div>
                                                    <div class="col-md-6 hidden">
                                                        <input type="text" class="form-control keyup_Save"  name="workclid" id="workclid<?=$work->getWorkclid()?>" placeholder="workclid" value="<?=$work->getWorkclid()?$work->getWorkclid():""?>" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-6">
                                                        <select id="actual<?=$work->getWorkclid()?>" name="actual" class="form-control keyup_Save workchange" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                            <option <?=$work->getActual()==(""||null)?"selected":""?> value="">¿Es su trabajo actual?</option>
                                                            <option <?=$work->getActual()=="SI"?"selected":""?> value="SI">SI</option>
                                                            <option <?=$work->getActual()=="NO"?"selected":""?> value="NO">NO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-2 col-xs-12 col-lg-2 control-label">Fecha inicio </label>
                                                    <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2">
                                                        <select name="mes" class="form-control keyup_Save" placeholder="Mes inicial" value="<?=$work->getMes()?$work->getMes():""?>" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                            <option value="">Mes</option>
                                                            <option <?=$work->getMes()=="01"?"selected":""?> value="01">Enero</option>
                                                            <option <?=$work->getMes()=="02"?"selected":""?> value="02">Febrero</option>
                                                            <option <?=$work->getMes()=="03"?"selected":""?> value="03">Marzo</option>
                                                            <option <?=$work->getMes()=="04"?"selected":""?> value="04">Abril</option>
                                                            <option <?=$work->getMes()=="05"?"selected":""?> value="05">Mayo</option>
                                                            <option <?=$work->getMes()=="06"?"selected":""?> value="06">Junio</option>
                                                            <option <?=$work->getMes()=="07"?"selected":""?> value="07">Julio</option>
                                                            <option <?=$work->getMes()=="08"?"selected":""?> value="08">Agosto</option>
                                                            <option <?=$work->getMes()=="09"?"selected":""?> value="09">Septiembre</option>
                                                            <option <?=$work->getMes()=="10"?"selected":""?> value="10">Octubre</option>
                                                            <option <?=$work->getMes()=="11"?"selected":""?> value="11">Noviembre</option>
                                                            <option <?=$work->getMes()=="12"?"selected":""?> value="12">Diciembre</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2">
                                                        <select id="anno<?=$work->getWorkclid()?>" name="anno" class="form-control keyup_Save" placeholder="Año inicial" value="<?=$work->getMes()?$work->getMes():""?>" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                            <option value="">Año</option>
                                                            <?php
                                                            $year = date("Y");
                                                            $yearSelect2 = $work->getAnno();
                                                            /*for ($i= 1945; $i < $year+1 ; $i++){
                                                                $selected2 = $yearSelect2==$i?'selected':'';
                                                                echo "<option ".$selected2." value=".$i.">".$i."</option>";
                                                            }*/
                                                            for ($i= $year; $i >= $year-55 ; $i--){
                                                                $selected2 = $yearSelect2==$i?'selected':'';
                                                                echo "<option ".$selected2." value=".$i.">".$i."</option>";
                                                            }
                                                            ?>
                                                        </select>
                                                    </div>
                                                    <label class="col-md-2 col-xs-12 col-lg-2 control-label <?=$work->getActual()=="NO"?"":"hidden"?>" id="label-date-end<?=$work->getWorkclid()?>">Fecha fin </label>
                                                    <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2 <?=$work->getActual()=="NO"?"":"hidden"?>" id="moth-date-end<?=$work->getWorkclid()?>">
                                                        <select id="mesfinal<?=$work->getWorkclid()?>" name="mesfinal" class="form-control keyup_Save" placeholder="Mes inicial" value="<?=$work->getMesfinal()?$work->getMesfinal():""?>" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                            <option value="">Mes</option>
                                                            <option <?=$work->getMesfinal()=="01"?"selected":""?> value="01">Enero</option>
                                                            <option <?=$work->getMesfinal()=="02"?"selected":""?> value="02">Febrero</option>
                                                            <option <?=$work->getMesfinal()=="03"?"selected":""?> value="03">Marzo</option>
                                                            <option <?=$work->getMesfinal()=="04"?"selected":""?> value="04">Abril</option>
                                                            <option <?=$work->getMesfinal()=="05"?"selected":""?> value="05">Mayo</option>
                                                            <option <?=$work->getMesfinal()=="06"?"selected":""?> value="06">Junio</option>
                                                            <option <?=$work->getMesfinal()=="07"?"selected":""?> value="07">Julio</option>
                                                            <option <?=$work->getMesfinal()=="08"?"selected":""?> value="08">Agosto</option>
                                                            <option <?=$work->getMesfinal()=="09"?"selected":""?> value="09">Septiembre</option>
                                                            <option <?=$work->getMesfinal()=="10"?"selected":""?> value="10">Octubre</option>
                                                            <option <?=$work->getMesfinal()=="11"?"selected":""?> value="11">Noviembre</option>
                                                            <option <?=$work->getMesfinal()=="12"?"selected":""?> value="12">Diciembre</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-sm-6 col-xs-6 col-lg-2 <?=$work->getActual()=="NO"?"":"hidden"?>" id="annoselect3<?=$work->getWorkclid()?>">
                                                        <select id="annofinal<?=$work->getWorkclid()?>" name="annofinal" class="form-control keyup_Save" placeholder="Año inicial" value="<?=$work->getMes()?$work->getMes():""?>" data-type="4" data-workid="<?=$work->getWorkclid()?>">
                                                            <option value="">Año</option>
                                                            <?php
                                                            $year = date("Y");
                                                            $yearSelect2 = $work->getAnnofinal();
                                                            /*for ($i= 1945; $i < $year+1 ; $i++){
                                                                $selected2 = $yearSelect2==$i?'selected':'';
                                                                echo "<option ".$selected2." value=".$i.">".$i."</option>";
                                                            }*/
                                                            for ($i= $year; $i >= $year-55 ; $i--){
                                                                $selected2 = $yearSelect2==$i?'selected':'';
                                                                echo "<option ".$selected2." value=".$i.">".$i."</option>";
                                                            }
                                                            ?>
                                                        </select>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                <?php $id++; endforeach;?>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-4 col-xs-12 col-lg-4">
                                <button type="button" class="btn btn-success" id="addwork">Agregar otro registro</button>
                            </div>
                        </div>
                    </section>
                    <h2><i style="margin-left: 43px!important" class="fa fas fa-cloud-upload-alt afiliarse tamano-icon-25 white" aria-hidden="true"></i><br> <span style="margin-left: 40px!important">Documentos</span></h2>
                    <section data-step="4">
                        <div class="form-group">
                            <div class="col-xs-12 text-right"> <p>El tamaño de los archivos debe ser menor a 3 Mb.</p></div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="margen">
                                    <label class="control-label title-document">ACTA DE NACIMIENTO </label><br>
                                    <label class="control-label title-document2">Ambos lados </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_ACTA</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_<?=$user->getClid()?>" data-id="filePublicaciones_<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_acta dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fas fa-cloud-upload-alt" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="actaNacimiento"  value="<?=$user->getActaNacimiento();?>" data-workid="<?=$user->getClid()?>" id="input-image-principal">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="margen">
                                    <label class="control-label title-document">CURRÍCULUM VITAE </label><br>
                                    <label class="control-label title-document2">Actualizado </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_CV</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_cv<?=$user->getClid()?>" data-id="filePublicaciones_cv<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_cv dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fas fa-cloud-upload-alt" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="input-document-cv"  value="<?=$user->getCv()?$user->getCv():'icon.png'?>" data-workid="<?=$user->getClid()?>" id="input-document-cv">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="margen">
                                    <label class="control-label title-document">FOTOGRAFÍA</label>
                                    <label class="control-label title-document2">A color, de frente, fondo blanco, puede ser tomada con celular (buena calidad) </label><br>
                                    <label class="control-label title-document2">Formato: JPG</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_FOTO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_photo<?=$user->getClid()?>" data-id="filePublicaciones_photo<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_foto dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fas fa-cloud-upload-alt" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="input-document-foto"  value="<?=$user->getPhoto()?$user->getPhoto():'icon.png'?>" data-workid="<?=$user->getClid()?>" id="input-document-foto">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h4 class="text-center">Comprobantes de grado académico</h4>
                        <br>
                        <br>
                        <?php foreach($estudiosall as $estudios):?>
                        <?php if($userType == 'ESTUDIANTE'):?>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="comprobante<?=$estudios->getEstclid()?>">
                                <div class="margen">
                                    <label class="control-label title-document">Comprobante de estudio con promedio<br> de <span id="titulo-document-titulo<?=$estudios->getEstclid()?>"><?=$estudios->getTitulo()?></span> </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_TITULO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" data-estclid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_titulo dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fas fa-cloud-upload-alt" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="document"  value="<?=$estudios->getDocument()?$estudios->getDocument():''?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-titulo<?=$estudios->getEstclid()?>">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php else:?>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" id="titulo<?=$estudios->getEstclid()?>">
                                <div class="margen">
                                    <label class="control-label title-document">Título de <span id="titulo-document-titulo<?=$estudios->getEstclid()?>"><?=$estudios->getTitulo()?></span> </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDO_NOMBRE_TITULO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" data-estclid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_titulo dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fas fa-cloud-upload-alt" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="document"  value="<?=$estudios->getDocument()?$estudios->getDocument():''?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-titulo<?=$estudios->getEstclid()?>">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" id="cedula<?=$estudios->getEstclid()?>">
                                <div class="margen">
                                    <label class="control-label title-document">Cédula de <span id="titulo-document-cedula<?=$estudios->getEstclid()?>"><?=$estudios->getTitulo()?></span> </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDO_NOMBRE_TITULO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_cedula<?=$estudios->getEstclid()?>" data-id="filePublicaciones_cedula<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" data-estclid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_cedula dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fas fa-cloud-upload-alt" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="cedula"  value="<?=$estudios->getCedula()?$estudios->getCedula():''?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-cedula<?=$estudios->getEstclid()?>" >
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <?php endif;?>
                        <?php endforeach;?>
                        <div id="add-jquery-studio-document" class="form-group">
                        </div>

                    </section>
                </form>
            </section>
        </div>
    </div>
</section>
<div class="modal fade" id="delete_modal" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh-warning">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body" >
                <p class="p-modal-delete">
                    ¿Está seguro que desea eliminar el registro?
                </p>
                <img id="value_image_delete" src="" alt="" class="img-responsive">
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Cancelar</button>
                <button class="btn btn-warning btn-submit" type="button" id="confirm_delete"> Borrar</button>
            </div>
        </div>
    </div>
</div>
<?php if($user->getReferencia()){
}
else{?>
<div class="modal fade" id="modalReferencias" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog changepass">
        <div class="modal-content changepass">
            <div class="modal-header pass changepass">
                <h4 class="modal-title">Referencia</h4>
            </div>
            <div class="modal-body changepass">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <form action="#" method="post" id="referenciaForm" name="referenciaForm">
                            <div class="contact_input_area referencia">
                                <div id="success_fail_info"></div>
                                <div class="row">
                                    <input type="hidden" name="clidmodal" id="clidmodal" value="<?= $user->getClid();?>">
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                        <div class="form-group text-center">
                                            <label class="referencia">¿Algún(a) asociad@ lo recomienda?</label><br>
                                            <label class="radio-inline text-center referencia"><input class="referencia" id="noreference2" type="radio" name="referencia" value="SI" <?=$user->getReferencia()=="SI"?"checked":""?>>Si</label>
                                            <label class="radio-inline text-center referencia"><input class="referencia" id="noreference" type="radio" onclick="Checkradiobutton()" name="referencia" value="NO" <?=$user->getReferencia()=="NO"?"checked":""?>>No, necesito recomendación.</label>
                                            <br>
                                            <br>
                                            <br>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
                                        <h4 class="title-info-reference" style="margin-left: 5% !important;">Datos de quien lo recomienda</h4>
                                    </div>
                                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12 info-reference">
                                        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control referencias" name="namerefe" id="namerefe" placeholder="Nombre" value="<?=$user->getNamerefe()?$user->getNamerefe():""?>">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control referencias" name="lastnamerefe" id="lastnamerefe" placeholder="Apellido paterno" value="<?=$user->getLastnamerefe()?$user->getLastnamerefe():""?>">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control referencias" name="secondnamerefe" id="secondnamerefe" placeholder="Apellido materno" value="<?=$user->getSecondnamerefe()?$user->getSecondnamerefe():""?>">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="email" class="form-control referencias" name="emailrefe" id="emailrefe" required placeholder="Correo" value="<?=$user->getEmailrefe()?$user->getEmailrefe():""?>">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control referencias" name="numberrefe" id="numberrefe" placeholder="Número de asociado" value="<?=$user->getNumberrefe()?$user->getNumberrefe():""?>">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6 col-xs-12 col-lg-12">
                                            <div class="form-group">
                                                <input type="number" class="form-control referencias" name="phonerefe" id="phonerefe" required placeholder="Teléfono *"  value="<?=$user->getPhonerefe()?$user->getPhonerefe():""?>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-12 col-sm-12 col-lg-12">
                                        <div class="form-group botones">
                                            <div id="form-success" class="alert alert-success hidden" role="alert">El mensaje se ha enviado correctamente</div>
                                            <div id="form-warning" class="alert alert-warning hidden" role="alert">Ha ocurrido un error, intente nuevamente por favor</div>
                                            <button type="submit" class="btn btn-dark btn-theme-colored btn-flat" id="sendM" data-loading-text="Por favor espera...">Aceptar</button>
                                            <button type="submit" class="btn btn-dark btn-theme-colored btn-flat" id="rojo1"><a href="/">Cancelar</a></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<?php }?>
<div class="modal fade" id="saveandcontinue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <p class="title-modal-updatepass"> Guardar y salir</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="title-updatepass">Su solicitud de ingreso no ha sido concluida, para continuar en otra ocasión deber
                            iniciar sesión y seleccionar la opción "Continuar solicitud de ingreso" desde el panel de opciones de su
                            perfil.</p>
                        <div class="col-xs-8"></div>
                        <div class="col-xs-4"><button type="button" class="btn btn-default butonfer" style="float: right!important;"><a href="/" class="white">Aceptar</a></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="finalizarypagar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <p class="title-modal-updatepass"> Solicitud Incompleta</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" id="close-modal-incomplete-document" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <form action="#" method="post" id="senddocumentincomplete" name="senddocumentincomplete">
                    <div class="row">
                        <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                            <input type="hidden" name="stid" value="<?= $user->getClid();?>">
                            <p class="title-updatepass">Documentación incompleta.</p>
                            <p class="title-updatepass">Su solicitud de ingreso será enviada al Coordinador de Membresía de su Delegación toda vez que se haya complementado la siguiente documentación:
                            <ul id="list-studios-client-document">
                                <li id="acta" class="list-modal-incomplete hidden">Acta de nacimiento</li>
                                <li id="cv" class="list-modal-incomplete hidden">Currículum vitae</li>
                                <li id="photo" class="list-modal-incomplete hidden">Fotografía</li>
                            </ul>
                            <ul id="list-studios-client">
                            </ul>
                            <p class="title-updatepass">Puede hacerlo  desde la opción "Mis Documentos" en el menú de "Mi Perfil".</p>
                            <p class="title-updatepass">Ahora puede proceder con el pago.</p>
                            <button type="button" class="btn btn-default continue-pay"><a href="/pagarinscripcion/<?=$coutid?>">Aceptar</a></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="finalizarypagarcomplete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <p class="title-modal-updatepass"> Estado de solicitud</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="title-updatepass">Documentación completa.</p> <p class="title-updatepass">Su solicitud de ingreso será enviada al Coordinador de Membresía de su Delegación toda vez que se haya acreditado el pago.</p>
                        <p class="title-updatepass">Ahora puede proceder con el pago. Así mismo podrá darle seguimiento al estado de su solicitud de ingreso desde el menú de "Mi perfil".</p>
                        <button type="button" class="btn btn-default"><a href="/pagarinscripcion/<?=$coutid?>">Aceptar</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="closeandcancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <p class="title-modal-updatepass"> Cancelar solicitud de ingreso</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <input type="hidden" name="stidd" id="stidd" value="<?= $user->getClid();?>">
                        <p class="title-updatepass">  Está seguro que desea cancelar su solicitud de ingreso?</p>
                        <p class="title-updatepass">Todos los datos proporcionados serán eliminados.</p>
                        <button type="button" class="btn btn-default" id="deleteInscription">Si</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
