<style>
    #newClient{
        padding: 20px;
    }
    .wizard> .content{
        background-color: #fff;
        min-height: 25em;
    }
    .wizard> .actions{
      display: none;
    }
</style>
<section class="section_padding_100">
    <div class="container">
        <div class="row">
            <section>
                <form action="#" method="post" id="newClient" name="newClient" role="form" class="form-horizontal">
                    <input type="hidden" name="stid" id="stid" value="<?= $user->getClid();?>">
                    <input type="hidden" name="cuotid" id="cuotid" value="<?=$coutid?>">
                    <div class="col-xs-6 col-sm-6 col-md-6">
                    <h2>Documentos de <?= $user->getName();?></h2>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                        <a href="/perfil">Regresar a perfil <i class="fas fa-undo-alt" id="return-perfil"></i></a>
                    </div>
                    <section>
                        <div class="form-group">
                            <div class="col-xs-12 text-right"> <p>El tamaño de los archivos debe ser menor a 3 Mb.</p></div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="margen">
                                    <label class="control-label title-document">ACTA DE NACIMIENTO </label><br>
                                    <label class="control-label title-document2">Ambos lados </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_ACTA</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_<?=$user->getClid()?>" data-id="filePublicaciones_<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_acta dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="actaNacimiento"  value="<?=$user->getActaNacimiento();?>" data-workid="<?=$user->getClid()?>" id="input-image-principal">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="margen">
                                    <label class="control-label title-document">CURRÍCULUM VITAE </label><br>
                                    <label class="control-label title-document2">Actualizado </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_CV</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_cv<?=$user->getClid()?>" data-id="filePublicaciones_cv<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_cv dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="input-document-cv"  value="<?=$user->getCv()?$user->getCv():'icon.png'?>" data-workid="<?=$user->getClid()?>" id="input-document-cv">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4">
                                <div class="margen">
                                    <label class="control-label title-document">FOTOGRAFÍA</label>
                                    <label class="control-label title-document2">A color, fondo blanco, puede ser tomada con celular (buena calidad) </label><br>
                                    <label class="control-label title-document2">Formato: JPG ó PNG</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_FOTO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_photo<?=$user->getClid()?>" data-id="filePublicaciones_photo<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_foto dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="input-document-foto"  value="<?=$user->getPhoto()?$user->getPhoto():'icon.png'?>" data-workid="<?=$user->getClid()?>" id="input-document-foto">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h4 class="text-center">Comprobantes de grado académico</h4>
                        <br>
                        <br>
                        <?php foreach($estudiosall as $estudios):?>
                        <?php if($userType == 'ESTUDIANTE'):?>
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12" id="comprobante<?=$estudios->getEstclid()?>">
                                <div class="margen">
                                    <label class="control-label title-document">Comprobante de estudio con promedio<br> de <span id="titulo-document-titulo<?=$estudios->getEstclid()?>"><?=$estudios->getTitulo()?></span> </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDOP_NOMBRE_TITULO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" data-estclid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_titulo dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="document"  value="<?=$estudios->getDocument()?$estudios->getDocument():''?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-titulo<?=$estudios->getEstclid()?>">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <?php else:?>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" id="titulo<?=$estudios->getEstclid()?>">
                                <div class="margen">
                                    <label class="control-label title-document">Título de <span id="titulo-document-titulo<?=$estudios->getEstclid()?>"><?=$estudios->getTitulo()?></span> </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDO_NOMBRE_TITULO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" data-estclid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_titulo dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="document"  value="<?=$estudios->getDocument()?$estudios->getDocument():''?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-titulo<?=$estudios->getEstclid()?>">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-lg-6" id="cedula<?=$estudios->getEstclid()?>">
                                <div class="margen">
                                    <label class="control-label title-document">Cédula de <span id="titulo-document-cedula<?=$estudios->getEstclid()?>"><?=$estudios->getTitulo()?></span> </label><br>
                                    <label class="control-label title-document2">Formato: PDF</label><br>
                                    <label class="control-label title-document2">Nombre del archivo con el siguiente formato:</label><br>
                                    <label class="control-label title-document2">APELLIDO_NOMBRE_TITULO</label>
                                    <div class="controls">
                                        <div id="filePublicaciones_cedula<?=$estudios->getEstclid()?>" data-id="filePublicaciones_cedula<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" data-estclid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_cedula dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="cedula"  value="<?=$estudios->getCedula()?$estudios->getCedula():''?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-cedula<?=$estudios->getEstclid()?>" >
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <?php endif;?>
                        <?php endforeach;?>
                        <div id="add-jquery-studio-document" class="form-group">
                        </div>
                        <button class="afiliacion"><a href="/perfil">Guardar</a></button>
                    </section>
                </form>
            </section>
        </div>
    </div>
</section>
