<style>
    #newClient{
        padding: 20px;
    }
    .wizard> .content{
        background-color: #fff;
        min-height: 25em;
    }
</style>
<section class="section_padding_100">
    <div class="container">
        <div class="row">
            <section>
                <form action="" method="post" id="observationAfiliacion" name="observationAfiliacion">
                    <input type="hidden" name="stid" id="stid" value="<?= $user->getClid();?>">
                    <h2><br> Documentos</h2>
                    <section>
                        <div class="form-group">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="margen">
                                    <label class="control-label title-document">Acta de nacimiento </label>
                                    <div class="controls">
                                        <div id="filePublicaciones_<?=$user->getClid()?>" data-id="filePublicaciones_<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_acta dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="actaNacimiento"  value="api/administration/registro/acta/<?=$user->getActaNacimiento()?$user->getActaNacimiento():'icon.png'?>" data-workid="<?=$user->getClid()?>" id="input-image-principal">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="margen">
                                    <label class="control-label title-document">Curriculum vitae </label>
                                    <div class="controls">
                                        <div id="filePublicaciones_cv<?=$user->getClid()?>" data-id="filePublicaciones_cv<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_cv dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="input-document-cv"  value="/api/administration/registro/cv/<?=$user->getCv()?$user->getCv():'icon.png'?>" data-workid="<?=$user->getClid()?>" id="input-document-cv">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="margen">
                                    <label class="control-label title-document">Foto </label>
                                    <div class="controls">
                                        <div id="filePublicaciones_photo<?=$user->getClid()?>" data-id="filePublicaciones_photo<?=$user->getClid()?>" data-workid="<?=$user->getClid()?>" class="dropzone dropzone_file_foto dz-default dz-message">
                                            <div class="dz-default dz-message membresia">
                                                <h2 class="text-center membresia">
                                                    <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                    Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                    <input type="hidden" name="input-document-foto"  value="/api/administration/registro/photo/<?=$user->getCv()?$user->getPhoto():'icon.png'?>" data-workid="<?=$user->getClid()?>" id="input-document-foto">
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h4 class="text-center">Titulo de escuela</h4>
                        <br>
                        <br>
                        <?php foreach($estudiosall as $estudios):?>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="margen">
                                        <label class="control-label title-document">Titulo de <?=$estudios->getTitulo()?> </label>
                                        <div class="controls">
                                            <div id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-id="filePublicaciones_titulo<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_titulo dz-default dz-message">
                                                <div class="dz-default dz-message membresia">
                                                    <h2 class="text-center membresia">
                                                        <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                        Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                        <input type="hidden" name="document"  value="/api/administration/registro/<?=$estudios->getDocument()?$estudios->getDocument():'icon.png'?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-titulo">
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="margen">
                                        <label class="control-label title-document">Cedula de <?=$estudios->getTitulo()?> </label>
                                        <div class="controls">
                                            <div id="filePublicaciones_cedula<?=$estudios->getEstclid()?>" data-id="filePublicaciones_cedula<?=$estudios->getEstclid()?>" data-workid="<?=$estudios->getEstclid()?>" class="dropzone dropzone_file_cedula dz-default dz-message">
                                                <div class="dz-default dz-message membresia">
                                                    <h2 class="text-center membresia">
                                                        <i class="fa fa-cloud-upload" style="font-size: 62px;"></i><br/>
                                                        Arrastra un archivo <br><i style="font-size: 14px;">o haz clic para seleccionar manualmente</i>
                                                        <input type="hidden" name="cedula"  value="/api/administration/registro/<?=$estudios->getCedula()?$estudios->getCedula():'icon.png'?>" data-workid="<?=$estudios->getClid()?>" id="input-image-principal-cedula">
                                                    </h2>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        <?php endforeach;?>
                    </section>
                    <button type="submit"  class="finishobservation btn btn-primary" role="menuitem">Resolver Observación</button>
                </form>
            </section>
        </div>
    </div>
</section>





<div class="modal fade" id="success_message" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh-info">
                <h4 class="modal-title white">Felicidades !!!</h4>
            </div>
            <div class="modal-body white">
                Su información de ha guardado correctamente
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                <a href="<?=$this->url->get('/perfil');?>" class="btn btn-success">Perfil</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="warning_message" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh-warning">
                <h4 class="modal-title white">Error</h4>
            </div>
            <div class="modal-body white">
                Ha ocurrido un error al guardar su información, inténtelo nuevamente o regrese mas tarde.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                <a href="<?=$this->url->get('/perfil');?>" class="btn btn-success">Perfil</a>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="danger_message" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="ultraModal-Label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh-danger">
                <h4 class="modal-title white">Error</h4>
            </div>
            <div class="modal-body white">
                Ha ocurrido un error al intentar comunicarse con el servidor, revise su conexión de internet.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                <a href="<?=$this->url->get('/perfil');?>" class="btn btn-success">Perfil</a>
            </div>
        </div>
    </div>
</div>
<!-- modal end -->