<style>
    #newClient{
        padding: 20px;
    }
    .wizard> .content{
        background-color: #fff !important;
        min-height: auto!important;
        padding-bottom: 3em !important

    }
    .terminos-condiciones-privadidad-modal{
        margin-top: 3% !important;
        margin-left: 18% !important;
        width: 66% !important;
    }
    .aviso-privacidad-terminos{
        font-size: 12px;
        line-height: 13px;
        text-align: justify;
    }
    .form-group.pay, .form-group.banco, .form-group.transfer{
        margin-bottom: 0 !important;
        margin: 0 24px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5), 0 2px 10px 0 rgba(0,0,0,0.5);
    }
    .form-group.banco {
        padding-left: 16px;
        padding-bottom: 20px;
    }
    li.first.last.current {
        margin-left: 32%;
    }
    i.fa.afiliarse{
        padding-top: 13px;
    }
    li.first.last.current {
        margin-left: 32%;
    }
    .fa-credit-card:before {
        padding-left: 19%;
    }
    .wizard> .steps> ul> li {
        width: 19.6%;
    }
    tbody.animated.infinite.shake{
        background-color: rgba(133, 193, 255, 0.6) !important;
    }
    .height-onlypay{
        height: auto !important;
    }
    div#details-others {
        margin-top: 40%;
    }
    a.finish, a.anterior, a.closedCancel, a.closedfinish {
        top: -84% !important;
    }
    table {
        border-spacing: 0;
        border-collapse: inherit;
    }
    .form-group.banco.height-onlypay.animated.fadeInUp,
    .form-group.pay.height-onlypay.animated.fadeInUp,
    .form-group.transfer.height-onlypay.animated.fadeInUp {
        box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
        background-color: rgba(116, 177, 237, 0.4);
        margin: 16px 0;
    }
    li.list-transfer{
        font-size: 10px;
        line-height: 11px;
    }
</style>
<section class="section_padding_100">
    <div class="container">
        <div class="row">
            <section>
                <form action="#" method="post" id="newClient2" name="newClient2" role="form" class="form-horizontal" style="margin-top: -114px!important">
                    <input type="hidden" name="stid" id="stid" value="<?= $user->getClid();?>">
                    <input type="hidden" name="cuotid" id="cuotid" value="<?=$coutid?>">
                    <input type="hidden" name="name_cuota" id="name_cuota" value="<?=$userType?>">
                    <?php   $today=strtotime(date("d-m-Y H:i:00")); 
                            $anno=date("Y");  
                            $limite = strtotime("01-07-".$anno." 00:00:01");
                            if($today<$limite):$costo_cuota2=$costo_cuota;
                            else: $costo_cuota2=$costo_cuota/2;
                            endif;
                    ?>
                    <input type="hidden" name="costo_cuota" id="costo_cuota" value="<?=$costo_cuota2?>">
                    <input type="hidden" name="costo_inscription" id="costo_inscription" value="<?=$costo_inscription?>">
                    <h2 class="hidden" style="display: none !important;"><i id="onlypay" class="fa fa-credit-card afiliarse tamano-icon-25" aria-hidden="true"></i class="hidden" style="z-index: -88888!important; display: none!important"><span class="onlypay hidden" style="display: none !important;"></span></h2>

                    <div class="row">

                    <div class="col-md-12" style="
                        background-color: #337ab7!important;
                        border-radius:0;">

                    <div class="col-md-12">
                        <p style="
                        font-size: 2em;
                        color: #ebbb12 !important;
                        background-color: #337ab7;
                        padding: .5em;
                        text-align: center;
                        font-weight: bold;

                    "> Formas de Pago</p></div>
                    </div>
                    </div>
                    <section data-step="1">
                        <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top: 1em; padding-left: 0!important">
                            <div class="form-group banco" style="margin-left: 5px!important">
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="radio-block">
                                        <label class="radio-inline">
                                            <input  type="radio" class="fax" value="banco" name="pay" id="banco"> <strong><span class="letraf">Pago con tarjeta de crédito o débito</span></strong>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p class="note-paypal"><i class="fa fa-check" aria-hidden="true"></i> <span class="letraf">Validación de pago inmediata</span></p>
                                </div>
                            </div>
                            <div class="form-group pay" style="margin-left: 5px!important">
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                    <div class="radio-block">
                                        <label class="radio-inline">
                                            <input  type="radio" class="fax" value="PAYPAL" name="pay" id="paypal"> <strong><span class="letraf">PAYPAL Pago con tarjeta de crédito o débito (aplica comisiones)</span></strong>
                                            <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/cc-badges-ppppcmcvdam.png" alt="Pay with PayPal, PayPal Credit or any major credit card" />
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4">
                                    <p class="note-paypal"><i class="fa fa-check" aria-hidden="true"></i><span class="letraf"> Validación de pago inmediata</span></p>
                                </div>
                            </div>
                            <div class="form-group transfer" style="margin-left: 5px!important">
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="radio-block">
                                        <label class="radio-inline">
                                            <input  type="radio" class="fax" value="TRANSFER" name="pay" id="others"> <strong><span class="letraf">Otras formas de pago</span>

                                            </strong>
                                            <ul>
                                                <li class="list-transfer">Transferencia electrónica</li>
                                                <li class="list-transfer">pago en ventanilla bancaria</li>
                                                <li class="list-transfer">pago en OXXO, Chedraui, Soriana y <a data-toggle="modal" data-target="#othersPay" class="otros">otros</a></li>
                                            </ul>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p class="note-transfer"><span class="letraf">Validación del pago de 24 a 48 horas después de subir su comprobante en "Mi perfil"</span></p>
                                </div>
                                <br>
                            </div>


                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 20px;padding-left: 9%;text-decoration: underline;">
                                    <a data-toggle="modal" data-target="#terminos" class="terminos-condiciones" style="color: red;font-weight: 900;">Ver terminos y condiciones</a>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 20px;padding-left: 9%;text-decoration: underline;">
                                    <a data-toggle="modal" data-target="#aviso-privacidad" class="aviso-privacidad" style="color: red;font-weight: 900;">Ver aviso de privacidad</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <table class="order_history_table table table-bored animated infinite shake"  id="table_cost_banco" style="margin-top: 2em;">
                            </table>
                            <table class="order_history_table table table-bored"  id="table_cost_paypal" style="margin-top:1em;">
                            </table>
                            <div id="details-others" class="hidden">
                                <p>El pago de inscripción y anualidad 2018 también se puede realizar por:</p>
                                <ul>
                                    <li> - Depósita en ventanilla</li>
                                    <li> - Transferencia electrónica</li>
                                    <li>Pago en:</li>
                                </ul>

                                <img src="/front/src/img/pagos/otherspay.png" >
                                <p>Su referencia para el pago es:<span style="text-transform: uppercase;"> <?=$delegation->getClave();?> <?=$user->getLastName()?> <?php 
                                $myvalue = $user->getName();
                                $arr = explode(' ',trim($myvalue));
                                echo $arr[0];
                                ?></span></p>

                            

                                <p>Deberá subir el comprobante en formato PDF, al apartado "comprobantes de pago" desde su perfil de la página www.amgp.org.</p>
                                <p>El tiempo estimado de validación es de 24 a 48 horas después de subir el comprobante. Para garantizar su validación deberá asegurar la legibilidad del documento.</p>
                                <!--p style="display: inline-block;">Dé click en la nube para descargar su referencia de pago</p>
                                <i class="fa fa-cloud-download download-onlypay" aria-hidden="true"></i-->
                            </div>
                        </div>
                    </section>
                </form>
                <div class="modal fade in" id="background-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="content-fa pay">
                            <h3 class="message-background" id="wm">Iniciando el pago, espere un momento por favor.....</h3>
                            <h3 class="message-background hide" id="sc">AMGP te agradece tu compra, ¡Gracias por su compra!</h3>
                            <h3 class="message-background hide" id="error-contact">Lo sentimos, ha ocurrido un error intente mas tarde.</h3>
                            <h1><i class="fa fa-circle-o-notch fa-spin style-fa"></i></h1>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

<div class="modal fade" id="terminos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog terminos-condiciones-privadidad-modal">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                        <p class="title-modal-updatepass"> Terminos y condiciones</p>
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                        <button type="button" data-dismiss="modal" aria-hidden="true" style="background: red;font-size: 35px;border-radius: 32%;float: right;">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body sendchangepass">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="aviso-privacidad-terminos">Este convenio describe los términos y condiciones generales (en adelante únicamente TÉRMINOS Y CONDICIONES) aplicables al uso de los contenidos y productos ofrecidos a través del sitio www.amgp.org (SITIO WEB), del cual es titular la Asociación Mexicana de Geólogos Petroleros A.C. (AMGP) con domicilio en Poniente 134 No. 411, Colonia San Bartolo Atepehuacan, Delegación Gustavo A. Madero, C.P.: 07730, Ciudad de México, y con teléfono (01 55) 5567 8840.</p>
                        <p class="aviso-privacidad-terminos">Toda persona (USUARIO) que desee acceder o hacer uso del sitio o lo servicios que en él se ofrecen, podrá hacerlo sujetándose a los presentes TÉRMINOS Y CONDICIONES. Al no aceptarlos, el USUARIO deberá abstenerse de utilizar el SITIO WEB y/o adquirir los productos que sean ofrecidos.</p>
                        <h4> I. OBJETIVO</h4>
                        <p class="aviso-privacidad-terminos">El objetivo de los presentes TÉRMINOS Y CONDICIONES es regular el acceso y la utilización del SITIO WEB, refiriendo a cualquier tipo de contenido o productos que se encuentren a disposición del público en general dentro del SITIO WEB.</p>
                        <p class="aviso-privacidad-terminos">La AMGP se reserva la facultad de modificar en cualquier momento y sin previo aviso, la presentación, los contenidos, la funcionalidad y los productos que estén contenidos en el SITIO WEB; en este sentido, el USUARIO reconoce que la AMGP libremente podrá modificar, desactivar, cancelar o eliminar cualquiera de los elementos presentes.</p> 
                        <p class="aviso-privacidad-terminos">Adicional al costo de la conexión a internet que el USUARIO tenga contratados con algún proveedor de telecomunicaciones, parte de los productos ofrecidos en el SITIO WEB, pueden estar sujetos a compra previa del producto, en cuyo caso se especificará de forma clara al USUARIO las condiciones por las que se rige el acceso ellos.</p>
                        <p class="aviso-privacidad-terminos">El acceso a parte de los contenidos y productos del SITIO WEB podrá realizarse con registro previo del USUARIO.</p>
                        <h4>II. DEL USUARIO</h4>
                        <p class="aviso-privacidad-terminos">El acceso o utilización del SITIO WEB, así como de los recursos habilitados para interactuar entre los USUARIOS, o entre el USUARIO y la AMGP, tales como medios para realizar publicaciones o comentarios, confiere a quien lo usa la condición de USUARIO, por lo que quedará sujeto a los presentes TÉRMINOS Y CONDICIONES, así como de sus posteriores actualizaciones, los cuales se tendrán por aceptados desde el momento en el que se accede al SITIO WEB.</p>

                        <p class="aviso-privacidad-terminos">El USUARIO se compromete a utilizar la información, contenidos o servicios ofrecidos a través del SITIO WEB de manera lícita, sin contravenir lo dispuesto en los TÉRMINOS Y CONDICIONES, la moral o el orden público, y se abstendrá de realizar cualquier acto que pueda suponer una afectación a los derechos de terceros, o perjudique de algún modo a la AMGP o el funcionamiento del SITIO WEB.</p>
                        <p class="aviso-privacidad-terminos">Así mismo, el USUARIO se compromete a proporcionar información lícita y veraz en los formularios habilitados en el SITIO WEB, en los cuales tenga que proporcionar ciertos datos o información personal. En todo caso, el USUARIO notificará de forma inmediata a la AMGP acerca de cualquier hecho que permita suponer el uso indebido de la información registrada en dichos formularios, tales como robo, extravío o acceso no autorizado a cuentas y/o contraseñas, con el fin de brindar pronta atención y resolución.</p>
                        <p class="aviso-privacidad-terminos">La AMGP se reserva el derecho de retirar todos aquellos comentarios y aportaciones que vulneren la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, que atenten contra los derechos de terceros o el orden público, o bien, que a su juicio no resulten adecuados para su publicación.</p>

                        <p class="aviso-privacidad-terminos">En cualquier caso, la AMGP no será responsable de las opiniones vertidas por los USUARIOS a través de comentarios o publicaciones que éstos realicen.</p>
                        <p class="aviso-privacidad-terminos">El sólo acceso al SITIO WEB no supone el establecimiento de ningún tipo de relación entre el USUARIO y la AMGP.</p>
                        <h4>III. DEL ACCESO Y NAVEGACIÓN EN EL SITIO WEB</h4>
                        <p class="aviso-privacidad-terminos">La AMGP no garantiza la continuidad y disponibilidad de los contenidos o productos ofrecidos a través del SITIO WEB, no obstante, sin suponer alguna responsabilidad, llevará a cabo las acciones que de acuerdo a sus posibilidades le permitan mantener su buen funcionamiento.</p>
                        <p class="aviso-privacidad-terminos">Este SITIO WEB y sus componentes se ofrecen únicamente con fines informativos; la AMGP no se hace responsable de la exactitud, utilidad o disponibilidad de cualquier información que se transmita o ponga a disposición a través de la misma; tampoco responderá por cualquier error u omisión en dicha información, o de la existencia de algún software malicioso que pueda causar algún daño a nivel de software o hardware en el equipo.</p>
                        <p class="aviso-privacidad-terminos">La AMGP tampoco se responsabilizará por daños, pérdidas o perjuicios que pudiesen ocasionarse por el sólo acceso, utilización o uso inadecuado del SITIO WEB.</p>
                        <h4>IV. AVISO DE PRIVACIDAD Y PROTECCIÓNDE DATOS</h4>
                        <p class="aviso-privacidad-terminos">De conformidad con lo establecido en la legislación mexicana, la AMGP se compromete a adoptar las medidas necesarias que estén a su alcance para asegurar la privacidad de los datos personales recabados de forma que se garantice su seguridad, se evite su alteración, pérdida o tratamiento no autorizado,</p>
                        <p class="aviso-privacidad-terminos">El tratamiento de los datos personales se limitará al cumplimiento de las finalidades previstas en el Aviso de Privacidad, el cual se encuentra disponible en la siguiente dirección electrónica:</p>
                        <p class="aviso-privacidad-terminos"><strong>https://www.amgp.org/acerca-de-amgp</strong></p>
                        <p class="aviso-privacidad-terminos">El SITIO WEB podrá incluir hipervínculos o enlaces que permitan acceder a páginas web de terceros distintos de la AMGP. Los titulares de dichos sitios web dispondrán de sus propias políticas de privacidad y protección de datos, por lo cual la AMGP, no asume ningún tipo de responsabilidad por los datos que sean facilitados por el USUARIO a través de cualquiera de estos sitios.</p>
                        <p class="aviso-privacidad-terminos">La AMGP se reserva el derecho a modificar su Aviso de Privacidad de acuerdo a sus necesidades o derivado de algún cambio en la legislación. El acceso o utilización del SITIO WEB después de dichos cambios implicará su aceptación de parte del USUARIO.</p>


                        <p class="aviso-privacidad-terminos">El acceso al SITIO WEB puede incluir la utilización de cookies, las cuales son pequeños archivos de texto descargados automáticamente y almacenados en el disco duro del equipo de cómputo del USUARIO, que permiten recordar al servidor de Internet algunos datos sobre él, como sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña; tal uso de cookies está estipulado en el Aviso de Privacidad antes mencionado. La información recopilada es anónima, utilizada sólo para mejorar la navegación del USUARIO en el SITIO WEB. Estas cookies pueden ser bloqueadas en la sección de configuración del navegador; en el supuesto de que rechace su uso, podrá continuar utilizando el SITIO WEB, aunque podrían quedar deshabilitadas algunas de las funciones del mismo.</p>
                        <p class="aviso-privacidad-terminos">La AMGP puede cancelar su acceso a la página sin aviso, lo cual podrá resultar en la incautación y destrucción de toda la información que esté asociada con su cuenta.</p>
                        <h4>V. POLÍTICA DE ENLACES</h4>
                        <p class="aviso-privacidad-terminos">El SITIO WEB puede incluir enlaces, contenidos, servicios o funciones de otros sitios de internet pertenecientes y/o gestionados por terceros, como imágenes, videos, comentarios, motores de búsqueda, etc.</p>
                        <p class="aviso-privacidad-terminos">La utilización de estos recursos tiene por objetivo mejorar la experiencia del USUARIO, sin que pueda considerarse una sugerencia para hacer uso de sitios externos. La AMGP no controlará el contenido de los sitios externos, no hace propios los productos, servicios, contenidos y cualquier otro material existente en los referidos sitios enlazados, por lo que no garantizará la disponibilidad, exactitud, veracidad, validez o legalidad de los sitios externos a los que se pueda tener acceso a través SITIO WEB; tampoco asume responsabilidad por daños y perjuicios que pudieran producirse por el acceso a tales sitios.</p>

                        <h4>VI. POLÍTICA EN MATERIA DE PROPIEDAD INTELECTUAL</h4>


                        <p class="aviso-privacidad-terminos">La página y su contenido original, las características y la funcionalidad son propiedad de la AMGP, entendiendo por esto parte de las imágenes, archivos de audio o video, contenido literario, logo de la AMGP, diseños y demás elementos que le distinguen. Por lo tanto, queda expresamente prohibida la reproducción de los contenidos del SITIO WEB, así también, su distribución o difusión con fines comerciales, en cualquier soporte, por cualquier medio, sin la autorización de la AMGP.<p>
                        <p class="aviso-privacidad-terminos">El USUARIO se compromete a respetar los derechos de propiedad intelectual de la AMGP. No obstante, además de poder visualizar los elementos del SITIO WEB, podrá imprimirlos, copiarlos o almacenarlos, siempre y cuando sea exclusivamente para su uso personal.<p>
                        <p class="aviso-privacidad-terminos">Por otro lado, el USUARIO se abstendrá de suprimir, alterar o manipular cualquier elemento, archivo o contenido del SITIO WEB, y por ningún motivo realizará actos encaminados a vulnerar la seguridad de los archivos o base de datos que se encuentren protegidos a través de un acceso restringido mediante un usuario y contraseña, o porque no cuenten con los permisos para visualizarlos, editarlos o manipularlos.</p>
                        <p class="aviso-privacidad-terminos">En caso de que el USUARIO o algún tercero considere que cualquiera de los contenidos del SITIO WEB suponga una violación de los derechos de protección de la propiedad intelectual, deberá comunicarlos inmediatamente a la AMGP a través de los datos de contacto disponibles en el propio SITIO WEB o a través de los siguientes medios:</p>
                        <p class="aviso-privacidad-terminos">Teléfono: (01 55) 5567 8840</p>
                        <p class="aviso-privacidad-terminos">Correo electrónico: presidencia@amgp.org</p>
                        <h4>VII. LEGISLACIÓN Y JURISDICCIÓN APLICABLE</h4>
                        <p class="aviso-privacidad-terminos">La AMGP se reserva la facultad de presentarlas acciones civiles o penales que considere necesarias por la utilización indebida del SITIO WEB, sus contenidos, productos o servicios, o por el incumplimiento de los presentes TÉRMINOS Y CONDICIONES.</p>
                        <p class="aviso-privacidad-terminos">La relación entre el USUARIO y la AMGP se regirá por la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, específicamente en la Ciudad de México. De surgir controversia respecto a la interpretación y/o aplicación de los presentes TÉRMINOS Y CONDICIONES, las partes se someterán a la jurisdicción ordinaria de los tribunales que correspondan conforme a derecho en el estado antes referido.</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: white;">
                <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="aviso-privacidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog terminos-condiciones-privadidad-modal">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <div class="row">
                    <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                        <p class="title-modal-updatepass">Aviso de privacidad</p>
                    </div>
                    <div class="col-xs-6 col-md-6 col-lg-6 col-sm-6">
                        <button type="button" data-dismiss="modal" aria-hidden="true" style="background: red;font-size: 35px;border-radius: 32%;float: right;">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body sendchangepass">
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="aviso-privacidad-terminos">En conformidad con los artículos 15 y 16 de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares (<strong>“LA LEY”</strong>), el presente Aviso de Privacidad celebrado entre la Asociación Mexicana de Geólogos Petroleros A.C. (<strong>AMGP</strong>) y el titular de la información, establece la manera en que será tratada su información por parte de AMGP, así como la finalidad para la que es recabada. </p>
                        <p class="aviso-privacidad-terminos">La AMGP, con domicilio en Poniente 134 No. 411, Colonia San Bartolo Atepehuacan, Delegación Gustavo A. Madero, C.P.: 07730, Ciudad de México y con teléfono (01-55) 5567-8840, respeta su derecho a la privacidad y protección de datos personales los cuales están amparados bajo <strong>LA LEY</strong>. Es responsabilidad de la <strong>AMGP</strong> la base de datos en donde se resguarda confidencialmente su información conforme a las disposiciones de seguridad administrativa, física y técnica, establecidas en la Ley para protegerla de posibles daños, alteraciones, pérdidas, o acceso no autorizado.</p>
                        <p class="aviso-privacidad-terminos"><strong>Datos recabados.</strong> Los datos recabados pueden ser: Datos personales como nombre completo, domicilio, números telefónicos, cuentas de correo electrónico, historial académico y laboral, datos fiscales, entre otros de esta especie, sin incluir datos personales sensibles.</p>
                        <p class="aviso-privacidad-terminos"><strong>Métodos de recabación.</strong> Se pueden obtener los datos personales de forma directa, cuando el titular los proporciona resolviendo formularios digitales en la página web, en la App de la AMGP o impresos, proporcionados por asociados de las mesas directivas de las 9 delegaciones que la conforman. También se pueden obtener datos de forma indirecta mediante las cuentas de redes sociales que el titular proporcione.</p> 
                        <p class="aviso-privacidad-terminos"><strong>Finalidad.</strong> Sus datos personales son recabados con fines gremiales y serán empleados para efectos de identificación, administración e intercomunicación quedando registrados en la base de datos de <strong>AMGP</strong>.</p>
                        <p class="aviso-privacidad-terminos"><strong>Transferencia.</strong> Los datos de contacto (correo electrónico y nombre) podrían ser transferidos a otras asociaciones o instituciones aprobadas por AMGP y que representen beneficios para sus asociados. De igual manera, pueden ser transferidos entre la Directiva Nacional y las 9 delegaciones que conforman a la Asociación. La AMGP no almacena los datos solicitados para pagos por medios electrónicos, por lo que no puede transferirlos a alguna otra institución.</p>
                        <p class="aviso-privacidad-terminos"><strong>Solicitudes.</strong> El titular podrá ejercer los derechos de acceso, rectificación, cancelación u oposición, respecto a los datos personales que le competen, enviando una solicitud dirigida a esta Asociación a través del correo electrónico presidencia@amgp.org o presentándolo en el domicilio mencionado en el segundo párrafo o en las oficinas de cada delegación de la AMGP (cuyos datos actualizados podrán ser consultados en la sección de cada una, dentro de la página web www.amgp.org) indicando, su nombre completo y teléfono, así como el objetivo de su solicitud y/o trámite a efectuar, además de anexar copia digital de su identificación oficial vigente con fotografía.</p>

                        <p class="aviso-privacidad-terminos"><strong>Modificaciones.</strong> En este acto es acordado por ambas partes, que en caso de que se requiera alguna modificación a lo estipulado en el presente Aviso de Privacidad, la <strong>AMGP</strong> se obliga a hacer de su conocimiento los cambios por medio de la página web www.amgp.org o por correo electrónico.</p>
                        <p class="aviso-privacidad-terminos"><strong>Uso de cookies.</strong> Las cookies son archivos de texto que son descargados automáticamente y almacenados en el disco duro del equipo de cómputo del usuario al navegar en una página de Internet específica, que permiten recordar al servidor de Internet algunos datos sobre este usuario, entre ellos, sus preferencias para la visualización de las páginas en ese servidor, nombre y contraseña. Estas cookies pueden ser deshabilitadas en la sección de configuración de su explorador.</p>
                        <p class="aviso-privacidad-terminos">La <strong>AMGP</strong> quedará exceptuada de las obligaciones referentes al consentimiento para el tratamiento y transferencia de sus datos conforme a lo estipulado en los artículos 10, 37 y demás relativos a <strong>LA LEY</strong> y su reglamento.</p>
                        <p class="aviso-privacidad-terminos" style="text-align: center;">Atentamente,<p>
                        <p class="aviso-privacidad-terminos" style="text-align: center;"><strong>ASOCIACIÓN MEXICANA DE GEÓLOGOS PETROLEROS A.C.</strong><p>
                        <p class="aviso-privacidad-terminos" style="text-align: center;">Ciudad de México, 18 de agosto de 2018</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="background-color: white;">
                <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="othersPay" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">
                <p class="title-modal-updatepass"> Otras tiendas</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <img src="/front/src/img/pagos/otherspay.png">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="saveandcontinue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">

                <!--<h4 class="modal-title"><i class="fa fa-lock"></i> Recuperar contraseña</h4>-->

                <p class="title-modal-updatepass"> Guardar y salir</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="title-updatepass">Su solicitud de ingreso aún no puede ser enviada al Coordinador de Membresía de su Delegación, ya que no se han proporcionado los documentos mínimos necesarios.
Para hacerlo vaya a la opción “Continuar solicitud de ingreso” desde las opciones de “Mi perfil” en la página web. http://dev.amgp.org/perfil</p>
                    <a href="/"><button type="button" class="btn btn-default">Aceptar</button></a>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Aceptar</button>
            </div>-->
        </div>
    </div>
</div>


<div class="modal fade" id="userContinue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">

                <!--<h4 class="modal-title"><i class="fa fa-lock"></i> Recuperar contraseña</h4>-->

                <p class="title-modal-updatepass"> Confirmación de <span class="metodo-de-pago-elegido"></span></p>
            </div>
            <div class="modal-body sendchangepass">
                <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button-->
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                    <p class="title-updatepass">El método de pago elegido es: <span class="metodo-de-pago-elegido"></span></p>
                        <p class="title-updatepass">Será redireccionado a otra ventana para continuar.</p>
                        
                        <a id="url-si" href="/"><button type="button" class="btn btn-default">Aceptar</button></a>
                        <!--button type="button" class="btn btn-default" data-dismiss="modal">No</button-->
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Aceptar</button>
            </div>-->
        </div>
    </div>
</div>


<div class="modal fade" id="closeandcancel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog sendchangepass">
        <div class="modal-content sendchangepass">
            <div class="modal-header pass send">

                <!--<h4 class="modal-title"><i class="fa fa-lock"></i> Recuperar contraseña</h4>-->

                <p class="title-modal-updatepass"> Cancelar</p>
            </div>
            <div class="modal-body sendchangepass">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
                        <p class="title-updatepass">¿Está seguro que desea cancelar su solicitud de ingreso?.</p>
                        <p class="title-updatepass">Todos los datos proporcionados serán eliminados.</p>
                        <a href="/"><button type="button" class="btn btn-default">Si</button></a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
            <!--<div class="modal-footer">
                <button type="button" class="btn btn-default modal-sendchangepass" data-dismiss="modal">Aceptar</button>
            </div>-->
        </div>
    </div>
</div>