<!--<section class="title-bg course-page">
    <div class="title-overlay">
        <div class="title-inner">
            <div class="container">
                <div class="page-title">
                    <h2 class="text-white text-normal pull-right mrgt7x letter-spacing">Paypal</span></h2>
                </div>
            </div>
            <div class="breadcrumb-banner">
                <ul class="breadcrumb">
                    <li><a style="text-transform: uppercase" href="<?/*=$this->url->get('')*/?>">IR&nbsp;A&nbsp;INICIO</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section_padding_100 testimonial_client_area3dele">
    <?php /*if($status==0):*/?>
        <div class="checkout">
            <div class="container">
                <div class="col-md-12">
                    <div class="heading-pricing text-center">
                        <h1 class="alert alert-warning" style="padding-bottom: 10px">Ha ocurrido un error al procesar su pago con el sistema</h1>
                        <p class="alert alert-success">
                            <strong>¡Hola <?/*=$client->getName()*/?>!</strong>
                            Por favor de ponerse en contacto con el administrador de la página.
                            <br> problema a afiliarse
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <?php /*else:*/?>
        <div class="checkout">
            <div class="container">
                <div class="col-md-12">
                    <div class="heading-pricing text-center">
                        <h1 class="alert alert-warning" style="padding-bottom: 10px">¡Gracias por ser parte de AMGP!</h1>
                        <br>
                        <p class="alert alert-success"><strong>
                                ¡Hola <?/*=$client->getName()*/?> <?/*=$client->getLastname()*/?> <?/*=$client->getSecondname()*/?>!</strong> Gracias por ser parte de AMGP.
                            <br> Ya eres parte de AMGP como <strong><?/*=$publi->getName();*/?> </strong>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    <?php /*endif;*/?>
</section>-->



<section class="login_area">
    <div class="container">
        <div class="row">
            <?php if($status==0):?>
                <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                    <div class="title-session validate">
                        <i class="fa fa-lock titlechange"></i>
                        <p class="titlechange">Ha ocurrido un error</p>
                    </div>
                    <div class="login_form changepass validate">
                        <p class="parrafo-validate">¡Hola <?=$client->getName()?>!</p>
                        <p class="parrafo-validate">Ha ocurrido un error al procesar su pago con el sistema, por favor de ponerse en contacto con el administrador de la página, problema a afiliarse</p>
                    </div>
                </div>
            <?php else:?>


                <div class="col-xs-12 col-md-12 col-lg-12 section_padding_50">
                    <div class="title-session validate">
                        <i class="fa fa-lock titlechange"></i>
                        <p class="titlechange">¡Gracias por ser parte de AMGP!</p>
                    </div>
                    <div class="login_form changepass validate">
                        <p class="parrafo-validate">¡Hola <?=$client->getName()?> <?=$client->getLastname()?> <?=$client->getSecondname()?>!</strong> <br>Gracias por ser parte de AMGP.</p>
                        <p class="parrafo-validate">Ya eres asociado de tipo <strong><?=$publi->getName();?> </p>
                    </div>
                </div>
            <?php endif;?>
        </div>
    </div>
</section>

<script type="text/javascript">
    setTimeout(function () {
        //window.location.href="/";
        /*$("#iniciosesionmodal").modal("show");*/
    },10000)
</script>
