<section class="title-bg course-page">
    <div class="title-overlay">
        <div class="title-inner">
            <div class="container">
                <div class="page-title">
                    <h2 class="text-white text-normal pull-right mrgt7x letter-spacing">Paypal</span></h2>
                </div>
            </div>
            <div class="breadcrumb-banner">
                <ul class="breadcrumb">
                    <li><a style="text-transform: uppercase" href="<?=$this->url->get('')?>">IR&nbsp;A&nbsp;INICIO</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section_padding_100 testimonial_client_area3dele">
<?php if($status==0):?>
    <div class="checkout">
        <div class="container">
            <div class="col-md-12">
                <div class="heading-pricing text-center">
                    <h1 class="alert alert-warning" style="padding-bottom: 10px">Ha ocurrido un error al procesar su pago con el sistema</h1>
                    <p class="alert alert-success">
                        <strong>¡Hola <?=$client->getName()?>!</strong>
                        Por favor de ponerse en contacto con el administrador de la página.
                        <br> Identificador de publicación = <strong><?=$user->getPuclid()?></strong> con nombre <?= $publi->getName()?>
                    </p>
                </div>
            </div>
        </div>
    </div>
<?php else:?>
    <div class="checkout">
        <div class="container">
            <div class="col-md-12">
                <div class="heading-pricing text-center">
                    <h1 class="alert alert-warning" style="padding-bottom: 10px">¡Gracias por su compra!</h1>
                    <br>
                    <p class="alert alert-success"><strong>
                            ¡Hola <?=$client->getName()?>!</strong> Gracias por comprar publicaciones en AMGP esperamos que vuelvas pronto.
                        <br> Identificador de publicación = <strong><?=$user->getPuclid()?>, con nombre <?=$publicategory->getName()?></strong>
                        <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
<?php endif;?>
</section>

<script>
    window.open("<?=$this->url->get('registro/download-file?file='.$publicategory->getFile())?>", '_blank');
</script>