<!DOCTYPE html>
<html dir="ltr" lang="es-Mx">
<head>
    <!-- Meta -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Formato cotización" />
    <meta name="keywords" content="" />
    <meta name="author" content="Real Campestre" />
    <!-- Titulo -->
    <title>Formato de Correo</title>
    <link href="<?=$this->url->get('front/print/css/realc.css')?>" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body class="">
<div class="container">
    <div class="header">
        <img class="img-top" src="<?=$this->url->get('front/print/img/real_clientes.jpg')?>">
    </div>
    <!--Sección 1-->
    <div class="fix"></div>
    <div class="datosclientes">
        <div class="d1">
            <div class="title1">DATOS DEL CLIENTE</div>
            <div class="section1">
                <div class="left_section">
                    <span class="ls">Nombre:</span>
                    <span class="ls">E-mail:</span>
                    <span class="ls">Teléfono / Cel:</span>
                    <span class="ls">Domicilio:</span>
                </div>
                <div class="vertical-line"></div>
                <div class="right_section">
                    <span class="rs"><?=$data["nombre"]?></span>
                    <span class="rs"><?=$data["email"]?></span>
                    <span class="rs"><?=$data["tel"]?$data["tel"]:"&nbsp;";?></span>
                    <span class="rs"><?=$data["direccion"]?$data["direccion"]:"&nbsp;";?></span>
                </div>
                <div class="section2">
                    <span class="small-title">Fecha:</span>
                    <span class="medium-title"><?=$data["fecha"]?></span>
                    <span class="small-title">Asesor:</span>
                    <span class="medium-title">No asignado</span>
                </div>
            </div>
        </div>

    </div>
    <div class="line"></div>
    <!--Sección 1-->

    <!--Sección 2-->
    <div class="datos_lote_pago">
        <div class="d1" style="margin-top: 40px">
            <div class="title1">DATOS DEL LOTE</div>
            <div class="section1">
                <div class="left_section">
                    <span class="ls">Calle:</span>
                    <span class="ls">Lote:</span>
                    <span class="ls">Manzana:</span>
                    <span class="ls">Cluster:</span>
                    <span class="ls">Superficie:</span>
                    <span class="ls">Frente:</span>
                    <span class="ls">Fondo:</span>
                </div>
                <div class="vertical-line-2"></div>
                <div class="right_section" style="width: 200px">
                    <span class="rs"><?=$data["calle"]?></span>
                    <span class="rs"><?=$data["lote"]?></span>
                    <span class="rs"><?=$data["manzana"]?></span>
                    <span class="rs"><?=$data["cluster"]?></span>
                    <span class="rs"><?=$data["superficie"]?> m2</span>
                    <span class="rs"><?=$data["frente"]?> mts</span>
                    <span class="rs"><?=$data["fondo"]?> mts</span>
                </div>
            </div>
        </div>
        <div class="d3">
            <div class="title1">FORMA DE PAGO</div>
            <div class="section1">
                <div class="left_section_2">
                    <span class="ls">Precio de venta:</span>
                    <span class="ls">Costo por M2:</span>
                    <span class="ls">Enganche (<?=$data["plazo"]==0?"0":$data["porcentage"]?>):</span>
                    <span class="ls">Saldo diferido:</span>
                    <span class="ls">Plazo <?=$data["plazo"]." meses"?>:</span>
                    <span class="ls">Pago <?=$data["plazo"]==0?"único":"mensual"?>:</span>
                </div>
                <div class="vertical-line-2"></div>
                <div class="right_section">
                    <span class="rs"><?="$".number_format($data["total"],"2",".",",")?></span>
                    <span class="rs"><?="$".number_format($data['m2'],"2",".",",")?></span>
                    <span class="rs"><?=$data["plazo"]==0?"No aplica":"$".number_format($data["enganche"],"2",".",",")?></span>
                    <span class="rs"><?=$data["plazo"]==0?"No aplica":"$".number_format($data["costo_diferido"],"2",".",",")?></span>
                    <span class="rs"><?=$data["plazo"]?></span>
                    <span class="rs"><?=$data["plazo"]==0?"$".number_format($data["total"],"2",".",","):"$".number_format($data["mensualidad"],"2",".",",")?></span>
                </div>
            </div>
        </div>
    </div>
    <div class="fix"></div>
    <br><br>
    <div class="line_slim"></div>
    <!--Sección 2-->

    <!--Sección 3-->
    <br>
    <div class="datos_tabla">
        <hr>
        <div class="title1">TABLA DE PAGOS</div>
        <br>
        <table style="width:100%">
            <tr>
                <th class="title2">PAGOS</th>
                <th class="title2">INICIAL</th>
                <th class="title2">PAGO MENSUAL</th>
                <th class="title2">SALDO</th>
                <th class="title2">FECHA DE PAGO</th>
            </tr>
            <?php $count = 1;foreach ($pagos as $key => $vl):?>
                <?php if ($key+1<=$data["plazo"]):?>
                    <tr>
                    <?php if ($count==1):?>
                        <td class="first_td"><?=$key+1?></td>
                        <td class="first_td"><?="$".number_format($vl,"2",".",",")?></td>
                        <td class="first_td"><?="$".number_format($data["mensualidad"],"2",".",",")?></td>
                        <td class="first_td"><?="$".number_format($pagos[$key+1],"2",".",",");?></td>
                        <td class="first_td"></td>
                    <?php else: ?>
                        <td><?=$key+1?></td>
                        <td><?="$".number_format($vl,"2",".",",")?></td>
                        <td><?="$".number_format($data["mensualidad"],"2",".",",")?></td>
                        <td><?="$".number_format($pagos[$key+1],"2",".",",");?></td>
                        <td></td>
                    <?php endif;?>
                <?php endif;?>
                </tr>
                <?php $count++;endforeach;?>
        </table>
    </div>
    <!--Sección 3-->

    <div class="footer">
        <span class="left">Perif. Carlos Pellicer C&aacute;mara, Plaza Mallorca, Planta Alta, local A-202 Tabasco 2000 C.P. 86035, Vhsa, Tab. Tel (993)316-8699 www.realcampestre.info</span>
    </div>
    <div class="note">
        <span class="note-text">Nota: precios sujetos a disponibilidad y cambios sin previo aviso. La presente cotizaci&oacute;n no ser&aacute; considerada como una promesa de compraventa. Estos precios no incluyen gastos, impuestos, derechos ni honorarios notariales. Vigente al <?=$data["fecha"]?></span>
    </div>
</div>

</body>
</html>
