<section class="title-bg course-page">
    <div class="title-overlay">
        <div class="title-inner">
            <div class="container">
                <div class="page-title">
                    <h2 class="text-white text-normal pull-right mrgt7x letter-spacing">Paypal</span></h2>
                </div>
            </div>
            <div class="breadcrumb-banner">
                <ul class="breadcrumb">
                    <li><a style="text-transform: uppercase" href="">IR INICIO</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="section_padding_100 testimonial_client_area3dele">

        <div class="checkout">
            <div class="container">
                <div class="col-md-12">
                    <div class="heading-pricing text-center">
                        <h1 class="alert alert-warning" style="padding-bottom: 10px">¡Gracias por Afiliarte!</h1>
                        <br>
                        <p class="alert alert-success"><strong>
                                ¡Hola Gustavo!</strong> Gracias por preafiliarte en AMGP.
                            <br> Recuerda que te faltan los siguientes datos:<br><strong>Acta de Nacimiento, original y copia</strong>
                            <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
