<section class="section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12">
                <p class="text-justify others-parrafo-method-payment begin">El pago de cuotas para renovación de membresia 2018 se puede realizar por:</p>
                <p class="text-center others-parrafo-method-payment">
                <ul>
                    <li class="others-parrafo-method-payment">Depósito en ventanilla</li>
                    <li class="others-parrafo-method-payment">Transferencia electrónica</li>
                </ul>
                </p>
                <p class="text-justify others-parrafo-method-payment">Para estás formas de pago debe considerar la clave de la Delagación a la que pertenece, de acuerdo con la siguiente tabla:</p>
                <!--div class="col-sm-12 col-md-12 col-xs-12">
                    <img class="center-img-referencia-pago" src="/front/src/img/pagos/tabla.png">
                </div-->
                <!--p class="text-justify others-parrafo-method-payment">Clave: <?= $pago->getAmount();?></p-->
                <p class="text-justify others-parrafo-method-payment">Al momento de pagar anotar en la referencia la clave de la Delegación seguido de su apellido paterno y su primer nombre, como se indica a continuación.</p>
                <p class="text-center others-parrafo-method-payment"> <?php $myvalue = $client->getName();
                                $arr = explode(' ',trim($myvalue));?><span style="text-transform: uppercase;">  <?=$delegation->getClave();?> <?= $client->getLastname()." ".$arr[0]?></span></p>
                <p class="text-justify others-parrafo-method-payment">Los datos de las cuentas son:</p>
                <?php if($estu==1):?>
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <img class="center-img-referencia-pago-2018" src="/front/src/img/pagos/estudiantes.png">
                </div>
                <?php else:?>
                <div class="col-sm-12 col-md-12 col-xs-12">
                    <img class="center-img-referencia-pago-2018" src="/front/src/img/pagos/asociado.png">
                    <p class="text-justify others-parrafo-method-payment-end">Para consultar los montos de ayuda mutua escriba un correo al coordinador de su Delegación</p>
                </div>
                <?php endif;?>
                <div class="col-xs-6 col-md-6 col-sm-6">
                    <p class="text-center download">De click en la nube para descargar el formato de pago</p>
                </div>
                <div class="col-xs-6 col-md-6 col-sm-6">
                        <a href="/front/src/data/FormasdepagocuotasAMGP.pdf" target="_blank"><i class="fas fa-cloud-download-alt formato-pago" aria-hidden="true"></i></a>
                </div>
                <div class="col-sm-12 col-md-12 col-xs-12">
                  <a href="/perfil"><button type="button" class="btn btn-default finish-pay">Teminar</button></a>
                </div>
            </div>
        </div>
    </div>
</section>
