<style>
    #ayudaForm{
        padding: 20px;
    }
    .steps ul>li{
        margin-left:9%;
    }
    .steps ul>li a{
        font-size:20px!important;
    }
    
/*****  Smartphone   *******/
</style>
<section class="section_padding_100">
    <div class="container">
        <div class="row">
            <section>
               <form id="ayudaForm"> 
                   <input type="hidden" id="clid" name="clid" value="<?=$clid?>">
                    <h3>Solicitud de ingreso</h3>
                        <section data-step="0">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-3">Delegación: </label>
                                    <div class="col-md-9">
                                        <select name="delegacion" class="form-control" >
                                            <option value="">Seleccionar una delegacion</option>
                                            <?php foreach($delegationAll as $key): ?>
                                                <option <?=$client->getComid()==$key->getComid()?'selected':''?> value="<?=$key->getComid()?>"><?=$key->getName()?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-6">Fecha de solicitud de ingreso: </label>
                                    <div class="col-md-6">
                                        <?php $fecha = explode(" ",$client->getDateCreation()); ?>
                                        <input type="date" class="form-control" name="fecha_solicitud" value='<?=$fecha[0]?>' readonly/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-3">El C.: </label>
                                    <div class="col-md-9">
                                        <input type="text" name="sr" class="form-control" value="<?=$client->getName()." ".$client->getSecondname()." ".$client->getLastname()?>" readonly/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-2">Desea: </label>
                                    <div class="col-md-10">
                                        <input type="radio" <?=$ayuda->getDesea()=="ingresar"?'checked':''?> value="ingresar" name="desea"> Ingresar
                                        <input type="radio" <?=$ayuda->getDesea()=="Cambiar de membresia"?'checked':''?> value="Cambiar de membresia" name="desea"> Cambiar de membresía
                                        <input type="radio" <?=$ayuda->getDesea()=="Reingresar"?'checked':''?> name="desea" value="Reingresar" id="reingresar"> Reingresar
                                        <div id="fechaSalida">
                                            <?php if($ayuda->getDesea()=="Reingresar"){ ?>
                                                <input type="date" class="form-control" name="fecha_salida" value="<?=$ayuda->getFechaSalida()?>" />    
                                            <?php } ?>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-md-3">A la Asociación como asociado: </label>
                                    <div class="col-md-9">
                                        <input type="radio" <?=$ayuda->getAsociadoComo()=="Activo"?'checked':''?> value="Activo"    name="como_asociado"> Activo
                                        <input type="radio" <?=$ayuda->getAsociadoComo()=="Especial"?'checked':''?> value="Especial"  name="como_asociado"> Especial
                                        <input type="radio" <?=$ayuda->getAsociadoComo()=="Aspirante"?'checked':''?> value="Aspirante" name="como_asociado"> Aspirante
                                        <input type="radio" <?=$ayuda->getAsociadoComo()=="Honorario"?'checked':''?> value="Honorario" name="como_asociado"> Honorario
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-5">Recomendado por: </label>
                                    <div class="col-md-7">
                                        <input type="text"  name="recomendado" class="form-control" value="<?=$ayuda->getRecomendado()?>"  /> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-3">Socio Activo: </label>
                                    <div class="col-md-4">
                                        <input type="text"  name="clase_asociado" class="form-control" placeholder="Clase de asociado" value="<?=$client->getType()?>" readonly /> 
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text"  name="no_registro" class="form-control"  placeholder="No. de registro" value="<?=$client->getClid()?>" readonly/> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <h2 style="text-align:center">Datos del solicitante</h2>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-6">Profesión: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="profesion" value="<?=$ayuda->getProfesion()?>" class="form-control" /> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-6">Céd Prof: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="ced_prof" value="<?=$ayuda->getCedula()?>" class="form-control" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="col-md-4">Instituto donde realizó sus estudios: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="escuela_lic" value="<?=$ayuda->getInstitutoLic()?>" class="form-control" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Estudios de posgrado: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="posgrado" class="form-control" value="<?=$ayuda->getEstudioPosgrado()?>" /> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Instituto donde realizó sus estudios: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="escuela_pos" class="form-control" value="<?=$ayuda->getInstitutoPos()?>"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Actividad actual: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="actividad_actual" class="form-control" value="<?=$ayuda->getActividadActual()?>" /> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Empresa donde presta sus servicios: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="empresa" class="form-control" value="<?=$work->getEmpresa()?>" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Ficha o clave de empresa: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="ficha_empresa" class="form-control" value="<?=$work->getClave()?>" /> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Clave Depto: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="depto" class="form-control" value="<?=$ayuda->getClaveDpo()?>" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Domicilio de oficina: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="domicilio_oficina" class="form-control" value="<?=$work->getDireccion()?>" /> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Codigo postal: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="cp" class="form-control" value="<?=$work->getCp()?>" /> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Telefono: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="tel" class="form-control"  value = "<?=$client->getTel()?>"/> 
                                    </div>
                                </div>
                                <?php $nacimiento=date_create($client->getDaybirthdate()."-".$client->getMothbirthdate()."-".$client->getYearsbirthdate()); ?>
                                <div class="col-md-6">
                                    <label class="col-md-4">Lugar de nacimiento: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="lugar_nacimiento" class="form-control" value="<?=$client->getLugarNacimiento()?> "/> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Fecha de Nac: </label>
                                    <div class="col-md-6">
                                        <input type="date"  name="fecha_nacimiento" class="form-control" value="<?=date_format($nacimiento,"Y-m-d")?>"/> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Estado civil: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="estado_civil" class="form-control" value="<?=$client->getEstadoCivil()?>"/> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">R.F.C: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="rfc" class="form-control" value="<?=$client->getRfc()?>" /> 
                                    </div>
                                </div>
                            </div>
                        </section>
                    <h3>Examen médico de admisión</h3>
                        <section data-step="1">
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-3">Nombre completo: </label>
                                    <div class="col-md-9">
                                        <input type="text" name="name_complete" class="form-control" value='<?=$client->getName()." ".$client->getSecondname()." ".$client->getLastname()?>'  readonly/>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-2">Sexo: </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="sex" value="<?=$client->getSex()?>" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="col-md-4">Lugar de nacimiento: </label>
                                    <div class="col-md-6">
                                        <input type="text"  name="lugar_nacimiento" class="form-control"   value="<?=$client->getLugarNacimiento()?>" readonly/> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4">Fecha de nacimiento: </label>
                                    <div class="col-md-6">
                                        <input type="date"  name="fecha_nacimiento" class="form-control" value='<?=date_format($nacimiento,"Y-m-d")?>' readonly/> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h2 style="text-align:center;cursor:pointer"><a>Descargar examen médico</a></h2>

                                </div>
                            </div>
                        </section>
                    <h3>Registro para beneficiarios al fondo de ayuda mutua</h3>
                        <section data-step="2">
                                <div class="row">
                                    <div class="col-md-12"> 
                                        <h2 style="text-align:center">Beneficiarios</h2>    
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class="col-md-12">
                                        <p>EN CASO DE FALLECIMIENTO, NOMBRO BENEFICIARIOS DEL FONDO DE AYUDA MUTUA DE LA  
                                            ASOCIACION MEXICANA DE GEOLOGOS PETROLEROS A.C. A LAS SIGUIENTES PERSONAS:
                                            <button type="button" id="bAgregarBeneficiarios1" class="btn btn-success btn-sm">Agregar beneficiario</button>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-md-12'>
                                    <table class="table" id="table_1" style="position:relative">
                                        <thead>
                                            <tr>
                                                <th scope="col">NOMBRE (N), DOMICILIO (D) Y TELEFONO (T) CORREO (C)</th>
                                                <th scope="col">PARENTESCO</th>
                                                <th scope="col">PORCENTAJE</th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <?php foreach($beneficiarios1 as $key): ?>
                                               <tr id="beneficiario_<?=$key->getBenid()?>" data-benid="<?=$key->getBenid()?>">
                                                    <td>
                                                        <input type="hidden" name="benid[]" value="<?=$key->getBenid()?>">
                                                        <div class='col-md-3'>
                                                                <label>N:</label><input type="text" name="n_ben1[]" class="form-control" value="<?=$key->getName()?>"/>
                                                        </div>
                                                        <div class='col-md-3'>
                                                            <label>D:</label><input type="text" name="d_ben1[]" value="<?=$key->getDomicilio()?>" class="form-control"/>
                                                        </div class='col-md-3'>
                                                        <div class='col-md-3'>
                                                            <label>T:</label><input type="text" name="t_ben1[]" value="<?=$key->getTelefono()?>" class="form-control"/>
                                                        </div>
                                                        <div class='col-md-3'>
                                                            <label>C:</label><input type="text" name="c_ben1[]" value="<?=$key->getCorreo()?>"class="form-control"/>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" name="parentesco_ben1[]" value="<?=$key->getParentesco()?>"></td>
                                                    <td><input type="number" name="por_ben1[]" value="<?=$key->getPorcentaje()==null?0:$key->getPorcentaje()?>"></td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger" onclick="eliminarBeneficiario(<?=$key->getBenid()?>)">Eliminar</button>
                                                    </td>
                                               </tr> 
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class="col-md-12">
                                        <p>EN CASO DE FALLECIMIENTO DEL O LOS BENEFICIARIOS ANTERIORMENTE SEÑALADOS, 
                                            DESIGNO COMO BENEFICIARIOS    SUSTITUTOS: 
                                            <button type="button" id="bAgregarBeneficiarios2" class="btn btn-success btn-sm">Agregar beneficiario</button>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class='col-md-12'>
                                    <table class="table" id="table_2" style="position:relative">
                                        <thead>
                                            <tr>
                                                <th scope="col">NOMBRE (N), DOMICILIO (D) Y TELEFONO (T) CORREO (C)</th>
                                                <th scope="col">PARENTESCO</th>
                                                <th scope="col">PORCENTAJE</th>
                                                <th scope="col">Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach($beneficiarios2 as $cnv): ?>
                                               <tr id="beneficiario_<?=$cnv->getBenid()?>" data-benid="<?=$cnv->getBenid()?>">
                                                    <td>
                                                        <input type="hidden" name="benid2[]" value="<?=$cnv->getBenid()?>">
                                                        <div class='col-md-3'>
                                                                <label>N:</label><input type="text" name="n_ben2[]" class="form-control" value="<?=$cnv->getName()?>"/>
                                                        </div>
                                                        <div class='col-md-3'>
                                                            <label>D:</label><input type="text" name="d_ben2[]" value="<?=$cnv->getDomicilio()?>" class="form-control"/>
                                                        </div class='col-md-3'>
                                                        <div class='col-md-3'>
                                                            <label>T:</label><input type="text" name="t_ben2[]" value="<?=$cnv->getTelefono()?>" class="form-control"/>
                                                        </div>
                                                        <div class='col-md-3'>
                                                            <label>C:</label><input type="text" name="c_ben2[]" value="<?=$cnv->getCorreo()?>"class="form-control"/>
                                                        </div>
                                                    </td>
                                                    <td><input type="text" name="parentesco_ben2[]" value="<?=$cnv->getParentesco()?>"></td>
                                                    <td><input type="number" name="por_ben2[]" value="<?=$cnv->getPorcentaje()?>"></td>
                                                    <td>
                                                        <button  type="button" class="btn btn-danger" onclick="eliminarBeneficiario(<?=$cnv->getBenid()==null?0:$cnv->getBenid()?>)">Eliminar</button>
                                                    </td>
                                               </tr> 
                                            <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                
                        </section>
                </form>
            </section>
        </div>
    </div>
</section>

