<section class="blog_area section_padding_100 newsindex">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section_heading text-center">
                    <h3 class="titlenew">Noticias de <span>AMGP Nacional</span></h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-lg-9 col-xs-12">
                
                    <?php foreach($events as $even):?>
                        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-6">
                    <?php $fecha_actual = date('Y-m-d H:i:s'); if($fecha_actual>$even->date_public):?>
                    <div class="single_latest_news_area wow fadeInUp" data-wow-delay="0.2s">
                        <div class="single_latest_news_img_area">
                            <img class="allnews" src="/api/images/eventos/560x390/<?=$even->image;?>" alt="">
                        </div>
                        <div class="single_latest_news_text_area">
                            <div class="news_title">
                                <a href="/noticias/<?=$even->permalink;?>/<?=$even->pid;?>">
                                    <?php $title = substr($even->title, 0, 110); ?>
                                    <h4 class="title-note"><?=$title;?></h4>
                                </a>
                            </div>
                            <div class="author_name_comments">
                                <div class="comments">
                                    <i class="fa fa-eye color1" aria-hidden="true"></i>
                                    <p><?=$even->visits;?></p>
                                </div>
                                <div class="comments">
                                    <i class="fa fa-calendar color1" aria-hidden="true"></i>
                                    <p><?=$date2=date("Y",strtotime($even->date_public));?> <?php $date2=date("m",strtotime($even->date_public)); echo $meses[$date2];?><?=$date2=date("Y",strtotime($even->date_public));?></p>
                                </div>
                            </div>
                            <div class="news_content">
                                <?php $summary = substr($even->summary, 0, 100); ?>
                                <p><?=$summary;?></p>
                            </div>
                        </div>
                    </div>
                    <?php endif;?>
                    </div>
                    <?php endforeach;?>
                
            </div>
            <div class="col-xs-12 col-md-3 testimonial_client_newview">
                <div class="event_sidebar">
                    <div class="latest_post">
                        <h4 id="gradNews">Noticias más <span>leídas</span></h4>
                        <?php foreach($more as $mor):?>
                        <div class="single_latest_post">
                            <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>"> <img src="/api/images/eventos/800x600/<?=$mor->image;?>" alt=""></a>
                            <a href="/noticias/<?=$mor->permalink;?>/<?=$mor->pid;?>">
                                <?php $title = substr($mor->title, 0, 100); ?>
                                <h4 class="title-news"><?=$title;?></h4>
                            </a>
                        </div>
                        <?php endforeach;?>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>