<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>GREENSSD - Multipurpose Technology, Hosting Business with WHMCS Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="ThemeLooks">
    <meta name="description" content="Multipurpose Technology, Hosting Business with WHMCS Template">
    <meta name="keywords"
          content="greenssd, dedicated server, hosting, hosting template, multipurpose, responsive whmcs template, technology, voip, vpn, web hosting, whmcs, whmcs 7, whmcs hosting template, whmcs integration, whmcs theme">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CRaleway:300,400,500,600,700"
          rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/fakeLoader.min.css" rel="stylesheet">
    <link href="css/owl.carousel.min.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <link href="css/responsive-style.css" rel="stylesheet">
    <link href="css/colors/theme-color-1.css" rel="stylesheet" id="changeColorScheme">
    <link href="css/custom.css" rel="stylesheet">
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div id="preloader" class="bg--color-theme"></div>
<div class="wrapper">
    <header id="header">
        <div class="header--topbar">
            <div class="container">
                <div class="pull-left clearfix">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="header--topbar-lang dropdown pull-left hidden-xxs">
                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
                                    English<span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">Francais</a></li>
                                    <li><a href="#">Espanol</a></li>
                                </ul>
                            </div>
                            <div class="header--topbar-social pull-left hidden-xs">
                                <ul class="nav">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header--topbar-logo"><a href="index.html"><img src="img/logo.png" alt="" data-rjs="2"></a>
                </div>
                <div class="pull-right">
                    <div class="vc--parent">
                        <div class="vc--child">
                            <div class="header--topbar-info pull-left">
                                <ul class="nav">
                                    <li class="hidden-xs"><a href="tel:+0123456123456"><i
                                                class="fa fm fa-headphones"></i>+0123 456 123456</a></li>
                                    <li><a href="index.html" class="btn btn-sm btn-default active"><i
                                                class="fa fm fa-user-o"></i>Client Area</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-sticky="true">
            <nav class="header--navbar-wrapper">
                <div class="container">
                    <div class="header--navbar navbar bg--color-theme">
                        <div class="navbar-header">
                            <ul class="header--nav-links cart nav navbar-nav hidden-md hidden-lg">
                                <li><a href="cart.html"><i class="fa fa-shopping-basket"></i>0</a></li>
                            </ul>
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#headerNav"><span class="sr-only">Toggle navigation</span> <span
                                    class="icon-bar"></span> <span class="icon-bar"></span> <span
                                    class="icon-bar"></span></button>
                        </div>
                        <div id="headerNav" class="header--nav navbar-collapse collapse">
                            <ul class="header--nav-links cart nav navbar-nav navbar-right hidden-sm hidden-xs">
                                <li><a href="cart.html"><i class="fa fa-shopping-basket"></i>0</a></li>
                            </ul>
                            <ul class="header--nav-links nav navbar-nav">
                                <li><a href="index.html">Home</a></li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Hosting
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shared-hosting.html">Shared Hosting</a></li>
                                        <li><a href="reseller-hosting.html">Reseller Hosting</a></li>
                                        <li><a href="vps-hosting.html">VPS Hosting</a></li>
                                        <li><a href="dedicated-hosting.html">Dedicated Hosting</a></li>
                                    </ul>
                                </li>
                                <li><a href="domain.html">Domain</a></li>
                                <li class="dropdown megamenu"><a href="#" class="dropdown-toggle"
                                                                 data-toggle="dropdown">Pages <span
                                            class="caret"></span></a>

                                    <div class="dropdown-menu bg--img-right bg--overlay-off"
                                         data-bg-img="img/megamenu-img/bg.png">
                                        <div class="col-md-10 reset-padding clearfix">
                                            <ul class="nav">
                                                <li class="dropdown-header">Hosting</li>
                                                <li><a href="shared-hosting.html">Shared Hosting</a></li>
                                                <li><a href="reseller-hosting.html">Reseller Hosting</a></li>
                                                <li><a href="vps-hosting.html">VPS Hosting</a></li>
                                                <li><a href="dedicated-hosting.html">Dedicated Hosting</a></li>
                                                <li class="dropdown-header">SSL Certificates</li>
                                                <li><a href="ssl-certificates.html">SSL Certificates</a></li>
                                                <li><a href="ssl-certificate-single.html">SSL Certificate Single</a>
                                                </li>
                                            </ul>
                                            <ul class="nav">
                                                <li class="dropdown-header">About GREENSSD</li>
                                                <li><a href="about.html">About</a></li>
                                                <li><a href="datacenter.html">Datacenter</a></li>
                                                <li><a href="services.html">Services</a></li>
                                                <li><a href="service-single.html">Service Single</a></li>
                                                <li><a href="faq.html">FAQ</a></li>
                                                <li class="dropdown-header">Our Team</li>
                                                <li><a href="team.html">Team</a></li>
                                            </ul>
                                            <ul class="nav">
                                                <li class="dropdown-header">Portfolio</li>
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="portfolio-single.html">Portfolio Single</a></li>
                                                <li class="dropdown-header">Pricing Tables</li>
                                                <li><a href="pricing-tables.html">Pricing Tables</a></li>
                                                <li class="dropdown-header">Our Trused Clients</li>
                                                <li><a href="testimonials.html">Testimonials</a></li>
                                            </ul>
                                            <ul class="nav">
                                                <li class="dropdown-header">Shop</li>
                                                <li><a href="shop.html">Shop</a></li>
                                                <li><a href="shop-single.html">Shop Single</a></li>
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="checkout.html">Checkout</a></li>
                                                <li class="dropdown-header">Affiliate Marketing</li>
                                                <li><a href="affiliate.html">Affiliate</a></li>
                                            </ul>
                                            <ul class="nav">
                                                <li class="dropdown-header">Blog</li>
                                                <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                                <li class="active"><a href="blog-sidebar-right.html">Blog Sidebar
                                                        Right</a></li>
                                                <li><a href="blog-single.html">Blog Single</a></li>
                                                <li class="dropdown-header">Special Pages</li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="coming-soon.html">Coming Soon</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-single.html">Shop Single</a></li>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown active"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog
                                        <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="blog-sidebar-left.html">Blog Sidebar Left</a></li>
                                        <li class="active"><a href="blog-sidebar-right.html">Blog Sidebar Right</a></li>
                                        <li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div id="pageHeader" class="pd--80-0" data-bg-img="img/page-header-img/bg.jpg">
        <div class="container">
            <div class="page-header--title pull-left"><h1 class="h1">Blog</h1></div>
            <div class="page-header--breadcrumb pull-right">
                <ul class="breadcrumb">
                    <li><a href="index.html"><i class="fa fa-home"></i></a></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="blog" class="pd--100-0-40">
        <div class="container">
            <div class="row">
                <div class="page--content col-md-9">
                    <div class="post--items row">
                        <div class="post--item col-md-6 sticky">
                            <div class="post--header"><h2 class="post--title"><a href="blog-single.html">What is the
                                        main disadvantage of a self-hosted blog?</a></h2>

                                <div class="post--meta"><span>Posted By <a href="#">Admin</a></span> <span
                                        class="divider">|</span> <span><a href="#">On January 03 2017</a></span> <span
                                        class="divider">|</span> <span><a href="#">Domain</a></span></div>
                            </div>
                            <div class="post--img"><img src="img/blog-img/post-item-01.jpg" alt="" data-rjs="2"></div>
                            <div class="post--summery"><p>There are many variations of passages of Lorem Ipsum
                                    available, but the majority have suffered alteration in some form, by injected
                                    humour, or randomised words which don't look even slightly believable. If you are
                                    going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                                    embarrassing hidden in the middle of text.</p>

                                <p>There are many variations of passages defined chunks as necessary, making this the
                                    first true generator on the Internet. It uses a dictionary of over 200 Latin words,
                                    combined with a handful of model sentence structures, to generate Lorem Ipsum which
                                    looks Lorem Ipsum is therefore always free from repetition, injected humour, or
                                    non-characteristic words etc.</p></div>
                            <div class="post--action"><a href="#" class="btn btn-default">Continue Reading<i
                                        class="fa flm fa-angle-double-right"></i></a></div>
                            <div class="post--footer clearfix">
                                <div class="tags--widget pull-left">
                                    <ul>
                                        <li><span>Tag</span></li>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">Hosting</a></li>
                                        <li><a href="#">Domain</a></li>
                                        <li><a href="#">Website</a></li>
                                    </ul>
                                </div>
                                <div class="social--widget pull-right">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="post--item col-md-6 col-xs-6 col-xxs-12">
                            <div class="post--header"><h2 class="post--title"><a href="blog-single.html">What are the
                                        costs of a self-hosted blog?</a></h2>

                                <div class="post--meta"><span>Posted By <a href="#">Admin</a></span> <span
                                        class="divider">|</span> <span><a href="#">On January 03 2017</a></span> <span
                                        class="divider">|</span> <span><a href="#">Domain</a></span></div>
                            </div>
                            <div class="post--img"><img src="img/blog-img/post-item-02.jpg" alt="" data-rjs="2"></div>
                            <div class="post--summery"><p>There are many variations of passages of Lorem Ipsum
                                    available, but the majority have suffered alteration in some form.</p>

                                <p>There are many variations of passages defined chunks as necessary, making this the
                                    first true generator on the Internet. It non-characteristic words etc.</p></div>
                            <div class="post--action"><a href="#" class="btn btn-default">Continue Reading<i
                                        class="fa flm fa-angle-double-right"></i></a></div>
                            <div class="post--footer clearfix">
                                <div class="tags--widget pull-left">
                                    <ul>
                                        <li><span>Tag</span></li>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">Hosting</a></li>
                                    </ul>
                                </div>
                                <div class="social--widget pull-right">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="post--item col-md-6 col-xs-6 col-xxs-12">
                            <div class="post--header"><h2 class="post--title"><a href="blog-single.html">Social Media
                                        Mistakes Made by Business Owners</a></h2>

                                <div class="post--meta"><span>Posted By <a href="#">Admin</a></span> <span
                                        class="divider">|</span> <span><a href="#">On January 03 2017</a></span> <span
                                        class="divider">|</span> <span><a href="#">Domain</a></span></div>
                            </div>
                            <div class="post--img"><img src="img/blog-img/post-item-03.jpg" alt="" data-rjs="2"></div>
                            <div class="post--summery"><p>There are many variations of passages of Lorem Ipsum
                                    available, but the majority have suffered alteration in some form.</p>

                                <p>There are many variations of passages defined chunks as necessary, making this the
                                    first true generator on the Internet. It non-characteristic words etc.</p></div>
                            <div class="post--action"><a href="#" class="btn btn-default">Continue Reading<i
                                        class="fa flm fa-angle-double-right"></i></a></div>
                            <div class="post--footer clearfix">
                                <div class="tags--widget pull-left">
                                    <ul>
                                        <li><span>Tag</span></li>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">Hosting</a></li>
                                    </ul>
                                </div>
                                <div class="social--widget pull-right">
                                    <ul>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="pager">
                        <li class="next"><a href="#">Newer Post<i class="fa flm fa-long-arrow-right"></i></a></li>
                        <li class="previous"><a href="#"><i class="fa fm fa-long-arrow-left"></i>Older Post</a></li>
                    </ul>
                </div>
                <div class="page--sidebar col-md-3">
                    <div class="widget">
                        <div class="search--widget" data-form-validation="true">
                            <form action="#">
                                <div class="input-group"><input type="text" name="search" class="form-control"
                                                                placeholder="I’m Looking For..." required>

                                    <div class="input-group-addon">
                                        <button type="submit"><i class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="widget"><h2 class="widget--title h5">Catagory</h2>

                        <div class="categories--widget"><select name="categories">
                                <option value="ui_design">UI Design</option>
                                <option value="ux_design">UX Design</option>
                                <option value="web_design">Web Design</option>
                                <option value="web_dev">Web Dev</option>
                                <option value="seo">SEO</option>
                            </select></div>
                    </div>
                    <div class="widget"><h2 class="widget--title h5">Tag</h2>

                        <div class="tagcloud--widget"><a href="#">Technology</a> <a href="#">Hosting</a> <a href="#">Domain</a>
                            <a href="#">Travel</a> <a href="#">Graphic Design</a> <a href="#">Graphic Design</a> <a
                                href="#">Web Design</a></div>
                    </div>
                    <div class="widget"><h2 class="widget--title h5">Recent Posts</h2>

                        <div class="recent-posts--widget">
                            <ul>
                                <li><a href="blog-single.html">
                                        <div class="img"><img src="img/blog-img/recent-post-01.jpg" alt="" data-rjs="2">

                                            <div class="figcaption"><i class="fa fa-link"></i></div>
                                        </div>
                                        <div class="info"><h3 class="h5">There are many variations of passages Lorem
                                                Ipsum</h3>

                                            <p>By Admin</p>

                                            <p>October 20, 2017</p></div>
                                    </a></li>
                                <li><a href="blog-single.html">
                                        <div class="img"><img src="img/blog-img/recent-post-02.jpg" alt="" data-rjs="2">

                                            <div class="figcaption"><i class="fa fa-link"></i></div>
                                        </div>
                                        <div class="info"><h3 class="h5">There are many variations of passages Lorem
                                                Ipsum</h3>

                                            <p>By Admin</p>

                                            <p>October 20, 2017</p></div>
                                    </a></li>
                                <li><a href="blog-single.html">
                                        <div class="img"><img src="img/blog-img/recent-post-03.jpg" alt="" data-rjs="2">

                                            <div class="figcaption"><i class="fa fa-link"></i></div>
                                        </div>
                                        <div class="info"><h3 class="h5">There are many variations of passages Lorem
                                                Ipsum</h3>

                                            <p>By Admin</p>

                                            <p>October 20, 2017</p></div>
                                    </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="callToAction" class="pb--100">
        <div class="container">
            <div class="row">
                <div class="call-to-action--content col-md-6"><h3 class="call-to-action--title h3">Do You Want To Build
                        Your Dream Website ?</h3> <a href="#" class="btn btn-default">Register Now</a></div>
                <div class="subscribe--form col-md-6" data-form-validation="true"><h2 class="call-to-action--title h3">
                        Subscribe to Our Newsletter For Daily Update</h2>

                    <form
                        action="https://themelooks.us12.list-manage.com/subscribe/post?u=50e1e21235cbd751ab4c1ebaa&amp;id=ac81d988e4"
                        method="post" name="mc-embedded-subscribe-form" target="_blank">
                        <div class="input-group"><input type="email" name="EMAIL" class="form-control"
                                                        placeholder="Enter Your Email Address" required> <span
                                class="input-group-addon"> <button type="submit" class="btn btn-default">Subscribe
                                </button> </span></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="pd--50-0-0 bg--color-lightgray">
        <div class="footer--widgets">
            <div class="container">
                <div class="row AdjustRow">
                    <div class="footer--widget col-md-3 col-sm-6">
                        <div class="footer--title">
                            <div class="logo"><img src="img/footer-logo.png" alt="" data-rjs="2"></div>
                        </div>
                        <div class="about--widget"><p>Lorem Ipsum is simply dummy text of the printing and typesetting
                                industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                                1500s</p><a href="#" class="btn-link">More About Us</a></div>
                        <div class="social--widget">
                            <ul>
                                <li><span>Follow Us</span></li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer--widget col-md-3 col-sm-6">
                        <div class="footer--title">
                            <div class="text"><h2 class="h4">Recent Post</h2></div>
                        </div>
                        <div class="recent-posts-list--widget">
                            <ul>
                                <li>
                                    <div class="icon"><i class="fa fm fa-clone"></i></div>
                                    <div class="content"><a href="#">There are many variations of passages Lorem
                                            Ipsum</a>

                                        <p class="date">January 19, 2017</p></div>
                                </li>
                                <li>
                                    <div class="icon"><i class="fa fm fa-clone"></i></div>
                                    <div class="content"><a href="#">Lorem are many variations of passages simply Ipsum
                                            is dummy text</a>

                                        <p class="date">January 19, 2017</p></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer--widget col-md-3 col-sm-6">
                        <div class="footer--title">
                            <div class="text"><h2 class="h4">Information</h2></div>
                        </div>
                        <div class="links--widget">
                            <ul>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Information</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Support</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Website Builder</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Hosting</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Domain</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Data Center</a></li>
                            </ul>
                            <ul>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Terms</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Conditions</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>FAQ</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>VPS Hosting</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>VPS Hosting</a></li>
                                <li><a href="#"><i class="fa fm fa-clone"></i>Security</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="footer--widget col-md-3 col-sm-6">
                        <div class="footer--title">
                            <div class="text"><h2 class="h4">Our Payment Methodes</h2></div>
                        </div>
                        <div class="payment-info--widget"><img src="img/footer-img/payment-methods.png" alt=""
                                                               data-rjs="2">
                            <ul>
                                <li><img src="img/footer-img/money-back-guarantee.png" alt="" data-rjs="2"></li>
                                <li><img src="img/footer-img/no-hidden-charges.png" alt="" data-rjs="2"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer--menu">
            <div class="container-fluid bg--color-theme">
                <div class="footer--menu-wrapper">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Hosting</a></li>
                        <li><a href="#">Domain</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Pages</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer--copyright bg--color-theme">
            <div class="container"><p>&copy; Copyright 2017 <a href="#">GREENSSD</a>. All Rights Reserved</p></div>
        </div>
    </div>
    <div id="backToTop"><a href="#" class="btn btn-default active"><i class="fa fa-angle-up"></i></a></div>
</div>
<script type="text/javascript">var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/57dfd4b85dc7a25e92808cf6/default';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })(); </script>
<script src="js/jquery-3.1.0.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/fakeLoader.min.js"></script>
<script src="js/isotope.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.counterup.min.js"></script>
<script src="js/custom-color-switcher.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>